<template>
  <div>
    <v-list>
      <v-list-item v-for="file in chosenFiles" style="min-height: 30px;" class="mb-md-0 mb-3">
        <v-icon style="font-size: 18px;transform: rotate(-220deg)" class="mr-2 mt-1">mdi-paperclip</v-icon> {{file.file_name}}
      </v-list-item>
    </v-list>
    <v-divider class="mb-5"></v-divider>
  </div>
</template>

<script>
    import { defineComponent, ref, computed } from '@vue/composition-api'
    export default defineComponent({
        middleware: 'candidate_auth',
        emits: ['changeTab', 'apply'],
        setup(props, ctx) {

            const chosenFiles = computed(() => {
                let selected = ctx.root.$store.getters['candidate/documents/getSelectedDocuments'];
                return selected;
            });

            const enableSendApplicationTab = computed(() => {

                let allQuestionsAnswered = ctx.root.$store.getters['candidate/jobApplication/allQuestionsAnswered'];
                return enableQuestionnaireTab.value && allQuestionsAnswered
            });

            const changeTab = ($event) => ctx.emit('changeTab', $event)

            const apply = () => ctx.emit('apply')

            return {
                enableSendApplicationTab, chosenFiles, apply
            }
        },
    })
</script>

<style scoped>

</style>