<template>
    <v-footer class="py-3" color="white">
        <v-row
                align="center"
                justify="space-around"
        >
            <v-col class="float-left">
                <v-btn
                        @click="changeTab(1)"
                        light
                        color="primary"
                        class="float-left">
                    Izaberite dokumente
                </v-btn>
            </v-col>
            <v-col class="text-center">
                <v-btn
                        :disabled="!enableQuestionnaireTab"
                        @click="changeTab(2)"
                        light
                        color="primary">
                    Popunite upitnik
                </v-btn>
            </v-col>
            <v-col>
                <v-btn
                        :disabled="!enableSendApplicationTab"
                        @click="changeTab(3)"
                        light
                        color="primary"
                        class="float-right">
                    Posajlite prijavu
                </v-btn>
            </v-col>
        </v-row>
    </v-footer>

</template>

<script>
    import { defineComponent, ref, computed } from '@vue/composition-api'
    export default defineComponent({
        middleware: 'candidate_auth',
        emits: ['changeTab'],
        setup(props, ctx) {

            const enableQuestionnaireTab = computed(() => {
                let selected = ctx.root.$store.getters['candidate/documents/getSelectedDocuments'];
                let ldpCvChecked = ctx.root.$store.getters['candidate/jobApplication/ldpCvChecked'];
                return (selected.length > 0) || ldpCvChecked ? true : false;
            });

            const enableSendApplicationTab = computed(() => {

                let allQuestionsAnswered = ctx.root.$store.getters['candidate/jobApplication/allQuestionsAnswered'];
                return enableQuestionnaireTab.value && allQuestionsAnswered
            });

            const changeTab = ($event) => {
                ctx.emit('changeTab', $event)
            }

            return {
                enableQuestionnaireTab, enableSendApplicationTab, changeTab
            }
        },
    })
</script>

<style scoped>

</style>