<template>
    <div>
      <p v-if="questionnaire.length"  class="my-10 text-center text-h5">{{ $t('answerTheEmployersQuestions') }}</p>
        <v-card
                v-for="question in questionnaire"
                :key="question.id"
                class="mb-3 elevation-0 pt-1"
        >

            <p class="ma-3 font16 font-weight-medium">
                {{question.question}}
            </p>
            <v-card-text>
                <!-- IF IS RADIO -->
                <v-radio-group v-if="question.answer_type === 'radio'" >
                    <v-radio
                            @change="c({qid:question.id, optid:option.id, type:'radio'})"
                            v-for="option in question.options"
                            :name="''"
                            :label="`${option.option}`"
                            :value="`${question.id}_${option.id}`"
                    ></v-radio>
                </v-radio-group>

                <!-- IF IS CHECKBOX -->
                <div v-if="question.answer_type === 'checkbox'">
                    <v-checkbox
                            @change="c({qid:question.id, optid:option.id, type:'checkbox'})"
                            v-for="option in question.options"
                            :name="''"
                            hide-details
                            :label="`${option.option}`"
                            :value="`${question.id}_${option.id}`"
                            class="mt-0"
                    ></v-checkbox>
                </div>
                    <v-text-field
                            v-if="question.answer_type === 'text'"
                            label="Unesite odgovor"
                            value=""
                            @input="textInput($event, question.id)"
                    >
                    ></v-text-field>

            </v-card-text>
        </v-card>
        <p v-if="!questionnaire.length" class="my-10 ml-3">{{$t('noQuestionnaire')}}</p>
    </div>
</template>

<script>
    import { defineComponent, ref, computed, watch } from '@vue/composition-api'
    export default defineComponent({
        setup(props, ctx) {
            
            const c = (evt) => {
                ctx.root.$store.dispatch('candidate/jobApplication/setAnswer', {questionId:evt.qid, type:evt.type, answer:evt.optid});
            }
            const radio = ref();
            const checkbox = ref([]);
            const textInput = (answer, questionId) => {
                ctx.root.$store.dispatch('candidate/jobApplication/setAnswer', {questionId, type:'text', answer});
            };

            watch(radio,() => {
                let value = radio.value.split('_');
                ctx.root.$store.dispatch('candidate/jobApplication/setAnswer', {questionId:value[0], type:'radio', answer:value[1]});
            });

            watch(checkbox,() => {
                ctx.root.$store.dispatch('candidate/jobApplication/setAnswer', {questionId:0, type:'checkbox', answer:checkbox.value});
            });

            const questionnaire = computed(() => {
                return ctx.root.$store.state.candidate.jobApplication.questionnaire.questions;
            });
            // const enableQuestionnaireTab = computed(() => {
            //     let selected = ctx.root.$store.getters['candidate/documents/getSelectedDocuments'];
            //     return selected.length > 0 ? true : false;
            // });

            // const changeTab = ($event) => {
            //     ctx.emit('changeTab', $event)
            // }

            return {
                questionnaire, radio, checkbox, textInput, c
            }
        },
    })
</script>

<style scoped>

</style>