<template>
  <DefaultPageWrapper title="Zaboravili ste lozinku?" class="" style="height: 100vh">
    <p class="my-7">{{$t('resetPassMsg')}}</p>
    <v-card class="pa-5 elevation-0" >
      <v-row justify="center">
        <v-col cols="12" md="8">
          <label class="font-weight-medium" v-html="$t('inputLabels.email')"></label>
          <v-text-field
              v-model="email"
              :rules="userEmailValidation"
              :error-count="userEmailValidation.length"
              :error="error"
              outlined
              clearable
              type="email"
              @input="checkForm('email')"
              required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="8">
          <v-btn
              @click="sendResetPasswordRequest"
              color="primary"
              depressed
          >{{$t('buttons.send')}}</v-btn>
        </v-col>
      </v-row>
    </v-card>

    <h2 class="mb-2 mt-5 font-weight-medium">{{$t('resetPassMsgTitleEmployers')}}</h2>
    <p class="my-7" v-html="$t('resetPassMsgEmployers')"></p>

  </DefaultPageWrapper>
</template>
<script>
import { defineComponent,ref, computed } from '@vue/composition-api'
import DefaultPageWrapper from "../../components/DefaultPageWrapper";

export default defineComponent({
  middleware: ['employer_unauth', 'candidate_unauth'],
  components: {DefaultPageWrapper},
  setup(props, ctx) {
    const email = ref('');

    const error = ref(false);

    const userEmailValidation = computed(() => {
      let errors = [];
      let errorMsg1 = ctx.root.$t('validation.emailMustBeValid');
      if (!ctx.root.$helper.validateEmail(email.value)) errors.push(ctx.root.$helper.capitalize(errorMsg1));
      return errors;
    });

    const checkForm = () => {
      return error.value = !!userEmailValidation.value.length;
    }

    const sendResetPasswordRequest = () => {
      if (checkForm()) {
        return;
      }

      //request_password_reset
      ctx.root.$axios.post('/api/public/request_password_reset',{
        email_address:email.value,
      })
          .then(() => ctx.root.$store.dispatch('mainDialog/resetPasswordEmailSent', email.value))
          .catch((e) => {
            if (e.response && [401, 403, 404].indexOf(e.response.status) > -1) {
              ctx.root.$store.dispatch('mainDialog/resetPasswordFail', {type: e.response.status})
            } else {
              ctx.root.$store.dispatch('mainDialog/resetPasswordFail', {type: 400})
            }
          })
    }


    return {
      email,
      userEmailValidation,
      error,
      checkForm,
      sendResetPasswordRequest
    }
  },
})
</script>

