<template>
  <div>
    <div
        style="padding: 25px 0px"
        class="candidateBlueBg"
    >
      <v-container>
        <div style="height: 29px" v-if="isEmpAuthenticated" class="hidden-md-and-down"></div><!-- Employer sub menu fix -->
        <MainSearchInput :isMainPage="false"/>
      </v-container>
    </div>

    <DefaultPageWrapper mt="mt-0 mt-md-5" class="white">

      <!-- SEARCH FILTERS -->
      <div class="hidden-md-and-down">
        <client-only>
          <SearchFilter/>
        </client-only>
      </div>
      <v-row align="center" class="hidden-lg-and-up  blue-grey lighten-5">
        <client-only>
          <v-col cols="2" class="pa-1">
            <SearchFilterMobile :emptySearch="emptySearch" :searchExists="searchExists" @saveSearch="saveSearch"/>
          </v-col>
          <v-col cols="10">
            <SelectedFiltersSearchPage :showArrows="false" />
          </v-col>
        </client-only>
      </v-row>

      <v-row justify="center" align="center">
        <v-col cols="12" class="hidden-md-and-down">
          <SelectedFiltersSearchPage />
        </v-col>
      </v-row>



      <!-- SAVE/LOAD SEARCH BTNS -->
      <v-row  v-if="isAuthenticated" justify="space-between" align="center" class="hidden-md-and-down">
        <v-col  cols="12">
          <v-btn
              style="display: inline"
              @click="saveSearch"
              v-if="!searchExists && !emptySearch"
              color="#092771"
              outlined
              :ripple="false"
              class=" font-weight-regular"
          >
<!--            <v-icon>mdi-content-save-outline</v-icon>-->
            <span>{{$t('buttons.saveSearch')}}</span>
          </v-btn>

          <v-btn
              style="display: inline"
              :ripple="false"
              outlined
              class="font-weight-regular"
              color="#092771"
              @click="$router.push(localePath('candidate-searches'));"
          >
<!--            <v-icon>mdi-reload</v-icon>-->
            <span>{{$t('buttons.loadSearch')}}</span>
          </v-btn>
        </v-col>
      </v-row>



      <!-- TOTAL JOBS/SORT BTN -->
      <v-row  justify="space-between" align="center" class="">
        <v-col
            cols="12"
            class="text-left"
        >
          <v-menu
              offset-y
              :rounded="'lg'"
              class="mt-3 ml-10"
          >
            <template v-slot:activator="{ on, attrs }">
              <span>{{ $t('general.showAds') | ucfirst }} : </span>
              <v-btn
                  :ripple="false"
                  outlined
                  color="#092771"
                  v-bind="attrs"
                  class=""
                  v-on="on"
              >
                <!-- desktop view -->
                <!-- mobile view -->
<!--                <div class="hidden-lg-and-up">-->
<!--                  <span>{{ $t('general.sortBy') | ucfirst }}</span>-->
<!--                  <span class="font14 font-weight-regular">{{ $t(`${sortByLabel}`) }}</span>-->
<!--                </div>-->
                <span class="font-weight-regular">{{ $t(`${sortByLabel}`) }}</span>
                <v-icon class="mt-1 mr-n1">mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list
            >
              <v-list-item link  @click="sort('')">
                <v-list-item-title
                    :class="(!sortValue) ? 'primary--text font-weight-bold' : ''"
                >
                  {{ $t('general.byPriority')  | ucfirst }}
                </v-list-item-title>
              </v-list-item>

              <v-list-item link @click="sort('start')">
                <v-list-item-title
                    :class="(sortValue && sortValue == 'start') ? 'primary--text font-weight-bold' : ''"
                >
                  {{ $t('general.newest')  | ucfirst }}
                </v-list-item-title>
              </v-list-item>

              <v-list-item link @click="sort('end')">
                <v-list-item-title
                    :class="(sortValue && sortValue == 'end') ? 'primary--text font-weight-bold' : ''"
                >{{ $t('general.expiresSoon')  | ucfirst }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>

      <v-row
          justify="center"
          class="mb-10"
      >
        <v-col v-if="!posts.length" cols="12 mt-10 mb-10 red lighten-4">

          <h3 class='text-center mb-3'>{{$t('sorryNoJobs')}}</h3>
          <p class='text-center'>{{$t('sorryNoJobsMsg')}}</p>
        </v-col>

        <v-col
            cols="12"
            md="4"
            v-for="post in posts"
            :key="post.id"
        >
          <JobCard :post="post"/>
        </v-col>
<!--        <v-col-->
<!--            v-if="(['medijski30', 'medijski15', 'promovisani30', 'promovisani15', 'istaknuti30', 'istaknuti15','vruci15', 'vruci30'].indexOf(post.product_code) == -1)"-->
<!--            cols="12" md="6"-->
<!--            v-for="post in posts"-->
<!--            :key="post.id"-->
<!--        >-->
<!--          <JobCardRegular :post="post"/>-->
<!--        </v-col>-->
      </v-row>
      <v-row>
        <v-col md="12" class="text-center">
<!--          <v-btn-->
<!--              @click="page&#45;&#45;"-->
<!--              :disabled="page == 1"-->
<!--              text-->
<!--              class="rounded-lg candidateBlueText font-weight-regular"-->
<!--          >-->
<!--            <v-icon class="mb-n1 text-h6">mdi-chevron-left</v-icon>-->
<!--            <span>Prethodna strana</span>-->
<!--          </v-btn>-->


          <v-row v-if="page > 1" justify="center" align="center" class="paginationButtons">
            <v-col md="2" lg="1" cols="4" class="pr-0">
              <v-btn
                  width="100%"
                  @click="setPage(page - 1)"
                  large
                  style="background: #f1f5ff; color:#0e54ff"
                  class="font-weight-regular elevation-0 rounded-0 rounded-tl-lg rounded-bl-lg"
              >
                <v-icon class="">mdi-chevron-left</v-icon>
              </v-btn>
            </v-col>
            <v-col md="2" lg="1" cols="4" class="pl-0 pr-0">
              <div
                  style="background: #f1f5ff; color:#0e54ff; padding:10px"
                  class="font-weight-regular elevation-0"
              >
                Strana: {{page ? page : 1}}
              </div>
            </v-col>
            <v-col md="2" lg="1" cols="4" class="pl-0">
              <v-btn
                  width="100%"
                  :disabled="(page*20 >= total)"
                  @click="setPage(page + 1)"
                  large
                  style="background: #f1f5ff; color:#0e54ff"
                  class="font-weight-regular elevation-0 rounded-0 rounded-tr-lg rounded-br-lg"
              >
                <v-icon class="">mdi-chevron-right</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-btn
              v-if="page <= 1"
              @click="setPage(page + 1)"
              :disabled="(page*20) >= total || total < 20"
              large
              style="background: #f1f5ff; color:#0e54ff"
              class="rounded-lg font-weight-regular elevation-0"
          >
            <span>Sledeća strana</span>
            <v-icon class="mb-n1 text-h5">mdi-chevron-right</v-icon>
          </v-btn>
<!--          <v-pagination-->
<!--              :previous-aria-label="'previous-aria-label'"-->
<!--              v-model="page"-->
<!--              :length="totalPages"-->
<!--              :total-visible="0"-->
<!--          ></v-pagination>-->
        </v-col>
      </v-row>
      <ConfirmationDialog/>
    </DefaultPageWrapper>
  </div>
</template>

<script>
import {computed, defineComponent, ref, watch} from '@vue/composition-api'
import JobCard from "../../../components/common/JobCard";
import JobCardRegular from "../../../components/common/JobCardRegular";
import SearchFilterMobile from "../../../components/SearchFilterMobile";
import SearchFilter from "../../../components/SearchFilter";
import MainSearchInput from "../../../components/common/search/MainSearchInput";
import ConfirmationDialog from "../../../components/common/dialgos/ConfirmationDialog";
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";
import DataSelect from "@/components/common/search/FilterDataSelect";
import SelectedFiltersSearchPage from "../../../components/mainPage/SelectedFiltersSearchPage";
import InfoBlock from "../../../components/InfoBlock";

export default defineComponent({
  components: {
    InfoBlock,
    SelectedFiltersSearchPage,
    ConfirmationDialog,
    JobCard,
    JobCardRegular,
    SearchFilterMobile,
    MainSearchInput,
    SearchFilter,
    DefaultPageWrapper,
  },
  setup(props, ctx) {
    const store = ctx.root.$store;
    const searchParamsObject = computed(() => store.getters['searchParams/getSearchParamsObject'])
    const isAuthenticated = computed (() => ctx.root.$store.getters['candidate/auth/isAuthenticated']);
    const isEmpAuthenticated = computed (() => ctx.root.$store.getters['employer/auth/isAuthenticated']);
    //setSearchParamString
    store.dispatch('searchParams/setSearchParams', ctx.root.$route.params.search_params);


    //pagination
    const pageTotalVisible = ref(10);
    const page = ref(Number(searchParamsObject.value.page));
    const setPage = (value) => {
      store.dispatch('searchParams/setSearchObjectProp', {prop: 'page', value});
      window.location = ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: store.getters['searchParams/getSearchParamsString']}
      });
    }

    // SEARCH
    // save search
    const saveSearch = () => {
      let searchObjConf = {...searchParamsObject.value, notification_status: 1};
      let searchObjDecl = {...searchParamsObject.value, notification_status: 1};

      delete (searchObjConf.page)
      delete (searchObjDecl.page)

      store.dispatch('confirmationDialog/activateNotificationForSavedSearch', {
        confirmAction: 'candidate/searches/save',
        confirmPayload: searchObjConf,
        declineAction: 'candidate/searches/save',
        declinePayload: searchObjDecl,
      })
    }
    // get searches
    let savedSearches = computed(() => {

      return store.state.candidate.searches.data;
    })
    
    

    // is saved search
    const currentSearchObj = {...searchParamsObject.value};
    // currentSearchObj.categories = currentSearchObj.categories.split(',').sort().join(',');
    // currentSearchObj.regions = currentSearchObj.regions.split(',').sort().join(',');
    // currentSearchObj.education_levels = currentSearchObj.education_levels.split(',').sort().join(',');
    delete (currentSearchObj.page)
    delete (currentSearchObj.contract_types)

    const searchExists = computed(() => {
      if (isAuthenticated.value) {
        let exists = false;
        savedSearches.value.map(search => {
          if (ctx.root._.isEqual(currentSearchObj, search.search)) {
            exists = true;
          }
        });
        return exists;
      }
    })

    const emptySearch = computed(() => {
      return ctx.root._.values(search).every(ctx.root._.isEmpty);
    })


    //save current search to recenet searches
    let search = {};
    search = {...store.state.searchParams}
    delete (search.page)
    delete (search.contract_types)
    if (typeof window !== 'undefined') {
      store.dispatch('recentSearches/set', search)
    }

    const sortValue = computed(() => ctx.root.$store.state.searchParams.sort)
    const sortByLabel = computed(() => {
      if (!sortValue.value) return 'general.byPriority';
      if (sortValue.value == 'start') return 'general.newest';
      if (sortValue.value == 'end') return 'general.expiresSoon';
    })
    const sort = (sort) => {
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop:'sort', value:sort})
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop:'page', value:'1'})
      let searchParamsString = ctx.root.$store.getters['searchParams/getSearchParamsString'];
      ctx.root.$router.push(ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: searchParamsString}
      }))


      // window.location = ctx.root.localePath({
      //   name: 'job-search-search_params',
      //   params: {search_params: store.getters['searchParams/getSearchParamsString']+'&sort='+sort}
      // });
    }

    return {
      setPage,
      isAuthenticated,
      isEmpAuthenticated,
      page,
      pageTotalVisible,
      saveSearch,
      savedSearches,
      searchExists,
      emptySearch,
      sort,
      sortValue,
      sortByLabel
    }
  },

  async asyncData(context) {
    let posts;
    let totalPages;
    let total;

    await context.$axios.$get('/api/public/posts/search?' + context.params.search_params)
        .then(data => {
          posts = data.data;
          totalPages = Math.ceil(data.total / 20);
          total = data.total
        });
    await context.store.dispatch('common/setGeneralData');

    const isAuthenticated = context.store.getters['candidate/auth/isAuthenticated'];
    if (isAuthenticated) {
      await context.store.dispatch('candidate/searches/get')
    }
    console.log("POSTS", posts)
    console.log("search", '/api/public/posts/search?' + context.params.search_params)

    return {posts, totalPages, total}
  },
  methods: {
    getColsByProductCode(productCode) {
      let col12Codes = ['medijski30', 'medijski15', 'promovisani30', 'promovisani15', 'istaknuti30', 'istaknuti15','vruci15', 'vruci30', 'prioritetni15','prioritetni30', 'obican15','obican30'];
      if (col12Codes.indexOf(productCode) > -1) {
        return '12';
      } else {
        return '4'
      }
    }
  }
})
</script>

<style>
.paginationButtons .v-btn--disabled:before {
  background: red!important;
}

</style>
