<template>
  <div>
    <DefaultPageWrapper class="white">
      <div class="blue-grey--text pb-7 mb-5 mt-5" style="border-bottom: 1px solid #607d8b;">
        <p class="mb-0">
          <span v-if="$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('employer-dashboard'))">{{ $t('links.home') | ucfirst }}</span>
          <span v-if="!$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('/'))">{{ $t('links.home') | ucfirst }}</span>
          <v-icon class="font18 mt-n1">mdi-chevron-right</v-icon> {{ $t('general.contactUs') | ucfirst}}</p>
      </div>
      <img
          width="150"
          src="/ldp-logo.png"
          class="mr-2"
      />
      <div class="text-h5 mt-10 mb-n4">{{ $t('general.contactUs') | ucfirst}}</div>
    </DefaultPageWrapper>

    <div class="container mt-5">
      <v-row class="mb-4">
        <v-col cols="12" class="px-0">
          <v-card class="pa-5 elevation-0 rounded-lg">
            <p><span class="font-weight-medium">{{$t('inputLabels.address')}}<br></span>{{contacts.main.address}}</p>
            <p>
              <span class="font-weight-medium">{{$t('inputLabels.email')}}</span>
              <br>
              <a :href="'mailto:'+contacts.main.email">{{contacts.main.email}}</a>
            </p>

            <p>
              <span class="font-weight-medium">{{$t('inputLabels.phone')}}</span>
              <br>
              <a :href="'tel:'+contacts.main.phone">{{contacts.main.phone}}</a>
            </p>

            <p>
              <span class="font-weight-medium">{{$t('inputLabels.phone')}} (Mob.)</span>
              <br>
              <a :href="'tel:'+contacts.main.mobile">{{contacts.main.mobile}}</a>
            </p>

          </v-card>
        </v-col>
      </v-row>

      <ContactOurAgents :contacts="contacts" />

    </div>
  </div>

</template>
<script>
import {defineComponent, computed} from '@vue/composition-api'
import DefaultPageWrapper from "../../components/DefaultPageWrapper";
import ContactOurAgents from "../../components/ContactOurAgents";

export default defineComponent({
  components: {ContactOurAgents, DefaultPageWrapper},
  setup(props, ctx) {
    const contacts = computed(() => {
      return  ctx.root.$store.state.common.generalData.contacts;
    });
    //define store
    const app = ctx.root;
    const store = app.$store;

    return {
      contacts
    }
  },
  async fetch(context) {
    return context.store.dispatch('common/setGeneralData');
  }
})
</script>

