<template>
  <v-container class="mt-4 mt-md-15">
    <v-row align="center">
      <v-col class="text-left">
        <FilterByQuestionnaire @questionsSet="filterByQuestionnaire($event)"/>
      </v-col>

      <v-col class="text-right">
        <SortApplications/>
      </v-col>
    </v-row>
    <v-row>
      <v-col
          cols="12"
      >
        <v-list
            flat
            subheader
            three-line
        >
          <SubheaderLinks />
          <v-divider></v-divider>
          <TopActionsListItem />
          <v-divider></v-divider>
          <v-row
              v-for="app in filteredApps"
              align="center"
          >
            <v-col
                cols="12"
                md="6"
            >
              <ApplicationListItem :app="app"/>
            </v-col>
            <v-col
                cols="12"
                md="6"
                class="text-md-right text-center pr-8"
            >
              <RateApplicantButtons :app="app"/>
            </v-col>
          </v-row>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import FilterByQuestionnaire from "../../../components/employer/dialogs/FilterByQuestionnaire";
import SortApplications from "../../../components/employer/menus/SortApplications";
import RateApplicantButtons from "../../../components/employer/buttons/RateApplicantButtons";
import ApplicationListItem from "@/components/employer/listItems/applications/ApplicationListItem";
import SubheaderLinks from "@/components/employer/listItems/applications/SubheaderLinks";
import TopActionsListItem from "@/components/employer/listItems/applications/TopActionsListItem";

export default defineComponent({
  middleware: 'employer_auth',
  components: {
    FilterByQuestionnaire,
    SortApplications,
    RateApplicantButtons,
    ApplicationListItem,
    TopActionsListItem,
    SubheaderLinks
  },
  setup(props, ctx) {
    let a = false;
    let apps = ref([]);
    let jobId = ctx.root.$route.params.job_id;

    const filteredApps = computed(() => {
      return ctx.root.$store.getters['employer/applications/getFiltered']
    });

    const questionnaireFilter = ref([]);

    const filterByQuestionnaire = (fbqData) => {
      if (Object.keys(fbqData).length) {
        let visibelApps = [];
        for (let appId in apps.value) {
          let appPasses = [];
          for (let checked in fbqData) {
            let checkedForFilter = fbqData[checked];
            let candidateChecked = apps.value[appId].answers[checked];
            let validator = [];
            for (let id in checkedForFilter) {
              if (Array.isArray(candidateChecked)) {
                if (candidateChecked.indexOf(checkedForFilter[id]) > -1) {
                  validator.push(true);
                } else {
                  validator.push(false);
                }
              } else {
                if (candidateChecked == checkedForFilter[id]) {
                  validator.push(true);
                } else {
                  validator.push(false);
                }
              }
            }
            if (validator.indexOf(true) === -1) appPasses.push(false)
            else appPasses.push(true);
          }

          if (appPasses.indexOf(false) === -1) visibelApps.push(apps.value[appId])
        }
        filteredApps.value = visibelApps;
      } else {
        filteredApps.value = apps.value;
      }
    }

    const grade = (appGrade, match) => {
      return appGrade == match ? 'v-btn--active' : '';
    }

    const appBtnLoad = ref({
      1: false,
      2: false,
      3: false,
    });

    return {
      filteredApps,
      filterByQuestionnaire,
      a,
      grade,
      appBtnLoad
    }
  },
  async asyncData(context) {
    await context.store.dispatch('employer/applications/setAllAppData', context.route.params.job_id)
  },

})
</script>

<style>

</style>

