<template>
    <div>
      <InfoBlock
          :text="`<h4 class='mb-3 text-center'>${$t('oneMoreStep')}!<br> </h4><p class='text-center'>${$t('jobPublisherMsg')}</p>`"
      />
      <div class="my-3 font14">
        <span class="red--text"><span>*</span> {{ $t('inputLabels.name') }} {{ $t('general.and') }} {{ $t('inputLabels.lastName') }}</span>
        <br>
        <span class="red--text"><span>*</span> {{ $t('inputLabels.email') }} {{ $t('general.or') }} {{$t('inputLabels.phone')}}</span>
      </div>
      <label>{{$t('inputLabels.name') +', '+ $t('inputLabels.lastName')}}</label>
      <v-text-field
          @input="jobPublisherFormInput($event, 'name')"
          v-model="jobPublisherData.name"
          hide-details="auto"
          outlined
          class="mb-4"
          required
          :error="formErrors.name"
      ></v-text-field>

      <label>{{$t('inputLabels.email') }}</label>
      <v-text-field
          @input="jobPublisherFormInput($event, 'email')"
          v-model="jobPublisherData.email"
          hide-details="auto"
          outlined
          class="mb-4"
          required
          :error="formErrors.email"
      ></v-text-field>

      <!--      <label>{{$t('inputLabels.phone') }}</label>-->
      <!--      <v-text-field-->
      <!--          @input="jobPublisherFormInput($event, 'phone')"-->
      <!--          v-model="jobPublisherData.phone"-->
      <!--          hide-details="auto"-->
      <!--          outlined-->
      <!--          class="mb-4"-->
      <!--          required-->
      <!--          :error="false"-->
      <!--      ></v-text-field>-->
      <br>

      <label>{{ $t('ifYouAreDirectorMsg') }}</label>
      <v-checkbox
          class="checkbox mt-0"
          v-model="jobPublisherData.is_director"
          @change="jobPublisherFormInput($event, 'is_director')"
          :label="$t('inputLabels.IamDirector')"
      ></v-checkbox>


      <div class="isDirector" v-if="!jobPublisherIsDirector">
        <h4 class="mb-3">{{$t('enterDirectorData')}}</h4>

        <div class="my-3">
          <span class="red--text"><span>*</span> {{$t('inputLabels.name')}} {{$t('general.and')}} {{$t('inputLabels.name')}}</span>
          <br>
          <span class="red--text"><span>*</span> {{ $t('inputLabels.email') }} ili {{$t('inputLabels.phone')}}</span>
        </div>
        <label>{{$t('inputLabels.name') +', '+ $t('inputLabels.lastName')}}</label>
        <v-text-field
            @input="jobPublisherFormInput($event, 'director_name')"
            v-model="jobPublisherData.director_name"
            hide-details="auto"
            outlined
            class="mb-4"
            required
            :error="formErrors.director_name"
        ></v-text-field>

        <label>{{$t('inputLabels.email') }}</label>
        <v-text-field
            @input="jobPublisherFormInput($event, 'director_email')"
            v-model="jobPublisherData.director_email"
            hide-details="auto"
            outlined
            class="mb-4"
            required
            :error="formErrors.director_email"
        ></v-text-field>

                                                                <!--        <label>{{$t('inputLabels.phone') }}</label>-->
                                                                <!--        <v-text-field-->
                                                                <!--            @input="jobPublisherFormInput($event, 'director_phone')"-->
                                                                <!--            v-model="jobPublisherData.director_phone"-->
                                                                <!--            hide-details="auto"-->
                                                                <!--            outlined-->
                                                                <!--            class="mb-4"-->
                                                                <!--            required-->
                                                                <!--            :error="false"-->
                                                                <!--        ></v-text-field>-->
      </div>
    </div>
</template>
<script>
    import { defineComponent,ref, computed } from '@vue/composition-api'
    import InfoBlock from "../../InfoBlock";


    export default defineComponent({
        components:{
          InfoBlock

        },
      props:{
        formErrors: Object
      },
      //prebaci ovo u index i onda prosledi formErrors kao props
        setup(props, ctx) {

          const jobPublisher = computed(() => {
            return ctx.root.$store.state.employer.jobPublisher
          })

          const jobPublisherData = {...jobPublisher.value};

          const jobPublisherIsDirector = computed(() => {
            return ctx.root.$store.state.employer.jobPublisher.is_director
          })

          const jobPublisherFormInput = (value, field) => {
            ctx.root.$store.dispatch('employer/jobPublisher/set', {field, value})
          }
          return {
            jobPublisher,
            jobPublisherData,
            jobPublisherIsDirector,
            jobPublisherFormInput
          }

        }

    })
</script>

