<template>
    <div>
      <label>{{ $t('inputLabels.company') }}</label>
      <v-text-field
                v-model="registerData.company"
                :rules="companyValidation"
                :error-count="companyValidation.length"
                :error="dataErrors.company"
                outlined
                clearable
                type="text"
                @input="checkForm('company')"
                name="company"
                required
        ></v-text-field>

      <label>{{ $t('inputLabels.pib') }}</label>
      <v-text-field
                v-model="registerData.pib"
                :rules="pibValidation"
                :error-count="pibValidation.length"
                :error="dataErrors.pib"
                outlined
                clearable
                type="number"
                @input="checkForm('pib')"
                required
        ></v-text-field>

      <label>{{ $t('inputLabels.location') }}</label>
      <v-text-field
                v-model="registerData.location"
                :rules="locationValidation"
                :error-count="locationValidation.length"
                :error="dataErrors.location"
                outlined
                clearable
                type="text"
                @input="checkForm('location')"
                required
        ></v-text-field>

      <label>{{ $t('inputLabels.postal') }}</label>
      <v-text-field
                v-model="registerData.postal"
                :rules="postalValidation"
                :error-count="postalValidation.length"
                :error="dataErrors.postal"
                outlined
                clearable
                type="number"
                @input="checkForm('postal')"
                required
        ></v-text-field>


        <label>{{ $t('inputLabels.address') }}</label>
        <v-text-field
                v-model="registerData.address"
                :rules="addressValidation"
                :error-count="addressValidation.length"
                :error="dataErrors.address"
                outlined
                clearable
                type="text"
                @input="checkForm('address')"
                required
        ></v-text-field>

      <label>{{ $t('inputLabels.phone') }}</label>
        <v-text-field
                v-model="registerData.phone"
                :rules="phoneValidation"
                :error-count="phoneValidation.length"
                :error="dataErrors.phone"
                outlined
                clearable
                type="text"
                @input="checkForm('phone')"
                required
        ></v-text-field>

      <label>{{ $t('inputLabels.website') }}</label>
        <v-text-field
                v-model="registerData.website"
                :rules="[website => !!website || $t('validation.requiredField')]"
                outlined
                clearable
                type="text"
        ></v-text-field>

        <label>{{ $t('inputLabels.email') }}</label>
        <v-text-field
                v-model="registerData.user_email"
                :rules="userEmailValidation"
                :error-count="userEmailValidation.length"
                :error="dataErrors.user_email"
                outlined
                clearable
                type="email"
                @input="checkForm('email')"
                required
        ></v-text-field>

      <label>{{$t('inputLabels.password') }}</label>
        <v-text-field
                v-model="registerData.password"
                :rules="passwordValidation"
                :error-count="passwordValidation.length"
                :error="dataErrors.password"
                outlined
                :type="showPassword ? 'text' : 'password'"
                @input="checkForm('password')"
                clearable
                required
        ></v-text-field>

      <label>{{ $t('inputLabels.confirmPassword') }}</label>
        <v-text-field
                v-model="registerData.repeat_password"
                :rules="repeatPasswordValidation"
                :error-count="repeatPasswordValidation.length"
                :error="dataErrors.repeat_password"
                outlined
                :type="showPassword ? 'text' : 'password'"
                @input="checkForm('repeat_password')"
                clearable
                required
        ></v-text-field>

        <v-checkbox
                v-model="registerData.pp"
                :rules="ppValidation"
                :error-count="ppValidation.length"
                :error="dataErrors.pp"
                @change="checkForm('pp')"
        >
            <template v-slot:label>
                <div>
                    {{ $t('inputLabels.iAgreeWith') +' '+ $t('general.ldp') }}
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <a
                                    target="_blank"
                                    :href="localePath('terms-of-service')"
                                    @click.stop
                                    v-on="on"
                            >
                                {{ $t('inputLabels.termsOfService') }}
                            </a>
                        </template>
                        {{ $t('general.opensInNewWindow') }}
                    </v-tooltip>
                </div>
            </template>
        </v-checkbox>

        <v-btn
                class="mr-4 mt-3 buttonBlue rounded-lg"
                large
                dark
                @click="register"
        >
            {{$t('buttons.register')}}
        </v-btn>
    </div>
</template>

<script>
    import {defineComponent, ref, computed} from '@vue/composition-api'

    export default defineComponent({
        setup(props, ctx) {

            // MAIN VARS //
            const app = ctx.root;

            const registerData = ref({
                company: "",
                pib: "",
                postal: "",
                location: "",
                address: "",
                phone: "",
                website: "",
                user_email: "",
                password: "",
                repeat_password: "",
                pp: false,
            });
            const showPassword = ref(false);

            // VALIDATION COMPUTED VARS //
            let companyValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.company') + "' " + app.$t('validation.cantBeEmpty');
                let errorMsg2 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.company') + "' " + app.$t('validation.mustContainThreeChar');

                if (registerData.value.company === '') errors.push(app.$helper.capitalize(errorMsg1))
                if (registerData.value.company.length < 3) errors.push(app.$helper.capitalize(errorMsg2));
                return errors;
            });

            let pibValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.pib') + "' " + app.$t('validation.cantBeEmpty');
                let errorMsg2 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.pib') + "' " + app.$t('validation.mustContain') + ' 9 ' + app.$t('general.digits');

                if (registerData.value.pib === '') errors.push(app.$helper.capitalize(errorMsg1));
                if (registerData.value.pib.length !== 9) errors.push(app.$helper.capitalize(errorMsg2));
                return errors;
            });

            let locationValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.location') + "' " + app.$t('validation.cantBeEmpty');
                let errorMsg2 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.location') + "' " + app.$t('validation.mustContainAtLeast') + ' 2 ' + app.$t('general.chars');

                if (registerData.value.location === '') errors.push(app.$helper.capitalize(errorMsg1))
                if (registerData.value.location.length < 2) errors.push(app.$helper.capitalize(errorMsg2));
                return errors;
            });

            let postalValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.postal') + "' " + app.$t('validation.cantBeEmpty');
                let errorMsg2 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.postal') + "' " + app.$t('validation.mustContain') + ' 5 ' + app.$t('general.digits');

                if (registerData.value.postal === '') errors.push(app.$helper.capitalize(errorMsg1))
                if (registerData.value.postal.length !== 5) errors.push(app.$helper.capitalize(errorMsg2))
                return errors;
            });

            let addressValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.postal') + "' " + app.$t('validation.cantBeEmpty');
                let errorMsg2 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.postal') + "' " + app.$t('validation.mustContainAtLeast') + ' 3 ' + app.$t('general.chars');

                if (registerData.value.address === '') errors.push(app.$helper.capitalize(errorMsg1))
                if (registerData.value.address.length < 3) errors.push(app.$helper.capitalize(errorMsg2))
                return errors;
            });

            let phoneValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.phone') + "' " + app.$t('validation.cantBeEmpty');
                let errorMsg2 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.phone') + "' " + app.$t('validation.mustContainBetween') + ' 9 ' + app.$t('general.and') + ' 11 ' + app.$t('general.digits');

                if (registerData.value.phone === '') errors.push(app.$helper.capitalize(errorMsg1));
                if (registerData.value.phone.length < 9 || registerData.value.phone.length > 11) errors.push(app.$helper.capitalize(errorMsg2));
                return errors;
            });

            let userEmailValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('validation.emailMustBeValid');

                if (!app.$helper.validateEmail(registerData.value.user_email)) errors.push(app.$helper.capitalize(errorMsg1));
                return errors;
            });

            let passwordValidation = computed(() => {
              let errors = [];
              let atLeast8CharMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') + ' 8 ' + app.$t('general.chars');
              let atLeastOneLwrcMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 malo slovo'; // translate
              let atLeastOneUprcMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 veliko slovo'; // translate
              let atLeastOneNumMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 broj'; // translate


              let atLeast8Char = /^(?=.{8,})/;
              let atLeastOneLwrc = /^(?=.*[a-z])/
              let atLeastOneUprc = /^(?=.*[A-Z])/
              let atLeastOneNum  = /^(?=.*\d)/

              if (!atLeast8Char.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeast8CharMsg));
              if (!atLeastOneLwrc.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneLwrcMsg));
              if (!atLeastOneUprc.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneUprcMsg));
              if (!atLeastOneNum.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneNumMsg));

              return errors;
            });

            let repeatPasswordValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('validation.repeatPasswordNotGood');
                if (registerData.value.password !== registerData.value.repeat_password) errors.push(app.$helper.capitalize(errorMsg1));

                return errors;
            });

            let ppValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.youMustAgreeWithTOS');

                if (!registerData.value.pp) errors.push(errorMsg1);
                return errors;
            });

            const dataErrors = ref({
                company: false,
                pib: false,
                location: false,
                postal: false,
                address: false,
                phone: false,
                user_email: false,
                password: false,
                repeat_password: false,
                pp: false,
            });


            // METHODS //
            const checkForm = (field = '') => {
                if (field) {
                    switch (field) {
                        case "company":
                            dataErrors.value.company = !!companyValidation.value.length;
                            break;
                        case "pib":
                            dataErrors.value.pib = !!pibValidation.value.length;
                            break;
                        case "location":
                            dataErrors.value.location = !!locationValidation.value.length;
                            break;
                        case "postal":
                            dataErrors.value.postal = !!postalValidation.value.length;
                            break;
                        case "address":
                            dataErrors.value.address = !!addressValidation.value.length;
                            break;
                        case "phone":
                            dataErrors.value.phone = !!phoneValidation.value.length;
                            break;
                        case "email":
                            dataErrors.value.email = !!userEmailValidation.value.length;
                            break;
                        case "password":
                            dataErrors.value.password = !!passwordValidation.value.length;
                            break;
                        case "repeat_password":
                            dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;
                            break;
                        case "pp":
                            dataErrors.value.pp = !!ppValidation.value.length;
                            break;
                    }
                } else {
                    dataErrors.value.company = !!companyValidation.value.length;
                    dataErrors.value.pib = !!pibValidation.value.length;
                    dataErrors.value.location = !!locationValidation.value.length;
                    dataErrors.value.postal = !!postalValidation.value.length;
                    dataErrors.value.address = !!addressValidation.value.length;
                    dataErrors.value.phone = !!phoneValidation.value.length;
                    dataErrors.value.user_email = !!userEmailValidation.value.length;
                    dataErrors.value.password = !!passwordValidation.value.length;
                    dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;
                    dataErrors.value.pp = !!ppValidation.value.length;
                }

                return !!(
                    dataErrors.value.company ||
                    dataErrors.value.pib ||
                    dataErrors.value.location ||
                    dataErrors.value.postal ||
                    dataErrors.value.address ||
                    dataErrors.value.phone ||
                    dataErrors.value.user_email ||
                    dataErrors.value.password ||
                    dataErrors.value.repeat_password ||
                    dataErrors.value.pp
                );
            }

            let register = async () => {
                if (checkForm()) {
                    return;
                }
                let pp = registerData.value.pp ? '1' : '0';
                await app.$store.dispatch('employer/auth/register', {...registerData.value, pp})
            };

            // REGISTER LOGIC //
            return {
                // MAIN VARS //
                showPassword,
                registerData,

                // error vars
                dataErrors,

                //validation computed vars
                companyValidation,
                pibValidation,
                locationValidation,
                postalValidation,
                addressValidation,
                phoneValidation,
                userEmailValidation,
                passwordValidation,
                repeatPasswordValidation,
                ppValidation,

                //methods
                register,
                checkForm
            }
        }

    })
</script>

<style scoped>

</style>