<template>
  <div>
    <h3 class="font-weight-medium">Looking for work or workers? Lako do posla is your ally </h3>
    <br>
    <p>Are you looking for a new job or are you an employer who needs workers? If the answer is &ldquo;yes&rdquo;, we have a solution for you! Lako do posla is a top digital service with a tradition that offers employers a quality service of advertising, selection and communication with applicants, and candidates timely information and a practical way to apply for the desired job opening.</p>
    <h4>Online job exchange with tradition!</h4>
    <br>
    <p>We have been operating successfully since 2008 and since then we have been connecting employers and candidates in a simple way for everyone! For more than a decade, we have been cooperating with an impressive number of renowned employers, which is proof of mutual trust. </p>
    <br>
    <p> <a href="https://vvv.lakodoposla.com/">Lako do posla</a> is an authentic online job exchange modeled on the world's job search engines. For users who are looking for work, whether they are registered or not, the services are completely free. </p>
    <br>
    <h3 class="font-weight-medium">How does the portal work? </h3>

    <p>Whether you are an employer looking for workers or you are looking for a job, our portal makes the process as easy and simple as possible. Ads on our digital service are regularly updated, which guarantees reliable, two-way communication. </p>

    <p>We can boast of long-term cooperation with renowned clients such as Air Serbia, Fricom, Aman, Bosal, WinBet, Smokvica, Novak restaurant and many others who, with the help of our portal, found the desired staff. On the other hand, workers trust us when they change careers and look for a new job precisely because of our long-standing tradition and visibility. </p>

    <p>If you are an employer, our services include publishing ads and promoting them through banners and social networks in order to make the search for suitable staff as successful as possible. We are active on Facebook, YouTube and Instagram social platforms that increase your visibility. You can always choose between several packages, and we especially advise you to pay attention to the special offers we offer. </p>

    <p>All those who are looking for a job after registering on the platform are able to systematize their resume (CV), add scanned documents and/or diplomas, after which any application for the desired job is just a few clicks away from you.</p>

    <p>If you are interested, we can forward information about current ads on a daily/weekly or monthly basis via email or SMS. You only need to register, select the desired job categories and job location to always be up to date - and that's completely free. Also, keep in mind that our team of experts is a support you can count on regardless of your goal.</p>

    <h3 class="font-weight-medium">For the easiest use - there is also an application</h3>
    <br>
    <p>In order to make sure that you can place an ad or search for a job at any time and from any place, we have also provided an application for <a href="https://plai.google.com/store/apps/details?id =com.phonegap.lakodoposla&_branch_match_id=929375794244553756&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXTypKzEvO0MtJzM5PyS%2FIL85J1EvOz9V390%2F2yy6rSEsJBgCulghKKQAAAA%3D%3D">Androd</a> and <a href="https://apps.apple/lako-doin-pos/ /id1558945924">IOS</a> devices. By downloading Lako do posla application, you are one step away from a candidate, that is, a suitable job. In a few steps, enter the world of jobs that we have created just for you. </p>

    <p>Through the application, experience a number of benefits, namely:</p>
    <p> - notification of jobs from the category you are interested in immediately after the advertisement is published on our website, and you can apply for the desired job in just a few steps, on your mobile phone. </p>

    <p>In addition, while you are waiting for a job - on your account you will have an overview of all applications as well as the possibility of entering data that will present you in the best way to a potential employer. </p>

    <p>Convince yourself of the functionality and benefits that our work system implies and find a suitable worker or desired job in the shortest possible time.</p>
  </div>
</template>

<script>
export default {
  name: "AboutUsEn"
}
</script>

<style scoped>

</style>