<template>
  <div>
    <h3 class="font-weight-medium">Tražite posao ili radnika? Lako do posla je Vaš saveznik </h3>
    <br>
    <p>Da li ste u potrazi za novim poslom ili ste poslodavac kom su potrebni radnici? Ukoliko je odgovor &ldquo;da&rdquo;, imamo rešenje za Vas! Lako do posla je vrhunski digitalni servis sa tradicijom koji poslodavcima nudi kvalitetnu uslugu oglašavanja, selekcije i komunikaciju sa aplikantima, a kandidatima pravovremenu informaciju i praktičan način prijavljivanja na željeni konkurs.</p>
    <h4>Onlajn berza poslova sa tradicijom!</h4>
    <br>
    <p>Uspešno poslujemo od 2008. godine i od tada spajamo poslodavce i kandidate  na svima jednostavan način! Već više od decenije, sarađujemo sa impozantnim  brojem renomiranih poslodavaca, što je dokaz obostranog poverenja. </p>
    <br>
    <p> <a href="https://www.lakodoposla.com/">Lako do posla</a> je autentična onlajn berza poslova koja je nastala po ugledu na svetske pretraživače slobodnih radnih mesta. Za  korisnike koji su u potrazi za poslom, bilo da su registrovani ili ne, usluge su potpuno besplatne. </p>
    <br>
    <h3 class="font-weight-medium">Kako portal funkcioniše? </h3>

    <p>Bilo da ste poslodavac u potrazi za radnicima ili tražite posao, naš portal Vam taj proces maksimalno olakšava i pojednostavljuje. Oglasi na našem digitalnom servisu se redovno ažuriraju čime garantujemo pouzdanu, dvosmernu komunikaciju. </p>

    <p>Možemo se pohvaliti dugogodišnjom saradnjom sa renomiranim klijentima poput Air Serbia-e, Frikoma, Amana, Bosala, WinBet-a, Smokvice, restorana Novak i mnogih drugih koji su uspomoć našeg portala došli do željenog kadra. Sa druge strane radnici nam poklanjaju poverenje kada menjaju karijeru i traže novi posao upravo zbog naše dugogodišnje tradicije i vidljivosti. </p>

    <p>Ukoliko ste poslodavac, naše usluge uključuju objavljivanje oglasa i njihovo promovisanje putem banera i društvenih mreža kako bi potraga za odgovarajućim kadrom bila što uspešnija. Aktivni smo na Facebook, YouTube i Instagram društvenim platformama koje povećavaju Vašu vidljivost. Uvek možete birati između nekoliko paketa, a posebno Vam savetujemo da obratite pažnju na specijalne ponude koje nudimo. </p>

    <p>Svima koji su u potrazi za poslom nakon registracije na platformi, omogućen je sistematizovan unos biografije (CV), dodavanje  skeniranih dokumenata i/ili diplome nakon čega je svako apliciranje za željeni posao na svega par klikova od vas.</p>

    <p>Ukoliko ste zainteresovani, možemo da prosledjedujemo informacije o aktulenim oglasima na dnevnom/nedeljnom ili mesečnom  nivou putem mejla ili SMS poruka. Potrebno je samo da se registrujete, odaberete željene kategorije poslova  i lokaciju posla da biste bili uvek u toku - i to, potpuno besplatno. Takođe, imajte na umu da je naš tim stručnjaka podrška na koju možete računati bez obzira na svoj cilj.</p>

    <h3 class="font-weight-medium">Za najlakše korišćenje - tu je i aplikacija</h3>
    <br>
    <p>Kako bismo bili sigurni da u svakom momentu i sa svakog mesta možete da postavite oglas ili potražite posao, obezbedili smo i aplikaciju za <a href="https://play.google.com/store/apps/details?id=com.phonegap.lakodoposla&_branch_match_id=929375794244553756&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXTypKzEvO0MtJzM5PyS%2FIL85J1EvOz9V390%2F2yy6rSEsJBgCulghKKQAAAA%3D%3D">Androd</a> i <a href="https://apps.apple.com/in/app/lako-do-posla/id1558945924">IOS</a> uređaje. Preuzimanjem Lako do posla aplikacije, nalazite se na korak do kandidata, odnosno adekvatnog posla. U par koraka, uđite u svet poslova koji smo kreirali samo za vas. </p>

    <p>Putem aplikacije, iskusićete niz benefita i to:</p>
    <p> - notifikaciju o poslovima iz kategorije za koje ste zainteresovani odmah po objavi oglasa na našem sajtu i aplicirati za željeni posao u svega par koraka, na svom mobilnom telefonu. </p>

    <p>Osim toga, dok čekate posao - na svom nalogu ćete imati uvid u sve prijave kao i mogućnost unosa podataka koji će Vas na najbolji način predstaviti potencijalnom poslodavcu. </p>

    <p>Uverite se u funkcionalnost i olakšice koji naš sistem rada podrazumeva i pronađite odgovarajućeg radnika ili željeni posao u najkraćem roku.</p>
  </div>
</template>

<script>
export default {
  name: "AboutUsSr"
}
</script>

<style scoped>

</style>