<template>
  <DefaultPageWrapper title="Prijave:">
    <v-row justify="center" align="center">
      <v-col cols="12" v-for="(application, i) in applications">
        <v-card class="elevation-0">
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <span><small>{{ $t('general.jobApplicationDate')}}</small></span>
                <v-list-item-title class="mb-4 font-weight-medium">
                  {{application.date | date}}
                </v-list-item-title>
                <span><small>{{ $t('general.jobCompetition') | ucfirst}} / {{ $t('general.compoany') | ucfirst}}:</small></span>
                <v-list-item-title class="mb-4 font-weight-medium">
                  {{application.title}} / {{application.company}}
                </v-list-item-title>
                <span><small>{{ $t('general.jobExpTime') }}:</small></span>
                <v-list-item-title class="mb-4 font-weight-medium">
                  {{application.start_date | date}} - {{application.expires | date}}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-card-text>
              <v-expansion-panels accordion flat>
                <v-expansion-panel
                >
                  <v-expansion-panel-header class="font-weight-medium">{{ $t('general.jobDetails') | ucfirst}} </v-expansion-panel-header>
                  <v-expansion-panel-content class="pa-0">
                    <JobDetails :jobDetails="application" />
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-card-text>

          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="mt-10" v-if="!applications.length && !hack">
      <v-col  cols="12 mt-10 mb-10 red lighten-4">

        <h3 class='text-center mb-3'>{{ $t('noRecentApps')}}...</h3>
        <p class='text-center'>{{ $t('loadOldAppsMsg')}}</p>
      </v-col>
    </v-row>
    <v-row class="mt-10">
      <v-col cols="12" class="text-center">
        <v-btn dark large class="buttonBlue rounded-lg" @click="loadAllApplications">{{ $t('buttons.loadOldAppsMsg')}}</v-btn>
      </v-col>
    </v-row>
  </DefaultPageWrapper>
</template>
<script>
    import {defineComponent, computed} from '@vue/composition-api'
    import JobDetails from "../../../components/common/JobDetails";
    import DefaultPageWrapper from "@/components/DefaultPageWrapper";

    export default defineComponent({
        middleware: 'candidate_auth',
        components: {
            JobDetails,
          DefaultPageWrapper
        },
        setup(props, ctx) {
            let hack = true;

            const applications = computed(() => {
                return ctx.root.$store.state.candidate.jobApplication.old_applications;
            });

            const loadAllApplications = () => {
                ctx.root.$store.dispatch('candidate/jobApplication/setOldApplications', true);
            };

            return {
                loadAllApplications, applications, hack
            }
        },
        async asyncData(context) {
            await context.store.dispatch('candidate/jobApplication/setOldApplications');
            // let data = await context.store.dispatch('candidate/documents/get')
            // return { data }
        },
        data() {
          return {
            openDetails: false
          }
        }
    })
</script>

<style>
@media(max-width:  700px) {
  .v-expansion-panel-content__wrap, .v-expansion-panel-header  {
    padding: 0px 7px;
  }
}
</style>

