<template>
  <v-dialog
      @click:outside="close"
      @keydown="keydown"
      v-model="dialog"
      transition="dialog-bottom-transition"
      max-width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <p
          class="pointer"
          v-bind="attrs"
          v-on="on"
      >
        {{ $t('addContactPerson')}}<v-icon class="linkColor2 float-end">mdi-plus-circle</v-icon>
      </p>
    </template><
    <template v-slot:default="dialog">
      <v-card>
        <v-card-title>
          {{ $t('addContactPerson')}}
          <v-spacer></v-spacer>

          <v-btn
              text
              color="primary"
              @click="close"
          >{{ $t('general.leave') | ucfirst }}
          </v-btn>
        </v-card-title>
        <v-card-subtitle>

        </v-card-subtitle>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <p>{{ $t('optionNotAvailable')}}.</p>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name: 'AddContactPersons',
  setup(props, ctx) {

    let dialog = ref(false)
    let close = () => dialog.value = false;

    let keydown = (e) => {
      if (e.keyCode == 27) {
        close();
      }
    }

    return {
      dialog,
      keydown,
      close
    }
  },
  created() {
    this.items = [
      ...[
        // { text: this.$t('links.myDocuments'), icon: 'mdi-folder', link: this.localePath('candidate-documents') },
        // { text: this.$t('links.myApplications'), icon: 'mdi-application-edit', link: this.localePath('candidate-applications') },
        // { text: this.$t('links.mySearches'), icon: 'mdi-text-box-search', link: this.localePath('candidate-searches') },
        // { text: this.$t('links.savedJobs'), icon: 'mdi-cards-heart-outline', link: this.localePath('candidate-saved-jobs') },
      ]
    ];
    // { text: 'Shared with me', icon: 'mdi-account-multiple' , link: 'moji-dokumenti'},
    // { text: 'Starred', icon: 'mdi-star', link: 'moji-dokumenti' },
    // { text: 'Recent', icon: 'mdi-history', link: 'moji-dokumenti' },
    // { text: 'Offline', icon: 'mdi-check-circle', link: 'moji-dokumenti' },
    // { text: 'Uploads', icon: 'mdi-upload', link: 'moji-dokumenti' },
    // { text: 'Backups', icon: 'mdi-cloud-upload', link: 'moji-dokumenti' },
  }
})
</script>

<style scoped>

</style>