<template>

</template>

<script>

export default {
  name: "AppDetailsScrollHack",
  components: {
  },

  created() {
    window.addEventListener("scroll",function(){
      let node = document.getElementById('contentDetailsCard');
      if (node) {
        if (window.pageYOffset > 70) {
          node.classList.add("fixed");
        } else {
          node.classList.remove("fixed");
        }
      }
    });
  },
}

</script>

<style >
</style>