<template>

</template>

<script>

import { defineComponent,ref, computed } from '@vue/composition-api'

export default defineComponent({
  components: {
  },
  props: {

  },
  name: "DetectEndOfPage",
  setup(props, ctx) {
    const scrollToTop = () => {
      // window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    return {
      scrollToTop
    }
  },
  methods: {

  },
  created() {
    let elementInViewport2 = function(el) {
      var top = el.offsetTop;
      var left = el.offsetLeft;
      var width = el.offsetWidth;
      var height = el.offsetHeight;

      while(el.offsetParent) {
        el = el.offsetParent;
        top += el.offsetTop;
        left += el.offsetLeft;
      }

      return (
          top < (window.pageYOffset + window.innerHeight) &&
          left < (window.pageXOffset + window.innerWidth) &&
          (top + height) > window.pageYOffset &&
          (left + width) > window.pageXOffset
      );
    }
    window.onscroll = function() {
      if (document.querySelector('.contentDetailsCard')) {
        if (elementInViewport2(document.querySelector('.v-footer'))) {
          if (document.querySelector('.contentDetailsCard').classList.contains('fixed')) {
            document.querySelector('.contentDetailsCard').classList.remove('fixed')
            document.querySelector('.contentDetailsCard').classList.add('absolute')
          }
        } else {
          if (!document.querySelector('.contentDetailsCard').classList.contains('fixed')) {
            document.querySelector('.contentDetailsCard').classList.remove('absolute')
            document.querySelector('.contentDetailsCard').classList.add('fixed')
          }
        }
      }

    };
  }
})
</script>

<style>
.backToTop {
  position: fixed;
  z-index: 999999;
  bottom: 30px;
  right: 100px;
}
.hideBackToTop {
  display: none;
}
</style>