<template>
  <v-dialog
      @click:outside="close"
      @keydown="keydown"
      v-model="dialog"
      transition="dialog-bottom-transition"
      max-width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          :width="width"
          :disabled="!recipients.length"
          color="buttonBlue rounded-lg white--text"
          depressed
          v-bind="attrs"
          v-on="on"
      >
        {{activatorBtnText}}
        <v-icon class="ml-2">mdi-pencil</v-icon>
      </v-btn>
    </template>
    <template v-slot:default="dialog">
      <v-card>
        <v-card-title>
          {{ $t('createEmail')}}
          <v-spacer></v-spacer>
          <v-btn
              plain
              :ripple="false"
              class="pr-0"
              @click="close(), $emit('emailSent')"
          >{{ $t('general.leave') | ucfirst }}
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-subtitle>
          {{ $t('recipientsNumber')}}: {{ recipients.length }}
          <v-spacer></v-spacer>
        </v-card-subtitle>
        <v-card-text class="pb-0">
          <div
              class="blue lighten-5 rounded pa-2 mb-2 mt-3"
              style="width: 100%"
          >
            <v-icon class="mt-n1">mdi-information-variant</v-icon>
            {{ $t('chooseSenderEmail')}}
          </div>
          <v-row class="">
            <v-col cols="12">
              <label class="font-weight-medium black--text"><span class="red--text">*</span>{{ $t('senderEmail')}}</label>
              <v-select
                  outlined
                  :placeholder="$t('general.choose')"
                  v-model="sender"
                  :items="emailItems"
                  filled
              ></v-select>
            </v-col>
          </v-row>


          <div
              class="blue lighten-5 rounded pa-2 mb-2"
              style="width: 100%"
          >
            <v-icon class="mt-n1">mdi-information-variant</v-icon>
            {{ $t('enterTitleAndTextOfEmail')}}
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
              <span

                  class="px-0 primary--text font-weight-bold pointer"
                  v-bind="attrs"
                  v-on="on"
              >
                {{ $t('choseEmailTemplate')}}
              </span>
              </template>
              <v-list>
                <v-list-item
                    class="pointer"
                    v-for="(template, index) in choseTemplates"
                    :key="index"
                >
                  <v-list-item-title @click="chosenTemplate(index)">{{ template.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
          <v-row class="">
            <v-col cols="12">
              <label class="font-weight-medium black--text"><span class="red--text">*</span>{{ $t('inputLabels.emailSubject') }}</label>
              <v-text-field
                  outlined
                  :placeholder="$t('inputLabels.enterEmailSubject')"
                  v-model="title"
                  hide-details
              ></v-text-field>
            </v-col>


            <v-col cols="12">
              <label class="font-weight-medium black--text"><span class="red--text">*</span>{{ $t('inputLabels.message') }}</label>
              <v-textarea
                  hide-details
                  outlined
                  :placeholder="$t('inputLabels.enterMessage')"
                  v-model="body"
                  name="input-7-4"
                  value=""
              ></v-textarea>
            </v-col>

          </v-row>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              @click="send"
              color="buttonBlue rounded-lg white--text "
              class="mr-1"
              :disabled="!sender || !title || !body"
          >
            <span class="mr-2"> {{ $t('buttons.send')}}</span>
            <v-icon>mdi-send</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name: 'EmailToApplicants',
  props: {
    recipients: Array,
    width: {
      type: String,
      default: '200px'
    },
    activatorBtnText: {
      type: String,
      default: 'Kreirajte E-mail'
    },

  },
  setup(props, ctx) {
    let jobId = computed(() => ctx.root.$store.state.employer.applications.jobForApplication.id);
    let jobTitle = computed(() => ctx.root.$store.state.employer.applications.jobForApplication.title);
    let dialog = ref(false)
    let sender = ref('')
    let title = ref('')
    let body = ref('')

    let close = () => dialog.value = false;
    let company = ctx.root.$store.state.employer.profile.data.company
    let emailItems = computed(() => {
      let items = [];
      ctx.root.$store.state.employer.profile.data.contacts.map(email => {
        items.push({
          text: email.email,
          value: email.email
        })
      })
      return items;
    })

    let send = () => {
      let emailObject = {
        application_ids : props.recipients,
        reply_to: sender.value,
        subject: title.value,
        body: body.value
      }

      ctx.root.$axios.post(
          'api/employer/applications/'+jobId.value+'/send_email',
          JSON.stringify( emailObject ),
          {
            headers:{
              "Content-Type" : "application/json",
            }
          }
      )
          .then( response => {
            dialog.value = false
            ctx.root.$store.dispatch('mainDialog/emailSentToApplicants')
            ctx.emit('emailSent')
          })
          .catch( error => {
            dialog.value = false
            ctx.root.$store.dispatch('mainDialog/emailNotSentToApplicants')
            ctx.emit('emailSent')
          } )
    }
    let keydown = (e) => {
      if (e.keyCode == 27) {
        close();
      }
    }

    let choseTemplates = ref([
      {
        text: 'Prazan šablon',
        value: 0
      },
      {
        text: 'Zahvaljujemo se na prijavi',
        value: 1
      },
      {
        text: 'Thank you for your applicantion',
        value: 2
      }
    ])

    let chosenTemplate = (index) => {
      title.value = templates[index].title;
      body.value = templates[index].body;
    }

    let templates = [
      {
        "title": '',
        "body": ''
      },
      {
        "title": 'Informacije o konkursu ' + jobTitle.value,
        "body": `Poštovani,
  Primili smo Vašu prijavu za konkurs "${jobTitle.value}" u okviru kompanije "${company}". Zahvaljujemo Vam se na interesovanju za rad u našoj kompaniji. Kandidati koji udju u uži izbor, biće obavešteni o datumu i vremenu intervjua.
Srdačan pozdrav,
--
${company}`
      },
      {
        "title": 'Application info ' + jobTitle.value,
        "body": `Dear Sir or Madam,
  We have received your job applications for the position ${jobTitle.value} in our company "${company}". Thank you for your interest in working in our company. Only shortlisted candidates will be notified of the date and time of the interview.
Best Regards,
--
${company}`,
      },
    ];

    return {
      dialog,
      keydown,
      close,
      emailItems,
      sender,
      title,
      body,
      choseTemplates,
      chosenTemplate,
      send
    }
  },
  created() {
    this.items = [
      ...[
        // { text: this.$t('links.myDocuments'), icon: 'mdi-folder', link: this.localePath('candidate-documents') },
        // { text: this.$t('links.myApplications'), icon: 'mdi-application-edit', link: this.localePath('candidate-applications') },
        // { text: this.$t('links.mySearches'), icon: 'mdi-text-box-search', link: this.localePath('candidate-searches') },
        // { text: this.$t('links.savedJobs'), icon: 'mdi-cards-heart-outline', link: this.localePath('candidate-saved-jobs') },
      ]
    ];
    // { text: 'Shared with me', icon: 'mdi-account-multiple' , link: 'moji-dokumenti'},
    // { text: 'Starred', icon: 'mdi-star', link: 'moji-dokumenti' },
    // { text: 'Recent', icon: 'mdi-history', link: 'moji-dokumenti' },
    // { text: 'Offline', icon: 'mdi-check-circle', link: 'moji-dokumenti' },
    // { text: 'Uploads', icon: 'mdi-upload', link: 'moji-dokumenti' },
    // { text: 'Backups', icon: 'mdi-cloud-upload', link: 'moji-dokumenti' },
  }
})
</script>

<style scoped>

</style>