<template>
  <div id="expiredJobs">
    <v-row
        v-if="expiredJobs.length"
        justify="center"
        align="center"
        class="paginationWrapper"
    >
      <v-col
          cols="12"
          md="5"
          class="searchExpired"
      >
        <v-text-field
            clearable
            :placeholder="$t('inputLabels.searchForExpiredJob')"
            outlined
            hide-details
            prepend-icon="mdi-magnify"
            @input="$store.dispatch('employer/jobs/searchExpired', $event)"

        ></v-text-field>
      </v-col>
      <v-col
          cols="12"
          md="7"
          class="text-right"
      >
        <ExpiredJobsPaginationButtons />
      </v-col>
    </v-row>
    <div>
      <Job
          v-for="expiredJob in expiredJobs"
          :key="expiredJob.id"
          :job="expiredJob"
          @showAppsForJob="$emit('showAppsForJob', expiredJob)"
      />
    </div>
    <v-row justify="center" v-if="expiredJobs.length">
      <v-col cols="12" class="text-center">
        <ExpiredJobsPaginationButtons />
      </v-col>
    </v-row>
  </div>

</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import Job from "./jobs/Job";
import ExpiredJobsPaginationButtons from "./ExpiredJobsPaginationButtons";

export default defineComponent({
  name: 'ExpiredJobsList',
  components: {
    ExpiredJobsPaginationButtons,
    Job
  },
  setup(props, ctx) {
    let expiredJobs = computed(() => {
      return ctx.root.$store.getters['employer/jobs/getExpiredPaginated']
    });

    return {
      expiredJobs
    }
  },

  async asyncData(context) {
    const data = await context.store.dispatch('employer/jobs/setJobs');
  }

})
</script>
<style>
#expiredJobs .v-input__slot {
  min-height: auto !important;
}

#expiredJobs .v-label {
  font-weight: normal !important;
}

.paginationStatus {
  position: relative;
  bottom: -2px;
}
.paginationWrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.searchExpired .v-input__prepend-outer {
  margin-top: 4px;
}
.searchExpired .v-input__append-inner {
  margin-top: 4px;
}
</style>
