<template>
  <div>
    <v-btn
        class="font-weight-regula pl-0 pr-1"
        :disabled="!allowPrev"
        text
        @click="expiredPrev(),scrollTop()"
    >
      <v-icon class="mb-n1">mdi-chevron-left</v-icon>
      <span>predhod.</span>
    </v-btn>
    <span class="paginationStatus">{{ getCurrent }} / {{ getTotalPages }}</span>
    <v-btn
        class="font-weight-regular pr-0 pl-1"
        :disabled="!allowNext"
        text
        @click="expiredNext(),scrollTop()"
    >
      <span>sledeca</span>
      <v-icon class="mb-n1">mdi-chevron-right</v-icon>
    </v-btn>
  </div>

</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  name: 'ExpiredJobsPaginationButtons',
  components: {
  },
  setup(props, ctx) {

    let getTotalPages = computed(() => ctx.root.$store.getters['employer/jobs/getTotalPages']);
    let getCurrent = computed(() => ctx.root.$store.getters['employer/jobs/getCurrent']);

    const expiredPrev = () => ctx.root.$store.dispatch('employer/jobs/setExpPrevPage');
    const expiredNext = () => ctx.root.$store.dispatch('employer/jobs/setExpNextPage');

    const allowNext = computed(() => ctx.root.$store.getters['employer/jobs/getExpiredAllowNext']);
    const allowPrev = computed(() => ctx.root.$store.getters['employer/jobs/getExpiredAllowPrev']);

    const scrollTop = () => window.scrollTo({top: 0, behavior: 'smooth'});
    return {
      expiredPrev,
      expiredNext,
      allowNext,
      allowPrev,
      scrollTop,
      getTotalPages,
      getCurrent
    }
  },

  async asyncData(context) {
    const data = await context.store.dispatch('employer/jobs/setJobs');
  }

})
</script>
<style>
#expiredJobs .v-input__slot {
  min-height: auto !important;
}

#expiredJobs .v-label {
  font-weight: normal !important;
}

.paginationStatus {
  position: relative;
  bottom: -2px;
}
.paginationWrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
</style>
