<template>
  <div>
    <v-btn
        v-for="(item, index) in items"
        text
        tile
        small
        outlined
        style="min-width: 30px!important"
        class="menu-item pa-0"
        :class="editor.isActive(item.isActiveParam1, item.isActiveParam2)  ? 'blue': ''"
        @click="click(item)"
    >
      <v-icon :class="editor.isActive(item.isActiveParam1, item.isActiveParam2) ? 'white--text': ''">{{item.icon}}</v-icon>
    </v-btn>
    <v-btn
        v-if="false"
        text
        tile
        small
        outlined
        style="min-width: 30px!important"
        class="menu-item pa-0"
        @click="openSourceWindow"
    >
      <v-icon>mdi-file-code</v-icon>
    </v-btn>
    <template v-for="(item, index) in items">
      <div
          class="divider"
          v-if="item.type === 'divider'"
          :key="`divider${index}`"
      />
<!--      <menu-item :editor="editor" v-else :key="index" v-bind="item" />-->
    </template>
    <SourceWindow @closeDialog="sourceDialog = false" :dialog="sourceDialog" :editor="editor"></SourceWindow>

    <LinkWindow @closeLinkDialog="openLinkDialog = false" :openLinkDialog="openLinkDialog"  :editor="editor" :attributes="_.isEmpty(this.editor.getAttributes('link'))
                                                                                      ? null
                                                                                      : this.editor.getAttributes('link')"/>
  </div>
</template>

<script>
import Vue from "vue";
import { isEmpty } from "lodash";
import MenuItem from "./MenuItem.vue";
import SourceWindow from "@/components/employer/EditorHelperWindows/SourceWindow";
import LinkWindow from "./EditorHelperWindows/LinkWindow";


export default {
  components: {
    LinkWindow,
    MenuItem,
    SourceWindow
  },
  props: {
    editor: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      openLinkDialog: false,
      isActiveBold: false,
      sourceDialog: false,
      items: [
        {
          icon: "mdi-format-header-1",
          toggleFuncName:'toggleHeading',
          toggleFuncParam:{ level: 1 },
          isActiveParam1: 'heading',
          isActiveParam2: {level: 1},
        },
        {
          icon: "mdi-format-header-2",
          toggleFuncName:'toggleHeading',
          toggleFuncParam:{ level: 2 },
          isActiveParam1: 'heading',
          isActiveParam2: {level: 2},
        },
        {
          icon: "mdi-format-header-3",
          toggleFuncName:'toggleHeading',
          toggleFuncParam:{ level: 3 },
          isActiveParam1: 'heading',
          isActiveParam2: {level: 3},
        },
        {
          icon: "mdi-format-header-4",
          toggleFuncName:'toggleHeading',
          toggleFuncParam:{ level: 4 },
          isActiveParam1: 'heading',
          isActiveParam2: {level: 4},
        },
        {
          icon: "mdi-format-bold",
          toggleFuncName:'toggleBold',
          toggleFuncParam:null,
          isActiveParam1: 'bold',
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-italic",
          toggleFuncName:'toggleItalic',
          toggleFuncParam:null,
          isActiveParam1: 'italic',
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-strikethrough",
          toggleFuncName:'toggleStrike',
          toggleFuncParam:null,
          isActiveParam1: 'strike',
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-align-left",
          toggleFuncName:'setTextAlign',
          toggleFuncParam:'left',
          isActiveParam1: {textAlign: 'left'},
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-align-center",
          toggleFuncName:'setTextAlign',
          toggleFuncParam:'center',
          isActiveParam1: {textAlign: 'center'},
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-align-right",
          toggleFuncName:'setTextAlign',
          toggleFuncParam:'right',
          isActiveParam1: {textAlign: 'right'},
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-align-justify",
          toggleFuncName:'setTextAlign',
          toggleFuncParam:'justify',
          isActiveParam1: {textAlign: 'justify'},
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-list-bulleted",
          toggleFuncName:'toggleBulletList',
          toggleFuncParam:null,
          isActiveParam1: 'bulletList',
          isActiveParam2: '',
        },
        {
          icon: "mdi-format-list-numbered",
          toggleFuncName:'toggleOrderedList',
          toggleFuncParam:null,
          isActiveParam1: 'orderedList',
          isActiveParam2: '',
        },
        {
          icon: "mdi-link",
          toggleFuncName:'toggleLink',
          toggleFuncParam:{},
          isActiveParam1: 'link',
          isActiveParam2: '',
          action: () => this.openLinkWindow()
        },
        {
          icon: "mdi-arrow-u-left-top",
          toggleFuncName:'undo',
          toggleFuncParam:null,
          isActiveParam1: 'undo',
          isActiveParam2: '',
        },
        {
          icon: "mdi-arrow-u-right-top",
          toggleFuncName:'redo',
          toggleFuncParam:null,
          isActiveParam1: 'redo',
          isActiveParam2: '',
        },
        // {
        //   icon: "mdi-code-braces",
        //   title: "Code",
        //   action: () => this.editor.chain().focus().toggleCode().run(),
        // },
        // {
        //   icon: "mdi-lead-pencil",
        //   title: "Highlight",
        //   action: () => this.editor.chain().focus().toggleHighlight().run(),
        // },
        //

        // {
        //   icon: "mdi-code-brackets",
        //   title: "Code Block",
        //   action: () => this.editor.chain().focus().toggleCodeBlock().run(),
        // },
        // {
        //   type: "divider",
        // },
        // {
        //   icon: "mdi-arrow-u-left-top",
        //   title: "Undo",
        //   action: () => this.editor.chain().focus().undo().run(),
        // },
        // {
        //   icon: "mdi-arrow-u-right-top",
        //   title: "Redo",
        //   action: () => this.editor.chain().focus().redo().run(),
        // },
        // {
        //   type: "divider",
        // },
      ],
    };
  },
  methods: {

    log() {
    },
    openLinkWindow() {
      this.openLinkDialog = !this.openLinkDialog;
    },
    openSourceWindow() {
      this.sourceDialog = true;
    },

    click(item) {
      if (item.action) {
        item.action()
      }
      this.editor.chain().focus()[item.toggleFuncName](item.toggleFuncParam).run();
    }
    /*toggleSpellCheck() {
        const spellcheckState = JSON.parse(window.document.querySelector('.ProseMirror').getAttribute('spellcheck'))

        const newSpellcheckState = `${!spellcheckState}`

        if (!['true', 'false'].includes(newSpellcheckState)) return

        this.editor.setOptions({
          editorProps: {
            attributes: {
              spellcheck: newSpellcheckState
            }
          }
        })

        this.spellcheck = !spellcheckState
      }*/
  },
  mounted() {
  },
};
</script>
