<template>
  <v-btn
      class="menu-item"
      @click="action, $emit('clickBtn')"
      :title="title"
  >
    {{isActive}}
    <v-icon>{{ icon }}</v-icon>
  </v-btn>
</template>

<script>

export default {
  props: {
    icon: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    action: {
      type: Function,
      required: true,
    },
    isActive: {
      type: Function,
      default:null,
    },
    /*
    can: {
      type: Function,
      default: null
    }*/
  },

  data() {
    return {
    }
  },
}
</script>
