<template>
  <v-dialog
      fullscreen
      @click:outside="close"
      @keydown="keydown"
      v-model="dialog"
      transition="dialog-bottom-transition"
      style="z-index: 999999999"
  >
    <template v-slot:default="dialog">
      <v-card>
        <v-card-title class="borderBottom">
          <v-spacer></v-spacer>
          <v-btn @click="close" icon color="primary">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <ApplicationDetails v-if="app" :app="app"/>
      </v-card>
    </template>
  </v-dialog>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import ApplicationDetails from "./jobs/ApplicationDetails";

export default defineComponent({
  name:'MobileContentDetails',
  props: {
    app: Object
  },
  components: {ApplicationDetails},
  setup(props, ctx) {
    let dialog = computed(() => {
      return ctx.root.$store.state.employer.applications.mobileApplicantDetails
    })
    let close = () => {
      ctx.root.$store.dispatch('employer/applications/setMobileApplicantDetails', false)
    }
    let keydown = (e) => {
      if (e.keyCode == 27) {
        close();
      }
    }
    return {
      dialog,
      keydown,
      close
    }
  },
  created() {
    this.items = [
      ...[
        // { text: this.$t('links.myDocuments'), icon: 'mdi-folder', link: this.localePath('candidate-documents') },
        // { text: this.$t('links.myApplications'), icon: 'mdi-application-edit', link: this.localePath('candidate-applications') },
        // { text: this.$t('links.mySearches'), icon: 'mdi-text-box-search', link: this.localePath('candidate-searches') },
        // { text: this.$t('links.savedJobs'), icon: 'mdi-cards-heart-outline', link: this.localePath('candidate-saved-jobs') },
      ]
    ];
    // { text: 'Shared with me', icon: 'mdi-account-multiple' , link: 'moji-dokumenti'},
    // { text: 'Starred', icon: 'mdi-star', link: 'moji-dokumenti' },
    // { text: 'Recent', icon: 'mdi-history', link: 'moji-dokumenti' },
    // { text: 'Offline', icon: 'mdi-check-circle', link: 'moji-dokumenti' },
    // { text: 'Uploads', icon: 'mdi-upload', link: 'moji-dokumenti' },
    // { text: 'Backups', icon: 'mdi-cloud-upload', link: 'moji-dokumenti' },
  }
})
</script>

<style scoped>

</style>