<template>

<div>
  <v-btn
      class="border rounded-lg white"
      icon
      @click.stop="mobSubMenu = !mobSubMenu"
  >
    <v-icon>mdi-menu</v-icon>
  </v-btn>
  <v-sheet>
    <v-navigation-drawer
        id="empMobileSideMenu"
        v-model="mobSubMenu"
        temporary
        fixed
    >

      <v-card
          class="mx-auto pa-3"
          width="256"
          tile
      >
        <v-card-title class="pa-0 ">
          <v-btn plain :ripple="false" class="pl-0 rounded-lg" @click="mobSubMenu = false"><v-icon style="font-size: 20px">mdi-close</v-icon>{{$t('general.close')}}</v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <slot></slot>
      </v-card>
    </v-navigation-drawer>
  </v-sheet>
</div>


</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name:'MobileSubMenu',
  setup(props, ctx) {
    let mobSubMenu = ref(false);
    return {
      mobSubMenu
    }
  },
  created() {
    this.items = [
      ...[
        // { text: this.$t('links.myDocuments'), icon: 'mdi-folder', link: this.localePath('candidate-documents') },
        // { text: this.$t('links.myApplications'), icon: 'mdi-application-edit', link: this.localePath('candidate-applications') },
        // { text: this.$t('links.mySearches'), icon: 'mdi-text-box-search', link: this.localePath('candidate-searches') },
        // { text: this.$t('links.savedJobs'), icon: 'mdi-cards-heart-outline', link: this.localePath('candidate-saved-jobs') },
      ]
    ];
    // { text: 'Shared with me', icon: 'mdi-account-multiple' , link: 'moji-dokumenti'},
    // { text: 'Starred', icon: 'mdi-star', link: 'moji-dokumenti' },
    // { text: 'Recent', icon: 'mdi-history', link: 'moji-dokumenti' },
    // { text: 'Offline', icon: 'mdi-check-circle', link: 'moji-dokumenti' },
    // { text: 'Uploads', icon: 'mdi-upload', link: 'moji-dokumenti' },
    // { text: 'Backups', icon: 'mdi-cloud-upload', link: 'moji-dokumenti' },
  }
})
</script>

<style>
 .mobSubMenu {
   position: fixed;
   left: 0px;
   top: 73px;
   height: 87vh;
   overflow-y: scroll;
   box-shadow: 2px 3px 7px #ccc!important;
 }

 #empMobileSideMenu {
   z-index: 9;
 }
</style>