]<template>
  <div>
    <h2 class="mb-5">{{$t('general.checkYourData')}}</h2>

    <v-card class="elevation-0" outlined>
      <h3 class="mb-0 pa-2  linkToStep" @click="$emit('enableStep', 1)">
        <v-icon class="primary--text">mdi-pencil</v-icon>
        {{$t('inputLabels.jobType')}}
      </h3>
      <v-card-text class="font16 black--text">
        <span
            v-for="posting_price in generalData.posting_prices"
            v-if="posting_price.code == newJobData.product_code"
        >
          {{ posting_price.name }}
        </span>
      </v-card-text>
    </v-card>

    <br>
    <client-only>
      <SetPromoImage v-if="!isShortAd" @setPrevPromoImage="setPrevPromoImage" @setNextPromoImage="setNextPromoImage" @newImageUploaded="newImageUploaded"/>
    </client-only>
    <br>
    <v-card class="elevation-0" outlined>
      <h3 class="mb-0 pa-2  linkToStep" @click="$emit('enableStep', 2)">
        <v-icon class="primary--text">mdi-pencil</v-icon>
        {{$t('general.generalData') | ucfirst}}
      </h3>
      <v-card-text class="font16 black--text">

        <label class="font-weight-medium font14">{{$t('inputLabels.jobName')}}</label>
        <p>{{ newJobData.title }}</p>

        <label class="font-weight-medium font14">{{$t('general.categories')}}:</label>
        <div class="mb-4">
          <span>
            {{newJobCategories}}
          </span>
        </div>

        <label class="font-weight-medium font14">{{$t('general.regions')}}:</label>
        <div class="mb-4">
           <span>
            {{newJobRegions}}
          </span>
        </div>


        <label class="font-weight-medium font14">{{$t('inputLabels.jobLanguage')}}:</label>
        <div class="mb-4">
          <span
            v-for="language in jobLanguages"
            v-if="newJobData.language_id == language.id"
          >{{ language.name | ucfirst}}
          </span>
        </div>



        <label class="font-weight-bold font14">{{$t('inputLabels.jobContractType')}}:</label>
        <div class="mb-4">
          <span
              v-for="contract in generalData.contract_types"
              v-if="newJobData.contract_type_id == contract.id"
          >{{ contract.contract_type }}
          </span>
        </div>


        <label class="font-weight-bold font14">{{$t('inputLabels.jobCareerLevel')}} ({{$t('general.from')}} - {{$t('general.to')}})</label>
        <div class="mb-4">
          <p
              class="mb-0"
              v-for="career in generalData.career_levels"
              v-if="career.code == newJobData.career_levels[0]"
          >
          <label>{{ $t('general.from') }} - </label>
          {{ career.career_level }}
          </p>
          <p
              class="mb-0"
              v-for="career in generalData.career_levels"
              v-if="career.code == newJobData.career_levels[newJobData.career_levels.length - 1]"
          >
          <label>{{ $t('general.from') }} - </label>
          {{ career.career_level }}
          </p>
        </div>


        <!-- max_education min_education education_levels degree degree_code -->
        <label class="font-weight-bold font14">{{$t('inputLabels.jobEducationLevel')}} ({{$t('general.from')}} - {{$t('general.to')}}):</label>
        <div class="mb-4">
          <p
              class="mb-0"
              v-for="education in generalData.education_levels"
              v-if="education.degree_code == newJobData.min_education"
          >
            <label>{{$t('general.from')}} - </label>
            {{ education.degree }}
          </p>
          <p
              class="mb-0"
              v-for="education in generalData.education_levels"
              v-if="education.degree_code == newJobData.max_education"
          >
            <label>{{$t('general.to')}} - </label>
            {{ education.degree }} {{ newJobData.max_education }}
          </p>
        </div>


        <label class="font-weight-bold font14">{{$t('inputLabels.jobExpirationTime')}}:</label>
        <p>{{ newJobData.expires | date }}</p>


        <label class="font-weight-bold font14">{{$t('inputLabels.jobNotificationEmail')}}:</label>
        <p> {{ newJobData.to_email }}</p>
      </v-card-text>
    </v-card>

    <br>
    <v-card class="elevation-0" outlined>
      <h3 class="mb-0 pa-2 linkToStep" @click="$emit('enableStep', 3)">
        <v-icon class="primary--text">mdi-pencil</v-icon>
        {{$t('general.adText') | ucfirst}}
      </h3>
      <v-card-text class="font16 black--text">
        <span v-html="newJobData.message"></span>
      </v-card-text>
    </v-card>

    <br>
    <v-card class="elevation-0" outlined>
      <h3 class="mb-0 pa-2  linkToStep" @click="$emit('enableStep', 4)">
        <v-icon class="primary--text">mdi-pencil</v-icon>
        {{$t('general.questionnaire') | ucfirst}}
      </h3>
      <v-card-text class="font16 black--text">
        <label v-if="questionsSet">{{$t('questionsFromQuestionnaire')}}:</label>
        <div
            v-for="question in questions"
            v-if="question.checked"
        >
          <p class="mb-2 ml-4 font-weight-bold">{{ question.title }}</p>
          <ul>
            <p
                class="mb-2 ml-4"
                v-if="question.type !== 'text'"
                v-for="ans in question.answers"
            >
              <v-tooltip bottom v-if="ans.satisfying">
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                      class="mt-n1 ml-n7"
                      color="green"
                      dark
                      v-bind="attrs"
                      v-on="on"
                  >
                    mdi-checkbox-marked
                  </v-icon>
                </template>
                <span>{{$t('questionnaire.satisfyingAnswer')}}</span>
              </v-tooltip>
              {{ ans.title }}
            </p>
          </ul>
          <ul>
            <p
                class="mb-2 ml-4"
                v-if="question.type === 'text'"
            >
              {{$t('general.textualAnswer')}}
            </p>
          </ul>
        </div>
      </v-card-text>
    </v-card>

    <br>
    <v-card class="elevation-0" outlined>
      <h3 class="mb-0 pa-2  linkToStep" @click="$emit('enableStep', 5)">
        <v-icon class="primary--text">mdi-pencil</v-icon>
        {{$t('general.personalData') | ucfirst}}
      </h3>
      <v-card-text class="font16 black--text">
        <label class="font-weight-medium font14">{{$t('general.responsiblePerson') | ucfirst}}:</label>
        <p>{{jobPublisher.is_director ? 'Da' : 'Ne'}}</p>

        <label class="font-weight-medium font14">{{$t('inputLabels.name') | ucfirst}}</label>
        <p>{{jobPublisher.name}}</p>

        <label class="font-weight-medium font14">{{$t('inputLabels.email') | ucfirst}}:</label>
        <p>{{jobPublisher.email ? jobPublisher.email : '-'}}</p>


        <label class="font-weight-medium font14">{{$t('inputLabels.phone')}}:</label>
        <p>{{jobPublisher.phone ? jobPublisher.phone : '-'}}</p>


        <div v-if="!jobPublisher.is_director">
          <h4>{{$t('general.responsiblePersonData')}}:</h4>

          <label class="font-weight-medium font14">{{$t('inputLabels.name')}}:</label>
          <p> {{jobPublisher.director_name}}</p>

          <label class="font-weight-medium font14">{{$t('inputLabels.email')}}:</label>
          <p>{{jobPublisher.email ? jobPublisher.director_email : '-'}}</p>

          <label class="font-weight-medium font14">{{$t('inputLabels.phone')}}:</label>
          <p>{{jobPublisher.phone ? jobPublisher.director_phone : '-'}}</p>
        </div>
      </v-card-text>
    </v-card>


    <div
        class="padding-lg text-align-center bg-color-green text-color-white border-radius-md"
        @click="$emit('publishJob')"
    >
    </div>

  </div>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import SetPromoImage from "./newJob/SetPromoImage";
import {JOB_PORMO_IMAGE_MUTATIONS} from "../../store/employer/jobPromoImage/mutations";


export default defineComponent({
  components: {SetPromoImage},
  props: {
    isShortAd: {
      type: Boolean
    }
  },
  setup(props, ctx) {
    const newJobData = ctx.root.$store.state.employer.newJob;
    const questions = computed(() => ctx.root.$store.state.employer.questionnaire.questions);
    const jobPublisher = ctx.root.$store.state.employer.jobPublisher;
    const questionsSet = computed(() => {
      let set = false;
      questions.value.map(question => {
        if (question.checked) set = true;
      })
      return set;
    })
    const generalData = ctx.root.$store.state.common.generalData;

    const jobLanguages = ref([
      {
        name: ctx.root.$t('languages.serbian'),
        id: 1
      },
      {
        name: ctx.root.$t('languages.english'),
        id: 2
      },
      {
        name: ctx.root.$t('languages.other'),
        id: 3
      }
    ]);

    const newJobCategories = computed(() => {
      let cats = [];
      generalData.categories.map(category => {
        if(newJobData.job_categories.indexOf(category.id) > -1) {
          cats.push(category.name)
        }
      })
      return cats.join(', ')
    })

    const newJobRegions = computed(() => {
      let regs = [];
      generalData.regions.map(region => {
        if(newJobData.regions.indexOf(region.id) > -1) {
          regs.push(region.name)
        }
      })
      return regs.join(', ')
    })

    const setNextPromoImage = async () => {
      ctx.root.$store.dispatch('employer/newJob/setPromoImage', ctx.root.$store.getters['employer/jobPromoImage/getCurrentPromoImage'])
    }
    const setPrevPromoImage = async () => {
      ctx.root.$store.dispatch('employer/newJob/setPromoImage', ctx.root.$store.getters['employer/jobPromoImage/getCurrentPromoImage'])
    }
    const newImageUploaded = async () => {
      ctx.root.$store.dispatch('employer/newJob/setPromoImage', ctx.root.$store.getters['employer/jobPromoImage/getCurrentPromoImage'])
    }

    return {
      newJobData,
      generalData,
      questionsSet,
      questions,
      jobLanguages,
      jobPublisher,
      newJobCategories,
      newJobRegions,
      setNextPromoImage,
      setPrevPromoImage,
      newImageUploaded
    }
  },

})
</script>
<style>
.linkToStep {
  margin-bottom: 20px;
}
.linkToStep:hover {
  cursor: pointer;
  color: #1a76d2;
}
</style>
