]<template>
  <div class="grey lighten-5 rounded-lg newJobDoc">
    <v-card-text>
      <v-btn color="primary" @click="btnClick">
        <v-icon>mdi-paperclip</v-icon>
        Prikačite dokument
      </v-btn>
      <p v-if="uploadedFileName" class="grey--text font-italic mb-0 mt-3">{{uploadedFileName}}</p>
      <div v-if="uploadedFileIsPdf">
        <v-checkbox @change="openPdfDirectly" class="mt-n1 rounded-lg" label="Podesite kao podrazumevani prikaz" hide-details></v-checkbox>
        <span class="grey--text font-italic">
        <v-icon class="mt-n1">mdi-information-variant</v-icon>
        Klikom na Vaš oglas kandidatu će se direktno prikazati PDF dokument umesto regularnog prikaza oglasa. Ovo opcija je dostupna samo ukoliko prikačite PDF dokument.
      </span>
      </div>

      <br>
      <p class="red lighten-5 rounded-lg mb-0 mt-3 pa-3">
         <span :class="wrongSize ? 'red--text font-weight-bold': ''">
           Napomena: Maksimalna veličina dokumenta je 10000 kB!
        </span>
        <span v-if="wrongSize" class="red--text font-italic">
           <br>Veičina izabranog dokumenta:{{wrongSize}}
        </span>
        <br>
        <span :class="wrongType ? 'red--text font-weight-bold': ''">
          Dozvoljeni tipovi dokumenta su sledeći: pdf|doc|jpg|png|gif|xls|xlsx
        </span>
        <span v-if="wrongType" class="red--text font-italic">
          <br>Tip izabranog dokumenta: {{wrongType}}
        </span>
      </p>
      <input
          type="file"
          style="display: none"
          class="upldInput"
          id="upldInput"
          @change="upload"
      >
    </v-card-text>
  </div>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'


export default defineComponent({
  name: 'NewJobUploadFile',
  components: {},
  props: {},
  setup(props, ctx) {
    const btnClick = (event) => {
      let fileInput = document.getElementsByClassName('upldInput')[0];
      fileInput.click();
    };


    const uploadedFileName = computed(() => {
      return  ctx.root.$store.state.employer.newJob.file.upload_document?.get('upload_document').name
    })

    const uploadedFileIsPdf = computed(() => {
      return  ctx.root.$store.state.employer.newJob.file.upload_document?.get('upload_document').type === 'application/pdf'
    })

    const upload = (event) => {
      if (!event.target.files.length) return

      ctx.root.$store.dispatch('employer/newJob/setOpenPdfDirectly', false)

      let ext = event.target.files[0].type.split('/')[1];
      if(['pdf','doc','jpg','jpeg','png','gif','xls','xlsx'].indexOf(ext) === -1) {
        document.getElementById('upldInput').setAttribute('value', '')
        ctx.root.$store.dispatch('employer/newJob/setFile', null)
        wrongType.value = ext;
        return;
      }else {
        wrongType.value = ''
      }

      let size = event.target.files[0].size;
      size = Math.round((size / 1024));
      if (size >= 10000) {
        document.getElementById('upldInput').setAttribute('value', '')
        ctx.root.$store.dispatch('employer/newJob/setFile', null)
        wrongSize.value = size;
        return;
      } else {
        wrongSize.value = 0;
      }

      
      let formdata = new FormData();
      formdata.append('upload_document', event.target.files[0], event.target.files[0].name);
      ctx.root.$store.dispatch('employer/newJob/setFile', formdata)
    };

    const openPdfDirectly = (event) => {
      ctx.root.$store.dispatch('employer/newJob/setOpenPdfDirectly', event)
    };

    const wrongType = ref('');
    const wrongSize = ref(0);
    return {
      uploadedFileIsPdf,
      uploadedFileName,
      wrongType,
      wrongSize,
      upload,
      btnClick,
      openPdfDirectly,
    }
  },

})
</script>
<style>
.newJobDoc .theme--light .v-input__slot {
  background: transparent !important;
}
</style>
