<template>
  <v-card
      outlined
      class="mb-3"
  >
    <v-row align="center">
      <v-col
          cols="10"
          class="pb-0"
      >
        <v-card-title>
          <div>{{ jobTitle }}</div>
        </v-card-title>
      </v-col>
      <v-col
          cols="2"
          class="pb-0 text-right"
      >
        <v-btn
            class="mr-4 hidden-md-and-down"
            text
            color="red"
        >
          {{ $t('buttons.deleteJob') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-card-subtitle>
      <v-icon class="mt-n1">mdi-map-marker</v-icon>
      {{ jobLocation }}
    </v-card-subtitle>
    <v-card-text>
      <div class="mb-2">
        <label>{{ $t('inputLabels.jobStarts') }}:</label>&nbsp;{{ jobStartDate }}
      </div>

      <div>
        <label>{{ $t('general.jobEndDate') }}:</label>&nbsp; {{ jobEndDate }}
      </div>
      <!--      {{ $t('general.jobExpTime') | ucfirst}} {{jobStartDate}} - {{jobEndDate}}-->

    </v-card-text>
    <v-row
        align="center"
        class="mb-1"
        v-if="type !== 'pending'"
    >
      <v-col
          cols="10"
          class=""
      >
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                text
                color="primary"
                v-bind="attrs"
                v-on="on"
                @click="$router.push(localePath({name:'employer-job-applications-job_id', params:{'job_id': jobId}}))"
            >
              Prijave na konkurs &nbsp; ({{ jobApplications }})
            </v-btn>
          </template>
          <span>{{ $t('general.applicationNumber') }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                text
                color="primary"
                v-bind="attrs"
                v-on="on"
            >
              Broj pregleda&nbsp; ({{ jobViews }})
            </v-btn>
          </template>
          <span>{{ $t('general.applicationViews') }}</span>
        </v-tooltip>
      </v-col>
      <v-col
          cols="2"
          class=" text-right"
      >
      </v-col>
    </v-row>
    <v-card-actions class="hidden-lg-and-up">
      <v-btn
          class="mr-4"
          text
          color="red"
      >
        {{ $t('buttons.deleteJob') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  name: "JobDetails",
  props: {
    jobId: [Number],
    jobTitle: String,
    jobLocation: String,
    jobStartDate: String,
    jobEndDate: String,
    jobApplications: Number,
    jobViews: String,
    type: String,
  },
  setup(props, ctx) {

    let goToApps = (jobId) => {
      let to = ctx.root.localePath({name: 'employer-job-applications-job_id', params: {'job_id': jobId}});
      ctx.root.$router.push(to)
    }
    return {goToApps}
  },
})
</script>

<style scoped>

</style>