<template>
    <v-card class=" elevation-0">
        <v-row>
            <v-col cols="4">
                <p class="ma-3"><b>Naziv konkursa</b></p>
            </v-col>
            <v-col cols="2">
                <p class="ma-3"><b>Prijave na konkurs</b></p>
            </v-col>
            <v-col cols="2">
                <p class="ma-3"><b>Broj pregleda</b></p>
            </v-col>
            <v-col cols="2">
                <p class="ma-3">hello</p>
            </v-col>
            <v-col cols="2">
                <p class="ma-3">hello</p>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    import { defineComponent,ref, computed } from '@vue/composition-api'

    export default defineComponent({
    })
</script>

<style scoped>
    .border {
        border: 1px solid #ccc;
    }
    .title {
        max-width: 300px;
        overflow: hidden;
    }
</style>