<template>
  <v-card class="border elevation-0">
    <v-row>
      <v-col cols="4">
        <p class="ma-3">{{jobDetails.title}}</p>
      </v-col>
      <v-col cols="2">
        <p @click="goToApps(jobDetails.id)" class="ma-3">{{jobDetails.applications_total}}</p>
      </v-col>
      <v-col cols="2">
        <p class="ma-3">{{jobDetails.views_total}}</p>
      </v-col>
      <v-col cols="2">
        <p class="ma-3">hello</p>
      </v-col>
      <v-col cols="2">
        <p class="ma-3">hello</p>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import { defineComponent,ref, computed } from '@vue/composition-api'

export default defineComponent({
  name: "JobDetails",
  props: {
    jobDetails: Object
  },
  setup(props, ctx) {

    let goToApps = (jobId) => {
      let to = ctx.root.localePath({name:'employer-job-applications-job_id', params:{'job_id': jobId}});
      ctx.root.$router.push(to)
    }
    return {goToApps}
  },
})
</script>

<style scoped>
.border {
  border: 1px solid #ccc;
}
.title {
  max-width: 300px;
  overflow: hidden;
}
</style>