<template>
  <v-row justify="center" align-content="center" class="noJobsWrapper">
    <v-col cols="12">
      <div class="pa-16 text-center">
        <p class="text-center">{{ text }}</p>
        <p class="text-center font14 font-weight-medium mb-0">{{ subtext }}</p>
<!--        <v-img class="mx-auto my-10" width="130" src="/find_item.png"></v-img>-->

        <!--              <v-icon class="my-10" style="font-size: 100px">mdi-feature-search-outline</v-icon>-->
        <v-card-text>
          <PostJobButton
            classes="buttonBlue rounded-lg"
          />
        </v-card-text>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import PostJobButton from "../../PostJobButton";

export default defineComponent({
  name: "NoJobs",
  components: {PostJobButton},
  props: {
    text: String,
    subtext: {
      type:String,
      default: ''
    }
  },
  setup(props, ctx) {

    let goToApps = (jobId) => {
      let to = ctx.root.localePath({name:'employer-job-applications-job_id', params:{'job_id': jobId}});
      ctx.root.$router.push(to)
    }
    return {goToApps}
  },
})
</script>
<style>
.noJobsWrapper {
  height: 86vh;
  background: #f6f8fa;
  position: relative;
  left: -16px;
  width: 115%;
}
</style>