<template>
  <v-card
      outlined
      class="mb-3"
  >
    <v-row align="center">

      <v-col
          cols="10"
          class="pb-0"
      >
        <v-card-title>
          <div>{{ jobTitle }}</div>
        </v-card-title>
      </v-col>
      <v-col
          cols="2"
          class="pb-0 text-right"
      >
        <v-btn
            class="mr-4 hidden-md-and-down"
            text
            color="blue"
        >
          <v-icon>mdi-information-variant</v-icon>
         {{ $t('general.paymentDetails') | ucfirst}}
        </v-btn>
      </v-col>
    </v-row>
    <v-card-subtitle>
      <v-icon class="mt-n1">mdi-map-marker</v-icon>
      {{ jobLocation }}
    </v-card-subtitle>
    <v-card-text>
      <div
          class="mb-2"
      >
        <label>{{ $t('general.jobStartDate') }}:</label>&nbsp;{{$t('whenPaymentIsConfirmed')}}
      </div>

      <div>
        <label>{{ $t('general.jobEndDate') }}:</label>&nbsp; {{ jobEndDate }}
      </div>
      <!--      {{ $t('general.jobExpTime') | ucfirst}} {{jobStartDate}} - {{jobEndDate}}-->

    </v-card-text>

    <v-card-actions class="hidden-lg-and-up">
      <v-btn
          v-if="false"
          class="mr-4"
          text
          color="blue"
      >
        <v-icon>mdi-information-variant</v-icon>
       {{$t('general.paymentDetails') | ucfirst}}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  name: "JobDetails",
  props: {
    jobId: [Number],
    jobTitle: String,
    jobLocation: String,
    jobStartDate: String,
    jobEndDate: String,
    jobApplications: Number,
    jobViews: String,
    type: String,
  },
  setup(props, ctx) {

    let goToApps = (jobId) => {
      let to = ctx.root.localePath({name: 'employer-job-applications-job_id', params: {'job_id': jobId}});
      ctx.root.$router.push(to)
    }
    return {goToApps}
  },
})
</script>

<style scoped>

</style>