<template>
  <v-row
      justify="center"
      class="mt-10"
  >
    <v-col
        cols="12"
        class="text-center"
    >
      <!--      <h3>{{ $t('general.loginMainMsg') | ucfirst }}</h3>-->
    </v-col>
    <v-col
        cols="12"
        md="8"
        lg="4"
    >
      <v-card
          outlined
          style="border:none!important"
          tile
      >
        <div class="px-10 py-4">
          <h3>{{ $t('lookingForJobPromoText') }}</h3>
          <p class="">{{ $t('general.loginAsCandidate') | ucfirst }}</p>
          <v-divider class="customFullDivider mt-5 mb-7"></v-divider>
          <v-row>
            <v-col
                cols="12"
                md="6"
            >
              <client-only>
                <GoogleLogin/>
              </client-only>
            </v-col>
            <v-col
                cols="12"
                md="6"
            >
              <FacebookLogin/>
            </v-col>
            <v-col cols="12 text-center mb-3">
              <p class="ma-0">{{ $t('orUseEmailAddress') }}</p>
            </v-col>
          </v-row>

          <v-form
              ref="form"
              lazy-validation
          >
            <LoginForm @login="loginCandidate"/>

            <p class="my-5">{{ $t('general.notRegistered') | ucfirst }}?
              <nuxt-link
                  :to="localePath('candidate-register')"
                  class="font-weight-medium"
              >{{ $t('general.createAccountForFree') | ucfirst }}
              </nuxt-link>
            </p>


          </v-form>
        </div>
      </v-card>
    </v-col>
  </v-row>

</template>

<script>
import {defineComponent, ref} from '@vue/composition-api'
import LoginForm from "../../../components/common/forms/LoginForm";
import FacebookLogin from "~/components/candidate/auth/FacebookLogin";
import GoogleLogin from "../../../components/candidate/auth/GoogleLogin";

export default defineComponent({
  middleware: ['candidate_unauth', 'employer_unauth'],
  components: {
    LoginForm,
    FacebookLogin,
    GoogleLogin
  },
  head() {
    return {
      title: this.title,
      meta: [
        {
          name: 'google-signin-client_id',
          content: '605872476434-vol6r59gu21pp4s0e18m0inaparvkhat.apps.googleusercontent.com'
        },
      ],
      script: [
        {
          src: '/js/fb-sdk.js'
        },
        {
          src: "https://accounts.google.com/gsi/client",
          async: true,
          defer: true
        },
      ]
    }
  },
  setup(props, ctx) {
    const loginCandidate = async ($evt) => {
      await ctx.root.$store.dispatch('candidate/auth/login', {
        email: $evt.email,
        password: $evt.password
      })
    }
    return {
      loginCandidate
    }
  },
})
</script>

<style scoped>

</style>