<template>
  <v-card class="mb-2 rounded-lg applicationCard" outlined >
    <v-row class="pa-2">

      <!-- THIS ONE OPENS APP DETAILS IN REGULAR WAY -->
      <v-col class="hidden-sm-and-down" @click="$emit('showAppDetails', app)"  >
        <div class="candidateAvatar mr-2">
          <span class="initials greyText" >{{getInitials(app.full_name)}}</span>
        </div>
        <div class="detailsWrapper">
          <div class="font-weight-bold pointer">
            {{ app.full_name }}
          </div>

          <div class="greyText font14">{{ app.address }}</div>
          <div class="greyText font14">Datum prijave: {{ app.date | date }}</div>
        </div>
      </v-col>

      <!-- THIS ONE OPENS APP DETAILS IN DIALOG (MOBILE VIEW) -->
      <v-col class="hidden-lg-and-up" @click="$emit('showAppDetails', app), $store.dispatch('employer/applications/setMobileApplicantDetails', true)"  >
        <div class="candidateAvatar mr-2">
          <span class="initials greyText" >{{getInitials(app.full_name)}}</span>
        </div>
        <div class="detailsWrapper">
          <!-- THIS ONE OPENS APP DETAILS IN REGULAR WAY -->
          <div
              class="font-weight-bold pointer "
          >
            {{ app.full_name }}
          </div>

          <div class="greyText font14">{{ app.address }}</div>
          <div class="greyText font14">Datum prijave: {{ app.date | date }}</div>
        </div>
      </v-col>

    </v-row>
    <v-row>
      <v-col cols="12">
        <!--          <div class="font14 greyText" v-html="app.email_message.body"></div>-->
      </v-col>
    </v-row>
    <v-card-actions style="border-top: 1px solid #eee">
      <RateApplicantButtons :app="app"/>
    </v-card-actions>
    <div
        @click="$emit('selectedApp', app.application_id)"
        v-if="allowSelection"
        class="overlay"
        :class="selectedApps.indexOf(app.application_id) > -1 ? 'selected' : 'unselected'"
    ></div>
  </v-card>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import RateApplicantButtons from "../../../components/employer/buttons/RateApplicantButtons";

export default defineComponent({
  props: {
    app: Object,
    questions: Object,
    allowSelection: Boolean,
    selectedApps: Array,
    jobDetails:Object
  },
  components: {
    RateApplicantButtons
  },
  setup(props, ctx) {
    const getInitials = (fullName) => {
      let initials = [];
      let splitName = fullName ? fullName.split(' ') : [];
      for (let i in splitName) {
        initials.push(splitName[i].substring(0, 1))
      }

      return initials.join('');
    }
    return {
      getInitials
    }
  }

})
</script>

<style>
  .detailsWrapper {
    line-height: 27px;
    display: inline-block;
    vertical-align: top;
  }
  .customSeparator {
    border-left: 1px solid;
    min-height: 24px!important;
    display: inline-block;
    position: absolute;
    margin-left: -17px;
    color: #CFD4DD;
  }

  .applicationCard {
    position: relative;
  }

  .unselected {
    border: 1px solid #ccc;
    background: #eeeeee59;
  }

  .selected {
    border: none;
    border-left: 3px solid rgba(65, 103, 252, 0.98);
    background: rgba(238, 238, 238, 0.17);
  }

  .overlay {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    border-radius: 5px;
    z-index: 0;
  }
</style>

