<template>
  <div>
    <div
        class="pointer"
        @click="editNote = !editNote"
    >
      <span>{{$t('general.changeNote')}}</span>
      <v-icon
          v-if="!editNote"
          style="color: #2653F5"
          class=""
      >mdi-pencil
      </v-icon>
      <v-icon
          v-if="editNote"
          class="red--text mt-n1"
      >mdi-close
      </v-icon>
    </div>
    <span
        v-show="savedNoteMsgActive"
        class="savedNote"
    >{{$t('general.saved') | ucfirst}}!</span>
    <v-textarea
        :placeholder="$t('inputLabels.addNoteForCandidate')"
        @input="debounceInput"
        :disabled="!editNote"
        :class="editNote ? 'activeNoteEditor' : 'disabledNoteEditor'"
        class="border pt-10 px-3 rounded-xl"
        height="100"
        :value="comment"
    >
    </v-textarea>
  </div>
</template>
<script>

import {defineComponent, ref} from "@vue/composition-api";
import {computed} from "@vue/composition-api";

export default defineComponent({
  props: {
    comment: String,
    appId: (String, Number)
  },
  components: {},
  setup(props, ctx) {
    const editNote = ref(false);

    const savedNoteMsgActive = ref(false);

    const debounceInput = ctx.root._.debounce(function(input) {
      ctx.root.$axios.patch(
          'api/employer/application_comment/'+props.appId,
          {comment: input}

      ) .then(response => {

        ctx.root.$store.dispatch('employer/applications/updateComment', {appId: props.appId, comment: input})
        if (savedNoteMsgActive.value) {
          clearTimeout(savedNoteTimeout);
        }
        savedNoteMsgActive.value = true
        let savedNoteTimeout = setTimeout(() => savedNoteMsgActive.value = false, 1000)
      })
    }, 500)


    return {
      editNote,
      debounceInput,
      savedNoteMsgActive
    }
  },
  methods: {}

})
</script>

<style>

.notes .v-text-field > .v-input__control > .v-input__slot:before {
  display: none!important;
}
.disabledNoteEditor, .disabledNoteEditor .v-input__slot {
  background: #fafafa!important;
}
.disabledNoteEditor {
  border: 1px solid transparent!important;
}
.activeNoteEditor, .notes .enabledNoteEditor .v-text-field > .v-input__control > .v-input__slot {
  background: #fff!important;
}
.activeNoteEditor {
  border: 1px solid #ccc!important;
}
.savedNote {
  position: absolute;
  font-size: 14px;
  padding: 4px;
  color: green;
  top: 71px;
  left: 8px;
}
</style>

