<template>
  <div class="appDetails white pa-3 pb-14">
    <v-row>
      <v-col cols="12">
        <div
            class="candidateAvatar mr-2"
        >
          <span class="initials greyText" >{{getInitials(app.full_name)}}</span>
        </div>
        <div class="detailsWrapper">

          <!-- THIS ONE OPENS APP DETAILS IN REGULAR WAY -->
          <div class="font-weight-bold pointer">
            {{ app.full_name }}
          </div>

          <div class="greyText font14">
            <v-icon class="font18">mdi-email-outline</v-icon>
            {{ app.email }}
          </div>
          <div class="greyText font14">
            <v-icon class="font18">mdi-map-marker-outline</v-icon>
            {{ app.address }}
          </div>
          <div class="greyText font14">{{$t('general.jobApplicationDate')}}: {{ app.date | date }}</div>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <!--          <div class="font14 greyText" v-html="app.email_message.body"></div>-->
      </v-col>
    </v-row>
    <v-card-actions>
      <RateApplicantButtons :app="app"/>
    </v-card-actions>
    <v-divider class="mb-6 mt-4"></v-divider>
    <EmailToApplicants :recipients="[app.application_id]" :width="'100%'" :activator-btn-text="$t('buttons.sendEmailToApplicant')"/>

    <div class="mt-5">
<!--      <EmailToApplicants :recipients="[app.application_id]" :jobTitle="jobDetails.title" :jobId="jobDetails.id" />-->
      <div
          class="font16 emailFromApplicant"
          v-html="app.email_message.body"
      ></div>
    </div>

    <v-divider class="mb-6 mt-8"></v-divider>

    <div>
      <div class="font-weight-bold text-h6 mb-3">{{$t('general.lastPosition')}}</div>
      <div
          class="font16"
          style="color: #303030"
      >
        <span v-if="app.last_job">{{ app.last_job }}</span>
        <NoItems />

      </div>
    </div>

    <v-divider class="mb-6 mt-8"></v-divider>


    <div>
      <div class="font-weight-bold text-h6 mb-3">{{$t('general.suppliedDocumentation')}}</div>
      <div
          v-for="document in app.documents"
          @click="downloadDocument(document.id, document.filename)"
          class="ml-n1 mb-3 pointer"
      >
        <v-icon class="paperclip font18">mdi-paperclip</v-icon>
        <span
            class="font-weight-bold font14"
            style="color: #2653F5"
        >
          {{ document.filename }}

          <v-icon
              class="font18"
              style="color: #2653F5"
          >mdi-tray-arrow-down</v-icon>
        </span>
      </div>
    </div>

    <div v-if="app.answers">
      <v-divider class="mb-6 mt-8"></v-divider>
      <div class="font-weight-bold text-h6 mb-3">{{$t('questionnaireAnswers')}}</div>
      <QuestionnaireAnswers :answers="app.answers"/>
    </div>

    <v-divider class="mb-6 mt-8"></v-divider>

    <div
        class="notes"
        style="position:relative;"
    >
      <div class="font-weight-bold text-h6 mb-3">{{$t('general.notes')}}</div>
      <ApplicationNote
          :comment="app.comment"
          :appId="app.application_id"
      />
    </div>
  </div>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import RateApplicantButtons from "@/components/employer/buttons/RateApplicantButtons";
import QuestionnaireAnswers from "./QuestionnaireAnswers";
import ApplicationNote from "./ApplicationNote";
import NoItems from "../NoItems";
import EmailToApplicants from "../EmailToApplicants";

export default defineComponent({
  props: {
    app: Object
  },
  components: {
    EmailToApplicants,
    NoItems,
    ApplicationNote,
    QuestionnaireAnswers,
    RateApplicantButtons
  },
  setup(props, ctx) {

    const getInitials = (fullName) => {
      let initials = [];
      let splitName = fullName.split(' ');
      for (let i in splitName) {
        initials.push(splitName[i].substring(0, 1))
      }

      return initials.join('');
    }

    const downloadDocument = async (documentId, documentName) => {
      const response = await ctx.root.$axios.get('/api/employer/document/' + documentId, {responseType: "blob"});
      const blob = new Blob([response.data], {type: response.data.type});
      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = documentName;
      link.click();
      URL.revokeObjectURL(link.href);
    }

    return {
      getInitials,
      downloadDocument
    }
  }

})
</script>

<style>
.detailsWrapper {
  line-height: 27px;
  display: inline-block;
  vertical-align: top;
}
.customSeparator {
  border-left: 1px solid;
  min-height: 24px !important;
  display: inline-block;
  position: absolute;
  margin-left: -17px;
  color: #CFD4DD;
}


.paperclip {
  color: #BDC3CF;
  font-size: 22px;
  margin-top: -1px;
  font-weight: bold;
}

.emailFromApplicant {
  background: rgb(243, 248, 249);
  color: rgb(76, 91, 114);
  line-height: 16px;
  font-style: italic;
  padding: 20px 10px;
  border-radius: 8px;
}
</style>

