<template>
  <div>
    <v-dialog
        v-model="dialog"
        width="800"
        scrollable
    >
      <template v-slot:activator="{ on, attrs }">
        <div
            :style="'background-image: url('+job.promo_image+')'"
            class="editPromo float-end mb-n5 mb-md-n12"
            v-bind="attrs"
            v-on="on"
        >
          <v-icon>
            mdi-pencil
          </v-icon>
        </div>
      </template>
      <v-card
          style="min-height: 80vh"
      >
        <v-card-title class="pa-2">
          <v-spacer></v-spacer>
          <v-btn text plain :ripple="false" @click="dialog = false">{{$t('general.close')}}<v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>
        <v-card-text class="pa-3">
          <SetPromoImage />
        </v-card-text>
        <v-card-actions class="cardActions">
          <v-spacer></v-spacer>
          <v-btn class="rounded-lg" depressed >
            {{$t('general.leave') | ucfirst}}
          </v-btn>
          <v-btn class="rounded-lg buttonBlue white--text" depressed @click="updatePromoImage">
            {{$t('general.save') | ucfirst}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
        v-model="notifDialog"
        max-width="500"
    >
      <v-card>
        <v-card-title class="text-h5">
          <span v-if="uploaded">{{$t('mainDialogContent.promoImageChanged.title')}}</span>
          <span v-if="!uploaded">{{$t('mainDialogContent.promoImageNotChanged.title')}}</span>

        </v-card-title>

        <v-card-text>
          <div>
            <span v-if="uploaded">{{$t('mainDialogContent.promoImageChanged.body')}}</span>
            <span v-if="!uploaded">{{$t('mainDialogContent.promoImageNotChanged.body')}}</span>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
              text
              color="blue"
              @click="notifDialog = false"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import RateApplicantButtons from "../../../components/employer/buttons/RateApplicantButtons";
import SetPromoImage from "../newJob/SetPromoImage";
import MainDialog from "../../common/dialgos/MainDialog";

export default defineComponent({
  name: 'EditPromoImageDialog',
  props: {
    job: {
      default: null,
      type: Object
    },
  },
  components: {
    MainDialog,
    SetPromoImage
  },
  setup(props, ctx) {
    const dialog = ref(false);

    watch(dialog, async () => {
      if (dialog) {
        await ctx.root.$store.dispatch('employer/jobPromoImage/setPromoImages', props.job.categories);
        ctx.root.$store.dispatch('employer/jobPromoImage/setCurrentPromoImage', props.job.promo_image);
      } else {
        ctx.root.$store.dispatch('employer/jobPromoImage/resetAll');
      }
    })
    const uploaded = ref(false);
    const notifDialog = ref(false);

    const updatePromoImage = async () => {
      uploaded.value = await ctx.root.$store.dispatch('employer/jobs/updatePromoImage', props.job.id);
      notifDialog.value = true;
    }
    return {
      dialog,
      updatePromoImage,
      notifDialog,
      uploaded
    }
  }

})
</script>

<style>

.editPromo {
  width: 80px;
  height: 80px;
  /*position: absolute;*/
  right: 0px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  border-radius: 8px!important;
  border: 1px dashed #ccc;
  cursor: pointer;
  background-size: contain;
  background-position: center;
}

.editPromo:hover {
  border-color: #1a76d2;
}

.editPromo i::before {
  content: "\F03EB";
  background: #00000099;
  padding: 7px;
  border-radius: 40px;
  color: #ffffff;
  font-size: 18px;
}


</style>

