<template>
  <v-card class="pa-2 elevation-0 borderBottom rounded-0 mb-2">
    <v-row align="start" >
      <v-col cols="12">
        <span class="rounded productCodeInJobTitle float-start">
          {{ getProductCode(job.product_code) }}
        </span>
        <v-btn
            v-if="!isActive && !isPending"
            plain
            color="#4059DF"
            :ripple="false"
            class="pointer rounded-lg white--text buttonBlue font14  float-end"
            @click="$store.dispatch('employer/newJob/recreateJob', job)"
        >
          <v-icon class="mr-2 font18">mdi-reload</v-icon>
          <span class="font14 font-weight-bold">{{ $t('buttons.recreateJob') }}</span>
        </v-btn>
      </v-col>
      <v-col cols="12" class="pt-0 pb-0">
        <div class="jobTitle mt-2">{{ job.title }}</div>
      </v-col>
      <v-col cols="12">
<!--        <v-row align="center">-->
<!--          <v-col-->
<!--              cols="2"-->
<!--              class="text-right"-->
<!--          >-->
<!--            <div-->
<!--                class="editBtn"-->
<!--                v-show="false"-->
<!--            >-->
<!--              <v-icon style="font-size: 15px">mdi-pencil</v-icon>-->
<!--              {{ $t('general.edit') }}-->
<!--            </div>-->
<!--          </v-col>-->
<!--        </v-row>-->

        <div class="jobGreyCnt float-start pt-0">{{ job.start_date | date }} - {{ job.expires | date }}</div>
        <EditPromoImageDialog v-if="!isShortAd" :job="job" />
      </v-col>
      <v-col cosl="12">
        <div>
          <span class="appsAndViews font-weight-bold">{{ $t('general.views') | ucfirst }}: {{ job.views_total }}</span>
          <v-divider
              vertical
              style="height: 18px"
              class="grey darken-3 mx-1"
          ></v-divider>
          <span class="appsAndViews font-weight-bold">{{ $t('general.applications') | ucfirst }}: {{
              job.applications_total
                                                      }}</span>
          <v-divider
              vertical
              style="height: 18px"
              class="grey darken-3 mx-1"
          ></v-divider>
          <span
              class="jobTitle"
              style="font-size: 14px"
              @click="$emit('showAppsForJob')"
          >{{ $t('seeAllApps') }}</span>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import EditPromoImageDialog from "./EditPromoImageDialog";

export default defineComponent({
  name: 'Job',
  components: {EditPromoImageDialog},
  props: {
    job: Object,
    isPending: {
      type: Boolean,
      default: false
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },
  setup(props, ctx) {
    const isShortAd = computed(() => {
      return props.job.product_code.indexOf('besplatan') > -1
    })
    return {
      isShortAd
    }
  },

  data() {
    return {
      tab: null
    }
  },
  methods: {
    getProductCode(productCode) {
      let product = this.$store.state.common.generalData.posting_prices.filter(posting_price => {
        return posting_price.code == productCode
      })

      return product[0].name
    },

    getCityNames(allRegions, postRegions) {
      let cities = [];
      allRegions.map(region => {
        if (postRegions.indexOf(region.id) > -1) {
          cities.push(region.name)
        }
      })
      return cities.join(', ');
    }
  }

})
</script>

<style>
.jobTitle {
  color: #2653F5;
  font-weight: bold;
  cursor: pointer;
  line-height: 25px;
}

.editBtn {
  color: #2653F5;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.productCodeInJobTitle {
  padding: 4px 8px;
  color: #7D8696;
  background: rgba(38, 83, 245, 0.1);
  font-weight: 600;
}

.editBtn i {
  color: #2653F5 !important;
}

.jobGreyCnt {
  font-size: 14px;
  color: #7D8696;
  font-weight: 500;
}

.appsAndViews {
  font-size: 14px;
  color: #0d0d0d !important;
}

.jobs .v-banner__wrapper {
  padding: 0px;
}

.jobs .v-banner {

  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

.jobs .theme--light.v-tabs-items {
  background: transparent;
}

.postingTypes label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #0d0d0d !important;
}
</style>

