<template>
  <div>
    <v-row
        align="center"
        v-if="!allowSelectForEmail"
    >
      <v-col
          cols="3"
          class="text-left font-weight-bold greyText font16"
      >
        {{ $t('general.applications') | ucfirst }}: {{ jobDetails.applications_total }}

      </v-col>
      <v-col
          cols="9"
          class="text-right"
      >

        <v-btn
            depressed
            color="buttonBlue rounded-lg"
            dark
            class="mr-5 hidden-md-and-down"
            bottom
            @click="allowSelectForEmail = true"
        >
          <span class="">{{ $t('buttons.groupEmail') }}</span>
          <v-icon class="text-center ml-2 font18">mdi-email-multiple-outline</v-icon>
        </v-btn>

        <v-btn
            icon
            color="primary"
            dark
            class="mr-5 hidden-lg-and-up"
            bottom
            @click="allowSelectForEmail = true"
        >
          <v-icon class="text-center ml-2">mdi-email-multiple-outline</v-icon>
        </v-btn>

        <SortApplications/>
      </v-col>
    </v-row>


    <v-row
        align="center"
        justify="space-between"
        v-if="allowSelectForEmail"
    >
      <v-col
          cols="12"
          class="font-weight-medium"
      >
        <InfoBlock :text="$t('chooseReceivers') +' ('+selectedApps.length+')'" />
      </v-col>

      <v-col
          cols="12"
          md="4"
          class="py-0"
      >
        <v-checkbox
            @click="selectAllVisibleApps"
            hide-details
            class="mt-0"
            :label="$t('inputLabels.selectAll')"
        ></v-checkbox>
      </v-col>

      <v-col
          cols="12"
          md="8"
          class="text-left text-md-right"
      >
        <EmailToApplicants
            @emailSent="allowSelectForEmail = false, selectedApps = [], selectAll = false"
            :width="'160px'"
            :recipients="selectedApps"
        />
        <v-btn
            class="mr-0 mr-md-5 rounded-lg"
            color="red"
            dark
            depressed
            @click="allowSelectForEmail = false, selectedApps = [], selectAll = false"
        >
          {{ $t('general.leave') | ucfirst }}
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-col>

    </v-row>
    <br>
    <Application
        v-for="app in filteredApps"
        :allowSelection="allowSelectForEmail"
        :selectedApps="selectedApps"
        @selectedApp="selectApp($event)"
        @showAppDetails="$emit('showAppDetails', $event)"
        :app="app"
        :jobDetails="jobDetails"
        :questions="questions"
    />
  </div>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import SortApplications from "../../../components/employer/menus/SortApplications";
import RateApplicantButtons from "../../../components/employer/buttons/RateApplicantButtons";
import ApplicationListItem from "@/components/employer/listItems/applications/ApplicationListItem";
import SubheaderLinks from "@/components/employer/listItems/applications/SubheaderLinks";
import TopActionsListItem from "@/components/employer/listItems/applications/TopActionsListItem";
import Application from "../../../components/employer/jobs/Application";
import EmailToApplicants from "../EmailToApplicants";
import InfoBlock from "../../InfoBlock";

export default defineComponent({
  props: {
    jobDetails: Object
  },
  components: {
    InfoBlock,
    EmailToApplicants,
    SortApplications,
    RateApplicantButtons,
    ApplicationListItem,
    TopActionsListItem,
    SubheaderLinks,
    Application
  },
  setup(props, ctx) {
    ctx.root.$store.dispatch('employer/applications/setAllAppData', props.jobDetails.id)
    ctx.root.$store.dispatch('employer/applications/setJobForApplication', props.jobDetails)

    let apps = ref([]);
    const questions = ref(null)
    ctx.root.$axios.get('/api/public/questions/' + props.jobDetails.id)
        .then(response => {
          questions.value = response
        })

    const filteredApps = computed(() => {
      return ctx.root.$store.getters['employer/applications/getFiltered']
    });

    const questionnaireFilter = ref([]);

    const filterByQuestionnaire = (fbqData) => {
      if (Object.keys(fbqData).length) {
        let visibelApps = [];
        for (let appId in apps.value) {
          let appPasses = [];
          for (let checked in fbqData) {
            let checkedForFilter = fbqData[checked];
            let candidateChecked = apps.value[appId].answers[checked];
            let validator = [];
            for (let id in checkedForFilter) {
              if (Array.isArray(candidateChecked)) {
                if (candidateChecked.indexOf(checkedForFilter[id]) > -1) {
                  validator.push(true);
                } else {
                  validator.push(false);
                }
              } else {
                if (candidateChecked == checkedForFilter[id]) {
                  validator.push(true);
                } else {
                  validator.push(false);
                }
              }
            }

            if (validator.indexOf(true) === -1) appPasses.push(false)
            else appPasses.push(true);
          }

          if (appPasses.indexOf(false) === -1) visibelApps.push(apps.value[appId])
        }
        filteredApps.value = visibelApps;
      } else {
        filteredApps.value = apps.value;
      }
    }

    const grade = (appGrade, match) => {
      return appGrade == match ? 'v-btn--active' : '';
    }

    const allowSelectForEmail = ref(false);
    const selectAll = ref(false);
    const selectedApps = ref([]);
    const selectApp = (appId) => {
      let index = selectedApps.value.indexOf(appId);
      if (index > -1) {
        selectedApps.value.splice(index, 1)
      } else {
        selectedApps.value.push(appId);
      }
    }

    const selectAllVisibleApps = (evt) => {
      selectedApps.value = [];
      selectAll.value = !selectAll.value
      if (selectAll.value) {
        filteredApps.value.map(app => {
          selectedApps.value.push(app.application_id)
        })
      }
    }

    return {
      filteredApps,
      filterByQuestionnaire,
      grade,
      questions,
      allowSelectForEmail,
      selectAll,
      selectedApps,
      selectAllVisibleApps,
      selectApp

    }
  },
  methods: {
    getProductCode(productCode) {
      let product = this.$store.state.common.generalData.posting_prices.filter(posting_price => {
        return posting_price.code == productCode
      })

      return product[0].name
    }
  }

})
</script>

<style>
.customSeparator {
  border-left: 1px solid;
  min-height: 24px !important;
  display: inline-block;
  position: absolute;
  margin-left: -17px;
  color: #CFD4DD;
}
</style>

