<template>
  <div>
    <div
        v-for="(answerIds, questionId) in answers"
    >
      <div
          v-for="currentQuestion in currentJobQuestionnaire"
          v-if="questionId == currentQuestion.id"
      >

        <!--- IF QUESTION TYPE IS TEXT -->
        <div class="mb-2 grey lighten-5 pa-4 rounded-lg" v-if="currentQuestion.answer_type == 'text'">
          <div class="font14 font-weight-bold mb-3">{{currentQuestion.question}}</div>
          <div>{{answerIds}}</div>
        </div>

        <!--- IF QUESTION TYPE IS RADIO -->
        <div class="mb-2 grey lighten-5 pa-4 rounded-lg" v-if="currentQuestion.answer_type == 'radio'">
          <div
              v-for="option in currentQuestion.options"
              v-if="answerIds == option.id"
          >
            <div class="font14 font-weight-bold mb-3">{{currentQuestion.question}}</div>
            <div>{{option.option}}</div>
          </div>
        </div>

        <!--- IF QUESTION TYPE IS CHECKBOX -->
        <div class="mb-2 grey lighten-5 pa-4 rounded-lg" v-if="currentQuestion.answer_type == 'checkbox'">
          <div class="font14 font-weight-bold mb-3">{{currentQuestion.question}}</div>
          <span>{{formAnswers(answerIds, currentQuestion.options)}}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import {defineComponent} from "@vue/composition-api";
import {computed} from "@vue/composition-api";

export default defineComponent({
  props: {
    answers: Object
  },
  components: {

  },
  setup(props, ctx) {
    const currentJobQuestionnaire = computed(() => ctx.root.$store.getters['employer/applications/getQuestionnaireForCurrentJob'])

    const formAnswers = (answerIds, options) => {
      let answers = [];
      answerIds.map(answerId => {
        options.map(optionDetails => {
          if (answerId == optionDetails.id) {
            answers.push(optionDetails.option)
          }
        })
      })
      return answers.join(', ')
    }

    return {
      currentJobQuestionnaire,
      formAnswers
    }
  },
  methods: {

  }

})
</script>

<style>

</style>

