<template>
  <div class="mt-3">

    <div v-if="jobDetails">
      <v-btn
          class="pl-0"
          text
          @click="$emit('hideAppsForJob')"
      >
        <v-icon>mdi-chevron-left</v-icon>
        {{$t('buttons.backToAllJobs')}}
      </v-btn>
      <v-divider class="mt-2 mb-5"></v-divider>
      <span class="rounded py-1 px-3 productCodeInJobTitle">
          {{ getProductCode(jobDetails.product_code) }}
        </span>

      <h4 class="jobTitle mt-5">{{ jobDetails.title }}</h4>

      <div class="jobGreyCnt mt-4">
        {{ jobDetails.start_date | date }} - {{ jobDetails.expires | date }}
      </div>
      <v-divider class="mt-6 mb-5"></v-divider>
    </div>

    <v-row v-if="!jobDetails">
      <v-col cols="12">
        <span class="font-weight-bold menuSlotHeading">{{$t('links.employers.myJobs') |ucfirst}}</span>
      </v-col>
      <v-col
          cols="12"
          class="pb-0"
      >
        <p
            :class="shownJobs === 'active' ? 'lighten-5 blue-grey' : ''"
            class="pa-2 rounded-lg ma-0 pointer menuSlotLink"
            @click="$emit('showJobs', 'active')"
        >{{ $t('general.jobStatus.active') | ucfirst}}
        </p>
      </v-col>
      <v-col
          cols="12"
          class="pb-0 pt-1"
      >
        <p
            :class="shownJobs === 'expired' ? 'lighten-5 blue-grey' : ''"
            class="pa-2 rounded-lg ma-0 pointer menuSlotLink"
            @click="$emit('showJobs', 'expired')"
        >{{ $t('general.jobStatus.expired') | ucfirst }}
        </p>
      </v-col>
      <v-col
          cols="12"
          class="pb-0 pt-1"
      >
        <p
            :class="shownJobs === 'pending' ? 'lighten-5 blue-grey' : ''"
            class="pa-2 rounded-lg ma-0 pointer menuSlotLink"
            @click="$emit('showJobs', 'pending')"
        >{{ $t('general.jobStatus.pending') | ucfirst }}
        </p>
      </v-col>
      <v-divider class="mt-6 mb-5"></v-divider>
    </v-row>

    <v-row  v-if="jobDetails" class=" applicationGroups" >
      <v-col cols="12">
        <span class="font-weight-bold">{{ $t('general.showApps') | ucfirst}}:</span>
      </v-col>
      <v-col
          cols="12"
          class="py-0"
      >
        <v-checkbox
            v-model="visibleApps"
            class="ma-0 pa-0"
            disabled
            color="purple"
            :label="$t('inputLabels.all')+' ('  +  (jobDetails.applications_total) + ')'"
            :value="5"
            hide-details
        ></v-checkbox>
      </v-col>
      <v-col
          cols="12"
          class="py-0 mt-n2"
      >
        <v-checkbox
            v-model="visibleApps"
            @change="setVisibleApps($event, 3)"
            class="ma-0 pa-0"
            color="purple"
            :label="$t('inputLabels.saved')+' ('  +  allApps.filter(app => app.grade == 3).length + ')'"
            :value="3"
            hide-details
        ></v-checkbox>
      </v-col>
      <v-col
          cols="12"
          class="py-0 mt-n2"
      >
        <v-checkbox
            v-model="visibleApps"
            @change="setVisibleApps($event, 1)"
            class="ma-0 pa-0"
            color="purple"
            :label="$t('inputLabels.rejected')+' ('  +  allApps.filter(app => app.grade == 1).length + ')'"
            :value="1"
            hide-details
        ></v-checkbox>
      </v-col>
      <v-col
          cols="12"
          class="py-0 mt-n2"
      >
        <v-checkbox
            v-model="visibleApps"
            @change="setVisibleApps($event, 2)"
            class="ma-0 pa-0"
            color="purple"
            :label="$t('inputLabels.maybe')+' ('  +  allApps.filter(app => app.grade == 2).length + ')'"
            :value="2"
            hide-details
        ></v-checkbox>
      </v-col>

      <v-col
          cols="12"
          class="py-0 mt-n2"
      >
        <v-checkbox
            v-model="visibleApps"
            @change="setVisibleApps($event, 2)"
            class="ma-0 pa-0"
            color="purple"
            :label="$t('inputLabels.unallocated')+' ('  +  allApps.filter(app => app.grade == 0).length + ')'"
            :value="0"
            hide-details
        ></v-checkbox>
      </v-col>
      <v-col v-if="jobDetails.questionnaire && jobDetails.questionnaire.length" cols="12">
        <v-divider class="mb-5"></v-divider>

        <span class="hidden-md-and-down">
          <FilterByQuestionnaire :fullScreen="false" />
        </span>
        <span class="hidden-lg-and-up">
          <FilterByQuestionnaire :fullScreen="true" />
        </span>

        <div class="blue lighten-5 rounded-lg pa-3 mb-1"
          v-for="selectedQuestion in getQuestionnaireSelectedAnswers"
        >
          <div class="selectedQ">
           <b>{{ $t('general.question') | ucfirst}}:</b>{{selectedQuestion.q }}
          </div>
          <div class="selectedAns">
            <b>{{ $t('general.answers') | ucfirst}}:</b>
            <div v-for="ans in selectedQuestion.ans">
              - {{ans}}
            </div>
          </div>
        </div>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="mt-16">
        <PostJobButton classes="buttonBlue rounded-lg" width="100%"/>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import FilterByQuestionnaire from "../../../components/employer/dialogs/FilterByQuestionnaire";
import PostJobButton from "../../PostJobButton";

export default defineComponent({
  name: 'SidebarMenu',
  components: {PostJobButton, FilterByQuestionnaire},
  props: {
    shownJobs: String,
    shownJobTypeProp: Array,
    jobDetails: Object
  },
  setup(props, ctx) {
    const postingPrices = computed(() => {
      return ctx.root.$store.state.common.generalData.posting_prices
    })

    const fbqQuestions = computed(() => {
      return ctx.root.$store.state.employer.applications.filters.questionnaire
    })

    const shownJobType = ref([]);
    shownJobType.value = props.shownJobTypeProp

    const visibleApps = ref([5]);  //sve po difoltu
    const setVisibleApps = (checked, grade) => {
      visibleApps.value = visibleApps.value.filter(visibleApp => visibleApp !== 5)
      if (!visibleApps.value.length) {
        visibleApps.value.push(5)
      }

      ctx.root.$store.dispatch('employer/applications/filterByGrade', visibleApps.value)
    }

    const getQuestionnaireSelectedAnswers = computed(() => {
        let questions = [];
        props.jobDetails.questionnaire.map(question => {
          let fbqQuestionIndex = ctx.root._.findIndex(fbqQuestions.value, {ansId: question.id})
          if (fbqQuestionIndex > -1 ){
            let obj = {q: question.title, ans: [] }
            fbqQuestions.value[fbqQuestionIndex].optIds.map(optId => {
              let questionOptIndex = ctx.root._.findIndex(question.answers, {id: optId})
              if (questionOptIndex > -1 ){
                obj.ans.push(question.answers[questionOptIndex].title)
              }
            })
            questions.push(obj)
          }
        })
      return questions;
    })

    const allApps = computed(() => {
      return ctx.root.$store.getters['employer/applications/getAll']
    });

    return {
      setVisibleApps,
      postingPrices,
      shownJobType,
      visibleApps,
      allApps,
      fbqQuestions,
      getQuestionnaireSelectedAnswers

    }
  },

  methods: {
    getProductCode(productCode) {
      let product = this.$store.state.common.generalData.posting_prices.filter(posting_price => {
        return posting_price.code == productCode
      })

      return product[0].name
    }
  }



})
</script>

<style>
.applicationGroups label {
  font-weight: normal!important;
  color: #3a3a3a!important;
}
.selectedQ {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>

