<template>
  <DefaultPageWrapper class="white">
    <h1 class="text-center mb-5">{{$t('adsWeOffer')}}</h1>

    <v-row justify="center" align="center">
      <v-col cols="4" md="5" class="text-right">
          <span class="font-weight-medium font18">15 dana</span>
      </v-col>
      <v-col cols="2" md="1" class=" text-center">
        <div class="rounded-xl switchWrapper mx-auto pointer" @click="changePriceType">
          <v-scroll-x-reverse-transition >

            <v-icon
                v-if="priceType==15"
                color="#0D387F"
                class="ml-n5"
            >
              mdi-checkbox-blank-circle
            </v-icon>
            <v-icon
                v-if="priceType==30"
                class="mr-n5"
                color="#0D387F"
            >
              mdi-checkbox-blank-circle
            </v-icon>
          </v-scroll-x-reverse-transition>

        </div>
      </v-col>

      <v-col cols="4" md="5">
        <span class="font-weight-medium font18">30 dana</span>
      </v-col>
    </v-row>

    <v-row justify="center" align="center" class="px-lg-16 mt-12">
      <v-col
          v-for="price in computedPriceList"
          v-if="!((locale == 'en') && (['besplatanplaceni15', 'besplatan15'].indexOf(price.code) > -1))"
          cols="12" md="6" lg="4" class="text-right">
        <v-card color="#F7F8F9" class="elevation-0 pa-7 rounded-xl">
          <div class="text-left">
            <h1 class="font-weight-light text-left">
              {{price[locale].name_short.toUpperCase()}}
            </h1>
            <PriceDetails
                :title="price[locale].name_short.toUpperCase()"
                :days="price.days_valid.toUpperCase()"
                :code="price.code"
            />

            <v-divider class="mt-4 mb-4"></v-divider>

            <div class="grey--text font-weight-medium">
              {{$t('general.on') |ucfirst}} {{price.days_valid}} {{$t('general.days') }}
            </div>
            <div class="font-weight-regular" style="font-size: 36px!important;">
              {{price[locale].price}} {{locale == 'sr' ? 'RSD' : 'EUR'}}
              <small v-if="price[locale].price > 0" class="font14">{{locale == 'sr' ? '+PDV' : ''}}</small>
            </div>
          </div>

          <PostJobButton
              :code="price.code"
              :icon="false"
              width="100%"
            classes="rounded-xl buttonBlue mx-auto mt-8 mb-10"
          />

<!--          <div style="height: 59px" class="text-center" v-if="price.code.indexOf('besplatan') > -1"></div>-->

          <div class="text-center" v-if="price.code.indexOf('besplatan') === -1">
            <div class="grey--text font-weight-medium">
              {{$t('advertisingMoreJobs')}}

                <PackageDetails
                    :title="price[locale].name_short.toUpperCase()"
                    :days="price.days_valid.toUpperCase()"
                    :code="price.code"
                />
            </div>
          </div>

          <div class="text-center" v-if="price.code.indexOf('besplatan') > -1">
            <div class="grey--text font-weight-medium">
              <p>{{$t('packagesNotAllowed')}}</p>
            </div>
          </div>

        </v-card>
      </v-col>
    </v-row>
  </DefaultPageWrapper>

</template>
<script>
    import {defineComponent, ref, computed} from '@vue/composition-api'
    import DefaultPageWrapper from "../../components/DefaultPageWrapper";
    import PriceDetails from "../../components/price-list/PriceDetails";
    import PackageDetails from "../../components/price-list/PackageDetails";
    import PostJobButton from "../../components/PostJobButton";

    export default defineComponent({
      components: {PostJobButton, PackageDetails, PriceDetails, DefaultPageWrapper},
      setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;

            let priceList = store.state.common.generalData.posting_prices_advanced
            let priceType = ref('15');
            const changePriceType = () => {
              return priceType.value = priceType.value == '30' ? '15' : '30'
            };

        let locale = computed(() => ctx.root.$i18n.locale)

        const computedPriceList = computed(() => {
          return priceList.filter(price => {
            return (price.days_valid == priceType.value)
          })
        })

          return {
              priceType,
              priceList,
              changePriceType,
              computedPriceList,
              locale
          }
        },

      async fetch(context) {
        return context.store.dispatch('common/setGeneralData');
      }
    })
</script>

<style >
.switchWrapper {
  width: 50px;
  border: 2px solid #0D387F;
}


</style>
