<template>
    <div>
        <v-text-field
                v-model="email"
                :rules="[email => !!email || 'Morate uneti email']"
                outlined
                clearable
                label="E-mail"
                type="email"
                required
        ></v-text-field>

        <v-text-field
                v-model="password"
                :rules="[password => !!password || 'Morate uneti lozinku']"
                outlined
                :type="showPassword ? 'text' : 'password'"
                clearable
                :label="$t('inputLabels.password')"
                required
        ></v-text-field>


        <v-checkbox
                :label="$t('inputLabels.showPassword')"
                @change="showPassword = $event"
        ></v-checkbox>

        <v-btn
                color="buttonBlue rounded-lg"
                dark
                class="mr-4"
                @click="login"
        >
            {{$t('buttons.login')}}
        </v-btn>
    </div>
</template>

<script>
    import {defineComponent, ref} from '@vue/composition-api'

    export default defineComponent({
        name:'LoginForm',
        setup(props, ctx) {
            //define store
            const app = ctx.root;
            const email = ref('');
            const showPassword = ref(false);
            const password = ref('');
            let login = async () => {
               ctx.emit('login', {
                   email: email.value,
                   password: password.value
               });
            };
            return {
                email, password, showPassword, login
            }
        }
    })
</script>

<style scoped>

</style>