<template>
    <div id="regForm">
        <label>{{$t('inputLabels.firstName')}}</label>
        <v-text-field
                v-model="registerData.first_name"
                :rules="firstNameValidation"
                :error-count="firstNameValidation.length"
                :error="dataErrors.first_name"
                outlined
                clearable
                type="text"
                @input="checkForm('first_name')"
                name="first_name"
                required
        ></v-text-field>

        <label>{{$t('inputLabels.lastName')}}</label>
        <v-text-field
                v-model="registerData.last_name"
                :rules="lastNameValidation"
                :error-count="lastNameValidation.length"
                :error="dataErrors.last_name"
                outlined
                clearable
                type="text"
                @input="checkForm('last_name')"
                name="last_name"
                required
        ></v-text-field>

        <label>{{$t('inputLabels.email')}}</label>
        <v-text-field
                v-model="registerData.user_email"
                :rules="userEmailValidation"
                :error-count="userEmailValidation.length"
                :error="dataErrors.user_email"
                outlined
                clearable
                type="email"
                @input="checkForm('email')"
                required
        ></v-text-field>

        <label>{{$t('inputLabels.password')}}</label>
        <v-text-field
                v-model="registerData.password"
                :rules="passwordValidation"
                :error-count="passwordValidation.length"
                :error="dataErrors.password"
                outlined
                :type="showPassword ? 'text' : 'password'"
                @input="checkForm('password')"
                clearable
                required
        ></v-text-field>

        <label>{{$t('inputLabels.confirmPassword')}}</label>
        <v-text-field
                v-model="registerData.repeat_password"
                :rules="repeatPasswordValidation"
                :error-count="repeatPasswordValidation.length"
                :error="dataErrors.repeat_password"
                outlined
                :type="showPassword ? 'text' : 'password'"
                @input="checkForm('repeat_password')"
                clearable
                required
        ></v-text-field>

        <v-checkbox
                v-model="registerData.newsletter"
                :label="$t('inputLabels.newsletter')"
                hide-details
        ></v-checkbox>
        <small>{{$t('inputLabels.newsletterSummary')}}</small>
        <v-checkbox
                v-model="registerData.newsletter_special_offers"
                :label="$t('inputLabels.newsletterSpecialOffers')"
                hide-details
        ></v-checkbox>
        <v-checkbox
                v-model="registerData.pp"
                :rules="ppValidation"
                :error-count="ppValidation.length"
                :error="dataErrors.pp"
                @change="checkForm('pp')"
            >
            <template v-slot:label>
                <div>
                    {{ $t('inputLabels.iAgreeWith') +' '+ $t('general.ldp') }}
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <a
                                    target="_blank"
                                    href="/"
                                    @click.stop
                                    v-on="on"
                            >
                                {{ $t('inputLabels.termsOfService') }}
                            </a>
                        </template>
                        {{ $t('general.opensInNewWindow') }}
                    </v-tooltip>
                </div>
            </template>
        </v-checkbox>

<!--      <client-only>-->
<!--        <Captcha :captchaNotValid="captchaNotValid"/>-->
<!--      </client-only>-->

        <v-btn
              color="buttonBlue rounded-lg"
              dark
              class="mr-4 mt-5"
              @click="register"
        >
            {{$t('buttons.register')}}
        </v-btn>
    </div>
</template>

<script>
    import {defineComponent, ref, computed} from '@vue/composition-api'
    // import Captcha from "../../Captcha";

    export default defineComponent({
      components: {
       // Captcha
      },
      setup(props, ctx) {

            // MAIN VARS //
            const app = ctx.root;

            const registerData = ref({
                first_name: "",
                last_name: "",
                user_email: "",
                password: "",
                repeat_password: "",
                newsletter_special_offers: true,
                newsletter: true,
                pp: false,
            });
            const showPassword = ref(false);

            // VALIDATION COMPUTED VARS //
            let firstNameValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.firstName') + "' " + app.$t('validation.cantBeEmpty');

                if (registerData.value.first_name === '') errors.push(app.$helper.capitalize(errorMsg1))
                return errors;
            });

            let lastNameValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.lastName') + "' " + app.$t('validation.cantBeEmpty');

                if (registerData.value.last_name === '') errors.push(app.$helper.capitalize(errorMsg1));
                return errors;
            });


            let userEmailValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('validation.emailMustBeValid');

                let regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!regex.test(String(registerData.value.user_email).toLowerCase())) errors.push(app.$helper.capitalize(errorMsg1));

                return errors;
            });

            let passwordValidation = computed(() => {
              let errors = [];
              let atLeast8CharMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') + ' 8 ' + app.$t('general.chars');
              let atLeastOneLwrcMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 '+ app.$t('general.smallLetter');
              let atLeastOneUprcMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 '+ app.$t('general.bigLetter');
              let atLeastOneNumMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 '+ app.$t('general.number');


              let atLeast8Char = /^(?=.{8,})/;
              let atLeastOneLwrc = /^(?=.*[a-z])/
              let atLeastOneUprc = /^(?=.*[A-Z])/
              let atLeastOneNum  = /^(?=.*\d)/

              if (!atLeast8Char.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeast8CharMsg));
              if (!atLeastOneLwrc.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneLwrcMsg));
              if (!atLeastOneUprc.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneUprcMsg));
              if (!atLeastOneNum.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneNumMsg));

              return errors;
            });

            let repeatPasswordValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('validation.repeatPasswordNotGood');
                if (registerData.value.password !== registerData.value.repeat_password) errors.push(app.$helper.capitalize(errorMsg1));

                return errors;
            });

            let ppValidation = computed(() => {
                let errors = [];
                let errorMsg1 = app.$t('inputLabels.youMustAgreeWithTOS');

                if (!registerData.value.pp) errors.push(errorMsg1);
                return errors;
            });

            const dataErrors = ref({
                first_name: false,
                last_name: false,
                password: false,
                repeat_password: false,
                pp: false,
            });


            // METHODS //
            const checkForm = (field = '') => {
                if (field) {
                    switch (field) {
                        case "first_name":
                            dataErrors.value.first_name = !!firstNameValidation.value.length;
                            break;
                        case "pib":
                            dataErrors.value.last_name = !!lastNameValidation.value.length;
                            break;
                        case "email":
                            dataErrors.value.email = !!userEmailValidation.value.length;
                            break;
                        case "password":
                            dataErrors.value.password = !!passwordValidation.value.length;
                            break;
                        case "repeat_password":
                            dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;
                            break;
                        case "pp":
                            dataErrors.value.pp = !!ppValidation.value.length;
                            break;
                    }
                } else {
                    dataErrors.value.first_name = !!firstNameValidation.value.length;
                    dataErrors.value.lastName = !!lastNameValidation.value.length;
                    dataErrors.value.user_email = !!userEmailValidation.value.length;
                    dataErrors.value.password = !!passwordValidation.value.length;
                    dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;
                    dataErrors.value.pp = !!ppValidation.value.length;
                }

                return !!(
                    dataErrors.value.first_name ||
                    dataErrors.value.last_name ||
                    dataErrors.value.password ||
                    dataErrors.value.repeat_password ||
                    dataErrors.value.pp
                );
            }

            let captchaNotValid = ref(false);
            let register = async () => {
                if (checkForm()) {
                    return;
                }

                // if (!grecaptcha.getResponse()) {
                //   captchaNotValid.value = false;
                //   return;
                // }

                let pp = registerData.value.pp ? '1' : '0';
                await app.$store.dispatch('candidate/auth/register', {...registerData.value, pp})
            };

            // REGISTER LOGIC //
            return {
                // MAIN VARS //
                showPassword,
                registerData,

                // error vars
                dataErrors,

                //validation computed vars
                firstNameValidation,
                lastNameValidation,
                userEmailValidation,
                passwordValidation,
                repeatPasswordValidation,
                ppValidation,
                captchaNotValid,
                //methods
                register,
                checkForm
            }
        }

    })
</script>

<style>
 #regForm .theme--light .v-input__slot {
   /*background: transparent!important;*/
 }
</style>