<template>
  <v-list-item
  >
    <v-checkbox
        class="mr-4"
    ></v-checkbox>
    <v-list-item-content class="pl-3" >
      <v-list-item-title>
        <b v-if="app.grade === 0">{{ app.full_name }}</b>
        <span v-if="app.grade !== 0">{{ app.full_name }}</span>
      </v-list-item-title>
      <v-list-item-action-text>
        <p class="mb-2">{{ app.date | date }}</p>
        <p class="mb-2">{{ app.address }}</p>
        <p>{{ app.max_edu }}</p>
      </v-list-item-action-text>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    app: {
      type: Object,
      default:null
    }
  },
  name: "Overlay",

})
</script>

<style>

</style>