<template>
  <v-subheader class="pt-4">
    Subheader
  </v-subheader>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    app: {
      type: Object,
      default:null
    }
  },
  name: "Overlay",

})
</script>

<style>

</style>