<template>
  <v-list-item>
    <v-checkbox
        class="mr-4"
    ></v-checkbox>
    <v-list-item-content>
      <v-list-item-title>{{$t('general.markAll')}}</v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    app: {
      type: Object,
      default:null
    }
  },
  name: "Overlay",

})
</script>

<style>

</style>