<template>
  <div class="empPromoWrapper pt-8 pb-1 mt-n1">
    <DefaultPageWrapper>
      <v-row justify="center">
        <v-col
            cols="12"
            class="mb-5"
        >
          <h1 class="text-left white--text">{{ $t('general.doYouHire')}}</h1>
          <h3 class="white--text"> {{$t('ldpHelpsYouEmployers')}}</h3>
        </v-col>
      </v-row>
      <v-row class="white--text">
        <v-col cols="12" md="6">
          <v-row>
            <v-col cols="12" md="6">
              <v-icon class="mt-n1 white--text">mdi-checkbox-marked-circle-outline</v-icon>
              <span>{{ $t('general.goodCandidates') | ucfirst }}</span>
            </v-col>
            <v-col cols="12" md="6">
              <v-icon class="mt-n1 white--text">mdi-checkbox-marked-circle-outline</v-icon>
              <span>{{ $t('general.easyJobAdd') | ucfirst }}</span>
            </v-col>
            <v-col cols="12" md="6">
              <v-icon class="mt-n1 white--text">mdi-checkbox-marked-circle-outline</v-icon>
              <span>{{ $t('general.hugeCandidateBase') | ucfirst }}</span>
            </v-col>
            <v-col cols="12" md="6">
              <v-icon class="mt-n1 white--text">mdi-checkbox-marked-circle-outline</v-icon>
              <span>{{ $t('general.easyAppManage') | ucfirst }}</span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row class="mt-10">
        <v-col>
          <v-btn
              @click="$router.push(localePath('employer'))"
            depressed
            outlined
            rounded
            color="white"
            large
            class="px-16 text-uppercase"
          >
            {{$t('buttons.createJob')}}
          </v-btn>
        </v-col>
      </v-row>
    </DefaultPageWrapper>
  </div>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'
import DefaultPageWrapper from "@/components/DefaultPageWrapper";
export default defineComponent({
  name: 'DefaultEmployerPromoPart',
  components: {
    DefaultPageWrapper
  },
  setup(props, ctx) {


    return {

    }

  }
})
</script>

<style>

.empPromoWrapper {
  background-image: url("./static/indexPageEmpPromo.png");
  background-size: cover;
}

@media(max-width: 960px) {
  .empPromoWrapper {
    background-position: center center ;
  }
}
</style>