<template>
  <div class="white hotJobs pb-3" v-if="">

    <v-container class="pt-4">
      <h2 class="mb-0 font-weight-regular">{{ $t('general.hotAds') }}</h2>


      <v-carousel
          height="100%"
          interval="5000"
          cycle
      >

        <v-carousel-item
            v-for="page in topAdsPages"
            cy
        >
          <v-sheet tile >
            <v-row
                class="fill-height"
                justify="center"
            >
              <v-col v-for="(job, index) in topAds" cols="12" md="4" v-if="((index+1) > (page-1) * 3 && (index+1) <= (page * 3))">
                <JobCard :post="job" />
              </v-col>
            </v-row>

          </v-sheet>
        </v-carousel-item>
      </v-carousel>
      <v-row v-if="topAds.length > 3">
        <v-col cols="12" class="text-right pb-0">
          <v-btn
              @click="clickNext"
              icon
              class="ma-3"
              outlined
              large
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn
              @click="clickPrev"
              icon
              class="ma-3"
              outlined
              large
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import DefaultPageWrapper from "../DefaultPageWrapper";
import JobCard from "../common/JobCard";

export default defineComponent({
  props: {

  },
  components: {
    JobCard,
    DefaultPageWrapper

  },
  name: 'HotJobs',
  setup(props, ctx) {

    const baseUrl = process.env.baseUrl;


    return {
    }

  },
  data() {
    return {
      a: 0,
      topAds: [],
      topAdsPages: 0,
    }
  },
  methods: {
    clickNext() {
      document.querySelector('.hotJobs .v-window__prev i').click()
    },
    clickPrev() {
      document.querySelector('.hotJobs .v-window__next i').click()
    }
  },
  created() {
    this.$axios.get('/api/public/postings_hot')
        .then(response => {
          this.topAds = response.data;
          this.topAdsPages = Math.ceil(this.topAds.length / 3)
        }) .catch(error => console.log( error.response))
  }
})
</script>

<style>
 #popular .v-expansion-panel::before {
   box-shadow: none!important;
 }

 .newestAds .v-slide-group__wrapper {

 }
 /*.newestAds .v-slide-group__prev {*/
 /*  position: absolute;*/
 /*  bottom: 0px;*/
 /*  right: 100px;*/
 /*  margin-top: 10px;*/
 /*}*/

 /*.newestAds .v-slide-group__next {*/
 /*  position: absolute;*/
 /*  bottom: 0px;*/
 /*  right: 20px;*/
 /*  margin-top: 100px;*/
 /*}*/

 .hotJobs .v-window__next, .hotJobs .v-window__prev, .hotJobs .v-carousel__controls {
   display: none!important;
 }
</style>