<template>
  <div>
    <v-row class="mt-0 py-3 mb-1 white black--text hidden-md-and-down elevation-1">
      <v-col
          cols="12"
          class="text-center"
      >
        <v-icon class="mt-n1 mr-3">mdi-account-outline</v-icon>
        <LoginMenu classes="font-weight-regular blue--text px-0 mt-n1" />
        {{ $t('general.or') }}
        <RegisterMenu classes="font-weight-regular blue--text px-0 mt-n1" />
        {{ $t('andFindIdealJob') }}
      </v-col>
    </v-row>
    <v-row class="hidden-lg-and-up mt-0 white">
      <v-col
          cols="12 py-4"
          style="border-bottom: 1px solid #C0C8D7"
      >
        <h4 class="ml-5">  {{ $t('findIdealJob') }}</h4>
      </v-col>
      <v-col
          cols="6"
          class="pa-3 text-center"
          style="border-bottom:1px solid #C0C8D7; border-right:1px solid #C0C8D7"
      >
        <LoginMenu classes="font-weight-medium black--text px-0 mt-n1" />
      </v-col>
      <v-col
          @click="$router.push(localePath('candidate-login'))"
          cols="6"
          class="pa-3 text-center"
          style="border-bottom:1px solid #C0C8D7"
      >
        <RegisterMenu classes="font-weight-medium black--text px-0 mt-n1" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'
import LoginMenu from "../LoginMenu";
import RegisterMenu from "../RegisterMenu";

export default defineComponent({
  name: 'LoginAndRegisterPart',
  components: {RegisterMenu, LoginMenu},
  setup(props, ctx) {

    return {}

  }
})
</script>

<style>

</style>