<template>
  <div class="white newestJobs pb-3" v-if="">

    <v-container class="pt-0">
      <h2 class="mb-0 font-weight-regular">Najnoviji oglasi</h2>

      <v-carousel
          height="100%"
          interval="2000"
      >

        <v-carousel-item
            v-for="page in topAdsPages"
        >
          <v-sheet tile >
            <v-row
                class="fill-height"
                align="center"
                justify="center"
            >
              <v-col class="" v-for="(ad, index) in topAds" cols="12" md="4" v-if="((index+1) > (page-1) * 3 && (index+1) <= (page * 3))">
                <v-card
                    class="pa-3 ma-3 rounded-lg  promoJobCard "

                >
                  <div class="mr-5">
                    <img width="80" class="thumb-card-img" :src="'https://lakodoposla.com'+ad.thumb">
                  </div>
                  <div>
                    <p class="linkColor font-weight-medium pointer newestJobTitle"
                       @click="$router.push(localeRoute({name: 'job-details-id', params: {id : ad.id}}))"
                    >
                      {{ad.title}}
                    </p>          <div class="grey--text f">{{ad.company}}</div>
                  </div>
                  <v-spacer></v-spacer>
                  <div class="text-right float-end">
                    <v-icon>mdi-chevron-right</v-icon>
                  </div>
                </v-card>
              </v-col>
            </v-row>

          </v-sheet>
        </v-carousel-item>
      </v-carousel>
      <v-row v-if="topAds.length > 3">
        <v-col cols="12" class="text-right">
          <v-btn
              @click="clickNext"
              icon
              class="ma-3"
              outlined
              large
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn
              @click="clickPrev"
              icon
              class="ma-3"
              outlined
              large
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import DefaultPageWrapper from "../DefaultPageWrapper";
import JobCard from "../common/JobCard";

export default defineComponent({
  props: {

  },
  components: {
    JobCard,
    DefaultPageWrapper

  },
  name: 'NewestJobs',
  setup(props, ctx) {

    const baseUrl = process.env.baseUrl;


    return {
    }

  },
  data() {
    return {
      a: 0,
      topAds: [],
      topAdsPages: 0,
    }
  },
  methods: {
    clickNext() {
      document.querySelector('.newestJobs .v-window__prev i').click()
    },
    clickPrev() {
      document.querySelector('.newestJobs .v-window__next i').click()
    }
  },
  created() {
    this.$axios.get('/api/public/postings_hot')
        .then(response => {
          this.topAds = response.data;
          this.topAdsPages = Math.ceil(this.topAds.length / 3)
        }) .catch(error => console.log( error.response))
  }
})
</script>

<style>
#popular .v-expansion-panel::before {
  box-shadow: none!important;
}

.newestJobs .v-window__next, .newestJobs .v-window__prev, .newestJobs .v-carousel__controls {
  display: none!important;
}
.newestJobTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
</style>