<template>
  <div>
    <v-row class="popular mainPageBlue my-4 mainPageBlu with hidden-md-and-down" align="start">
      <v-col
          cols="12"
          class="text-center "
      >
        <span class="font-weight-medium">
          {{ $t('general.popularCategories')}}
        </span>

        <nuxt-link
            class="pa-3 px-5 rounded-xl mx-3 my-1 white text-decoration-none"
            v-for="item in popular"
            :to="item.link"
        >
          {{ item.title }}
        </nuxt-link>
      </v-col>
    </v-row>
    <v-expansion-panels class="hidden-lg-and-up pa-0">
      <v-expansion-panel class="elevation-0">
        <v-expansion-panel-header class="candidateBlueText blue lighten-5 py-6 font-weight-bold font16">{{$t('general.popularCategories') | ucfirst}}</v-expansion-panel-header>
        <v-expansion-panel-content class="pt-3">
          <div   v-for="item in popular" class="d-inline-block ma-1 rounded-xl pa-2" style="height: 40px; border: 1px solid #ccc">
            <nuxt-link
                class="pa-1 px-3 rounded-xl mx-3 my-1 white text-decoration-none"
                :to="item.link"
            >
              {{ item.title }}
            </nuxt-link>
          </div>


        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>

</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  props: {

  },
  components: {

  },
  name: 'PopularCategories',
  setup(props, ctx) {

    const baseUrl = process.env.baseUrl;
    const popular = ref([
      {title:ctx.root.$i18n.t('general.trade'), link: 'pretraga-konkursa/emp_id=&regions=&categories=33,34&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page='},
      {title:ctx.root.$i18n.t('general.construction'), link: 'pretraga-konkursa/emp_id=&regions=&categories=8&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1'},
      {title:ctx.root.$i18n.t('general.hotelIndustry'), link: 'pretraga-konkursa/emp_id=&regions=&categories=35&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1'},
      {title:ctx.root.$i18n.t('general.hospitality'), link: 'pretraga-konkursa/emp_id=&regions=&categories=35&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1'},
      {title:"IT", link:'pretraga-konkursa/emp_id=&regions=&categories=10,11&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page='},
    ]);

    return {
      popular
    }

  }
})
</script>

<style>
#popular .v-expansion-panel::before {
  box-shadow: none!important;
}
</style>