<template>
  <div class="white promoJobs pb-10" v-if="topAds.length">

    <v-container >
        <v-row
            class="fill-height"
            justify="center"
        >
          <v-col cols="12">
            <h2 class="pt-3 mb-0 font-weight-regular">{{ $t('general.promotedAndFeaturedAds') | ucfirst }}</h2>
          </v-col>
          <v-col v-for="(job, index) in topAds" cols="12" md="4">
            <JobCard :post="job" :as-promo="true"/>
          </v-col>
        </v-row>

        <v-row
            class="fill-height"
            justify="center"
        >
          <v-col cols="12">
            <h2 class="pt-3 mb-0 font-weight-regular">{{ $t('general.hotAds') | ucfirst }}</h2>
          </v-col>
          <v-col v-for="(job, index) in hotAds" cols="12" md="4">
            <JobCard :post="job" />
          </v-col>

          <v-col cols="12" class="text-center mt-10">
            <v-btn
              width="300px"
              @click="$router.push(localePath({name: 'job-search-search_params', params: {search_params:'emp_id=&regions=&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1&sort='} }))"
              class="newestAds rounded-lg mr-3 pointer pointer pl-5 pr-3 py-3 text white--text buttonBlue"
            >

              {{ $t('buttons.seeAllAds') }}

              <v-icon class="white--text">mdi-chevron-right</v-icon>
            </v-btn>
          </v-col>
        </v-row>
<!--      <v-carousel-->
<!--          height="100%"-->
<!--          :class="topAds.length < 6 ? 'pb-3' : ''"-->
<!--          interval="5000"-->
<!--          cycle-->
<!--      >-->

<!--        <v-carousel-item-->
<!--            v-for="page in topAdsPages"-->
<!--        >-->
<!--          <v-sheet tile >-->
<!--            <v-row-->
<!--                class="fill-height"-->
<!--                align="right"-->
<!--                justify="left"-->
<!--            >-->
<!--              <v-col v-for="(job, index) in topAds" cols="12" md="4" v-if="((index+1) > (page-1) * 6 && (index+1) <= (page * 6))">-->
<!--                <JobCard :post="job" />-->
<!--              </v-col>-->
<!--            </v-row>-->

<!--          </v-sheet>-->
<!--        </v-carousel-item>-->
<!--      </v-carousel>-->
<!--      <v-row v-if="topAds.length > 6">-->
<!--        <v-col cols="12" class="text-right pb-0">-->
<!--          <v-btn-->
<!--              @click="clickNext"-->
<!--              icon-->
<!--              class="ma-3"-->
<!--              outlined-->
<!--              large-->
<!--          >-->
<!--            <v-icon>mdi-chevron-left</v-icon>-->
<!--          </v-btn>-->
<!--          <v-btn-->
<!--              @click="clickPrev"-->
<!--              icon-->
<!--              class="ma-3"-->
<!--              outlined-->
<!--              large-->
<!--          >-->
<!--            <v-icon>mdi-chevron-right</v-icon>-->
<!--          </v-btn>-->
<!--        </v-col>-->
<!--      </v-row>-->
    </v-container>

  </div>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import DefaultPageWrapper from "../DefaultPageWrapper";
import JobCard from "../common/JobCard";

export default defineComponent({
  props: {

  },
  components: {
    JobCard,
    DefaultPageWrapper

  },
  name: 'PromoJobs',
  setup(props, ctx) {

    const baseUrl = process.env.baseUrl;


    return {
    }

  },
  data() {
    return {
      a: 0,
      topAds: [],
      hotAds: [],
      topAdsPages: 0,
    }
  },
  methods: {
    clickNext() {
      document.querySelector('.promoJobs .v-window__prev i').click()
    },
    clickPrev() {
      document.querySelector('.promoJobs .v-window__next i').click()
    }
  },
  created() {
    this.$axios.get('/api/public/postings_top')
        .then(response => {
          this.topAds = response.data;

          let totalTopAds = this.topAds.length;

          this.$axios.get('/api/public/postings_hot')
              .then(response => {
                if (totalTopAds < 6){
                  let addedToTop = [];
                  for(let i = 0; i < (6 - totalTopAds); i++ ) {
                    this.topAds.push(response.data[i])
                    addedToTop.push(response.data[i])
                  }

                  response.data.map(adFromApi => {
                    if (addedToTop.indexOf(adFromApi.id) == -1) {
                      this.hotAds.push(adFromApi)
                    }
                  })
                } else {
                  this.hotAds = response.data
                }
              })
          this.topAdsPages = Math.ceil( totalTopAds / 6)
        })
  }
})
</script>

<style>
 #popular .v-expansion-panel::before {
   box-shadow: none!important;
 }

 /*.newestAds .v-slide-group__prev {*/
 /*  position: absolute;*/
 /*  bottom: 0px;*/
 /*  right: 100px;*/
 /*  margin-top: 10px;*/
 /*}*/

 /*.newestAds .v-slide-group__next {*/
 /*  position: absolute;*/
 /*  bottom: 0px;*/
 /*  right: 20px;*/
 /*  margin-top: 100px;*/
 /*}*/

 .promoJobs .v-window__next, .promoJobs .v-window__prev, .promoJobs .v-carousel__controls {
   display: none!important;
 }
</style>
