<template>
  <v-row
      v-if="recentSearches.length || savedSearches.length"
      class="mt-0 white black--text grey lighten-4 pa-5 "
      align="center"
  >
    <v-col
        cols="12 text-center"
    >
      <div
          class="rounded customChip mr-3 pointer pointer"
          style="width:200px;text-align: left!important;font-size:14px; line-height: 10px"
      >
        <h4 class="">
          <v-icon class="mt-n1">mdi-history</v-icon>
          {{$t('general.prevSearches')}}
        </h4>
        <br>
      </div>
      <div
          v-for="(search, index) in recentSearches"
          @click="load(search)"
          v-if="index <= 2 || showAll"
          class="rounded search recentSearch customChip mr-3 pointer pointer"
      >
        <span class="font-weight-bold searchTitle">{{ search.search_term }}</span>
        <br>
        {{ regions.filter(region => search.regions.split(',').indexOf(String(region.id)) > -1).map(region => region.name).join(', ') }}
        {{ careers.filter(career => search.career_levels.split(',').indexOf(String(career.code)) > -1).map(career => career.career_level).join(', ') }}
        {{ educations.filter(education => search.education_levels.split(',').indexOf(String(education.degree_code)) > -1).map(education => education.degree).join(', ') }}
        {{ categories.filter(category => search.categories.split(',').indexOf(String(category.id)) > -1).map(category => category.label).join(', ') }}
        {{ contracts.filter(contract => search.categories.split(',').indexOf(String(contract.id)) > -1).map(contract => contract.contract_type).join(', ') }}

      </div>
      <div
          v-for="(search, index) in savedSearches"
          @click="load(search.search)"
          v-if="index <= 2 || showAll"
          class="rounded search savedSearch customChip mr-3 pointer pointer"
      >
        <span class="font-weight-bold searchTitle">{{ search.title }}</span>
        <br>
        {{ regions.filter(region => search.search.regions.split(',').indexOf(String(region.id)) > -1).map(region => region.name).join(', ') }}
        {{ careers.filter(career => search.search.career_levels.split(',').indexOf(String(career.code)) > -1).map(career => career.career_level).join(', ') }}
        {{ educations.filter(education => search.search.education_levels.split(',').indexOf(String(education.degree_code)) > -1).map(education => education.degree).join(', ') }}
        {{ categories.filter(category => search.search.categories.split(',').indexOf(String(category.id)) > -1).map(category => category.label).join(', ') }}
        {{ contracts.filter(contract => search.search.categories.split(',').indexOf(String(contract.id)) > -1).map(contract => contract.contract_type).join(', ') }}
      </div>
    </v-col>
    <v-col cols="12" class="text-center">
      <v-btn
        text
        @click="showAll = !showAll"
        class="searchTitle"
      >
        {{$t('buttons.load') | ucfirst}} {{$t('buttons.more')}}
        <v-icon v-if="!showAll" class="searchTitle mb-n1">mdi-chevron-down</v-icon>
        <v-icon v-if="showAll" class="searchTitle mb-n1">mdi-chevron-up</v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
export default defineComponent({
  name: 'SearchesMainPage',
  setup(props, ctx) {
    ctx.root.$store.dispatch('recentSearches/setDefault')

    //set and get recent searches
    ctx.root.$store.dispatch('candidate/searches/get')
    let recentSearches = ctx.root.$store.state.recentSearches.data


    //get saved searches
    const savedSearches = computed(() => {
      return ctx.root.$store.state.candidate.searches.data;
    })

    //load search logic
    const load = (search) => {
      let searchParamsString = [];
      Object.keys(search).map(key => {
        let string = key + "=" + search[key];
        searchParamsString.push(string)
      })
      searchParamsString = searchParamsString.join('&')+'&date_range=&page=1';
      ctx.root.$router.push(ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: searchParamsString}
      }))
    }

    //set basic settings
    const isAuthenticated = computed(() => ctx.root.$store.getters['candidate/auth/isAuthenticated'])
    const regions = ctx.root.$store.state.common.generalData.regions;
    const careers = ctx.root.$store.state.common.generalData.career_levels;
    const educations = ctx.root.$store.state.common.generalData.education_levels;
    const categories = ctx.root.$store.state.common.generalData.categories;
    const contracts = ctx.root.$store.state.common.generalData.contract_types;
    const employers = ctx.root.$store.state.common.generalData.employers;


    const showAll = ref(false);

    return {
      savedSearches,
      regions,
      careers,
      educations,
      categories,
      contracts,
      employers,
      isAuthenticated,
      load,
      recentSearches,
      showAll
    }

  }
})
</script>

<style>
    .search {
      width: 200px;
      text-align: left!important;
      font-size: 14px;
      min-height: 58px;
    }
    .recentSearch {
      background: #fff;
    }
    .savedSearch {
      background: #E1E9EE;
    }
    .searchTitle {
      color: #4059DF!important;
      letter-spacing: normal!important;
    }

    @media(max-width:700px) {
      .search {
        width: 100%;
      }
    }
</style>