<template>
  <v-row class="my-0">
    <v-col
        v-if="
        selectedItems.career_levels ||
        selectedItems.education_levels ||
        selectedItems.date_range
        "
        cols="12"
        class="text-center pa-5"
        style="background:#0D2D62"
    >
      <v-tooltip
          v-if="selectedItems.career_levels.split(',').indexOf(String(lvl.code)) > -1"
          bottom
          v-for="lvl in generalData.career_levels"
      >
        <template v-slot:activator="{ on, attrs }">
          <div
              class="rounded-xl mr-3 pointer pointer customChip selectedChip closable"
              v-bind="attrs"
              v-on="on"
          >
            {{lvl.career_level}}
            <v-icon
                class="closeClosable"
                @click="dataSelected(lvl.code, 'career_levels')"
            >mdi-close</v-icon>
          </div>
        </template>
        <span>{{lvl.career_level}}</span>
      </v-tooltip>
      <v-tooltip
          v-if="selectedItems.education_levels.split(',').indexOf(String(lvl.degree_code)) > -1"
          bottom
          v-for="lvl in generalData.education_levels"
      >
        <template v-slot:activator="{ on, attrs }">
          <div
              class="rounded-xl mr-3 pointer pointer customChip selectedChip closable"
              v-bind="attrs"
              v-on="on"
          >
            {{lvl.degree}}
            <v-icon
                class="closeClosable"
                @click="dataSelected(lvl.degree_code, 'education_levels')"
            >mdi-close</v-icon>
          </div>
        </template>
        <span>{{lvl.degree}}</span>
      </v-tooltip>

      <div
          v-if="selectedItems.date_range == '1'"
          class="rounded-xl mr-3 pointer pointer customChip selectedChip closable"
      >
        Najnovije
        <v-icon
            class="closeClosable"
            @click="dataSelected('', 'date_range')"
        >mdi-close</v-icon>
      </div>
      <div
          v-if="selectedItems.date_range == '2'"
          class="rounded-xl mr-3 pointer pointer customChip selectedChip closable"
          style="width: 200px"
      >
        U poslednja 3 dana
        <v-icon
            class="closeClosable"
            @click="dataSelected('', 'date_range')"
        >mdi-close</v-icon>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {

  },
  components: {

  },
  name: 'JobCard',
  setup(props, ctx) {

    const generalData = computed(() => {
      return ctx.root.$store.state.common.generalData;
    })

    let selectedItems = computed(() => {
      return ctx.root.$store.getters['searchParams/getSearchParamsObject']
    })

    const dataSelected = (value, prop) => {
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp',{prop, value})
    }

    return {
      generalData, selectedItems, dataSelected
    }

  }
})
</script>

<style>

</style>