<template>
  <div
      class="selectedFiltersWrapp"
  >
    <v-sheet
        class="mx-auto sliderWrapper"
        max-width="100%"
    >
      <v-slide-group
          multiple
          :show-arrows="showArrows"
      >

        <!-- CATEGORIES -->
        <v-slide-item
            v-if="selectedItems.categories.toString().split(',').indexOf(String(category.id)) > -1"
            v-for="category in generalData.categories"
            :key="category.id+Math.floor(Math.random() * 10555554445)"
            v-slot="{ active, toggle }"
        >
          <div
              class=" mr-3 pointer customChip2 selectedChip2 closable"

          >
            {{category.name}}
            <v-icon
                class="closeClosable2"
                @click="dataDeleted(category.id, 'categories')"
            >mdi-close</v-icon>
          </div>
        </v-slide-item>

        <!-- CAREER LVLS -->
        <v-slide-item
            v-if="selectedItems.career_levels.split(',').indexOf(String(lvl.code)) > -1"
            v-for="lvl in generalData.career_levels"
            v-slot="{ active, toggle }"
            :key="lvl.code+Math.floor(Math.random() * 10555554445)"
        >
          <div
              class=" mr-3 pointer pointer customChip2 selectedChip2 closable"

          >
            {{lvl.career_level}}
            <v-icon
                class="closeClosable2"
                @click="dataDeleted(lvl.code, 'career_levels')"
            >mdi-close</v-icon>
          </div>
        </v-slide-item>


        <!-- EDUCATION LVLS -->
        <v-slide-item
            v-if="selectedItems.education_levels.toString().split(',').indexOf(String(lvl.degree_code)) > -1"
            v-for="lvl in generalData.education_levels"
            v-slot="{ active, toggle }"
            :key="lvl.degree_code+Math.floor(Math.random() * 10555554445)"
        >
          <div
              class=" mr-3 pointer pointer customChip2 selectedChip2 closable"

          >
            {{lvl.degree}}
            <v-icon
                class="closeClosable2"
                @click="dataDeleted(lvl.degree_code, 'education_levels')"
            >mdi-close</v-icon>
          </div>
        </v-slide-item>

        <!-- CONTRACT TYPE -->
        <v-slide-item
            v-if="contractType.id == selectedItems.contract_types"
            v-for="contractType in generalData.contract_types"
            v-slot="{ active, toggle }"
        >
          <div
              class=" mr-3 pointer pointer customChip2 selectedChip2 closable"
          >
            {{ contractType.contract_type }}
            <v-icon
                class="closeClosable2"
                @click="dataDeleted('', 'contract_types')"
            >mdi-close</v-icon>
          </div>
        </v-slide-item>


        <!-- EMPLOYER -->
        <v-slide-item
            v-if="selectedItems.emp_id == String(employer.id)"
            v-for="employer in generalData.employers"
            v-slot="{ active, toggle }"
        >
          <div
              class=" mr-3 pointer pointer customChip2 selectedChip2 closable"
          >
            {{employer.company}}
            <v-icon
                class="closeClosable2"
                @click="dataDeleted(employer.id, 'emp_id')"
            >mdi-close</v-icon>
          </div>
        </v-slide-item>



        <!-- DATE RANGE -->
        <v-slide-item v-if="selectedItems.date_range" >
            <div class=" mr-3 pointer pointer customChip2 selectedChip2 closable">
              <span v-if="selectedItems.date_range == '1'">{{ $t('general.newest') | ucfirst}}</span>
              <span v-if="selectedItems.date_range == '2'">{{ $t('general.inLast3Days') | ucfirst}}</span>
              <v-icon
                  class="closeClosable2"
                  @click="dataDeleted(selectedItems.date_range, 'date_range')"
              >mdi-close</v-icon>
          </div>
        </v-slide-item>

      </v-slide-group>
    </v-sheet>
  </div>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    showArrows: {
      type: Boolean,
      default: false
    }
  },
  components: {

  },
  name: 'SelectedFiltersSearchPage',
  setup(props, ctx) {

    const generalData = computed(() => {
      return ctx.root.$store.state.common.generalData;
    })

    let selectedItems = computed(() => {
      return ctx.root.$store.getters['searchParams/getSearchParamsObject']
    })

    const dataSelected = (value, prop) => {
      ctx.root.$store.dispatch('searchParam s/setSearchObjectProp',{prop, value})
    }
    const dataDeleted = (value, prop) => {
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop, value})
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop:'page', value:'1'})
      let searchParamsString = ctx.root.$store.getters['searchParams/getSearchParamsString'];
      ctx.root.$router.push(ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: searchParamsString}
      }))
    }
    return {
      generalData, selectedItems, dataSelected, dataDeleted
    }

  }
})
</script>

<style>
.chipWrapper {

}
.customChip2 {
  border: 1px solid #e6e6e6;
  position: relative;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 15px;
}
.defaultChip2 {
  color: #F6F7FA;
}
.selectedChip2 {
  color: #4059DF;
  background: #fff;
  border-radius: 4px;
}

.closable .closeClosable2{
  position: absolute!important;
  color: grey !important;
  font-size: 17px!important;
  right: 8px;
  top: 12px;
}
.closable .closeClosable2:hover{
  color: red !important;
}

@media (max-width: 768px) {
  .sliderWrapper {
      background: #eceff1!important;
  }
}
</style>