<template>
  <v-row align="end" justify="center">
    <v-col cols="12">
      <h2>{{ $t('recommendedAds') }}</h2>
    </v-col>
    <v-col
        v-for="(ad, index) in topAds"
        :key="ad.id"
        cols="12"
        md="6"
        class="pb-0 pb-md-3 "

    >
      <v-card
          class="pa-3 rounded-lg  promoJobCard "

      >
        <div class="mr-5">
          <img width="80" class="thumb-card-img" :src="'https://lakodoposla.com'+ad.thumb">
        </div>
        <div>
          <p class="linkColor font-weight-medium pointer"
             @click="$router.push(localeRoute({name: 'job-details-id', params: {id : ad.id}}))"
          >
            {{ad.title}}
          </p>          <div class="grey--text f">{{ad.company}}</div>
        </div>
        <v-spacer></v-spacer>
        <div class="text-right float-end">
          <v-icon>mdi-chevron-right</v-icon>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent, ref} from '@vue/composition-api'

export default defineComponent({
  props: {},
  components: {},
  name: 'TopAds',
  setup(props, ctx) {

  },
  data() {
    return {
      topAds: []
    }
  },
  created(context) {
    this.$axios.get('api/public/posts_for_homepage')
    .then(response => {
      this.topAds = response.data;
    })
  }
})
</script>

<style>
.promoJobCard {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 1px 3px 10px -1px #ccc!important;
  min-height: 100px;
  max-height: 130px;
  overflow: hidden;
}
</style>