<template>
    <div>
        <h1>Job details</h1>
    </div>
</template>
<script>
import { defineComponent, ref, computed } from '@vue/composition-api'
export default defineComponent({
  middleware: 'employer_auth',
    components:{

    },
  setup(props, ctx) {
      let activeJobs = ctx.root.$store.getters['employer/jobs/getActiveJobs'];

      let expiredJobs = computed(() => {
          return ctx.root.$store.getters['employer/jobs/getExpiredPaginated'];
      });

      const expiredPrev = () => ctx.root.$store.dispatch('employer/jobs/setExpPrevPage');
      const expiredNext = () => ctx.root.$store.dispatch('employer/jobs/setExpNextPage');

      const allowNext = computed(() => ctx.root.$store.getters['employer/jobs/getExpiredAllowNext']);
      const allowPrev = computed(() => ctx.root.$store.getters['employer/jobs/getExpiredAllowPrev']);

      return { expiredJobs, expiredPrev, expiredNext, allowNext, allowPrev }
  },
    async asyncData (context) {
       const data = await context.store.dispatch('employer/jobs/setJobs');
    }

})
</script>

