<template>
  <DefaultPageWrapper>
    <client-only>
      <Documents :docs="docs"/>
    </client-only>
    <ConfirmationDialog/>
  </DefaultPageWrapper>
</template>
<script>
import {defineComponent, computed} from '@vue/composition-api'
import ConfirmationDialog from "../../../components/common/dialgos/ConfirmationDialog";
import Documents from "../../../components/candidate/Documents";
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";

export default defineComponent({
  middleware: 'candidate_auth',
  components: {
    DefaultPageWrapper,
    ConfirmationDialog,
    Documents
  },
  setup(props, ctx) {
    ctx.root.$store.dispatch('candidate/profile/get', {});
    const docs = computed(() => {
      return ctx.root.$store.state.candidate.documents.documents;
    })

    return {
      docs
    }
  },
  async asyncData(context) {
    let data = await context.store.dispatch('candidate/documents/get')
    return {data}
  }
})
</script>

