<template>
  <div v-if="employerLoggedIn" class="empTopMenu text-center hidden-md-and-down ">
    <span @click="$router.push(localePath('/'))">{{$t('general.jobs') | ucfirst}}</span>
    <span @click="$router.push(localePath('about-us'))">{{$t('general.aboutUs') | ucfirst}}</span>
    <span @click="$router.push(localePath('contact'))">{{$t('general.contactUs') | ucfirst}}</span>
    <span @click="$router.push(localePath('price-list'))">{{$t('general.priceList') | ucfirst}}</span>
<!--    <span>Najcesca pitanja</span>-->
<!--    <span>Antidiskriminacioni propisi</span>-->
  </div>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name:'EmployerTopMenu',
  setup(props, ctx) {
    const employerLoggedIn = computed(() => ctx.root.$store.getters['employer/auth/isAuthenticated']);

    return {
      employerLoggedIn
    }
  }
})
</script>

<style scoped>
.empTopMenu {
  height: 29px;
  background: #E2E9F4;
  position: absolute;
  width: 100%;
  top: -29px;
  z-index: 1;
  padding-top: 2px;
  /*bottom: -28px;*/
  left: 0px;
}
.empTopMenu span{
  font-weight: bold;
  color: #6C7A90;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 12px;
}
.empTopMenu span:hover{
  color: #2653F5;
}
</style>