<template>
  <v-menu
      bottom
      left
  >

    <!-- MENU BUTTON-->
    <template v-slot:activator="{ on, attrs }" >
      <div class="pointer px-0 px-md-5"
           v-bind="attrs"
           v-on="on"
      >
        <span class="hidden-md-and-up font-weight-medium">{{profile.company ? profile.company.substring(0,10) : ''}}<span v-if="profile.company && profile.company.length > 10">...</span>  </span>
        <span class="hidden-sm-and-down font-weight-medium">{{ profile.company }}</span>
        <v-icon>mdi-chevron-down</v-icon>
      </div>
    </template>


    <!-- -->
    <v-card
        class="mx-auto"
        tile
    >
      <v-list>
        <v-list-item @click="$router.push(localePath('employer-profile'))">
          <span class="font-weight-bold pointer">
            {{profile.company}}
          </span>
        </v-list-item>
        <v-list-item  @click="$router.push(localePath('employer-profile'))">
          <span class=" pointer">{{profile.username}}</span>
        </v-list-item>
        <v-row justify="center">
          <v-col cols="11">
            <v-divider></v-divider>
          </v-col>
        </v-row>
      </v-list>
      <v-list
          nav
          dense
      >
        <v-list-item-group
            color="primary"
        >
          <v-list-item-content
              @click="$router.push(localePath('employer-dashboard'))"
              class="pl-2 linkColor pointer"
          >
            <v-list-item-title class=" font-weight-medium menuFontSize">
              {{$t('links.employers.main') | ucfirst}}</v-list-item-title>
          </v-list-item-content>

          <v-list-item-content
              @click="$router.push(localePath('employer-new-job'))"
              class="pl-2 linkColor pointer"
          >
            <v-list-item-title class=" font-weight-medium menuFontSize">
              {{$t('links.employers.createJob') | ucfirst}}
            </v-list-item-title>
          </v-list-item-content>

          <v-list-item-content
              @click="$router.push(localePath('employer-jobs'))"
              class="pl-2 linkColor pointer"
          >
            <v-list-item-title class=" font-weight-medium menuFontSize">
              {{$t('links.employers.myJobs') | ucfirst}}
            </v-list-item-title>
          </v-list-item-content>

          <v-list-item-content
              @click="$router.push(localePath('employer-profile'))"
              class="pl-2 linkColor pointer"
          >
            <v-list-item-title class=" font-weight-medium menuFontSize">
              {{$t('links.employers.myProfile') | ucfirst}}
            </v-list-item-title>
          </v-list-item-content>

          <div >
            <v-divider></v-divider>
            <v-list-item
                class="ma-0"
                v-for="(item, i) in topMenuLinks"
                :key="i"
            >

              <v-list-item-content @click="$router.push(item.link)" >
                <v-list-item-title class=" font-weight-regular menuFontSize">{{item.text | ucfirst}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
          <v-divider></v-divider>
          <v-list-item>

            <v-list-item-content >
              <LogoutDialog @logout="employerLogout" />
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import LogoutDialog from "../dialogs/LogoutDialog";

export default defineComponent({
  components: {LogoutDialog},
  data() {
    return {
      items: [
        { text: this.$t('links.employers.main'), icon: 'mdi-folder', link: this.localePath('employer-dashboard') },
        { text: this.$t('links.employers.createJob'), icon: 'mdi-folder', link: this.localePath('employer-new-job') },
        { text: this.$t('links.employers.myJobs'), icon: 'mdi-folder', link: this.localePath('employer-jobs') },
        { text: this.$t('links.employers.myProfile'), icon: 'mdi-folder', link: this.localePath('employer-profile') },
      ],
      topMenuLinks: [
        { text: this.$t('general.jobs'), icon: 'mdi-folder', link: '/' },
        { text: this.$t('general.priceList'), icon: 'mdi-folder', link: this.localePath('price-list') },
        { text: this.$t('general.aboutUs'), icon: 'mdi-folder', link: this.localePath('about-us') },
        { text: this.$t('general.contactUs'), icon: 'mdi-folder', link: this.localePath('contact') },
        // { text: 'Najcesca pitanja', icon: 'mdi-folder', link: this.localePath('faq') },
        // { text: 'Administracioni propisi', icon: 'mdi-folder', link: this.localePath('/') },
      ]
    }
  },
  name:'UsersDropdownMenu',
  setup(props, ctx) {
    //define store
    const app = ctx.root;
    const store = app.$store;
    const profile = computed(() => {
      return app.$store.state.employer.profile.data
    })

    const employerLogout = () => {
      ctx.root.$store.dispatch('employer/auth/logout');
    }

    return {
      profile, employerLogout
    }
  },
})
</script>

<style scoped>
</style>