<template>
  <v-menu
      :rounded="true"
      offset-y
  >
    <template v-slot:activator="{ attrs, on }">
      <v-btn
          color="black"
          class="pa-0"
          text
          dark
          plain
          :ripple="false"
          v-bind="attrs"
          v-on="on"
      >
        {{ $t('general.sortBy') | ucfirst}}
        <v-icon class="mt-1">mdi-chevron-down</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item
          v-for="(sortOption, index) in sortOptions"
          @click="sortOption.onClick()"
          link
      >
        <v-list-item-title
            :id="index"
            :class="sortOption.selected ? 'primary--text' : ''"
        >
          {{$t(sortOption.title)}}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu></template>
<script>
    import {defineComponent, ref, computed} from '@vue/composition-api'

    export default defineComponent({
        setup(props, ctx) {

            const app = ctx.root;
            const sort = computed (() => app.$store.getters['employer/applications/getSort']);
            const sortBy = sort.value.by
            const sortAscDesc = sort.value.asc_desc

            const dispatchSort = (sortOpts) => {
                app.$store.dispatch('employer/applications/sort', sortOpts);
            }

            let sortOptions = computed(() => [
                {
                    title: 'menus.nameAsc',
                    selected: sort.value.by == 'full_name' && sort.value.asc_desc == 'asc',
                    onClick: () => dispatchSort({by:'full_name', asc_desc:'asc'}),
                },
                {
                    title: 'menus.nameDesc',
                    selected: sort.value.by == 'full_name' && sort.value.asc_desc == 'desc',
                    onClick: () => app.$store.dispatch('employer/applications/sort', {by:'full_name', asc_desc:'desc'})

                },
                {
                    title: 'menus.dateAsc',
                    selected: sort.value.by == 'date' && sort.value.asc_desc == 'asc',
                    onClick: () => app.$store.dispatch('employer/applications/sort', {by:'date', asc_desc:'asc'})

                },
                {
                    title: 'menus.dateDesc',
                    selected: sort.value.by == 'date' && sort.value.asc_desc == 'desc',
                    onClick: () => app.$store.dispatch('employer/applications/sort', {by:'date', asc_desc:'desc'})

                },
                // {
                //     title: 'Odbacene prvo',
                //     selected: sort.value.by == 'grade' && sort.value.asc_desc == 'asc',
                //     onClick: () => app.$store.dispatch('employer/applications/sort', {by:'grade', asc_desc:'asc'})
                //
                // },
                // {
                //     title: 'Sacuvane prvo',
                //     selected: sort.value.by == 'grade' && sort.value.asc_desc == 'desc',
                //     onClick: () => app.$store.dispatch('employer/applications/sort', {by:'grade', asc_desc:'desc'})
                // },
            ]);
            
            return {
                sortOptions,
                sort
            }
        }
    })
</script>

<style>
</style>