<template>
    <div class="mt-2">
      <div class="section1 employerBgLight">
        <DefaultPageWrapper pb="pb-0" mt="mt-0">
          <v-row justify="center" align="center">
            <v-col cols="12" lg="6">
              <h1 class="mb-8">
                {{ $t('empPromoSec1Title') }}
              </h1>
              <h3 class="font-weight-medium mb-8 section1SubTxt">
                {{ $t('empPromoSec1Subtitle') }}
              </h3>
              <v-btn
                @click="$router.push(localePath('price-list'))"
                rounded
                width="335"
                depressed
                class="py-7 section1Button"
              >
                {{ $t('buttons.createJob').toUpperCase()}}
              </v-btn>

            </v-col>
            <v-col cols="5" class="hidden-md-and-down">
              <img
                  src="/empPromoImg1.png"
                  class=""
                  style="vertical-align: bottom"

              />
            </v-col>
          </v-row>
        </DefaultPageWrapper>
      </div>
      <div class="section2">
        <div class="font-weight-bold mx-auto">
          {{ $t('empPromoSec2Title') }}
        </div>
      </div>
      <div class="section3">
        <DefaultPageWrapper>
          <h1 class="text-center mb-3 mb-lg-15">{{ $t('empPromoSec3Title') }}</h1>
          <v-row justify="center">
            <v-col cols="12" lg="6">
              <div class="greenLabel employerBgLight mt-3 mb-3 mb-md-12"></div>
              <h2 class="font-weight-regular mb-8 section1SubTxt">
                {{ $t('empPromoSec3Subtitle') }}
              </h2>
            </v-col>
            <v-col cols="12" lg="6">
              <img
                  src="/promoEmpApplicantCards.png"
                  class="section3Img"

              />
            </v-col>
          </v-row>
        </DefaultPageWrapper>
      </div>
      <div class="section4">
        <DefaultPageWrapper>
          <v-row justify="center">
            <v-col cols="12" lg="5" order="2" order-lg="1">
              <img
                  src="/promoEmpPackages.png"
                  class="section4Img"
              />
            </v-col>
            <v-col cols="12" lg="7"  order="1" order-lg="2">
              <div class="greenLabel employerBgLight mt-3 mb-12"></div>
              <h2 class="font-weight-regular mb-8 section1SubTxt">
                {{ $t('empPromoSec4Title') }}
              </h2>
            </v-col>
          </v-row>
        </DefaultPageWrapper>
      </div>
      <div class="section5">
        <DefaultPageWrapper >
          <v-card class="employerBg elevation-0 rounded-xl">
            <v-row justify="center" align="center">
              <v-col cols="12" lg="7">
                <h1 class="">
                  {{ $t('general.doYouHire') | ucfirst }}
                </h1>
                <h3 class="font-weight-medium">{{ $t('empPromoSec5Title') }}</h3>
              </v-col>
              <v-col cols="12" lg="4" class="text-center text-lg-center">
                <v-btn
                    @click="$router.push(localePath('price-list'))"
                    rounded
                    depressed
                    class="border py-7 section5Btn"
                >
                  {{ $t('buttons.createJob').toUpperCase()}}
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </DefaultPageWrapper>
      </div>
      <div class="section6">
        <DefaultPageWrapper pb="pb-9" mt="mt-0" >
          <v-row justify="start" align="center" style="height: 400px">
            <v-col cols="12" lg="7" class="text-center text-md-left">
              <h3 class="font-weight-regular mb-5">
                {{ $t('empPromoSec6Subtitle1') }}
              </h3>
              <h3 class="font-weight-regular">
                {{ $t('empPromoSec6Subtitle2') }}
              </h3>
            </v-col>
          </v-row>
        </DefaultPageWrapper>
      </div>
    </div>
</template>
<script>
import { defineComponent,ref, computed } from '@vue/composition-api'
import DefaultPageWrapper from "../../components/DefaultPageWrapper";

export default defineComponent({
  // middleware: 'employer_unauth',
  components: {DefaultPageWrapper},
  layout:'employer',
  setup(props, ctx) {

      const categories = computed(()=>{
          return ctx.root.$store.getters['common/getCategories'];
      })

      //search job logic
      const searchTerm = ref('');
      const searchJobs = () => {
          ctx.root.$router.push('/job/search/search_term='+searchTerm.value)
      }

    const employerLoggedIn = computed(() => {
      return ctx.root.$store.getters['employer/auth/isAuthenticated'];
    })
      return {
        employerLoggedIn, categories, searchTerm, searchJobs
      }
  },
  data () {
    return {
       getData : this.$store.getters['common']
    }
  },
    methods: {
        sendRequest() {

        }
    },
    computed: {
        showLocales () {
            return this.$i18n.locales.filter(locale => locale.code !== this.$i18n.locale)
        }
    },
    async fetch (context) {
        return context.store.dispatch('common/setCategories');
    }
})
</script>

<style>
.section1 {
  position: relative;
  background: rgba(20, 160, 167, 0.21);
  padding: 39px 0px;
  color: #1A377B;
}
.section1Button {
  color: #fff!important;
  background: #77A6CF!important;
  border: 2px solid #6D94B7!important;
}
.section1SubTxt {
  width: 70%;
}
.section2 {
  background: #d7eff033;
  border-bottom: 1px solid rgba(145, 203, 191, 0.28);
  text-align: center;
  color: #29313F;
  font-size: 24px;
  padding: 40px 0px;
}
.section2 div {
  max-width: 600px;
  padding: 0px 10px;
}
.section3 {
  padding: 0px 10px;
  margin-top: 40px;
}

.section3Img {
  vertical-align: bottom;
  max-width: 420px
}

.greenLabel {
  width: 62px;
  height: 2px;
}

.section4 {
  background: rgba(203, 182, 150, 0.05);
}
.section4Img {
  vertical-align: bottom;
  max-width: 375px
}
.section5 {
}
.section5 .v-card {
  color: #fff;
  padding: 50px 10px;
  border-radius: 16px!important;
}

.section5Btn {
  color: #fff!important;
  background: rgba(255,255,255,0.09)!important;
  border: 2px solid #fff!important;
  width: 355px;
}

.section6 {
  background: #f5f7fa;
  height: 429px!important;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url("../../static/empPromoBgSection6.png");
}

footer.theme--dark {
  background: #77a6cf!important;
}

@media(max-width: 960px) {
  .section1 {
    margin-bottom: 70px;
    background:linear-gradient(0deg, rgba(20, 160, 167, 0.37), rgba(20, 160, 167, 0.1)), url(../../static/empPromoBgImg2.png)!important;
    background-size: cover;
    background-position: bottom right;
  }
  .section1Button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  .section3 {
    margin-top: 0px;
  }
  .section3 .container {
    padding: 0px!important;
  }
  .section1SubTxt {
    width: 100%;
  }

  .section3Img {
    max-width:320px
  }

  .section4Img {
    max-width:320px
  }

  .section5 .v-card {
    padding: 50px 20px;
  }
  .section5Btn {
    width: 296px;
  }
}

</style>
