<template>
  <div class="avatar mb-5" :style="`background-image: url(${profileImage})`">
    <v-row align="center">
      <v-col id="uploadAvatar" class="text-center pointer"><v-icon class="linkColor2">mdi-plus-circle</v-icon></v-col>
      <input
          @change="changeProfileImage"
          type="file"
          accept="image/*"
          name="avatar"
          id="avatarUploadInput"
          hidden
      >
    </v-row>
  </div>
</template>
<script>
import {defineComponent, computed, ref} from '@vue/composition-api'


export default defineComponent({
  components: {

  },
  props: {
    profileImage: String
  },
  setup(props, ctx) {

    const changeProfileImage = (event) => {
      let file = event.target.files[0];
      ctx.root.$store.dispatch('confirmationDialog/changeProfileImageConfirmation', {
        confirmAction:'candidate/profile/setProfileImage',
        confirmPayload: file
      });
    }
    return {
      changeProfileImage
    }
  },
  mounted() {
    let upldImgBtn = document.getElementById('uploadAvatar');
    upldImgBtn.addEventListener('click', function(e){
      let input = document.getElementById('avatarUploadInput');
      input.click();
    });
  }
})
</script>

<style>
</style>