<template>
    <v-menu
            bottom
            left
    >

        <!-- MENU BUTTON-->
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                    class="hidden-lg-and-up px-0 white black--text"
                    style="opacity:1!important;"
                    text
                    plain
                    :ripple="false"
                    v-bind="attrs"
                    v-on="on"
            >
              {{profile.first_name}}
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
            <v-btn
                :ripple="false"
                plain
                class="hidden-md-and-down"
                v-bind="attrs"
                v-on="on"
            >
              {{profile.first_name}} {{profile.last_name}}
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
        </template>


        <!-- -->
        <v-card
                class="float-right"
                tile
        >
            <v-list>
                <v-list-item v-if="profile.logo_path">
                    <v-list-item-avatar>
                        <v-img :src="profile.logo_path"></v-img>
                    </v-list-item-avatar>
                </v-list-item>

                <v-list-item link @click="$router.push(localePath({ name: 'candidate-profile', params: { }}))">
                    <v-list-item-content>
                        <v-list-item-title class="text-h6">
                            {{profile.first_name +' '+profile.last_name}}
                        </v-list-item-title>
                        <v-list-item-subtitle>{{profile.username}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-list
                    nav
                    dense
            >
                <v-list-item-group
                        class="my-2"
                        color="primary"
                >
                    <v-list-item
                            v-for="(item, i) in items"
                            :key="i"
                            @click="$router.push(item.link)"
                    >
<!--                        <v-list-item-icon>-->
<!--                            <v-icon v-text="item.icon"></v-icon>-->
<!--                        </v-list-item-icon>-->

                        <v-list-item-content>
                            <p class="mb-0">
                                <v-list-item-title v-text="item.text"></v-list-item-title>
                            </p>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-list-item>
                      <v-list-item-content >
                        <LogoutDialog @logout="candidateLogout" />
                      </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-card>
    </v-menu>
</template>

<script>
    import {defineComponent, computed, ref} from '@vue/composition-api'
    import LogoutDialog from "../../employer/dialogs/LogoutDialog";

    export default defineComponent({
        name:'UsersDropdownMenu',
      components: {LogoutDialog},
      setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;
            const items = ref([
            ]);

            const profile = computed(() => {
              return store.state.candidate.profile.data;
            })
            const candidateLogout = () => {
                ctx.root.$store.dispatch('candidate/auth/logout');
            }
            return {
                profile, candidateLogout, items
            }
        },
        created() {
            this.items = [
                ...[
                    { text: this.$t('links.myDocuments'), icon: 'mdi-folder', link: this.localePath('candidate-documents') },
                    { text: this.$t('links.myApplications'), icon: 'mdi-application-edit', link: this.localePath('candidate-applications') },
                    { text: this.$t('links.mySearches'), icon: 'mdi-text-box-search', link: this.localePath('candidate-searches') },
                    { text: this.$t('links.savedJobs'), icon: 'mdi-cards-heart-outline', link: this.localePath('candidate-saved-jobs') },
                ]
            ];
            // { text: 'Shared with me', icon: 'mdi-account-multiple' , link: 'moji-dokumenti'},
            // { text: 'Starred', icon: 'mdi-star', link: 'moji-dokumenti' },
            // { text: 'Recent', icon: 'mdi-history', link: 'moji-dokumenti' },
            // { text: 'Offline', icon: 'mdi-check-circle', link: 'moji-dokumenti' },
            // { text: 'Uploads', icon: 'mdi-upload', link: 'moji-dokumenti' },
            // { text: 'Backups', icon: 'mdi-cloud-upload', link: 'moji-dokumenti' },
        }
    })
</script>

<style scoped>

</style>