<template>
  <DefaultPageWrapper :title="$t('buttons.changePass')" class="" style="height: 100vh">
    <p class="my-7" v-html="$t('changePassMsg')"></p>
    <v-card class="pa-5 elevation-0" >
      <v-row justify="center">
        <v-col cols="12" md="8">

          <label>{{$t('inputLabels.password')}}</label>
          <v-text-field
              v-model="registerData.password"
              :rules="passwordValidation"
              :error-count="passwordValidation.length"
              :error="dataErrors.password"
              outlined
              :type="showPassword ? 'text' : 'password'"
              @input="checkForm('password')"
              clearable
              required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="8">
        <label>{{$t('inputLabels.confirmPassword')}}</label>
          <v-text-field
              v-model="registerData.repeat_password"
              :rules="repeatPasswordValidation"
              :error-count="repeatPasswordValidation.length"
              :error="dataErrors.repeat_password"
              outlined
              :type="showPassword ? 'text' : 'password'"
              @input="checkForm('repeat_password')"
              clearable
              required
          ></v-text-field>

        </v-col>
        <v-col cols="12" md="8">
          <v-btn
              @click="resetPassword"
              color="primary"
              depressed
          >{{$t('buttons.changePass')}}</v-btn>
        </v-col>
      </v-row>
    </v-card>
  </DefaultPageWrapper>
</template>
<script>
import { defineComponent,ref, computed } from '@vue/composition-api'
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";

export default defineComponent({
  middleware: 'reset_password',
  components: {DefaultPageWrapper},
  setup(props, ctx) {
    const app = ctx.root;

    const registerData = ref({
      password: "",
      repeat_password: ""
    });

    const dataErrors = ref({
      password: false,
      repeat_password: false
    });


    let passwordValidation = computed(() => {
      let errors = [];
      let atLeast8CharMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') + ' 8 ' + app.$t('general.chars');
      let atLeastOneLwrcMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 malo slovo'; // translate
      let atLeastOneUprcMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 veliko slovo'; // translate
      let atLeastOneNumMsg = app.$t('inputLabels.field') + " '" + app.$t('inputLabels.password') + "' " + app.$t('validation.mustContainAtLeast') +' 1 broj'; // translate


      let atLeast8Char = /^(?=.{8,})/;
      let atLeastOneLwrc = /^(?=.*[a-z])/
      let atLeastOneUprc = /^(?=.*[A-Z])/
      let atLeastOneNum  = /^(?=.*\d)/

      if (!atLeast8Char.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeast8CharMsg));
      if (!atLeastOneLwrc.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneLwrcMsg));
      if (!atLeastOneUprc.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneUprcMsg));
      if (!atLeastOneNum.test(registerData.value.password)) errors.push(app.$helper.capitalize(atLeastOneNumMsg));

      return errors;
    });

    let repeatPasswordValidation = computed(() => {
      let errors = [];
      let errorMsg1 = app.$t('validation.repeatPasswordNotGood');
      if (registerData.value.password !== registerData.value.repeat_password) errors.push(app.$helper.capitalize(errorMsg1));

      return errors;
    });

    const checkForm = (field = '') => {
      if (field) {
        switch (field) {
          case "password":
            dataErrors.value.password = !!passwordValidation.value.length;
            break;
          case "repeat_password":
            dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;
            break;
        }
        dataErrors.value.password = !!passwordValidation.value.length;
        dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;
      }

      return !!(
          dataErrors.value.password ||
          dataErrors.value.repeat_password
      );
    }


    const resetPassword = () => {
      if (checkForm()) {
        return;
      }
      let requestObject = {
        reset_code:app.$route.query.uid,
        new_password:registerData.value.password
      };

      let jsonObject = JSON.stringify(requestObject);

      //request_password_reset
      ctx.root.$axios.patch('/api/token/reset_password', jsonObject,{
        headers: {
          'Content-Type' : 'application/json'
        }
      })
          .then(() => {
            ctx.root.$router.push('/');
            ctx.root.$store.dispatch('mainDialog/resetPasswordSuccess')
          })
          .catch(error => {
            ctx.root.$store.dispatch('mainDialog/resetPasswordFail')
          })
    }

    const showPassword = ref(false);

    return {
      registerData,
      passwordValidation,
      repeatPasswordValidation,
      dataErrors,
      checkForm,
      resetPassword,
      showPassword
    }
  },
})
</script>