<template>
  <v-dialog
      @keydown="keydown"
      @click:outside="close"
      v-model="openLinkDialog"
      id="link-window"
  >
    <v-card class="pa-3">
      <v-card-title>
        Unesite adresu linka
      </v-card-title>
      <form @submit.stop.prevent="handleSubmit">
        <v-row>
          <v-col cols="12">
            <v-text-field
                label="Url"
                v-model="form.href"
                :data="internalLinks"
                :serializer="link => link.text"
                @input="form.href = $event"
                ref="href">
            </v-text-field>
          </v-col>
          <v-col cols="12">
            <v-select
                :items="items"
                label="Target"
                dense
            ></v-select>
            <select v-model="form.target" id="target-input">
              <option value="">None</option>
              <option value="">_blank</option>
            </select>
          </v-col>
        </v-row>
        <v-btn color="primary" type="submit">Postavi link</v-btn>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  components: {
  },
  props: {
    editor: {
      type: Object,
      required: true
    },
    attributes: {
      type: Object,
      default: null
    },
    openLinkDialog: Boolean
  },
  data() {
    return {
      items: ['None', '_blank'],
      internalLinks: [],
      form: {
        href: '',
        target: 'None',
        rel: 'follow',
        class: ''
      },
      targets: ['None', '_blank'],
      rels: ['follow', 'noopener noreferrer nofollow', 'noopener sponsored'],
      classes: [],
      buttons: [
        { name: 'primary', class: 'btn bg-primary text-white border border-primary md:border-2 hover:bg-white hover:text-primary inline-flex items-center transition ease-in-out duration-150 m-2' },
        { name: 'secondary', class: 'btn bg-secondary text-white border border-secondary md:border-2 hover:bg-white hover:text-secondary inline-flex items-center transition ease-in-out duration-150 m-2' },
        { name: 'success', class: 'btn bg-green-700 inline-block text-white border border-green-700 hover:bg-white hover:text-black m-2' }
      ],
    }
  },
  methods: {
    keydown(e) {
      if (e.keyCode == 27) {
        this.close();
      }
    },

    close(e) {
      this.$emit('closeLinkDialog')
    },

    resetModal() {
      this.form.href = ''
      this.form.target = 'None'
      this.form.rel = 'follow'
    },
    handleOk() {
      this.handleSubmit()
    },
    handleCancel() {
      // this.$destroy()
      // this.$el.parentNode.removeChild(this.$el)
    },
    handleSubmit() {
      if (this.attributes == null) {
        this.addLink()
      } else {
        this.editLink()
      }

      this.close()
    },
    addLink() {
      if (this.form.href == null || this.form.href == '') {
        return
      }

      this.editor
          .chain()
          .focus()
          .extendMarkRange('link')
          .setLink(this.prepareLink(this.form))
          .run()

      this.handleCancel()
    },
    editLink() {
      // if href is not set, we presume that the link should be removed
      if (this.form.href == null || this.form.href == '') {
        this.editor.chain().focus().unsetLink().run()
      }

      this.editor
          .chain()
          .focus()
          .extendMarkRange('link')
          .updateAttributes('link', this.prepareLink(this.form))
          .run()

      this.handleCancel()
    },
    prepareLink(attributes) {
      return {
        href: attributes.href,
        target: attributes.target == 'None' ? null : '_blank',
        rel: this.prepareRel(attributes),
        class: attributes.class == '' ? null :  attributes.class,
      }
    },
    prepareRel(attributes) {
      if (attributes.rel !== 'follow') {
        return attributes.rel
      }

      if (attributes.rel == 'follow' && attributes.target == '_blank') {
        return 'noopener'
      }

      return null
    },
    resetClass() {
      if (this.classes.length > 0) {
        let confirmation = confirm(`Are you sure you want to reset the image's classes?`)

        if (confirmation) {
          this.classes.splice(0)
        }
      }
    },
    addButtonClasses(name) {
      this.classes.splice(0)
      let button = this.buttons.find((b) => b.name == name)
      this.classes.push(...button.class.split(' '))
    },
    assignForm() {
      this.form.href = this.attributes.href
      this.form.target = this.attributes.target == null ? 'None' : this.attributes.target
      this.form.rel = this.assignRel()
      if (this.attributes.class) {
        this.assignClass()
      }
    },
    assignRel() {
      if (this.attributes.rel === 'noopener noreferrer nofollow') {
        return this.attributes.rel
      }

      if (this.attributes.rel === 'noopener sponsored') {
        return this.attributes.rel
      }

      return 'follow'
    },
    assignClass() {
      this.classes.push(...this.attributes.class.split(' '))
    },
    getInternalLinks() {
      this.editor.state.doc.descendants((node, pos) => {
        if (node.type.name === 'heading') {
          if (node.attrs.id !== null) {
            this.internalLinks.push({text: node.textContent, id: `#${node.attrs.id}`})
          }
        }
      })
    }
  },
  async mounted() {
    if (this.attributes) {
      this.assignForm()
    }
    this.getInternalLinks()

    setTimeout(() => {
      // this.$refs.href.$refs.input.focus()
    }, 200)

    this.$watch('classes', () => {
      this.form.class = this.classes.join(' ')
    }, {immediate: true})
  }
}
</script>
