<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >

    <v-card>
      <v-card-title class="text-h5 grey lighten-2">
        Privacy Policy
      </v-card-title>

      <v-card-text>
        <form @submit.stop.prevent="handleSubmit">
          <v-btn
              @click="handleOk"
          >OK</v-btn>
          <v-btn
              @click="handleCancel"
          >Cancel</v-btn>
          <v-textarea
              id="code"
              v-model="form"
              rows="20"
          ></v-textarea>
        </form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {defineComponent, ref, computed, watchEffect} from '@vue/composition-api'

export default defineComponent({
  props: {
    editor: {
      type: Object,
      required: true,
    },
    dialog: Boolean
  },
  setup(props, ctx){

    const form = ref("")

    form.value = props.editor.getHTML();
    const closeDialog = () => {
      ctx.emit('closeDialog')
    }

    // watchEffect (() => {
    //   form.value = props.editor.getHTML();
    // })

    const handleSubmit = () => {
      if (form.value !== props.editor.getHTML()) {
        props.editor.chain().setContent(form.value, true).run();
      }
    }

    const handleOk = () => {
      handleSubmit();
      closeDialog();
    }
    const handleCancel = () => {
      form.value = props.editor.getHTML()
      closeDialog();
    }

    return {form, closeDialog, handleSubmit, handleOk, handleCancel}
  },

  methods: {

  },
  mounted() {

  },
});
</script>
