<template>
  <DefaultPageWrapper>

    <v-row justify="center">
      <v-col
          cols="12"
          class="text-center"
      >
        <img
            src="/blue_feather.svg"
            class="mr-2"
        />
      </v-col>
      <v-col
          cols="12"
          class="text-center"
      >
        <h3>{{ $t('buttons.register') }} ({{ $t('general.candidates') }})</h3>
      </v-col>
      <v-col
          cols="12"
          md="8"
          class="pa-0 pa-md-3"
      >
        <v-card class="elevation-0">
          <div class="px-10 py-4">
            <v-form
                ref="form"
                lazy-validation
            >
              <RegForm/>
            </v-form>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </DefaultPageWrapper>
</template>
<script>
import {defineComponent} from '@vue/composition-api'
import RegisterForm from '../../../components/candidate/forms/RegisterForm';
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";

export default defineComponent({
  middleware: ['candidate_unauth','employer_unauth'],
  name: 'Register',
  components: {
    DefaultPageWrapper,
    'RegForm': RegisterForm
  },
  setup(props, ctx) {
    //define store
    const app = ctx.root;
    const store = app.$store;

    let loginEmployer = async ({email, password}) => {
      await store.dispatch('employer/auth/login', {email, password})
    };
    return {
      loginEmployer
    }
  }
})
</script>

