<template>
  <DefaultPageWrapper :title="$t('general.myProfile')">
    <v-row>
      <v-col cols="12" md="8">
        <v-card class="px-5 pb-8 pt-3 elevation-0">
          <v-card-title >
            {{ $t('general.generalSettings') | ucfirst}}
          </v-card-title>
          <v-card-subtitle class="">
            {{ $t('addOrRemoveYourPersonalData')}}
          </v-card-subtitle>
          <div class="px-4" v-if="generalDataAccordion">

            <p class="mb-1 font18 font-weight-medium">{{ $t('general.profileImage') | ucfirst}}</p>
            <client-only>
              <UploadAvatar :profile-image="profile.logo_path" />
            </client-only>

            <p class="mb-1 font18 font-weight-medium">{{ $t('inputLabels.email') | ucfirst}}</p>

            <p class="font-weight-medium mb-0">{{profile.username}}</p>
            <p class="greyText font14">{{ $t('cannotChangeEmail')}}</p>

            <p class="mb-3 font18 font-weight-medium">{{ $t('inputLabels.name')}} {{ $t('general.and')}} {{ $t('inputLabels.lastName')}}</p>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                    outlined
                    :label="$t('inputLabels.name')"
                    :placeholder="$t('inputLabels.name')"
                    :value="profile.first_name"
                    @input="formInput($event, 'first_name')"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    outlined
                    :label="$t('inputLabels.surname')"
                    :placeholder="$t('inputLabels.surname')"
                    :value="profile.last_name"
                    @input="formInput($event, 'last_name')"

                >
                </v-text-field>
              </v-col>
            </v-row>

            <p class="mb-3 font18 font-weight-medium">{{ $t('inputLabels.contactDetails')}}</p>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                    outlined
                    :value="profile.address"
                    :label="$t('inputLabels.address')"
                    :placeholder="$t('inputLabels.address')"
                    @input="formInput($event, 'address')"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    outlined
                    :value="profile.mobile"
                    :label="$t('inputLabels.phone')"
                    :placeholder="$t('inputLabels.phone')"
                    @input="formInput($event, 'mobile')"
                >
                </v-text-field>
              </v-col>
            </v-row>

            <p class="mb-3 font18 font-weight-medium">{{ $t('inputLabels.professionAndExperience')}}</p>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                    outlined
                    :value="profile.cv ? profile.cv.profession : ''"
                    :label="$t('inputLabels.profession')"
                    @input="formInput($event, 'profession')"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <MultiSelect
                    :label="$t('inputLabels.experience')"
                    :items="generalData.total_expirience"
                    :allowLabel="false"
                    :values="totalExperience"
                    :error="false"
                    :itemText="'label'"
                    :itemValue="'id'"
                    :multiple="false"
                    @selectChange="formInput($event, 'total_expirience')"
                />
              </v-col>
            </v-row>

            <p class="mb-3 font18 font-weight-medium">{{ $t('inputLabels.education')}}</p>
            <v-row>
              <v-col cols="12">
                <MultiSelect
                    :label="$t('inputLabels.education')"
                    :allowLabel="false"
                    :items="generalData.education_levels"
                    :values="educationLevel"
                    :error="false"
                    :itemText="'degree'"
                    :itemValue="'degree_code'"
                    :multiple="false"
                    @selectChange="formInput($event, 'education_level')"
                />
              </v-col>
            </v-row>


            <p class="mb-3 font18 font-weight-medium">{{ $t('inputLabels.aboutMe')}}</p>
            <v-row>
              <v-col cols="12">
                <v-textarea
                    :label="$t('inputLabels.selfDescription')"
                    outlined
                    :value="profile.description"
                    @input="formInput($event, 'description')"
                >
                </v-textarea>
              </v-col>
            </v-row>


            <v-row>
              <v-col cols="6" md="4">
                <v-btn
                    width="100%"
                    large
                    dark
                    color="#213F89"
                    @click="save">
                  <span class="font18">{{ $t('general.save') | ucfirst}}</span>
                </v-btn>
              </v-col>
              <v-col cols="6" md="4">
                <v-btn
                    plain
                    :ripple="false"
                    width="100%"
                    large
                    color="primary" @click="generalDataAccordion = false">
                  {{ $t('general.leave') | ucfirst}}
                </v-btn>
              </v-col>
            </v-row>
          </div>


          <v-row class="px-4 mt-1" v-if="!generalDataAccordion">
            <v-col cols="6" md="4">
              <v-btn
                  color="#213F89"
                  width="100%"
                  large
                  outlined
                  @click="generalDataAccordion = true">
                <span class="font18">{{ $t('general.arrange') | ucfirst}}</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="px-5 pb-8 pt-3 mt-4 elevation-0">
          <v-card-title >
            {{ $t('inputLabels.passChange')}}
          </v-card-title>
          <v-card-subtitle class="">
            {{ $t('passChangeMsg')}}
          </v-card-subtitle>

          <div class="px-4" v-if="generalDataAccordion2">
            <p class="mb-3 font18 font-weight-medium">{{ $t('inputLabels.changeYourPass')}}</p>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="updateData.password"
                    :rules="passwordValidation"
                    :error-count="passwordValidation.length"
                    :error="dataErrors.password"
                    outlined
                    :type="showPassword ? 'text' : 'password'"
                    @input="checkForm('password')"
                    clearable
                    :label="$t('inputLabels.password')"
                    required
                ></v-text-field>
              </v-col>
              <v-col >
                <v-text-field
                    v-model="updateData.repeat_password"
                    :rules="repeatPasswordValidation"
                    :error-count="repeatPasswordValidation.length"
                    :error="dataErrors.repeat_password"
                    outlined
                    :type="showPassword ? 'text' : 'password'"
                    @input="checkForm('repeat_password')"
                    clearable
                    :label="$t('inputLabels.confirmPassword')"
                    required
                ></v-text-field>
              </v-col>

            </v-row>
            <v-row>
              <v-col cols="6" md="4">
                <v-btn
                    width="100%"
                    large
                    dark
                    color="#213F89"
                    @click="changePassword">
                  <span class="font18">{{ $t('general.changePassword') | ucfirst}}</span>
                </v-btn>
              </v-col>
              <v-col cols="6" md="4">
                <v-btn
                    plain
                    :ripple="false"
                    width="100%"
                    large
                    color="primary" @click="generalDataAccordion2 = false">
                  {{ $t('general.leave') | ucfirst}}
                </v-btn>
              </v-col>
            </v-row>
          </div>
          <v-row class="px-4 mt-1" v-if="!generalDataAccordion2">
            <v-col cols="6" md="4">
              <v-btn
                  color="#213F89"
                  width="100%"
                  large
                  outlined
                  @click="generalDataAccordion2 = true">
                <span class="font18">{{ $t('general.arrange') | ucfirst}}</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="px-5 pb-8 pt-3 mt-4 elevation-0">
          <v-card-title >
            {{ $t('buttons.profileDeletion')}}
          </v-card-title>
          <v-card-subtitle class="">
            {{ $t('profileDeletionMsg')}}
          </v-card-subtitle>
          <v-row class="px-4 mt-1">
            <v-col cols="6" md="4">
              <v-btn
                  color="red"
                  width="100%"
                  large
                  outlined
                  @click="deleteAccount">
                <span class="font18">{{ $t('buttons.delete') | ucfirst}}</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col md="4">
        <v-card class="px-5 pt-3  elevation-0">
          <p class="text-center font14 red white--text pa-1 rounded mb-n3">{{ $t('optionNotAvailable') | ucfirst}}.</p>

          <v-card-title class="py-0" >
            {{ $t('general.profileVisibility') | ucfirst}}
            <span class="mb-n1 ml-5">
               <v-switch
                   inset
                   disabled
                   v-model="profielVisibility"
                   color="primary"
               ></v-switch>
            </span>
          </v-card-title>
          <v-card-subtitle v-if="!profielVisibility" class="pink pt-3 lighten-5">
            <div class="float-left mt-2 mr-3">
              <v-icon>mdi-eye-off-outline</v-icon>
            </div>
            {{ $t('profileVisibilityMsg') }}
          </v-card-subtitle>

          <v-card-text class="mt-5 px-0">
            <p class="font-weight-medium black--text font16">
              {{ $t('allowEmpsToContactYou') }}
            </p>

            <p class="mt-5">
              {{ $t('allowEmpsToContactYouMsg') }}
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <ConfirmationDialog />
  </DefaultPageWrapper>
</template>
<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import MultiSelect from "@/components/MultiSelect";
import ConfirmationDialog from "@/components/common/dialgos/ConfirmationDialog";
import DefaultPageWrapper from "@/components/DefaultPageWrapper";
import UploadAvatar from "../../../components/candidate/profile/UploadAvatar";
export default defineComponent({
  middleware: ['candidate_auth'],
  components: {
    UploadAvatar,
    MultiSelect,
    ConfirmationDialog,
    DefaultPageWrapper
  },
  setup(props, ctx) {
    const generalData = computed(() => ctx.root.$store.state.common.generalData);
    const profile = ref(ctx.root.$store.state.candidate.profile.data)
    const editableProfileData = {
      first_name: profile.value.first_name,
      last_name: profile.value.last_name,
      username: profile.value.username,
      address: profile.value.address,
      mobile: profile.value.mobile,
      education_level: profile.value.cv ? profile.value.cv.education_level : null,
      profession: profile.value.cv ? profile.value.cv.profession : null,
      total_expirience: profile.value.total_expirience,
      description: profile.value.description
    };

    
    //hande input
    const dataToUpdate = {};
    const formInput = (event, name) => editableProfileData[name] = event;
    //handle save
    const save = () => {
      ctx.root.$store.dispatch('confirmationDialog/saveProfileData', {
        confirmAction: 'candidate/profile/update',
        confirmPayload: editableProfileData
      })
    }


    const totalExperience = ref([]);
    totalExperience.value.push(Number(profile.value.total_expirience))
    const educationLevel = ref([]);
    educationLevel.value.push(profile.value.cv ? Number(profile.value.cv.education_level) : null)

    const uploadImageLoader = ref(false);

    const changeProfileImage = async (event) => {
      let file = event.target.files[0];
      await ctx.root.$store.dispatch('confirmationDialog/changeProfileImageConfirmation', {
            confirmAction:'candidate/profile/setProfileImage',
            confirmPayload: file
      });

      uploadImageLoader.value = false;
    }

    const generalDataAccordion = ref(false)
    const generalDataAccordion2 = ref(false)


    /// PASSWORD UPDATE
    const updateData = ref({
      password: '',
      repeat_password: ''
    });
    let passwordValidation = computed(() => {
      let errors = [];
      let errorMsg1 = ctx.root.$t('inputLabels.field') + " '" + ctx.root.$t('inputLabels.password') + "' " + ctx.root.$t('validation.mustContainAtLeast') + ' 8 ' + ctx.root.$t('general.chars');

      let regex = /^(?=.{8,})/;
      if (!regex.test(String(updateData.value.password).toLowerCase())) errors.push(ctx.root.$helper.capitalize(errorMsg1));

      return errors;
    });

    let repeatPasswordValidation = computed(() => {
      let errors = [];
      let errorMsg1 = ctx.root.$t('validation.repeatPasswordNotGood');
      if (updateData.value.password !== updateData.value.repeat_password) errors.push(ctx.root.$helper.capitalize(errorMsg1));

      return errors;
    });

    const dataErrors = ref({
      password: false,
      repeat_password: false,
    });
    const showPassword = ref(false);
    const checkForm = (field = '') => {
      if (field) {
        switch (field) {
          case "password":
            updateData.value.password = !!passwordValidation.value.length;
            break;
          case "repeat_password":
            updateData.value.repeat_password = !!d.value.length;
            break;
        }
      } else {
        dataErrors.value.password = !!passwordValidation.value.length;
        dataErrors.value.repeat_password = !!repeatPasswordValidation.value.length;}

      return !!(
          dataErrors.value.password ||
          dataErrors.value.repeat_password
      );
    }

    const changePassword = () => {
      if (checkForm()) {
        return;
      }

      //update pass
    }

    const deleteAccount = () => {
      ctx.root.$store.dispatch('confirmationDialog/deleteAccount', {
        confirmAction:'candidate/profile/deleteAccount',
        confirmPayload:''
      });
    }

    const profielVisibility = ref(true);
    return {
      profile,
      generalData,
      totalExperience,
      educationLevel,
      uploadImageLoader,
      formInput,
      save,
      changeProfileImage,
      generalDataAccordion,
      generalDataAccordion2,


      updateData,
      passwordValidation,
      repeatPasswordValidation,
      dataErrors,
      showPassword,
      checkForm,
      changePassword,
      deleteAccount,
      profielVisibility
    }
  },
  async asyncData(context) {
    let data = await context.store.dispatch('common/setGeneralData');
    await context.store.dispatch('candidate/profile/get');

  }
})
</script>

<style>
</style>