<template>
  <v-card
      class="pa-5 mt-10 rounded-tl-xl rounded-br-xl"
      dark
      color="purple"
  >
    {{text}}
  </v-card>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props:{
    "text": String
  },
  name:'JobDetails',
  setup(props, ctx) {
    return {

    }
  }
})


</script>

<style>

</style>