<template>
  <div>
    <v-btn
        v-if="candidateLoggedIn && (post.disabled_apply == '0')"
        :width="width"
        class="px-10 elevation-0 white--text buttonBlue font-weight-normal rounded-lg"
        large
        @click="click(), APPLY_MAIN_BTN()"
    >
      {{ $t('general.applyOnJob') | ucfirst}}
    </v-btn>

    <v-dialog
        v-model="dialog"
        persistent
        max-width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            v-if="!candidateLoggedIn && (post.disabled_apply == '0')"
            @click="APPLY_MAIN_BTN"
            :width="width"
            class="px-10 elevation-0 white--text buttonBlue font-weight-normal rounded-lg"
            large
            v-bind="attrs"
            v-on="on"
        >
          {{ $t('general.applyOnJob') | ucfirst}}
        </v-btn>
      </template>
      <v-card class="pb-4">
        <v-card-title class="text-h5 mb-5">
          {{$t('heyYouAreNotLoggedIn')}}
          <v-spacer></v-spacer>
          <v-btn icon @click="dialog = false, APPLY_LEAVE_CHOSE_MENU()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="text-center">
         {{$t('chooseOptionsApply')}}
        </v-card-text>
        <v-card-text class="text-center ">
          <div class="pa-4 rounded-lg grey lighten-4 mb-3">
            <p>{{$t('loginOrRegisterApply')}}</p>
            <v-btn class="white--text buttonBlue rounded-lg" large width="80%" @click="APPLY_GO_TO_LOGIN_BTN(), click()">
              {{ $t('buttons.login') | ucfirst}} / {{ $t('buttons.register') | ucfirst}}
            </v-btn>
          </div>
          <div class="pa-4 rounded-lg grey lighten-4 ">
            <p class="mb-0">{{$t('orApplyAsGuest')}}</p>
            <p class="pa-1 rounded-lg indigo lighten-5">
              <v-icon>mdi-information-variant</v-icon>
              {{$t('oldFormWillShow')}}
            </p>
            <v-btn class="white--text red darken-3 rounded-lg" large width="80%">
              <a @click="APPLY_GO_AS_GUEST" class="white--text text-decoration-none" :href="'https://www.lakodoposla.com/index.php?mod=application&application_type=guest&posting_id='+post.id">
                {{ $t('buttons.applyAsGuest') | ucfirst}}
              </a>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>



</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  props: {
    "post": Object,
    "width": {
      type:String,
      default: '100%'
    },
    "justEmitClick": {
      type:Boolean,
      default: false
    },
  },
  setup(props, ctx) {
    const click = () => {
      ctx.root.$store.dispatch('common/setJobWantedToApply', props.post.id)
      if (props.justEmitClick) {
        ctx.emit('apply')
      } else {
        ctx.root.$router.push(ctx.root.localePath({ name: 'candidate-job-apply-id', params: { id:props.post.id  } }))
      }
    }

    const candidateLoggedIn = computed(() => {
      return ctx.root.$store.getters['candidate/auth/isAuthenticated'];
    })
    const dialog = ref(false)
    // const post = props.post;
    return {
      click,
      candidateLoggedIn,
      dialog

    }
  },

  methods: {
    APPLY_MAIN_BTN() {

    },

    APPLY_GO_TO_LOGIN_BTN() {

    },

    APPLY_GO_AS_GUEST() {

    },
    APPLY_LEAVE_CHOSE_MENU() {

    },


  },

  mounted() {

  }
})
</script>

<style>

</style>
