<template>
  <span>
<!--    <v-btn-->
<!--        class="font-weight-medium"-->
<!--        plain-->
<!--        text-->
<!--        :href="localePath('login')"-->
<!--    >-->
<!--     {{$t('links.jobSearch') | ucfirst}}-->
<!--    </v-btn>-->

        <v-btn
            class="font-weight-medium"
            plain
            text
            :href="localePath('contact')"
        >
     {{$t('general.contactUs') | ucfirst}}
    </v-btn>
  </span>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
  },
  setup(props, ctx) {

    return {
    }
  }
})
</script>

<style>

</style>