<template>
  <v-card
      class="pt-3 jobCardRegular ">
    <div  @click="openJobPost" class="pointer">
      <div class="textWrapper pointer font18">
        <span
            v-html="post.title"
        ></span>
      </div>
      <div class="textWrapper font14">
        <span> {{ post.company }}</span>
      </div>
      <div class="textWrapper font14">
        <span>
          {{ $t('general.place') | ucfirst}}
          <v-icon class="ml-n1">mdi-chevron-right</v-icon>
          {{ getCityNames(regions, post.regions) }}
        </span>
      </div>
    </div>
    <v-card-actions>
      <v-row
          justify="space-around"
          align="end"
          class="jobFooter"
      >
        <v-col cols="12" >
<!--          <SaveJobButtons-->
<!--              :post="post"-->
<!--          />-->

          <v-btn
              @click="openJobPost"
              plain
              :ripple="false"
              class="pa-0 mb-n1 linkColor2"
          >
            <v-icon class="mr-1">mdi-open-in-new</v-icon>
            {{ $t('general.applyOnJob') | ucfirst}}
          </v-btn>

          <v-divider
              vertical
              class="mr-3 ml-2"
          ></v-divider>
          <div
              class="d-inline-block mb-n2 jobExpireDate pointer"
              @click="openJobPost"
          >
            <v-icon class="mt-n1 text-h6">mdi-clock-outline</v-icon>
            <span>{{ post.expires | date }}</span>
          </div>
        </v-col>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'
import SaveJobButtons from "@/components/common/SaveJobButtons";

export default defineComponent({
  emits: [
    'displayJobData'
  ],
  props: {
    "post": Object
  },
  components: {
    SaveJobButtons
  },
  name: 'JobCard',
  setup(props, ctx) {

    //define store
    const app = ctx.root;
    const store = app.$store;
    const displayJobData = (postId) => {
      ctx.emit('displayJobData', postId)
    }
    const navigateTo = (link) => {
      ctx.root.$router.push(link);
    }

    const regions = computed(() => {
      return ctx.root.$store.state.common.generalData.regions
    });

    // const post = props.post;


    const isVruci = props.post.product_code == 'vruci30' || props.post.product_code == 'vruci15';
    return {
      regions,
      displayJobData,
      navigateTo,
      isVruci
    }

  },
  methods: {
    getCityNames(allRegions, postRegions) {
      let cities = [];
      allRegions.map(region => {
        if (postRegions.indexOf(String(region.id)) > -1) {
          cities.push(region.name)
        }
      })
      return cities.join(', ');
    },
    openJobPost () {
      if (this.post.open_pdf_directly == '1') {
        let baseUrl = process.env.AXIOS_BASE_URL
        this.url = process.env.AXIOS_BASE_URL + '/images/employer/' + this.post.emp_id + '/' + this.post.upload_document
        window.location.href = this.url;
      } else {
        this.$router.push(this.localePath({ name: 'job-details-id', params: {id: this.post.id}}))
      }

    }
  }
})
</script>

<style>
.textWrapper {
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 16px;
  max-width: 90%;
}

.jobTitle {
  color: #4059DF;
  font-size: 20px;
  font-weight: bold;
}

.jobCompany {
  font-size: 16px;
  font-weight: bold;
}

.blueJobCard {
  background: linear-gradient(95.43deg, #092771 8.39%, #335099 110.08%);
}

.blueJobCard .jobTitle, .blueJobCard .jobCompany, .blueJobCard .jobLocation, .blueJobCard .jobLocation i, .blueJobCard .jobTags {
  color: #fff!important;
}
.blueJobCard .jobFooter hr{
  border-color: #ffffff73;
}
.blueJobCard .jobFooter .jobExpireDate i, .blueJobCard .jobFooter .jobExpireDate span {
  color: #ffffff73;
}
.blueJobCard .jobTags span {
  background: #213F89;
  border: #213F89;
}


.whiteJobCard .jobTags span {
  background: #213F89;
  border: #213F89;
}

.jobCompany {
  margin-top: 3px;
}
.jobLocation {
  font-size:14px;
  font-weight: bold;
}
.jobLocation i {
  font-size:20px!important;
}
.jobFooter hr {
  height: 20px;
  margin-bottom: -3px;
}

.jobExpireDate {
  position: relative;
  bottom: -4px;
  font-size: 15px;
}

.jobTags span {
  padding:2px 5px;
  color: #fff;
  border-radius: 4px;
}

.jobCardRegular {
  border:none!important;
  border-radius: 8px!important;
  box-shadow: 0px 3px 5px -1px rgba(110, 110, 110, .2), 0px 5px 8px 0px rgba(110, 110, 110, .15), 0px 1px 14px 0px rgba(110, 110, 110, .12) !important;
}

</style>