<template>
  <v-card
      @click="openJobPost"
      class="jobCard overflow-hidden"
      :class="jobCardStyle"
      outlined
  >
    <!-- Promo image -->
    <div v-if="!(isFreeAd)"
         style="margin-bottom: -55px"
         class="jobPromoImage"
    >
      <img
          v-if="post.promo_image"
          :src="post.promo_image"
          alt="promo image"
          style="max-width:100%"
      />
    </div>

    <!-- Logo image -->
    <div
        v-if="!(isFreeAd)"
        @click="openJobPost"
        :class="post.thumb ? 'customPromotedLogo' : 'customPromotedLogo visibilityHidden'"
        :style="post.thumb ? 'background-image: url(https://www.lakodoposla.com/'+post.thumb+')' : ''"
    ></div>

    <div
        @click="openJobPost" class="pointer"
    >

      <div v-if="post.title.length <= 30" class="mt-2 textWrapper font18 pointer title" :class="isFreeAd ? 'font-weight-regular freeAd' : 'font-weight-medium'">
        <client-only>
          <JobCardTitle :title="post.title" />
        </client-only>
      </div>

      <v-tooltip bottom v-if="post.title.length > 30">
        <template v-slot:activator="{ on, attrs }">
        <span
            v-bind="attrs"
            v-on="on"
        >
          <div class="mt-2 textWrapper font18 pointer title" :class="isFreeAd ? 'font-weight-regular freeAd' : 'font-weight-medium'">
            <client-only>
              <JobCardTitle :title="post.title" />
            </client-only>
          </div>
        </span>
        </template>
        {{ post.title }}
      </v-tooltip>

      <div class="textWrapper">
        <client-only>
          <JobCardTitle :title="post.company" />
        </client-only>
      </div>

      <div class="textWrapper font14 mt-n1"
           style="margin-bottom: 35px"
      >
        <span>
          <v-icon class="ml-n1 mt-n1 font18">mdi-map-marker-outline</v-icon>
          {{ getCityNames(regions, post.regions) }}
        </span>
      </div>
    </div>

    <v-card-actions>
      <v-row
          align="end"
          class="jobFooter"
      >
        <v-col cols="10">
<!--          <SaveJobButtons-->
<!--              :post="post"-->
<!--          />-->

          <v-btn
            @click="openJobPost"
            class="px-3"
            :class="(isPromovisani || isIstaknuti || isMedijski || asPromo) ? 'employerTextColor rounded-lg white' : 'white--text rounded-lg buttonBlue'"
          >
            <v-icon
                class="mr-1 font18"
                :style="(isPromovisani || isIstaknuti || isMedijski || asPromo) ? 'color:#274CA2!important' : 'color:#fff!important'"
            >mdi-open-in-new</v-icon>
            {{ $t('general.applyOnJob') | ucfirst}}
          </v-btn>

          <v-divider
              vertical
              class="mr-3 ml-2"

          ></v-divider>
          <div
              class="d-inline-block mb-n2 jobExpireDate pointer"
              @click="openJobPost"
          >
            <v-icon class="mt-n1 text-h6">mdi-clock-outline</v-icon>
            <span>{{ post.expires | date }}</span>
          </div>
        </v-col>

<!--        <v-col-->
<!--            v-if="post.thumb && !isFreeAd"-->
<!--            @click="openJobPost"-->
<!--            cols="2"-->
<!--            class="text-center pointer"-->
<!--        >-->
<!--          <div-->
<!--              class="customPromotedLogo float-end"-->
<!--              :style="'background-image: url(https://www.lakodoposla.com/'+post.thumb+')'"-->
<!--          ></div>-->
<!--        </v-col>-->
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'
// import SaveJobButtons from "../../components/common/SaveJobButtons";
import ApplyJobButton from "./ApplyJobButton";
import JobCardTitle from "../JobCardTitle";

export default defineComponent({
  emits: [
    'displayJobData'
  ],
  props: {
    "post": Object,
    "asPromo": {
      type: Boolean,
      default: false,
    },
  },
  components: {
    JobCardTitle,
    ApplyJobButton,
    // SaveJobButtons
  },
  name: 'JobCard',
  setup(props, ctx) {

    //define store
    const app = ctx.root;
    const store = app.$store;
    const displayJobData = (postId) => {
      ctx.emit('displayJobData', postId)
    }
    const navigateTo = (link) => {
      ctx.root.$router.push(link);
    }

    const regions = computed(() => {
      return ctx.root.$store.state.common.generalData.regions
    });

    const prices = computed(() => {
      return ctx.root.$store.state.common.generalData.posting_prices_advanced
    });

    // const post = props.post;


    const jobCardStyle = computed(() => {
      let classes = '';
      classes = ['medijski30', 'medijski15', 'promovisani30','promovisani15', 'istaknuti30', 'istaknuti15'].indexOf(props.post.product_code) > -1 || props.asPromo ? 'blueJobCard' : 'whiteJobCard'
      if (['vruci15','vruci30'].indexOf(props.post.product_code) > -1 && !props.asPromo) {
        return classes += ' redJobBorder';
      }

      if (['prioritetni15','prioritetni30'].indexOf(props.post.product_code) > -1) {
        return classes += ' goldJobBorder';
      }
      return classes;
    })

    const isVruci = computed(() => props.post.product_code == 'vruci30' || props.post.product_code == 'vruci15');
    const isMedijski = computed(() => props.post.product_code == 'medijski30' || props.post.product_code == 'medijski15');
    const isPromovisani = computed(() => props.post.product_code == 'promovisani30' || props.post.product_code == 'promovisani15');
    const isIstaknuti = computed(() => props.post.product_code == 'istaknuti30' || props.post.product_code == 'istaknuti15');
    const isPrioritetni = computed(() => props.post.product_code == 'prioritetni30' || props.post.product_code == 'prioritetni15');
    const isObican = computed(() => props.post.product_code == 'obican30' || props.post.product_code == 'obican15');

    const isFreeAd = computed(() => {
      return (!isVruci.value &&
        !isMedijski.value &&
        !isPromovisani.value &&
        !isIstaknuti.value &&
        !isPrioritetni.value &&
        !isObican.value);
    })



    let images = [
      'https://wallpapersmug.com/download/1600x900/ebde76/delicious-pizza-food.jpg',
      'https://media.self.com/photos/622912847b959736301bfb91/16:9/w_2111,h_1187,c_limit/GettyImages-1301412050.jpg',
      'https://wallpapersmug.com/download/1600x900/930962/vegetables-fresh.jpg'
    ]


    return {
      images,
      regions,
      displayJobData,
      navigateTo,
      prices,
      jobCardStyle,
      isVruci,
      isMedijski,
      isPromovisani,
      isIstaknuti,
      isPrioritetni,
      isObican,
      isFreeAd
    }

  },
  methods: {
    getCityNames(allRegions, postRegions) {
      let cities = [];
      allRegions.map(region => {
        if (postRegions.indexOf(String(region.id)) > -1) {
          cities.push(region.name)
        }
      })
      return cities.join(', ');
    },
    openJobPost () {
      this.$router.push(this.localePath({ name: 'job-details-id', params: {id: this.post.id}}))

      // if (this.post.open_pdf_directly == '1') {
      //   let baseUrl = process.env.AXIOS_BASE_URL
      //   this.url = process.env.AXIOS_BASE_URL + '/images/employer/' + this.post.emp_id + '/' + this.post.upload_document
      //   window.location.href = this.url;
      // } else {
      //   this.$router.push(this.localePath({ name: 'job-details-id', params: {id: this.post.id}}))
      // }

    }
  }
})
</script>

<style>
.textWrapper {
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 16px;
  max-width: 90%;
}

.jobCompany {
  font-size: 16px;
  font-weight: bold;
}

.blueJobCard {
  background: linear-gradient(95.43deg, #092771 8.39%, #335099 110.08%);
  color: #fff!important;
}

.blueJobCard i, .blueJobCard .title {
  color: #fff!important;
}

.blueJobCard .jobFooter .jobExpireDate i, .blueJobCard .jobFooter .jobExpireDate span {
  color: #ffffff73;
}
.blueJobCard .jobTags span {
  background: #213F89;
  border: #213F89;
}


.whiteJobCard .jobTags span {
  background: #213F89;
  border: #213F89;
}

.jobCompany {
  margin-top: 3px;
}
.jobLocation {
  font-size:14px;
  font-weight: bold;
}
.jobLocation i {
  font-size:20px!important;
}
.jobFooter hr {
  height: 20px;
  margin-bottom: -3px;
}

.jobExpireDate {
  position: relative;
  bottom: -4px;
  font-size: 15px;
}

.jobTags span {
  padding:2px 5px;
  color: #fff;
  border-radius: 4px;
}


.productCodePill {
  padding: 2px 7px;
  font-variant: small-caps;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  top: 0px;
  left: -19px;
}

.jobCard {
  border: none!important;
  border-radius: 8px!important;
  box-shadow: 0px 3px 5px -1px rgba(110, 110, 110, 0.1), 0px 5px 8px 0px rgba(110, 110, 110, 0.1), 0px 1px 14px 0px rgba(109, 109, 109, 0.1) !important;
}

.jobCard:hover {
  box-shadow: 0px 20px 25px -7px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1) !important;
}

.jobCard .title{
  color: #1976d2;
}
.jobCard .freeAd{
  color: #3a3a3a !important;
  font-weight: 400!important;
}

.redJobBorder {
  border-left: 3px solid red!important;
}

.goldJobBorder {
  border-left: 3px solid gold!important;
  border-color: gold!important;
}

.featuredJobTitle {
}
</style>