<template>
    <div class="jobDetailsWrapper">
      <span v-html="parseHtmlEnteties(jobDetails.message)"></span>
    </div>
</template>

<script>
    import {defineComponent, computed} from '@vue/composition-api'

    export default defineComponent({
        props:{
            "jobDetails": Object
        },
        name:'JobDetails',
        setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;
            // const post = props.post;


            const parseHtmlEnteties = (html) => {
                if (process.client) {
                    var txt = document.createElement('textarea');
                    txt.innerHTML = html;

                    var txt2 = document.createElement('textarea');
                    txt2.innerHTML = txt.value;

                    return txt2.value;
                } else {
                    return ''
                }
            }
            
        return {
            parseHtmlEnteties
        }
        }
    })


</script>

<style>
    .job_title {
        cursor: pointer;
    }
    .stickyCard {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        max-height: 88vh;
        overflow-y: scroll;
    }

    .testSticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background: #faf8ff;
    }

    .jobDetailsWrapper img {
        max-width: 100%;
        margin: 20px auto;
        display: block;
        width: auto;
        border-radius: 4px;
        box-shadow: 4px 4px 8px #d0d0d0;
    }
</style>