<template>
  <div
    style="position:relative;"
    :style="!isShortAd ? 'margin-top:65px' : ''"
  >
    <v-row align="center" class="hidden-md-and-down">
      <v-col cols="12" class="pr-0 grey--text">
        <span class="mt-2">
             {{ $t('inputLabels.jobStartsTime') }} {{jobDetails.start_date | date}} - {{ $t('inputLabels.jobExpirationTime') }} {{jobDetails.expires | date}}
        </span>
      </v-col>
    </v-row>

    <v-row align="center">
      <v-col cols="12" class="pr-0">
        <h1 class="primary--text mb-3">{{jobDetails.title | html_decode}}</h1>
<!--        <h3 v-if="!company" class="primary&#45;&#45;text">{{jobDetails.company | html_decode}}</h3>-->
        <h3 v-if="company" class="primary--text">{{company | html_decode}}</h3>
        <h3 v-if="jobDetails.company" class="primary--text">{{jobDetails.company | html_decode}}</h3>
        <p class="grey--text" :inner-html.prop="company_description | html_decode"></p>
      </v-col>
    </v-row>

    <v-row align="start" class="hidden-lg-and-up">
      <v-col cols="12">
         <span class="mt-2 grey--text">
            <v-icon class="grey--text">mdi-clipboard-text-clock-outline</v-icon>
             {{jobDetails.start_date | date}} -
             {{jobDetails.expires | date}}
        </span>
      </v-col>
    </v-row>

    <v-row align="start" class="mt-n2 mt-lg-0">
        <v-col cols="5" md="2" class="pl-5">
          <span class="font-weight-medium ml-n2">{{ $t('general.place') | ucfirst}}:</span>
        </v-col>
        <v-col cols="7" md="10">
          <span @click="details=allowedRegions, dialog=true" class="mt-2 value" :class="allowedRegions.length > 50 ? 'expandable' : ''">
            {{ allowedRegions }}
          </span>
        </v-col>
    </v-row>

    <v-row align="start" class="mt-n2">
        <v-col cols="5" md="2" class="pl-5">
          <span class="font-weight-medium ml-n2">{{ $t('general.career_levels') | ucfirst }}:</span>
        </v-col>
        <v-col cols="7" md="10">
          <span v-if="allowedCareers.length == 1">
              {{ allowedCareers[0] }}
          </span>
          <div v-if="allowedCareers.length > 1">
            <div>Min. {{allowedCareers[0]}}</div>
            <div v-if="allowedCareers[1] < 40">{{ $i18n.locale=='sr' ? 'Maks.' : 'Max.'}} {{allowedCareers[1]}}</div>
          </div>
        </v-col>
    </v-row>

    <v-row align="start" class="mt-n2">
      <v-col cols="5" md="2" class="pl-5">
        <span class="font-weight-medium ml-n2">{{ $t('general.education_levels') | ucfirst }}:</span>
      </v-col>
      <v-col cols="7" md="10">
          <span v-if="allowedEducations.length == 1">
              {{ allowedEducations[0] }}
          </span>
        <div v-if="allowedEducations.length > 1">
          <div>Min. {{allowedEducations[0]}}</div>
          <div v-if="allowedEducations[1] < 100">{{ $i18n.locale=='sr' ? 'Maks.' : 'Max.'}} {{allowedEducations[1]}}</div>
        </div>
      </v-col>
    </v-row>

    <v-row align="start" class="mt-n2">
      <v-col cols="5" md="2" class="pl-5">
        <span class="font-weight-medium ml-n2">{{ $t('general.contract_types') | ucfirst }}:</span>
      </v-col>
      <v-col cols="7" md="10">
        <span class="">{{ allowedContract }}</span>
      </v-col>
    </v-row>


    <v-dialog
        width="400px"
        v-model="dialog"
    >
      <v-card>
        <div class="pa-5 black--text">
          <ul>
            <li v-for="detail in details.split(',')">
              {{detail}}
            </li>
          </ul>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
              color="green darken-1"
              text
              @click="dialog = false, details = ''"
          >
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name: 'JobGeneralData',
  props: {
    jobDetails: Object,
    company : {
      type: String,
      default: "",
    },
    company_description : {
      type: String,
      default: "",
    },
    isShortAd : {
      type: Boolean
    }
  },
  setup(props, ctx) {
    const baseUrl = process.env.baseUrl;
    const regions = computed(() => ctx.root.$store.state.common.generalData.regions)
    const educations = computed(() => ctx.root.$store.state.common.generalData.education_levels)
    const careers = computed(() => ctx.root.$store.state.common.generalData.career_levels)
    const contracts = computed(() => ctx.root.$store.state.common.generalData.contract_types)


    const allowedRegions = computed(() => {
      return regions.value.filter(region => props.jobDetails.regions.indexOf(String(region.id)) > -1).map(region => region.name).join(', ')
    })

    const allowedEducations = computed(() => {
      let educationLevels = [];

      //regular job
      if (props.jobDetails.education_levels) {
        educationLevels.push(educations.value.filter(education => props.jobDetails.education_levels[0] == education.degree_code).map(education => education.degree)[0])
        let lastIndex = props.jobDetails.education_levels.length - 1;
        if (props.jobDetails.education_levels[0] != props.jobDetails.education_levels[lastIndex]) {
          educationLevels.push(educations.value.filter(education => props.jobDetails.education_levels[lastIndex] == education.degree_code).map(education => education.degree)[0])
        }
      }

      //new job
      if (props.jobDetails.min_education) {
        educationLevels.push(educations.value.filter(education => props.jobDetails.min_education == education.degree_code).map(education => education.degree)[0])
        educationLevels.push(educations.value.filter(education => props.jobDetails.max_education == education.degree_code).map(education => education.degree)[0])
      }

      return educationLevels
    })

    const allowedCareers = computed(() => {
      let careerLevels = [];
      careerLevels.push(careers.value.filter(career => props.jobDetails.career_levels[0] == career.code).map(career => career.career_level)[0])
      let lastIndex = props.jobDetails.career_levels.length - 1;
      if (props.jobDetails.career_levels[0] != props.jobDetails.career_levels[lastIndex]) {
        careerLevels.push(careers.value.filter(career => props.jobDetails.career_levels[lastIndex] == career.code).map(career => career.career_level)[0])
      }
      return careerLevels
    })


    const allowedContract = computed(() => {
      return contracts.value.filter(contract => Number(props.jobDetails.contract_type_id) === contract.id).map(contract => contract.contract_type).join(', ')
    })

    const dialog = ref(false);
    const details = ref('');

    return {
      baseUrl,
      regions,
      educations,
      careers,
      contracts,
      allowedRegions,
      allowedEducations,
      allowedCareers,
      allowedContract,
      details,
      dialog
    }
  },



})
</script>

<style scoped>
  .icons {
    font-size: 22px;
    margin-top: -2px;
  }

 .expandable {
   max-width: 250px;
   overflow: hidden;
   display: inline;
   text-overflow: ellipsis;
   white-space: nowrap;
   position: absolute;
 }
</style>
