<template>
  <div class="d-inline-block" style="z-index: 9">
    <v-btn
        v-if="savedJobsIds.indexOf(post.id) == -1"
        @click="$store.dispatch('candidate/savedJobs/add', post)"
        text
        :color="['medijski30', 'medijski15'].indexOf(post.product_code) > -1 ? 'white' : '#4059DF'"
        class=" pa-1"
    >
      <v-icon>mdi-star</v-icon>
      {{$t('general.save') | ucfirst}}
    </v-btn>
    <v-btn
        v-if="savedJobsIds.indexOf(post.id) > -1"
        @click="$store.dispatch('candidate/savedJobs/delete', post.id)"
        text
        :color="['medijski30', 'medijski15'].indexOf(post.product_code) > -1 ? 'white' : '#4059DF'"
        class="pa-1"
    >
      <v-icon>mdi-star-off</v-icon>
      {{$t('removeFromSaved') | ucfirst}}
    </v-btn>
  </div>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    "post": Object,
  },
  setup(props, ctx) {
    let savedJobsIds = computed(() => {
      return ctx.root.$store.getters['candidate/savedJobs/savedJobsIds'];
    });
    // const post = props.post;
    return {
      savedJobsIds
    }
  }
})
</script>

<style>

</style>