<template>
  <span>
    <v-btn
        width="100%"
        v-if="savedJobsIds.indexOf(post.id) == -1"
        @click="saveJob"
        large
        :color="['medijski30', 'medijski15'].indexOf(post.product_code) > -1 ? 'grey' : 'grey'"
        class="px-4 lighten-2 elevation-0 font-weight-normal rounded-lg linkColor2"
        color="#F2F5FD"
    >
      <v-icon>mdi-star</v-icon>
      {{ $t('general.save') | ucfirst}}
    </v-btn>
    <v-btn
        width="100%"
        v-if="savedJobsIds.indexOf(post.id) > -1"
        @click="deleteFromSaved"
        large
        :color="['medijski30', 'medijski15'].indexOf(post.product_code) > -1 ? 'grey' : 'grey'"
        class="px-4 lighten-2 elevation-0 font-weight-normal rounded-lg linkColor2"
        color="#F2F5FD"
    >
      <v-icon>mdi-star-off</v-icon>
      {{ $t('removeFromSaved') }}
    </v-btn>


    <v-snackbar
        v-model="snackbar"
        color="primary"
        timeout="3000"
    >
      <span v-if="saveIsClicked == 'yes'" class="font-weight-medium">{{$t('general.jobIsSaved')}}</span>
      <span v-if="saveIsClicked == 'no'" class="font-weight-medium">{{$t('general.jobIsRemovedFromSaved')}}</span>

      <template v-slot:action="{ attrs }">
        <v-btn
            color="white"
            class="rounded-lg"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          OK
        </v-btn>
      </template>
    </v-snackbar>

  </span>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  props: {
    "post": Object,
  },
  setup(props, ctx) {
    let savedJobsIds = computed(() => {
      return ctx.root.$store.getters['candidate/savedJobs/savedJobsIds'];
    });
    // const post = props.post;
    const snackbar = ref(false);
    const saveIsClicked = ref(null);

    const saveJob = () => {
      ctx.root.$store.dispatch('candidate/savedJobs/add', props.post)
      snackbar.value = true;
      saveIsClicked.value = 'yes';
    }

    const deleteFromSaved = () => {
      ctx.root.$store.dispatch('candidate/savedJobs/delete', props.post.id)
      snackbar.value = true;
      saveIsClicked.value = 'no';
    }

    return {
      savedJobsIds,
      snackbar,
      saveIsClicked,
      saveJob,
      deleteFromSaved
    }
  }
})
</script>

<style>

</style>