<template>
  <v-col cols="12" class="pa-0">
    <v-select
        class="white"
        v-model="selectedItems"
        :items="filteredItems"
        outlined
        :menu-props="{ maxHeight: '400' }"
        multiple
        hide-details
        :label="$t('general.regions')"
        persistent-hint
        @keyup="keyup"
    >
      <template v-slot:selection="{ item, index }">
        <small v-if="index === 0">{{ item.text }}</small>
        <span
            v-if="index === 1"
            class="grey--text text-caption ml-1"
        >
           (+ {{ selectedItems.length - 1 }} {{ $t('inputLabels.plusOthers') }})
        </span>
      </template>
      <template v-slot:prepend-item>
        <div class="itemSearch grey pa-3 lighten-5 pb-0 mb-0">
          <v-text-field

              v-model="itemsSearch"
              class="grey lighten-5 customFilterSearch"
              :label="$t('inputLabels.search')"
          ></v-text-field>
        </div>
      </template>

    </v-select>
  </v-col>
</template>

<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import searchParams from "../../../composables/search_params";

export default defineComponent({
  name: "CategorySelect",
  emits: [
    'dataSelected'
  ],
  props: {
    dataType: String,
    dataIdKeyword: String,
    dataNameKeyword: String
  },
  setup(props, ctx) {

    const selectedItems = ref([]);

    //get data from API
    const items = ref([]);
    ctx.root.$axios.get('/api/public/' + props.dataType)
        .then(result => {
          result.data.map(item => {
            let selectObject = {
              text: item[props.dataNameKeyword],
              value: item[props.dataIdKeyword],
            }
            items.value.push(selectObject);
          })
        })


    //preselected items
    let {getSearchParam, setSearchParams} = searchParams();
    setSearchParams(ctx.root.$route.params.search_params);
    getSearchParam(props.dataType, true).map(param => {
      selectedItems.value.push(Number(param))
    })


    //on select
    watch(selectedItems, () => {
      let data = selectedItems.value.join(',')
      ctx.emit('dataSelected', data)
    })

    //filtration (inner input)
    const itemsSearch = ref('');
    const filteredItems = computed(() => {
      if (!itemsSearch.value) return items.value;
      let filtered = []

      items.value.map(item => {
        if (item.text.toLowerCase().indexOf(itemsSearch.value.toLowerCase()) > -1) {
          filtered.push(item)
        }
      })

      return filtered;
    });

    const keyup = (evt) => {
    }
    return {items, selectedItems, filteredItems, itemsSearch, keyup}
  },
})
</script>

<style scoped>
.customFilterSearch {
  position: sticky;
  top: 0px;
  z-index: 9999;
  margin-top: 0px;
  background: #fff;
}

.v-sheet.v-list {
  padding-top: 0px !important;
}

.itemSearch {
  top: 0;
  position: sticky;
  z-index: 1;
  border-bottom: 1px solid red;
}
</style>