<template>
  <div
      :class="dataType"
      class="mr-2 dataSelectWrapper"
      :style="'width:'+((width <= 100) ? width+'%' : width+'px')+'!important'"
  >
    <!--    <label>{{$t(`general.${dataType}`)}} </label>-->

    <div style="display: none">
      <div class="label">{{ $t('general.' + dataType) | ucfirst}}</div>
    </div>
    <v-select
        class="mulitselect"
        :class="selectedItems.length ? 'selectedMultiselect' : ''"
        @input="scrollFix"
        v-model="selectedItems"
        :items="filteredItems"
        outlined
        :menu-props="{ maxHeight: '400', closeOnClick: true }"
        :multiple="multiselect"
        hide-details
        @keyup="keyup"
    >
      <template v-slot:selection="{ item, index }">
        <!--        <small v-if="index === 0">{{ item.text }}</small>-->
        <!--        <span-->
        <!--            v-if="index === 1"-->
        <!--            class="grey&#45;&#45;text text-caption ml-1"-->
        <!--        >-->
        <!--           (+ {{ selectedItems.length - 1 }} {{ $t('inputLabels.plusOthers') }})-->
        <!--        </span>-->
      </template>
      <template
          v-if="enableSearch"
          v-slot:prepend-item
      >
        <div class="selectItemSearch pa-3 pb-0 mb-0">
          <v-text-field
              outlined
              hide-details
              v-model="itemsSearch"
              class="grey lighten-5 customFilterSearch"
              :label="$t('inputLabels.search')"
          ></v-text-field>
        </div>
      </template>

    </v-select>
  </div>
</template>

<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import searchParams from "../../../composables/search_params";
import multiselectFix from "~/composables/multiselect_fix";

export default defineComponent({
  name: "DataSelect",
  emits: [
    'dataSelected'
  ],
  props: {
    dataType: String,
    dataIdKeyword: String,
    dataNameKeyword: String,
    multiselect: {
      type: Boolean,
      default: false
    },
    enableSearch: {
      type: Boolean,
      default: true
    },
    width: {
      type: Number,
      default: 100
    }
  },
  setup(props, ctx) {
    const selectedItems = ref([]);
    let {scrollFix} = multiselectFix()

    const items = ref([]);
    ctx.root.$store.state.common.generalData[props.dataType].map(item => {
      let selectObject = {
        text: item[props.dataNameKeyword],
        value: item[props.dataIdKeyword],
      }
      items.value.push(selectObject);
    })

    // add default 'select' optin to items
    // if (props.dataType === 'contract_types') {
    //   items.value.unshift({
    //     text: item[$t()],
    //     value: item[props.dataIdKeyword],
    //   })
    // }

    //preselected items
    let searchParamsObject = ctx.root.$store.getters['searchParams/getSearchParamsObject']

    let dataType;

    switch (props.dataType) {
      case 'employers':
        dataType = 'emp_id';
        break;
      case 'published':
        dataType = 'date_range';
        break;
      default:
        dataType = props.dataType;
    }

    let data = searchParamsObject[dataType] ? searchParamsObject[dataType].split(",") : [];

    data.map(param => {
      selectedItems.value.push(Number(param))
    })

    //on select
    watch(selectedItems, () => {
      let data = props.multiselect ? selectedItems.value.join(',') : selectedItems.value;
      ctx.emit('dataSelected', data)
    })

    //filtration (inner input)
    const itemsSearch = ref('');
    const filteredItems = computed(() => {
      if (!itemsSearch.value) return items.value;
      let filtered = []

      items.value.map(item => {
        if (item.text.toLowerCase().indexOf(itemsSearch.value.toLowerCase()) > -1) {
          filtered.push(item)
        }
      })

      return filtered;
    });

    const keyup = (evt) => {

    }
    return {items, selectedItems, filteredItems, itemsSearch, keyup, scrollFix}
  },
  methods: {

  },
  created() {
    setTimeout(() => {
      let select = document.querySelector('.' + this.dataType + ' .v-select__slot')
      let label = document.querySelector('.' + this.dataType + ' .label')

      select.prepend(label)
    },200)
  }
})
</script>

<style>

.customFilterSearch {
  position: sticky;
  top: 0px;
  z-index: 9999;
  margin-top: 0px;
  background: #fff;
}

.v-sheet.v-list {
  padding-top: 0px !important;
}

.itemSearch {
  top: 0;
  position: sticky;
  z-index: 1;
  border-bottom: 1px solid red;
}

.mulitselect .v-input__control fieldset {
  border: none !important;
  background: #E0DEDC;
}

.selectedMultiselect .v-input__control fieldset {
  background: #4F4F4F !important;
}

.selectedMultiselect .label, .selectedMultiselect .mdi-menu-down::before {
  color: #fff !important;
}

.multiselect .mdi-menu-down::before {
  margin-top: -5px;
}

.dataSelectWrapper {
  display: inline-block;
}

.dataSelectWrapper .mdi-menu-down::before {
  margin-top: -5px;
}
</style>