<template>
  <v-row
      align="center"
      justify="center"
      class="pa-0"
  >
    <v-col
        cols="12"
        md="5"
        class="pb-md-3 pb-0"
    >
      <div class="mainInputWrapper">
<!--        <label class="white&#45;&#45;text">{{ $t('inputLabels.nameOfThePosition') }}</label>-->
        <label class="white--text">{{$t('inputLabels.nameOfThePosition')}}</label>
        <v-icon>mdi-briefcase</v-icon>
        <v-text-field
            @keyup="keyup"
            class="customSearchInput rounded-lg "
            outlined
            :placeholder="$t('inputLabels.positionEmpKeyWord')"
            :background-color="!$vuetify.theme.isDark ? 'white' : ''"
            hide-details
            v-model="searchTerm"
        ></v-text-field>
      </div>
    </v-col>
    <v-col
        cols="12"
        md="5"
        class=""
        style="position:relative;"
    >

      <div class="mainSelectWrapper">
        <v-icon>mdi-map-marker</v-icon>
        <Select
            :label="$t('inputLabels.locationOfEmployment')"
            placeholder="Grad ili mesto"
            :dataType="'regions'"
            :dataIdKeyword="'id'"
            :dataNameKeyword="'name'"
            @dataSelected="dataSelected($event, 'regions')"
        />
<!--        <input-->
<!--            type="number"-->
<!--            @keyup="keyup"-->
<!--            placeholder="km"-->
<!--            class="customKm rounded-md"-->
<!--            min="0"-->
<!--        />-->
      </div>
    </v-col>

<!--    <v-col-->
<!--        cols="12"-->
<!--        md="3"-->
<!--        class=""-->
<!--    >-->
<!--      <Select-->
<!--          :dataType="'categories'"-->
<!--          :dataIdKeyword="'id'"-->
<!--          :dataNameKeyword="'name'"-->
<!--          @dataSelected="dataSelected($event, 'categories')"-->
<!--      />-->
<!--    </v-col>-->
    <v-col
        class="pt-md-3"
        cols="12"
        md="2"
    >
      <label class="white--text hidden-sm-and-down">&nbsp;</label>
      <v-btn
          @click="searchJobs"
          depressed
          x-large
          class="mt-0 float-end float-md-none rounded-md font16 font-weight-bold rounded-lg"
          color="#30CAF1"
          dark
          width="100%"
      >
        {{ $t('inputLabels.search') | ucfirst}}
      </v-btn>

    </v-col>
<!--    <v-col-->
<!--        cols="12"-->
<!--        v-if="isMainPage"-->
<!--        class="text-right"-->
<!--    >-->
<!--      <span-->
<!--          class="white&#45;&#45;text pointer"-->
<!--          @click="moreOptions = true"-->
<!--      >-->
<!--        {{ $t('buttons.detailedSearch') }}-->
<!--        <v-icon color="white">mdi-plus</v-icon>-->
<!--      </span>-->
<!--    </v-col>-->

    <MoreOptionsDialog  v-if="isMainPage" @listJobs="searchJobs" />
  </v-row>
</template>

<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import searchParams from "../../../composables/search_params";
import Select from "../../../components/common/search/Select";
import MoreOptionsDialog from "../../../components/common/dialgos/MoreOptionsDialog";

export default defineComponent({
  props: {
    isMainPage: {
      type: Boolean,
      default: false
    },
  },
  components: {
    Select,
    MoreOptionsDialog
  },
  setup(props, ctx) {

    //search job logic
    const searchTerm = ref('');
    searchTerm.value = ctx.root.$store.getters['searchParams/getSearchParamsObject'].search_term;

    watch(searchTerm, () => {
      dataSelected(searchTerm.value, 'search_term')
    })

    const searchJobs = () => {
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop:'page', value:'1'})
      let searchParamsString = ctx.root.$store.getters['searchParams/getSearchParamsString'];
      ctx.root.$router.push(ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: searchParamsString}
      }))
    }

    const dataSelected = (value, prop) => {
       ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop, value})
    }
    const keyup = (e) => {
      if (e.keyCode == 13) {
        searchJobs();
      }
    }

    return {searchTerm, searchJobs, dataSelected, keyup}
  },
})
</script>

<style>
.customFilterSearch {
  position: sticky;
  top: 0px;
  z-index: 9999;
  margin-top: 0px;
  background: #fff !important;
}

.v-sheet.v-list {
  padding-top: 0px !important;
}

.customKm {
  position: absolute;
  top: 33px;
  /* max-height: 9px; */
  right: 20px;
  background: #fff;
  padding: 4px;
  border-left: 1px solid #ccc;
  width: 50px;
}

.mainInputWrapper, .mainSelectWrapper {
  position: relative;
}

.mainInputWrapper i, .mainSelectWrapper i {
  position: absolute!important;
  color:#919CAF!important;
  bottom: 14px;
  z-index: 1;
  left: 10px;
}

.mainSelectWrapper .mdi-menu-down::before {
  display:none!important;
}

.mainInputWrapper .v-input__slot, .mainSelectWrapper .v-input__slot {
  padding-left:40px!important;
}
</style>