<template>
<h1>clearing</h1>
</template>

<script>
export default {
  name: "index.vue",
  methods: {
    deleteAllCookies() {
      var cookies = document.cookie.split(";");

      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
      }
    }
  },
  mounted() {
    this.deleteAllCookies()
  }
}
</script>

<style scoped>

</style>