<template>
  <v-row justify="center">
    <v-dialog
        v-model="opened"
        persistent
        transition="scroll-x-transition"
        max-width="1000px"
    >
      <v-card>
        <v-card-title class="mb-3">
            <span class="text-h5">
              {{jobDetails.title}} -
              {{jobDetails.company}}
            </span>
        </v-card-title>
        <v-card-subtitle class="mt-4">
            <span class="text-h5">
              Izaberite dokument/e
            </span>
        </v-card-subtitle>
        <v-card-text>
          <client-only>
            <Documents :application="true" />
          </client-only>

        </v-card-text>


        <v-card-actions
          class="actions"
        >
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1 white--text"
              text
              @click="$emit('closeFirstStep')"
          >
            <v-icon>mdi-chevron-left</v-icon>
            <span>{{ $t('general.leave') }}</span>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1 white--text"
              :disabled="!enableStepTwo"
              @click="dialogStepTwo = true, $emit('closeFirstStep')"
          >
            <span>{{$t('buttons.nextStep').toUpperCase()}}</span>
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog
        v-model="dialogStepTwo"
        persistent
        transition="scroll-x-transition"
        max-width="1000px"
    >
      <v-card>
        <v-card-title class="mb-3">
            <span class="text-h5">
              {{jobDetails.title}} -
              {{jobDetails.company}}
            </span>
        </v-card-title>
        <v-card-subtitle class="mt-4">
            <span class="text-h5">
              Odgovorite na pitanja poslodavaca
            </span>
        </v-card-subtitle>
        <v-card-text>
        <h1>PITANJA</h1>
        </v-card-text>


        <v-card-actions
            class="actions"
        >
          <v-btn
              color="blue darken-1 white--text"
              :disabled="!enableStepThree"
              @click="dialogStepTwo = false, $emit('openFirstStep')"
          >
            <v-icon>mdi-chevron-left</v-icon>
            <span>{{ $t('buttons.prevStep').toUpperCase() }}</span>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1 white--text"
              :disabled="!enableStepThree"
              @click="dialogStepTwo = false, dialogStepThree = true"
          >
            <span>{{ $t('buttons.nextStep').toUpperCase() }}</span>
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog
        v-model="dialogStepThree"
        persistent
        max-width="1000px"
    >
      <v-card>
        <v-card-title class="mb-3">
            <span class="text-h5">
              {{jobDetails.title}} -
              {{jobDetails.company}}
            </span>
        </v-card-title>
        <v-card-subtitle class="mt-4">
            <span class="text-h5">
              {{$t('answerTheEmployersQuestions')}}
            </span>
        </v-card-subtitle>
        <v-card-text>
          <h1> {{$t('general.applyOnJob').toUpperCase()}}</h1>
        </v-card-text>


        <v-card-actions
            class="actions"
        >
          <v-btn
              color="blue darken-1 white--text"
              @click="dialogStepThree = false, dialogStepTwo = true"
          >
            <v-icon>mdi-chevron-left</v-icon>
            <span>{{ $t('buttons.prevStep').toUpperCase() }}</span>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1 white--text"
          >
            <span>{{$t('general.applyOnJob').toUpperCase()}}</span>
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

import {defineComponent, ref, computed} from '@vue/composition-api'
import Documents from "./candidate/Documents";

export default defineComponent({
  components: {Documents},
  props: {
    opened:Boolean,
    jobDetails: {
      type: Object,
    }
  },
  name: "ApplyToJob",
  setup(props, ctx) {
    const dialogStepTwo = ref(false);
    const dialogStepThree = ref(false);
    const enableStepTwo = computed(() => {
      return ctx.root.$store.getters['candidate/jobApplication/profileDataChecked'] || ctx.root.$store.getters['candidate/documents/getSelectedDocumentIds'].length
    })

    const enableStepThree = computed(() => {
      return true
    })
    return {
      dialogStepTwo,
      dialogStepThree,
      enableStepTwo,
      enableStepThree,
    }
  },
  created() {

  }
})
</script>

<style>
.actions {
  position: sticky;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #ccc;
  background: #fff;
}
</style>