<template>
  <v-btn icon x-large class="primary rounded-xl backToTop hideBackToTop" dark @click="scrollToTop">
    <v-icon class="">mdi-arrow-up</v-icon>
  </v-btn>
</template>

<script>

import { defineComponent,ref, computed } from '@vue/composition-api'

export default defineComponent({
  components: {
  },
  props: {

  },
  name: "BackToTopButton",
  setup(props, ctx) {
    const scrollToTop = () => {
       window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    return {
      scrollToTop
    }
  },
  created() {
    window.onscroll = function() {
      if (window.scrollY > 300) {
        document.querySelector('.backToTop').classList.remove('hideBackToTop')
      } else {
        document.querySelector('.backToTop').classList.add('hideBackToTop')
      }
    };
  }
})
</script>

<style>
.backToTop {
  position: fixed;
  z-index: 8;
  bottom: 20px;
  right: 20px;
}
.hideBackToTop {
  display: none;
}
</style>