<template>
  <div>
    <label :class="captchaNotValid ? 'red--text' : ''">Povrdite da niste robot:</label>
    <div class="g-recaptcha" :data-sitekey="siteKey" data-callback="onCompleted" sr ></div>
  </div>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'


export default defineComponent({
  name: "Captcha",
  props: {
    captchaNotValid: false
  },
  setup() {
    const siteKey = computed(() => {
      return process.env.NODE_ENV == 'development' ? '6LdgOh8jAAAAAKSzxpMe5WctGvGPO0_2K0eMnyNZ' : '6LeJOR8jAAAAAI2tZUvZPb6YObtK9csSjFjX4P2';
    });

    return {
      siteKey
    };
  },
  data() {
    return {}
  },
  mounted() {
    window.onCompleted = () => {
      console.log('captcha completed.');
    }
  }

});
</script>
