<template>
  <div>
    <div class="MiddleNewJobs_custom_page">
      <div class="CustomHeader">
        <div class="CustomPageHeaderLeft text-h5 mb-4">{{ $t('contactOurAgents') | ucfirst}}</div>
        <v-row class="mb-4">
          <v-col cols="12" class="px-0" v-for="manager in contacts.managers">
            <v-card class="pa-5 elevation-0 rounded-lg">
              <p><span class="font-weight-bold">{{manager.name}}</span></p>
              <p>
                <span class="font-weight-medium">{{$t('inputLabels.phone')}} (Mob.)</span>
                <br>
                <a :href="'tel:'+manager.mobile">{{manager.mobile}}</a>
              </p>
              <p>
                <span class="font-weight-medium">{{$t('inputLabels.phone')}}</span>
                <br>
                <a :href="'tel:'+manager.phone">{{manager.phone}}</a>
              </p>
              <p>
                <span class="font-weight-medium">{{$t('inputLabels.email')}}</span>
                <br>
                <a :href="'mailto:'+manager.email">{{manager.email}}</a>
              </p>
            </v-card>
          </v-col>
        </v-row>
      </div>

    </div>
  </div>
</template>

<script>

import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  components: {
  },
  props: {
    contacts: Object
  },
  name: "ContactOurAgents",
  setup(props, ctx) {
    const candidateLoggedIn = computed(() => {
      return ctx.root.$store.getters['candidate/auth/isAuthenticated'];
    })

    const employerLoggedIn = computed(() => {
      return ctx.root.$store.getters['employer/auth/isAuthenticated'];
    })

    const setDarkTheme = () => {
      ctx.root.$store.dispatch('common/setDarkTheme');
      ctx.root.$vuetify.theme.dark = ctx.root.$store.getters['common/isDarkTheme'];
    }

    return {candidateLoggedIn, employerLoggedIn, setDarkTheme}
  },
  data() {
    return {

    }
  },
  computed: {

  },
  methods: {
    navigateToRoute() {
      if (this.$store.getters['employer/auth/isAuthenticated']) {
        this.$router.push(this.localePath({name: 'employer-dashboard', params: {}}))
        return
      }
      this.$router.push(this.localePath('/'));
    }
  },
  mounted() {
  }
})
</script>

<style >

</style>