<template>
  <VueIfBot>
    <cookie-consent>
      <template
          slot="message"
      >
        <v-row align="center" justify="center" class="px-3">
          <v-col cols="10" class="">
            <h1 class="font-weight-light text-left">{{$t('weUseCookies')}}</h1>
            {{$t('whyWeUseCookies')}}
            <v-btn outlined color="primary" class="rounded-lg ml-4" @click="$router.push(localePath('privacy-policy'))">
              {{$t('buttons.moreAboutThis')}}
              <v-icon>mdi-arrow-top-right</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="2" class="text-center">
          </v-col>
          <v-col cols="12">
            <hr>
          </v-col>
        </v-row>

      </template>
      <template
          slot="button"
      >
        <v-row align="center" justify="center" class="px-3 mt-5">
          <v-col cols="12">
            <v-btn width="100%" large depressed class="buttonBlue white--text rounded-lg">
              {{$t('buttons.acceptAllCookies')}}
            </v-btn>
          </v-col>
        </v-row>
      </template>
    </cookie-consent>
  </VueIfBot>
</template>

<script>
import VueIfBot from 'vue-if-bot/dist/vue-if-bot.es'
import CookieConsent from 'vue-cookieconsent-component/src/components/CookieConsent.vue'

export default {
  name: "CookieConsentComponent",
  components: {
    VueIfBot,
    CookieConsent
  }
}
</script>

<style >
.cookie-consent {
  background: #ffffff!important;
  padding: 22px!important;
  /* border: 1px solid #ccc; */
  box-shadow: 3px 4px 10px -3px #ccc;
  border-radius: 16px;
}

@media (max-width: 730px) {
  .cookie-consent {
    bottom: 0px!important;
    left: 0px!important;
    width: 100% !important;
  }
}
</style>