<template>
  <v-container class="px-0 defaultPageWrapper">
    <slot name="promo_image"></slot>
    <v-row justify="center" class="px-3 px-md-10" :class="pb">
      <v-col
          :class="mt"
          class=""
          cols="12"
          md="12"
      >
        <h1 v-if="title" class="mb-3 font-weight-medium">{{title}}</h1>
        <slot></slot>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import { defineComponent,ref, computed } from '@vue/composition-api'

export default defineComponent({
  components: {
  },
  props: {
    mt: {
      type:String,
      default: 'mt-12',
    },
    pb: {
      type:String,
      default: 'pb-16',
    },
    title: {
      type:String,
      default: null,
    }
  },
  name: "DefaultPageWrapper",
  setup(props, ctx) {

    return {}
  }
})
</script>

<style scoped>

</style>