<template>
  <div>
    <v-app-bar
        class="mainAppBar"
        :class="employerLoggedIn ? 'empTopMenuSpace': ''"
        elevation="0"
        app
        :color="!$vuetify.theme.isDark ? 'white' : ''"
    >
      <div
          style="cursor:pointer"
          @click="navigateToRoute"
          class="mx-0 mx-md-5"
      >
        <img
            width="200"
            src="/ldp-logo.png"
            class="mr-2 hidden-md-and-down"
        />
        <img
            width="150"
            src="/ldp-logo.png"
            class="mr-2 hidden-lg-and-up"
        />
      </div>

      <div class="hidden-md-and-down">
        <LanguageDropdownMenu />
      </div>


      <!-- INITIAL -->
      <DefaultAppBarButtons class="hidden-sm-and-down" v-if="candidateLoggedIn || !employerLoggedIn"/>
      <v-btn
          v-if="!employerLoggedIn"
          @click="$router.push(localePath('candidate-saved-jobs'))"
          text
          plain
      >
        {{$t('links.savedJobs')}}
      </v-btn>

      <v-btn
        @click="$router.push('blog?page=1')"
        text
        plain
      >
        Blog
      </v-btn>
      <v-spacer></v-spacer>

      <div class="hidden-md-and-down" v-if="!employerLoggedIn && !candidateLoggedIn">
        <v-btn
            @click="$router.push(localePath('employer'))"
            plain
            :ripple="false"
            class="pr-0"
        >
          {{ $t('general.employers') | ucfirst}}
        </v-btn>
        <span class="mx-1">/</span>
        <v-btn
            @click="$router.push(localePath('employer'))"
            depressed
            class="white--text employerBg py-5  border employerGreenBorder rounded-lg"
        >
          {{ $t('buttons.createJob').toUpperCase()}}
        </v-btn>

      </div>

      <div class="hidden-md-and-down">
        <LoginMenu :allow-arrow-down="true" v-if="!candidateLoggedIn && !employerLoggedIn" />
      </div>

      <InitialMobileDropdownMenu v-if="!candidateLoggedIn && !employerLoggedIn" />

      <!-- CANDIDATE LOGGED -->
      <UsersDropdownMenu v-if="candidateLoggedIn"/>

      <!-- EMPLOYER LOGGED -->
      <EmployerAppBarButtons v-if="employerLoggedIn"/>
      <v-spacer v-if="employerLoggedIn"></v-spacer>
      <EmployerDropdownMenu v-if="employerLoggedIn"/>

      <EmployerTopMenu />

    </v-app-bar>
    <v-row v-if="allowEmpMobileButtons" id="mobileMainMenu" class="hidden-lg-and-up">
      <v-col cols="12">
        <EmployerAppBarButtonsMobile />
      </v-col>
    </v-row>
  </div>

</template>

<script>

import UsersDropdownMenu from "./candidate/menus/UsersDropdownMenu";
import EmployerDropdownMenu from "./employer/menus/EmployerDropdownMenu";
import LanguageDropdownMenu from "./common/menus/LanguageDropdownMenu";
import EmployerAppBarButtons from "./employer/buttons/EmployerAppBarButtons";
import {defineComponent, ref, computed} from '@vue/composition-api'
import InitialMobileDropdownMenu from "./common/menus/InitialMobileDropdownMenu";
import DefaultAppBarButtons from "./common/DefaultAppBarButtons";
import EmployerTopMenu from "./employer/menus/EmployerTopMenu";
import LoginMenu from "./LoginMenu";
import EmployerAppBarButtonsMobile from "./employer/buttons/EmployerAppBarButtonsMobile";

export default defineComponent({
  components: {
    LoginMenu,
    EmployerAppBarButtonsMobile,
    EmployerTopMenu,
    DefaultAppBarButtons,
    InitialMobileDropdownMenu,
    UsersDropdownMenu,
    LanguageDropdownMenu,
    EmployerAppBarButtons,
    EmployerDropdownMenu
  },
  name: "DefaultAppBar",
  setup(props, ctx) {
    const candidateLoggedIn = computed(() => {
      return ctx.root.$store.getters['candidate/auth/isAuthenticated'];
    })

    const employerLoggedIn = computed(() => {
      return ctx.root.$store.getters['employer/auth/isAuthenticated'];
    })

    const setDarkTheme = () => {
      ctx.root.$store.dispatch('common/setDarkTheme');
      ctx.root.$vuetify.theme.dark = ctx.root.$store.getters['common/isDarkTheme'];
    }

    return {candidateLoggedIn, employerLoggedIn, setDarkTheme}
  },
  data() {
    return {

    }
  },
  computed: {
    allowEmpMobileButtons() {
      return this.employerLoggedIn &&
      (this.localePath('employer-dashboard') == this.$router.currentRoute.path ||
          this.localePath('employer-profile') == this.$router.currentRoute.path ||
          this.localePath('employer-jobs') == this.$router.currentRoute.path)
    }
  },
  methods: {
    navigateToRoute() {
      if (this.$store.getters['employer/auth/isAuthenticated']) {
        this.$router.push(this.localePath({name: 'employer-dashboard', params: {}}))
        return
      }
      this.$router.push(this.localePath('/'));
    }
  },
  mounted() {
  }
})
</script>

<style >
.mainAppBar {
  height: 74px!important;
  border-bottom: 1px solid #D6D6D6!important;
  z-index: 9
}
.mainAppBar .v-toolbar__content {
  height:74px!important
}
.empTopMenuSpace {
  top: 29px!important;
}

@media(max-width: 1263px) {
  .empTopMenuSpace {
    top: 0px!important;
  }
}

.logo {
  border-bottom-right-radius: 10px;
  position: relative;
  padding: 19px;
  left: -20px;
  background: #2196f3;
}

.logo:hover {
  background: #0050c4;
}

#loggedInEmployer #loggedInCandidate #default {
  min-width: 100% !important;
}

#mobileMainMenu {
  z-index: 8;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  top: 60px;
  height: 60px;
}
</style>
