<template>
  <div style="margin-top: 45px" class="pa-5">
    <client-only>
      <DetectEndOfPage />
    </client-only>
    <v-row class="hidden-lg-and-up mt-3" align="center">
      <v-col cols="2">
        <MobileSubMenu v-if="!hideMobileMenu">
          <slot name="menu"></slot>
        </MobileSubMenu>
      </v-col>
      <v-col cols="12" class="text-center">
        <slot name="horizontal-mobile-menu"></slot>
      </v-col>
      <v-col v-if="!hideMobileMenu" cols="12" class="text-left">
        <slot name="submenu"></slot>
      </v-col>
    </v-row>


    <v-row  class="">
      <v-col cols="12" md="2" class="hidden-md-and-down">
        <v-card
            tile
            style="border: none"
            outlined
            class="rounded-lg menuSlot pa-3"

        >
          <slot name="menu"></slot>
        </v-card>
      </v-col>

      <v-col cols="12" lg="5" class="pa-0 pa-md-3">
        <v-card
            tile
            style="border: none"
            outlined
            class="rounded-lg pa-3"
        >
          <slot name="content"></slot>
        </v-card>
      </v-col>

      <v-col cols="12" md="6" lg="5" style="">
        <div class="hidden-lg-and-up">
<!--          <MoblieContentDetails>-->
<!--            <template v-slot:cnt>-->
<!--              <slot name="contentDetails"></slot>-->
<!--            </template>-->
<!--          </MoblieContentDetails>-->
        </div>
        <v-card
            class="contentDetailsCard rounded-lg"
            id="contentDetailsCard"
            color="transparent"
            tile
            style=""
            outlined
        >
          <slot name="contentDetails"></slot>
        </v-card>
      </v-col>
    </v-row>

    <client-only>
      <AppDetailsScrollHack />
    </client-only>
  </div>
</template>

<script>

import { defineComponent,ref, computed } from '@vue/composition-api'
import MobileSubMenu from "./employer/MoblieSubMenu";
import DefaultPageWrapper from "./DefaultPageWrapper";
import MoblieContentDetails from "./employer/MoblieContentDetails";
import DetectEndOfPage from "./employer/DetectEndOfPage";
import AppDetailsScrollHack from "./employer/AppDetailsScrollHack";

export default defineComponent({
  components: {
    AppDetailsScrollHack,
    DetectEndOfPage,
    MoblieContentDetails,
    DefaultPageWrapper,
    MobileSubMenu
  },
  props: {
    hideMobileMenu: {
      type: Boolean,
      default: false
    }
  },
  name: "EmployerPageLayout",
  setup(props, ctx) {
    return {

    }
  },
  data() {
    return {

    }
  },

  beforeDestroy() {
  }
})
</script>

<style>

  .parentWrapper {
    /*position:relative;*/
    /*top: 60px;*/
    /*overflow: auto;*/
  }

  .contentDetailsCard{
    border: none;
  }

  .fixed {
    position:fixed;
    height: 85vh;
    overflow-y: scroll;
    width: 40%;
    top: 111px;
  }

  .absolute {
    position:absolute;
    height: 80vh;
    overflow-y: scroll;
    bottom: 59px;
    width: 40%;
  }
  .contentDetailsCard {
    scrollbar-width: none; /* for Firefox */
    border: none!important;
  }

  .contentDetailsCard::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .menuSlotLink{
    font-weight: 400!important;
    font-size: 14px!important;
    line-height: 16px!important;
  }

  .menuSlotHeading {
    font-weight: 400!important;
    font-size: 16px!important;
    line-height: 16px!important;
  }
  .sticky {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    height: 86vh;
    top: 0px;
    overflow-y: scroll;
  }
</style>