<template>
  <v-footer
      :dark="isEmpPromoPage"
      :light="!isEmpPromoPage"
      app
      absolute
      class="mt-10"
  >
    <client-only>
      <CookieConsentComponent/>
    </client-only>
    <DefaultPageWrapper mt="mt-10">
      <v-row>
        <v-col
            cols="6"
            md="3"
        >
          <div
              v-for="jobsByRegionLink in jobsByRegionLinks"
              class="mb-2"
          >
            <a
                class="text-decoration-none"
                :href="jobsByRegionLink.link"
            >
              <span class="text-decoration-none font-weight-bold" :class="isEmpPromoPage ? 'white--text' : 'footerTextColor'">{{ jobsByRegionLink.title | ucfirst }}</span>
            </a>
          </div>

        </v-col>
        <v-col
            cols="6"
            md="3"
        >
          <div
              v-for="importantLink in importantLinks "
              class="mb-2"
          >
            <nuxt-link
                :to="localePath(importantLink.link)"
                class="text-decoration-none font-weight-bold"
                :class="isEmpPromoPage ? 'white--text' : 'footerTextColor'"
            >{{ importantLink.title | ucfirst }}
            </nuxt-link>
          </div>
        </v-col>
        <v-col
            cols="6"
            md="3"
        >
          <div
              v-for="employerLink in employerLinks "
              class="mb-2"
          >
            <nuxt-link
                :to="localePath(employerLink.link)"
                class="text-decoration-none font-weight-bold"
                :class="isEmpPromoPage ? 'white--text' : 'footerTextColor'"
            >{{ employerLink.title | ucfirst }}
            </nuxt-link>
          </div>
        </v-col>
      </v-row>
      <v-divider class="mt-3"></v-divider>
      <v-row
          align="center"
          justify="center"
      >
        <v-col
            cols="12"
            md="3"
        >
          <img
              :src="isEmpPromoPage ? require('~/static/ldp-white-logo.svg') : require('~/static/ldp-logo.png')"
              class="pa-3"
              width="200"
          />
        </v-col>
        <v-col
            cols="12"
            md="9"
            class="text-left text-md-right"
        >
          &#169; {{ $t('allRightsReserved') }}
        </v-col>
      </v-row>

    </DefaultPageWrapper>

  </v-footer>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import DefaultPageWrapper from "./DefaultPageWrapper";
import CookieConsentComponent from "./CookieConsentComponent";

export default defineComponent({
  name: "Footer",
  components: {
    CookieConsentComponent,
    DefaultPageWrapper
  },
  setup(props, ctx) {
    const isEmpPromoPage = computed(() => {
      return ctx.root.$route.path == '/poslodavci' || ctx.root.$route.path == '/en/employers'
    });
    const baseUrl = process.env.baseUrl;
    const jobsByRegionLinks = ref([
      {
        title: ctx.root.$i18n.t('general.job') + ' Beograd',
        link: baseUrl + '/pretraga-konkursa/emp_id=&regions=20&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page='
      },
      {
        title: ctx.root.$i18n.t('general.job') + ' Novi Sad',
        link: baseUrl + '/pretraga-konkursa/emp_id=&regions=99&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page='
      },
      {
        title: ctx.root.$i18n.t('general.job') + ' Niš',
        link: baseUrl + '/pretraga-konkursa/emp_id=&regions=92&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1'
      },
      {
        title: ctx.root.$i18n.t('general.job') + ' Kragujevac',
        link: baseUrl + '/pretraga-konkursa/emp_id=&regions=65&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page='
      },
      {
        title: ctx.root.$i18n.t('general.job') + ' Srbija',
        link: baseUrl + '/pretraga-konkursa/emp_id=&regions=1001&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page='
      },
      {
        title: ctx.root.$i18n.t('general.job') + ' ' + ctx.root.$i18n.t('general.foreignCountries'),
        link: baseUrl + '/pretraga-konkursa/emp_id=&regions=1000&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1'
      }
    ]);
    return {
      jobsByRegionLinks, isEmpPromoPage
    }
  },
  data() {
    return {
      importantLinks: [
        {title: this.$t('general.aboutUs'), link: 'about-us'},
        {title: this.$t('general.contactUs'), link: 'contact'},
        // {title:'Pitanja i odgovori', link:''},
        // {title:'Saveti', link:''},
        {title: this.$t('inputLabels.termsOfService'), link: 'terms-of-service'},
        {title: this.$t('privacyPolicy'), link: 'privacy-policy'},
      ],
      employerLinks: [
        {title: this.$t('general.employers'), link: 'employer'},
        {title: this.$t('general.employers') + ' - ' + this.$t('general.priceList'), link: 'price-list'},
        {title: this.$t('antidiscRegs'), link: 'anti-disc'},
      ],
    }
  }

})
</script>

<style scoped>
.footerTextColor {
  color: #505D74 !important;
}
</style>