<template>
    <v-snackbar
            :value="open"
            :color="color"
    >
        <v-row
                class="pa-0"
        >
            <v-col
                    md="10"
                    class="pa-0"
            >
                <p
                        class="pt-2
                        pl-2 mb-0"
                >
                    {{ innerText }}
                </p>
            </v-col>
            <v-col
                    md="2"
                    class="pa-0"
            >
                <v-btn
                        color="white"
                        text
                        @click="closeSnackbar"
                >
                    Ok
                </v-btn>
            </v-col>
        </v-row>

    </v-snackbar>
</template>

<script>
    import { defineComponent, computed, ref } from '@vue/composition-api'

    export default defineComponent({
        name: "InfoSnackbar",
        setup(props, ctx) {
            const open = computed( () => ctx.root.$store.getters['infoSnackbar/isOpened']);
            const innerText = computed( () => ctx.root.$store.getters['infoSnackbar/getText']);
            const color = computed( () => ctx.root.$store.getters['infoSnackbar/getColor']);
            const closeSnackbar = () => {ctx.root.$store.dispatch('infoSnackbar/toggleInfoSnackbar', {open:false})};
            return {open, innerText, color, closeSnackbar}
        }
    })
</script>

<style scoped>

</style>