<template>
  <v-card
      class="lighten-5 pa-5 rounded-md elevation-0"
      color="blue"
  >
    <span v-html="text"></span>
  </v-card>
</template>

<script>
    import { defineComponent } from '@vue/composition-api'

    export default defineComponent({
        name: "InfoBlock",
        props: {
          text: String
        },
        setup(props, ctx) {
            return {

            }
        }
    })
</script>

<style scoped>

</style>