<template>
    <span>
      {{title | html_decode}}
    </span>
</template>

<script>
import {defineComponent} from '@vue/composition-api'


export default defineComponent({
  name: "JobCardTitle",
  props: {
    title:'',
  },
  setup() {

  }

});
</script>
