<template lang="html" id="mainOverlay">
  <v-overlay z-index="9" :value="loading" :opacity="0.46" color="#ffff">
    <v-progress-circular
        color="green"
        indeterminate
        size="50"
        style="color: #274CA2!important;"
    ></v-progress-circular>
  </v-overlay>
</template>

<script>
export default {
  data: () => ({
    loading: false
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    }
  }
}
</script>

<style >
#mainOverlay .v-overlay--active {
}
</style>