<template>
  <v-menu px-3 offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          class=""
          :class="classes"
          text
          plain
          :ripple="false"
          v-bind="attrs"
          v-on="on"
      >
        {{$t('buttons.login') | ucfirst}}
        <v-icon v-if="allowArrowDown" class="mb-n1">mdi-chevron-down</v-icon>
      </v-btn>
    </template>
    <v-card class=" rounded white">
      <a class="text-decoration-none black--text" :href="baseUrl+localePath('candidate-login')">
        <div class="font-weight-medium font16 pa-3 pb-3">
          {{ $t('links.asCandidate') | ucfirst}}
        </div>
      </a>

      <v-divider></v-divider>

      <a class="text-decoration-none black--text" :href="baseUrl+localePath('employer-login')">
        <div class="font-weight-medium font16 pa-3 pb-3">
          {{ $t('links.asEmployer') | ucfirst}}
        </div>
      </a>

    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: "LoginMenu",
  props: {
    allowArrowDown: {
      default: false,
    },
    classes: {
      default: '',
    }
  },
  setup(props, ctx) {
    const baseUrl = ctx.root.context.env.baseUrl;
    return {
      baseUrl
    }
  }
}
</script>

<style scoped>

</style>