<template>
  <div>
    <label v-if="allowLabel">{{label}}</label>
    <v-select
        @input="scrollFix"
        v-model="selectedItems"
        :items="modifiedItems"
        :label="!allowLabel ? label : ''"
        :multiple="multiple"
        :placeholder="$t('general.choose')"
        outlined
        :error="error"
        @click="$store.dispatch('closeSelectMenu/toggleBtn', true)"
        @change="selected(), scrollFix()"
    >

      <template v-slot:prepend-item v-if="selectAll">
        <v-list-item
            ripple
            @mousedown.prevent
            @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedItems.length > 0 ? 'indigo darken-4' : ''">
              {{ icon }}
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{$t('inputLabels.selectAll')}}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>

      <template v-slot:selection="{ item, index }">
        <v-chip class="ma-0" v-if="index === 0">
          <span>{{ item.text }}</span>
        </v-chip>
        <span
            v-if="index === 1"
            class="grey--text text-caption"
        >
          (+{{ selectedItems.length - 1 }} others)
        </span>
      </template>
    </v-select>
  </div>
</template>

<script>
  import { defineComponent, computed, ref } from '@vue/composition-api'
  import multiselectFix from "../composables/multiselect_fix";


  export default defineComponent({
    name: "MultiSelect",
    emits: ['selectChange'],
    props: {
      dataType: {
        type:String,
        default: ''
      },
      items: Array,
      itemText: {
        type:String,
        default: 'name'
      },
      itemValue: {
        type:String,
        default: 'id'
      },
      restrictSelection: {
        type: Number,String,
        default: 0
      },
      label: String,
      selectAll: {
        type: Boolean,
        default: false
      },
      values: {
        default: Array
      },
      multiple: {
        type: Boolean,
        default: true
      },
      error: {
        type: Boolean,
        default: false
      },
      allowLabel: {
        type:Boolean,
        default: true
      }
    },
    setup(props, ctx) {
      let locale = computed(() => ctx.root.$i18n.locale)
      let price = computed(() => (locale.value == 'sr') ? 'RSD' : 'EUR')
      const modifiedItems = ref([]);
      props.items.map(item => {
        modifiedItems.value.push({
          value: item[props.itemValue],
          text: props.dataType == 'posting_prices_advanced' ? item[locale.value][props.itemText]+' '+item[locale.value].price +' '+ price.value : item[props.itemText],
          disabled: false,
        })
      })

      const selectedItems = ref([]);
      if (props.values.length) {
        selectedItems.value = props.multiple ? props.values : props.values[0];
      }

      const allSelected = computed(() => {
        return selectedItems.value.length === props.items.length;
      });

      const icon = computed(() => {
          if (allSelected.value) return 'mdi-close-box'
          if (selectedItems.value.length) return 'mdi-minus-box'
          return 'mdi-checkbox-blank-outline'
      });
      
      const toggle = () => {
        ctx.root.$nextTick(() => {
          if (allSelected.value) {
            selectedItems.value = []
          } else {
            // selectedItems.value = modifiedItems.value.slice()

            selectedItems.value = modifiedItems.value.map(item => {
              return item.value
            })
          }
          ctx.emit('selectChange', selectedItems.value)
        })
      }
      
      const selected = (e) => {
        if (props.restrictSelection > 0) {
              restrictSelection()
          }

          ctx.emit('selectChange', selectedItems.value)
      }

      const restrictSelection = () => {
        if (selectedItems.value.length >= props.restrictSelection) {
          for(let i in modifiedItems.value) {
            if (selectedItems.value.indexOf(modifiedItems.value[i].value) > -1) continue;

            modifiedItems.value[i].disabled = true;
          }
        } else {
          for(let i in modifiedItems.value) {
            modifiedItems.value[i].disabled = false;
          }
        }
      }

      if (props.restrictSelection > 0) {
        restrictSelection()
      }

      let {scrollFix} = multiselectFix()

      return {
        modifiedItems, selectedItems, icon, allSelected, toggle, selected, scrollFix
      }
    },

  })
</script>