<template>
  <div>
    <a id="openPdfDirectlyLink" :href="url" target="_blank">{{url}}</a>
  </div>
</template>

<script>
export default {
  name: "OpenPdfDirectly",
  props: {
    job: Object
  },

  data() {
    return {
      url: '',
    }
  },

  created() {
    this.url = process.env.AXIOS_BASE_URL + '/images/employer/' + this.job.emp_id + '/' + this.job.upload_document
    //hack
    this.$router.back();
    setTimeout(() =>  window.location.href = this.url, 300)
  }
}
</script>

<style >

</style>