<template>
    <v-overlay class="text-center" :value="open">
        <v-row
                class="fill-height"
                align-content="center"
                justify="center"
        >
            <v-col cols="8">
                <v-progress-linear
                        color="white"
                        indeterminate
                        rounded
                        height="6"
                ></v-progress-linear>
            </v-col>
        </v-row>
<!--        <v-progress-circular-->
<!--                indeterminate-->
<!--                size="64"-->
<!--        >-->
<!--        </v-progress-circular>-->
        <p class="pt-3">{{$t('general.pleaseWait')}}</p>

    </v-overlay>
</template>

<script>
    import { defineComponent, computed } from '@vue/composition-api'

    export default defineComponent({
        name: "Overlay",
        setup(props, ctx) {
            const open = computed( () => ctx.root.$store.getters['overlayLoader/isOpened']);
            return {open}
        }
    })
</script>

<style scoped>

</style>