<template>
  <v-btn
      @click="postJobAction"
      :width="width"
      depressed
      dark
      large
      :class="classes"
  >
    <v-icon v-if="icon" class="mr-2">mdi-plus-circle</v-icon>
    {{ $t('buttons.createJob') | ucfirst }}
  </v-btn>
</template>

<script>

import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  components: {},
  props: {
    width: {
      type: String,
      default: ''
    },
    classes: {
      type: String,
      default: ''
    },
    icon: {
      type: Boolean,
      default: true
    },
    code: {
      type: String,
      default: ''
    },

  },
  name: "PostJobButton",
  setup(props, ctx) {
    let isAuth = computed(() => ctx.root.$store.getters['employer/auth/isAuthenticated'])
    const postJobAction = () => {
      ctx.root.$store.dispatch('employer/newJob/setProductCode', props.code)
      if (isAuth.value) {
        ctx.root.$router.push(ctx.root.localePath('employer-new-job'))
      } else {
        ctx.root.$router.push(ctx.root.localePath('employer-login'))
      }
    }
    return {
      isAuth,
      postJobAction
    }
  },
  created() {

  }
})
</script>

<style>

</style>