<template>
  <div class="filterCheckboxWrapper">
    <!--    <label>{{$t(`general.${dataType}`)}} </label>-->

    <h4 class="label font18 mb-5">{{ $t('general.' + dataType) | ucfirst}}</h4>
    <v-checkbox
        v-for="item in items"
        @change="checked($event, item.value)"
        :label="item.text"
        v-model="selectedItems"
        :value="item.value"
        hide-details
        color="#092771"
        class="mt-n2"
    ></v-checkbox>
  </div>
</template>

<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import searchParams from "../composables/search_params";
import multiselectFix from "~/composables/multiselect_fix";

export default defineComponent({
  name: "SearchFilterCheckbox",
  emits: [
    'dataSelected'
  ],
  props: {
    dataType: String,
    dataIdKeyword: String,
    dataNameKeyword: String,
    multiselect: {
      type: Boolean,
      default: false
    },
  },
  setup(props, ctx) {

    const selectedItems = ref([]);

    const items = ref([]);
    ctx.root.$store.state.common.generalData[props.dataType].map(item => {
      let selectObject = {
        text: item[props.dataNameKeyword],
        value: item[props.dataIdKeyword],
      }
      items.value.push(selectObject);
    })

    //preselected items
    let searchParamsObject = ctx.root.$store.getters['searchParams/getSearchParamsObject']

    let dataType;

    switch (props.dataType) {
      case 'employers':
        dataType = 'emp_id';
        break;
      case 'published':
        dataType = 'date_range';
        break;
      default:
        dataType = props.dataType;
    }

    let data = searchParamsObject[dataType] ? searchParamsObject[dataType].split(",") : [];

    data.map(param => {
      selectedItems.value.push(Number(param))
    })

    // //on select
    // watch(selectedItems, () => {
    //   ctx.emit('dataSelected', selectedItems.value)
    // })

    //filtration (inner input)
    const itemsSearch = ref('');
    const filteredItems = computed(() => {
      if (!itemsSearch.value) return items.value;
      let filtered = []

      items.value.map(item => {
        if (item.text.toLowerCase().indexOf(itemsSearch.value.toLowerCase()) > -1) {
          filtered.push(item)
        }
      })

      return filtered;
    });

    const keyup = (evt) => {

    }

    const checked = (evt, value) => {
      ctx.emit('dataSelected', String(value))
    }
    
    const checkModel = ref([]);
    
    return {items, selectedItems, filteredItems, itemsSearch, keyup, checked, checkModel}
  },
  methods: {

  }
})
</script>

<style>

.customFilterSearch {
  position: sticky;
  top: 0px;
  z-index: 9999;
  margin-top: 0px;
  background: #fff;
}

.v-sheet.v-list {
  padding-top: 0px !important;
}

.itemSearch {
  top: 0;
  position: sticky;
  z-index: 1;
  border-bottom: 1px solid red;
}

.mulitselect .v-input__control fieldset {
  border: none !important;
  background: #E0DEDC;
}

.selectedMultiselect .v-input__control fieldset {
  background: #4F4F4F !important;
}

.selectedMultiselect .label, .selectedMultiselect .mdi-menu-down::before {
  color: #fff !important;
}

.multiselect .mdi-menu-down::before {
  margin-top: -5px;
}

.dataSelectWrapper {
  display: inline-block;
}

.dataSelectWrapper .mdi-menu-down::before {
  margin-top: -5px;
}

.filterCheckboxWrapper .v-label {
  font-weight: normal!important;
  font-size: 14px!important;
}
</style>