<template>
  <div>
    <client-only>
      <v-row align="center" justify="center">
        <!--              <DataSelect-->
        <!--                  :dataType="'regions'"-->
        <!--                  :dataIdKeyword="'id'"-->
        <!--                  :dataNameKeyword="'name'"-->
        <!--                  @dataSelected="dataSelected($event, 'regions')"-->
        <!--                  :width="150"-->
        <!--              />-->
        <v-col cols="12">
          <FilterDataSelect
              :dataType="'categories'"
              :dataIdKeyword="'id'"
              :dataNameKeyword="'name'"
              @dataSelected="dataSelected($event, 'categories')"
              :width="130"
              :multiselect="false"
          />
          <FilterDataSelect
              :dataType="'career_levels'"
              :dataIdKeyword="'code'"
              :dataNameKeyword="'career_level'"
              @dataSelected="dataSelected($event, 'career_levels')"
              :width="170"
              :multiselect="false"
          />
          <FilterDataSelect
              :dataType="'education_levels'"
              :dataIdKeyword="'degree_code'"
              :dataNameKeyword="'degree'"
              @dataSelected="dataSelected($event, 'education_levels')"
              :width="160"
              :multiselect="false"
          />
          <FilterDataSelect
              :dataType="'contract_types'"
              :dataIdKeyword="'id'"
              :dataNameKeyword="'contract_type'"
              @dataSelected="dataSelected($event, 'contract_types')"
              :width="160"
              :multiselect="false"
              :enable-search="false"
          />
          <FilterDataSelect
              :dataType="'employers'"
              :dataIdKeyword="'id'"
              :dataNameKeyword="'company'"
              @dataSelected="dataSelected($event, 'emp_id')"
              :width="160"
              :multiselect="false"
              :enable-search="true"
          />

<!--          <FilterDataSelect-->
<!--              :dataType="'published'"-->
<!--              :dataIdKeyword="'id'"-->
<!--              :dataNameKeyword="'name'"-->
<!--              @dataSelected="dataSelected($event, 'date_range')"-->
<!--              :width="160"-->
<!--              :multiselect="false"-->
<!--              :enable-search="false"-->
<!--          />-->

        </v-col>
      </v-row>
    </client-only>
  </div>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import FilterDataSelect from "./common/search/FilterDataSelect";
import searchParams from "../composables/search_params";

export default defineComponent({
  name: "SearchFilter",
  components: {
    FilterDataSelect,
  },
  setup(props, ctx) {
    const drawer = ref(false);

    const dataSelected = (value, prop) => {
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop, value})
      ctx.root.$store.dispatch('searchParams/setSearchObjectProp', {prop:'page', value:'1'})
      let searchParamsString = ctx.root.$store.getters['searchParams/getSearchParamsString'];
      ctx.root.$router.push(ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: searchParamsString}
      }))
    }

    const applyFilters = () => {
      // window.location = ctx.root.localePath({
      //   name: 'job-search-search_params',
      //   params: {search_params: getSearchParamsString()}
      // });
    }

    const filterVisible = ref(false);

    const generalData = ctx.root.$store.state.common.generalData;
    const regions = {...generalData.regions}
      for (let i in regions) {
        regions[i].selected = true;
      }
    return {drawer, regions, filterVisible, dataSelected, applyFilters}
  },
})
</script>

<style >
  .v-input--selection-controls__ripple {
    padding: 0px 2px;
  }
</style>