<template>
  <div class="mt-md-3">
    <div
        @click="dialog = !dialog"
        class="border pa-0 rounded-lg white text-center border py-1"
        style="width: 44px;border: 1px solid #E6E6E6!important;margin: 0px auto;"
    >
      <v-icon class="">mdi-filter-variant</v-icon>
    </div>
    <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
    >
      <v-card
          class="rounded-0 pb-10"
      >


        <!-- SAVE / LOAD SEARCH BUTTONS -->
        <div
            v-if="isAuthenticated"
            :sticky="true"
            class="pa-4"
            style="position: fixed; bottom: 0px; z-index: 9; background: #fff;    width: 100%;"
        >
          <v-btn
              style="display: inline"
              :ripple="false"
              dark
              width="100%"
              class="font-weight-medium rounded-lg"
              color="black"
              @click="$router.push(localePath('candidate-searches'));"
          >
            <!--            <v-icon>mdi-reload</v-icon>-->
            <span>{{$t('buttons.loadSearch')}}</span>
          </v-btn>
          <v-divider class="mt-4 mb-3"></v-divider>
          <v-row justify="space-between" align="center" class="" v-if="!searchExists && !emptySearch">
            <v-col  cols="9">
              <p class="mb-0 font-weight-medium" style="color: #092771; line-height: 17px; line-break: anywhere;">
                {{$t('saveSearchAndSearchAgain')}}
              </p>
            </v-col>
            <v-col  cols="3" class="pl-0">
              <v-btn
                  width="100%"
                  style="display: inline"
                  dark
                  @click="$emit('saveSearch')"
                  color="#092771"
                  :ripple="false"
                  class=" font-weight-medium"
              >
                <!--            <v-icon>mdi-content-save-outline</v-icon>-->
                <span>{{$t('general.save') | ucfirst}}</span>
              </v-btn>
            </v-col>
          </v-row>


          <v-row justify="space-between" align="center" class="" v-if="searchExists">
            <v-col  cols="10" class="pr-0">
              <p class="mb-0">{{$t('general.searchIsSaved')}}.</p>
              <p class="mb-0 font-weight-medium" style="color: #092771; line-height: 17px; line-break: anywhere;">
               {{$t('thisSearchIsPart')}} <span  @click="$router.push(localePath('candidate-searches'));" class="text-decoration-underline">{{ $t('partOfTheSavedSearches') }}</span>
              </p>
            </v-col>
            <v-col cols="2">
              <v-icon style="color: #092771;" >mdi-check-bold</v-icon>
            </v-col>
          </v-row>
        </div>
        <!-- SAVE / LOAD SEARCH BUTTONS -->



        <v-toolbar
            style="position:fixed; top:0px; width: 100%; z-index: 9"
            color="white"
            class=""
        >
          <v-btn
              icon
              @click="dialog = false"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-toolbar-title>{{$t('general.searchFilter') | ucfirst}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
              icon
              @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="pt-15 mt-5" :style="isAuthenticated ? 'padding-bottom: 150px' : ''">
          <v-row align="center" class="mb-5">
            <div class="my-4"></div>
            <SearchFilterCheckbox
                :dataType="'categories'"
                :dataIdKeyword="'id'"
                :dataNameKeyword="'name'"
                @dataSelected="dataSelected($event, 'categories')"
                :multiselect="true"
            />
          </v-row>
          <v-row align="center" class="mb-5">
            <SearchFilterCheckbox
                :dataType="'employers'"
                :dataIdKeyword="'id'"
                :dataNameKeyword="'company'"
                @dataSelected="dataSelected($event, 'employers')"
                :multiselect="true"
                :enable-search="false"
            />
          </v-row>
          <v-row align="center" class="mb-5">
            <SearchFilterCheckbox
                :dataType="'career_levels'"
                :dataIdKeyword="'code'"
                :dataNameKeyword="'career_level'"
                @dataSelected="dataSelected($event, 'career_levels')"
                :multiselect="true"
            />
          </v-row>
          <v-row align="center" class="mb-5">
            <SearchFilterCheckbox
                :dataType="'education_levels'"
                :dataIdKeyword="'degree_code'"
                :dataNameKeyword="'degree'"
                @dataSelected="dataSelected($event, 'education_levels')"
                :multiselect="true"
                :enable-search="false"
            />
          </v-row>
          <v-row align="center" class="mb-5">
            <SearchFilterCheckbox
                :dataType="'published'"
                :dataIdKeyword="'id'"
                :dataNameKeyword="'name'"
                @dataSelected="dataSelected($event, 'date_range')"
                :multiselect="false"
                :enable-search="false"
            />
          </v-row>
        </v-card-text>
        <div

            style="display:none; position:fixed; bottom: 10px; width: 100%"
        >
          <v-row>
            <v-col
                cols="12"
                class="text-center"
            >
              <v-btn
                  class="rounded-lg"
                  @click="applyFilters"
                  large
                  color="primary"
              >
                {{ $t('general.applyFilters') | ucfirst}}
              </v-btn>
            </v-col>
          </v-row>
        </div>

      </v-card>

    </v-dialog>
  </div>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import DataSelect from "./common/search/MobileFilterDataSelect";
import searchParams from "../composables/search_params";
import SearchFilterCheckbox from "./SearchFilterCheckobx";

export default defineComponent({
  name: "SearchFilterMobile",
  components: {
    SearchFilterCheckbox,
    DataSelect,
  },
  props: {
    searchExists: Boolean,
    emptySearch: Boolean,
  },
  setup(props, ctx) {
    const dialog = ref(false);
    const isAuthenticated = computed (() => ctx.root.$store.getters['candidate/auth/isAuthenticated']);

    const {setSearchParams, getSearchParamsString, getSearchParamsObject, setSearchObjectProp} = searchParams();
    setSearchParams(ctx.root.$route.params.search_params);

    const dataSelected = (data, dataType) => {
      setSearchObjectProp(dataType, data);

      ///promeni ovo ako neces da se refershuje strana posle svakog klika na checkobx
      applyFilters();
    }
    const applyFilters = () => {
      window.location = ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: getSearchParamsString()}
      });
      dialog.value = false;
      ctx.root.$store.dispatch('overlayLoader/toggleOverlayLoader', true);
    }

    return {dialog, isAuthenticated, dataSelected, applyFilters}
  }
})
</script>

<style scoped>

</style>