<template>
    <v-row justify="center">
        <v-col cols="12" class="text-center">
            <v-dialog
                    v-model="chooseQuestions"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            color="primary"
                            dark
                            large
                            v-bind="attrs"
                            v-on="on"
                            class="my-10"
                    >
                        <v-icon>mdi-plus</v-icon>
                      {{ $t('buttons.addQuestion') }}
                    </v-btn>
                </template>
                <v-card >
                    <v-app-bar
                            light
                            fixed
                    >
                        <v-toolbar-title>{{ $t('general.chooseQuestion') }}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                          <v-btn
                              light
                              icon
                              @click="chooseQuestions = false, $emit('choseQuestionsDialogClosed')"
                          >
                            <v-icon>mdi-close</v-icon>
                          </v-btn>
                        </v-toolbar-items>
                    </v-app-bar>

                    <v-card-text class="mt-10">
                        <v-row justify="center">
                            <v-col md="6">
                                <Questionnaire />
                            </v-col>
                        </v-row>
                    </v-card-text>

                </v-card>
            </v-dialog>
        </v-col>
    </v-row>

</template>
<script>
    import {defineComponent, ref} from '@vue/composition-api'
    import Questionnaire from "../../../components/employer/questionnaire/QuestionnaireList";
    export default defineComponent({
        middleware: 'employer_auth',
        components: {
            Questionnaire,
        },
        setup(props, ctx) {
            const chooseQuestions = ref(false);
            //form validation
            return {
              chooseQuestions
            }
        }
    })
</script>

<style>

</style>
