<template>
  <v-dialog
      :fullscreen="fullScreen"
      :width="fullScreen ? '' : '60%'"
      v-model="dialog"
      transition="dialog-bottom-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <div
          class="pointer activator mb-5"
          v-bind="attrs"
          v-on="on"
      >
        <span>{{$t('general.questFilter') | ucfirst}}</span>
        <v-icon style="font-size: 16px;">mdi-plus</v-icon>
      </div>
    </template>
    <v-card>
      <v-toolbar>
        <v-toolbar-title>{{ $t('general.setQuestFilters') }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
              text
              @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <!--            <v-banner sticky color="primary lighten-2" class="mb-4"   outlined>-->
      <!--              <v-icon class="mt-n1 white&#45;&#45;text">mdi-information-variant</v-icon>-->
      <!--              <span class="white&#45;&#45;text">{{ $t('general.setQuestFiltersMsg') }}</span>-->
      <!--            </v-banner>-->

      <v-row class="pa-3">
        <v-col>
          <v-expansion-panels accordion class="">
            <v-expansion-panel>
              <v-expansion-panel-header>
                <p class="blue--text mb-0 font18"><v-icon class="blue--text mt-n1 mr-2">mdi-help-circle</v-icon><b>{{$t('questionnaire.howItWorks')}}</b></p>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div v-html="$t('questionnaire.howItWorksSection1')"></div>
                <p> {{$t('questionnaire.example')}}:</p>
                <div class="pa-2 mb-5 border">
                  <p class="mb-0"><b>{{$t('general.question')}}:</b></p>
                  <p>{{$t('questionnaire.exampleQuestion1')}}?</p>
                  <p class="mb-0"><b>{{$t('general.answers')}}:</b>(<small> {{ $t('questionnaire.onlyOneAnsSupported') }}</small>)</p>
                  <v-radio
                      disabled
                      v-for="q in [$t('questionnaire.q2Ans.oneYear'), $t('questionnaire.q2Ans.twoYear'), $t('questionnaire.q2Ans.threeYear'), $t('questionnaire.q2Ans.moreThanThree')]"
                      :label="q"
                      hide-details
                  ></v-radio>
                  <br>
                  <p class="mb-0"><b>{{ $t('general.question') | ucfirst}}:</b></p>
                  <p>{{ $t('questionnaire.exampleQuestion2') }}
                  </p>
                  <p class=""><b>{{ $t('general.answers') | ucfirst }}:</b>(<small>  {{ $t('questionnaire.multipleAnsSupported') }}</small>)</p>
                  <v-checkbox
                      class="mt-n5"
                      disabled
                      v-for="q in ['A', 'B', 'C', 'E', 'D']"
                      :label="q"
                      hide-details
                  ></v-checkbox>
                </div>


                <p>{{ $t('questionnaire.activatedFbqEg') }}</p>
                <div class="pa-2 mb-5 border">
                  <div v-html="$t('questionnaire.activatedFbqMsg1')"></div>
                  <p>{{ $t('questionnaire.exampleQuestion1') }}</p>
                  <v-checkbox
                      disabled
                      v-model="fpu.q2"
                      class="mt-n5"
                      :value="q"
                      v-for="q in [$t('questionnaire.q2Ans.oneYear'), $t('questionnaire.q2Ans.twoYear'), $t('questionnaire.q2Ans.threeYear'), $t('questionnaire.q2Ans.moreThanThree')]"
                      :label="q"
                      hide-details
                  ></v-checkbox>

                  <p class="mt-5">{{ $t('questionnaire.exampleQuestion2') }}</p>
                  <v-checkbox
                      class="mt-n5"
                      disabled
                      v-model="fpu.q1"
                      :value="q"
                      v-for="q in ['A', 'B', 'C', 'E', 'D']"
                      :label="q"
                      hide-details
                  ></v-checkbox>
                  <br>
                  <div v-html="$t('questionnaire.activatedFbqMsg2')"></div>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>

<!--      <h5> Selektujte odgovore na ovo pitanje i prikazace se prijave u kojima je kandidat odgovorio sa:</h5>-->
      <v-card
          v-if="questions.length > 0"
          v-for="question in questions"
          :key="question.id"
          v-show="question.answer_type != 'text'"
          class="ma-1 ma-md-5 elevation-0"
      >
        <h4 class="mx-4 px-1">{{ question.question }}</h4>
        <div class="pl-10 ">
          <v-checkbox
              class="mt-n2"
              v-for="option in question.options"
              :key="option.id"
              :value="option.id"
              @change="answerChecked(question.id, option.id, $event)"
              :label="option.option"
              hide-details
          ></v-checkbox>
        </div>

        <!--                <v-list-->
        <!--                        v-for="option in question.options"-->
        <!--                        :key="option.id"-->
        <!--                        three-line-->
        <!--                        subheader-->
        <!--                        tile-->
        <!--                >-->
        <!--                    <v-list-item >-->
        <!--                        <v-checkbox :value="option.id" @change="answerChecked(question.id, option.id, $event)" class="mr-4 "></v-checkbox>-->
        <!--                        <v-list-item-content class="py-0">-->
        <!--                            <v-list-item-title>{{option.option}}</v-list-item-title>-->
        <!--                        </v-list-item-content>-->
        <!--                    </v-list-item>-->
        <!--                </v-list>-->
        <v-divider></v-divider>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  middleware: 'employer_auth',
  emits: [
    'questionsSet'
  ],
  props: {
    fullScreen: {
      type: Boolean,
      default: false
    }
  },
  components: {},
  setup(props, ctx) {
    const questions = computed(() => {
      return ctx.root.$store.state.employer.applications.questionnaire
    });
    const answerChecked = (answerId, optionId, checked) => {
      ctx.root.$store.dispatch('employer/applications/setFBQ', {answerId, optionId, checked})
    }


    const notifications = ref(false);
    const dialog = ref();
    const fpu = {
      q1: ['C','E'],
      q2: ['do 2 godine', 'do 3 godine'],
    }
    return {questions, notifications, dialog, answerChecked, fpu}
  },
})
</script>

<style >
.cbExample .theme--light .v-input__slot {
  background: transparent!important;
}
.activator {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activator i {
  font-weight: bold;
}
.activator:hover {
  color: #2653F5 !important;
}
</style>