<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          v-bind="attrs"
          v-on="on"
          class=" rounded-lg py-5 buttonBlue"
          depressed
          dark
      >
        {{$t('buttons.logout').toUpperCase()}}
        <v-icon class="ml-2">mdi-logout</v-icon>
      </v-btn>
    </template>
    <v-card >
      <v-card-title>
        {{$t('youWannaLogout')}}
        <v-spacer></v-spacer>
        <div class="float-right">
          <v-btn icon @click="dialog = false"><v-icon>mdi-close</v-icon></v-btn>
        </div>
      </v-card-title>
      <div class="pa-5">
        <p>{{$t('areYourSure')}}</p>
      </div>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            @click="$emit('logout')"
            class=" rounded-lg py-5 buttonBlue"
            depressed
            dark
        >
          {{$t('buttons.yesLogMeOut')}}
          <v-icon class="ml-2">mdi-logout</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  name: "LogoutDialog",
  props: {
    details: {
      default:'',
      type: String
    }
  },
  setup(props, ctx) {
    let dialog = ref(false);
    const contacts = computed(() => {

    });
    return {
      contacts,
      dialog
    }
  },
  async fetch(context) {

  }

})
</script>

<style scoped>

</style>