<template>
    <div>
        <label>{{$t('inputLabels.email')}}</label>
        <v-text-field
                v-model="email"
                :rules="[email => !!email || $t('validation.requiredField')+', '+$t('validation.emailMustBeValid')]"
                outlined
                clearable
                type="email"
                required
        ></v-text-field>

      <label>{{$t('inputLabels.password')}}</label>
        <v-text-field
                v-model="password"
                :rules="[password => !!password || $t('validation.requiredField')]"
                outlined
                hide-details
                :type="showPassword ? 'text' : 'password'"
                clearable
                required
        ></v-text-field>

      <v-row align="center" justify="space-between" class="mt-n5">
        <v-col class="py-0">
          <v-checkbox
              class="font-weight-regular"
              :label="$t('inputLabels.showPassword')"
              @change="showPassword = $event"
          ></v-checkbox>
        </v-col>
        <v-col class="py-0 text-right">
          <p class="ma-0 font-weight-medium"><nuxt-link class="indigo--text" :to="localePath('reset-password')">{{$t('forgotYourPassword')}}</nuxt-link></p>
        </v-col>
      </v-row>

        <!-- desktop view -->
        <v-btn
                large
                elevation="0"
                dark
                class="buttonBlue rounded-lg mr-4 hidden-sm-and-down my-3"
                @click="login"
        >
            {{$t('general.login')}}
        </v-btn>

        <!-- mobile view -->
        <v-btn
                width="100%"
                dark
                class="buttonBlue rounded-lg mr-4 hidden-md-and-up"
                @click="login"
        >
            {{$t('general.login')}}
        </v-btn>
    </div>
</template>

<script>
    import {defineComponent, ref} from '@vue/composition-api'

    export default defineComponent({
        name:'LoginForm',
        setup(props, ctx) {
            //define store
            const app = ctx.root;
            const email = ref('');
            const showPassword = ref(false);
            const password = ref('');
            let login = async () => {
              ctx.emit('login', {
                email: email.value,
                password: password.value
              });
            };
            return {
                email, password, showPassword, login
            }
        }
    })
</script>

<style scoped>

</style>