<template>
    <v-row justify="space-around">
        <v-dialog
                @keydown="closeDialog"
                @click:outside="closeDialog"
                v-model="dialogStatus"
                max-width="500"
        >
            <v-card>
                <v-card-title class="text-h5">
                    {{dialogContent.title}}
                </v-card-title>

                <v-card-text>
                    {{dialogContent.body}}
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                            text
                            color="green"
                            @click="onConfirm"
                    >{{dialogContent.buttons.confirm}}</v-btn>

                    <v-btn
                            text
                            color="red"
                            @click="onDecline(), $emit('onDecline')"
                    >{{dialogContent.buttons.decline}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import {defineComponent, computed} from '@vue/composition-api'

    export default defineComponent({
        name:'ConfirmationDialog',
        setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;

            const dialogStatus = computed(() => store.state.confirmationDialog.status);
            const dialogContent = computed(() => store.state.confirmationDialog.content);
            const confirmAction = computed(() => store.state.confirmationDialog.confirmAction);
            const confirmPayload = computed(() => store.state.confirmationDialog.confirmPayload);
            const declineAction = computed(() => store.state.confirmationDialog.declineAction);
            const declinePayload = computed(() => store.state.confirmationDialog.declinePayload);
            const closeDialog = (dialogStatus) => {
                store.dispatch('confirmationDialog/toggleConfirmationDialog', false)
                return false;
            };

            const onConfirm = () => {
                store.dispatch(confirmAction.value, confirmPayload.value);
                store.dispatch('confirmationDialog/toggleConfirmationDialog', false);
            }
            const onDecline = () => {
                if (declineAction.value && declinePayload.value) {
                  store.dispatch(declineAction.value, declinePayload.value);
                }
                store.dispatch('confirmationDialog/toggleConfirmationDialog', false);
            }

            return {
                dialogStatus, dialogContent, closeDialog, onConfirm, onDecline
            }

        }
    })
</script>

<style scoped>

</style>