<template>
    <v-row justify="space-around">
        <v-dialog
                @click:outside="setDialog(false)"
                v-model="dialog"
                max-width="500"
        >
            <v-card>
                <v-card-title class="text-h5">
                    {{dialogContent.title}}
                </v-card-title>

                <v-card-text>
                    <div v-html="dialogContent.body">
                    </div>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                            text
                            color="blue"
                            @click="setDialog(false)"
                    >OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import {defineComponent, computed} from '@vue/composition-api'

    export default defineComponent({
        name:'MainDialog',
        setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;

            const dialog = computed(() => store.state.mainDialog.open);
            const redirectAfterDialogClose = computed(() => store.state.mainDialog.redirect_after_close);
            const dialogContent = computed(() => store.state.mainDialog.content);
            const setDialog = (dialogStatus) => {
                store.dispatch('mainDialog/toggleMainDialog', false)
            };

            const loginDialogTest = () => {

                store.dispatch('common/setMainDialogContent', {
                    title: app.$i18n.t('mainDialogContent.loginSuccess.title'),
                    body: app.$i18n.t('mainDialogContent.loginSuccess.body'),
                });
                store.dispatch('common/toggleMainDialog', true)
            }

            return {
                dialog, dialogContent, setDialog, loginDialogTest
            }

        }
    })
</script>

<style scoped>

</style>