<template>
  <v-row class="pl-3 mt-4">
    <v-col cols="12">
      <span
          @click="$router.push(localePath({name: 'job-search-search_params', params: {search_params:'emp_id=&regions=&categories=&search_term=&career_levels=&education_levels=&contract_types=&date_range=&page=1&sort=start'} }))"
          class="newestAds rounded-lg mr-3 pointer pointer pl-5 pr-3 py-3 text white--text"
          :class="selectedParams.date_range.indexOf(String('1')) > -1 ? 'selectedChip' : 'defaultChip'"
      >
        {{ $t('buttons.newestAds') }}
        <v-icon class="white--text">mdi-chevron-right</v-icon>
      </span>
    </v-col>
  </v-row>
<!--  <v-dialog-->
<!--      @click:outside="$emit('closeMoreOptions')"-->
<!--      @keydown="$emit('closeMoreOptions')"-->
<!--      v-model="openDialog"-->
<!--      width="500"-->
<!--  >-->

<!--    <v-card>-->
<!--      <v-card-title class="text-h5 pt-2">-->
<!--        {{ $t('buttons.detailedSearch') }}-->
<!--        <v-spacer></v-spacer>-->
<!--        <v-icon-->
<!--            class="pointer"-->
<!--            @click="$emit('closeMoreOptions')"-->
<!--        >mdi-close</v-icon>-->
<!--      </v-card-title>-->

<!--      <v-card-text class="mt-5">-->
<!--        <v-row>-->
<!--          <v-col cols="12">-->
<!--            <p class="text-h6 black&#45;&#45;text">Objavljeno</p>-->
<!--            <div-->
<!--                @click="dataSelected('1', 'date_range')"-->
<!--                class=" rounded-xl mr-3 pointer pointer customChip"-->
<!--                :class="selectedParams.date_range.indexOf(String('1')) > -1 ? 'selectedChip' : 'defaultChip'"-->
<!--            >-->
<!--              Najnovije-->
<!--            </div>-->
<!--            <div-->
<!--                @click="dataSelected('2', 'date_range')"-->
<!--                class=" rounded-xl mr-3 pointer pointer customChip"-->
<!--                :class="selectedParams.date_range.indexOf(String('2')) > -1 ? 'selectedChip' : 'defaultChip'"-->
<!--                style="width: 200px"-->
<!--            >-->
<!--              U poslednja 3 dana-->
<!--            </div>-->
<!--          </v-col>-->
<!--          <v-col cols="12">-->
<!--            <p class="text-h6 black&#45;&#45;text">Nivo karijere</p>-->

<!--            <v-tooltip bottom v-for="lvl in generalData.career_levels">-->
<!--              <template v-slot:activator="{ on, attrs }">-->
<!--                <div-->
<!--                    @click="dataSelected(lvl.code, 'career_levels')"-->
<!--                    class="rounded-xl mr-3 pointer pointer customChip"-->
<!--                    :class="selectedParams.career_levels.indexOf(String(lvl.code)) > -1 ? 'selectedChip' : 'defaultChip'"-->
<!--                    v-bind="attrs"-->
<!--                    v-on="on"-->
<!--                >-->
<!--                  {{lvl.career_level}}-->
<!--                </div>-->
<!--              </template>-->
<!--              <span>{{lvl.career_level}}</span>-->
<!--            </v-tooltip>-->
<!--          </v-col>-->
<!--          <v-col cols="12">-->
<!--            <p class="text-h6 black&#45;&#45;text">Nivo obrazovanja</p>-->
<!--            <v-tooltip bottom v-for="lvl in generalData.education_levels">-->
<!--              <template v-slot:activator="{ on, attrs }">-->
<!--                <div-->
<!--                    v-if="lvl.degree_code != 0"-->
<!--                    @click="dataSelected(lvl.degree_code, 'education_levels')"-->
<!--                    class=" rounded-xl mr-3 pointer pointer customChip"-->
<!--                    :class="selectedParams.education_levels.indexOf(String(lvl.degree_code)) > -1 ? 'selectedChip' : 'defaultChip'"-->
<!--                    v-bind="attrs"-->
<!--                    v-on="on"-->
<!--                >-->
<!--                  {{lvl.degree}}-->
<!--                </div>-->
<!--              </template>-->
<!--              <span>{{lvl.degree}}</span>-->
<!--            </v-tooltip>-->
<!--          </v-col>-->
<!--          &lt;!&ndash;          <v-col cols="12">&ndash;&gt;-->
<!--          &lt;!&ndash;            <p class="text-h6 black&#45;&#45;text">Tip ugovora</p>&ndash;&gt;-->
<!--          &lt;!&ndash;            <v-tooltip bottom v-for="lvl in generalData.contract_types">&ndash;&gt;-->
<!--          &lt;!&ndash;              <template v-slot:activator="{ on, attrs }">&ndash;&gt;-->
<!--          &lt;!&ndash;                <div&ndash;&gt;-->
<!--          &lt;!&ndash;                    @click="dataSelected(lvl.id, 'contract_types')"&ndash;&gt;-->
<!--          &lt;!&ndash;                    class=" rounded-xl mr-3 pointer pointer customChip"&ndash;&gt;-->
<!--          &lt;!&ndash;                    :class="selectedParams.contract_types.indexOf(String(lvl.id)) > -1 ? 'selectedChip' : 'defaultChip'"&ndash;&gt;-->
<!--          &lt;!&ndash;                    v-bind="attrs"&ndash;&gt;-->
<!--          &lt;!&ndash;                    v-on="on"&ndash;&gt;-->
<!--          &lt;!&ndash;                >&ndash;&gt;-->
<!--          &lt;!&ndash;                  {{lvl.contract_type}}&ndash;&gt;-->
<!--          &lt;!&ndash;                </div>&ndash;&gt;-->
<!--          &lt;!&ndash;              </template>&ndash;&gt;-->
<!--          &lt;!&ndash;              <span>{{lvl.contract_type}}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;            </v-tooltip>&ndash;&gt;-->
<!--          &lt;!&ndash;          </v-col>&ndash;&gt;-->
<!--        </v-row>-->
<!--      </v-card-text>-->

<!--      <v-divider></v-divider>-->

<!--      <v-card-actions>-->
<!--        <v-spacer></v-spacer>-->
<!--        <v-btn-->
<!--            color="primary"-->
<!--            text-->
<!--            @click="$emit('closeMoreOptions')"-->
<!--        >-->
<!--          Ok-->
<!--        </v-btn>-->
<!--      </v-card-actions>-->
<!--    </v-card>-->
<!--  </v-dialog>-->
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import searchParams from "@/composables/search_params";

    export default defineComponent({
         name:'MoreOptionsDialog',
        props: {
          openDialog: {type: Boolean, default: false}
        },
        setup(props, ctx) {

          const generalData = computed(() => {
            return ctx.root.$store.state.common.generalData;
          })
          const moreOptsDialog = ref(false);
          const moreOptions = () => moreOptsDialog.value = !moreOptsDialog.value;


          const selectedParams = computed(() => {
            return ctx.root.$store.getters['searchParams/getSearchParamsObject'];
          })

          const dataSelected = (value, prop) => {
            ctx.root.$store.dispatch('searchParams/setSearchObjectProp',{prop, value})
            ctx.emit('listJobs')
          }

          return {
              moreOptions, moreOptsDialog, generalData, dataSelected, selectedParams
            }

        }
    })
</script>

<style scoped>
.customChip {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 15px;
}
.defaultChip {
  color: #0C3270;
  border: 1px solid #BDC3CF;
}
.selectedChip {
  color: #BDC3CF;
  background: #0C3270;
  border: 1px solid #0C3270;
}

.newestAds:hover {
  background: #0C3270;
}

</style>
