$customJobCardTitleColorLight:#eee !important;
$customJobCardTitleColorDark: rgba(0, 0, 0, 0.87) !important;
$lightInputBg: #ffffff !important;
$customCardPadding: 20px!important;
$linkColor: #0D387F!important;
$linkColor2: #4059DF!important;
$candidateBlue: #213F89!important;
$employerColor: #274CA2;
$employerColorLight: rgba(39, 76, 162, 0.17);
$menuFontSize: 14px!important;
$applyBtnBg: #E00D6C!important;
$grey: #7D8696!important;
$buttonBlue: #274CA2!important;
$mainBgColor: #f6f7fa!important;
html { height: 100%; }
.shadow {
  box-shadow: 0px 3px 5px -1px rgba(110, 110, 110, 0.1), 0px 5px 8px 0px rgba(110, 110, 110, 0.1), 0px 1px 14px 0px rgba(109, 109, 109, 0.1) !important
}
.buttonBlue {
  background:$buttonBlue;
}
.mainBgColor {
  background: $mainBgColor;
}
.greyText {
  color: $grey;
}
.font14{
  font-size: 14px!important;
}
.font16{
  font-size: 16px!important;
}
.font18{
  font-size: 18px!important;
}
.blackishText {
   color:#303030;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.linkColor2 {
  color: $linkColor2;
}
.candidateBlueBg {
  background: $candidateBlue;
}

.candidateBlueText {
  color: $candidateBlue;
}

.candidateBlueBorder {
  border-color: $candidateBlue;
}

.employerBg {
  background: $employerColor!important;
}

.employerBgLight {
  background: $employerColorLight!important;
}

.employerTextColor {
  color: $employerColor!important;
}

.employerBorderColor {
  border-color: $employerColor!important;
}

.border {
  border:1px solid!important;
}

.borderBottom {
  border-bottom:1px solid!important;
}

.bgWhite {
  background: #fff;
}

@media(min-width:  1904px){
  .container {
    max-width: 1200px!important;
  }
}

.theme--dark {
  .v-app-bar {
    border-bottom: 1px solid #414141 !important;
  }

  .v-card {
  }

  .v-tab {
    color: #ffffff!important;
  }
}

#popular {
  background: #E2E9F4!important;
}
.v-menu__content {
  //box-shadow: none!important;
  //padding-bottom: 10px;
}

.theme--light {
  .appBarButtons .v-tab, .empJobsTabs .v-tab {
    color:rgba(0, 0, 0, 0.87)!important;
    font-weight: bold;
  }

  v-toolbar {
    border-bottom: 1px solid #D6D6D6!important;
  }

  .v-input__slot {
    background: #fff!important;
  }

  .selectItemSearch {
    top: 0;
    position: sticky;
    z-index: 1;
    background: #fff;
  }

}

label {
  //font-weight: bold;
}


.v-input__slot {
  min-height: 50px!important;
}

.customSearchInput .v-text-field__slot {
}

.customGrayBg {
  background: #F6F7FA!important;
}

.customFullDivider hr {
  position: absolute;
  width: 100%;
  right: 0px;
}

.customStickyBanner .v-banner__wrapper {
  padding: 16px!important;
}

.customCardPadding {
  padding: $customCardPadding;
}

.customJobCardTitleLight a{
  color: $customJobCardTitleColorLight;
  text-decoration: none;
}

.customJobCardTitleDark a{
  color: $customJobCardTitleColorDark;
  text-decoration: none;
}

.customJobCardTitleDark a:hover,
.customJobCardTitleLight a:hover{
  text-decoration: underline!important;
}

.pointer {
  cursor: pointer;
}

.w_150 {
  width: 150px;
}

.v-card a {
  color: $linkColor;
}

.linkColor {
  color: $linkColor;
}

.menuFontSize {
  font-size: $menuFontSize;
}

.v-tab {
  text-transform: none!important;
}

.v-btn {
  text-transform: none!important;
}

.customChip {
  position: relative;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 15px;
}
.defaultChip {
  color: #0C3270;
  border: 1px solid #BDC3CF;
}
.selectedChip {
  color: #BDC3CF;
  background: #0C3270;
  border: 1px solid #BDC3CF;
}
.closable {
  padding-right: 30px!important;
}
.closable .closeClosable{
  position: absolute!important;
  color: #fff !important;
  font-size: 17px!important;
  right: 8px;
  top: 12px;
}
.closable .closeClosable:hover{
  color: red !important;
}

.applyBtnBg {
  background: #fc413d!important;
}

h1 {
  font-size: 30px!important;
}

h3 {
  font-size: 21px!important;
}
.v-btn__content {
  font-size: 16px!important;
  letter-spacing: normal!important;
}

.candidateAvatar {
  display: inline-block;
  border-radius: 16px;
  background: lightgrey;
  position: relative;
  max-width: 76px;
  min-width: 76px;
  min-height: 76px;
}

.candidateAvatar .initials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  font-size: 27px;
}

.selected {
  color: $buttonBlue;
  font-weight: bold;
}

.avatar {
  width: 90px;
  height: 90px;
  border: 1px dashed #85A3F8;
  border-radius: 5px;
  background-size: contain;
  background-position: center ;
  overflow: hidden;
}

.avatar .row{
  height: 100%;
  margin-top: 0px;
  background: rgb(133 163 248 / 25%);
}

.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
  opacity: 1!important;
}
.v-btn--plain .v-btn__content:hover {
  opacity: 0.62!important;
}

.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
  color: #2c2c2c;
}

.v-expansion-panel::before {
  box-shadow: none!important;
}

.v-expansion-panels {
  border: 1px solid #E1E1E1;
  border-radius: 8px!important;
  padding: 5px 0px!important;
}

.detailsFeaturedImage {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-color: rgba(26, 118, 210, 0.31);
}

.detailsFeaturedImage .v-row{

}

.jobDetailsCompanyLogo {
  max-width: 320px;
  padding: 3px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
}

.customPromotedLogo {
  position: relative;
  border: 1px solid #ccc;
  margin-left: 10px;
  border-radius: 45px;
  background-color: white;
  background-size: contain;
  background-position: center;
  width: 90px;
  height: 90px;
}

.visibilityHidden {
  visibility: hidden!important;
}

.jobPromoImage {
  height: 200px;
  max-height: 200px;
  min-width: 100%;
}

.jobPromoImage img {
  object-fit: cover;
  min-width: 100%;
  height: 200px;
}