<template>
  <v-container>
    <h1>Activating jobseeker...</h1>
  </v-container>
</template>
<script>
import { defineComponent,ref, computed } from '@vue/composition-api'

export default defineComponent({
  setup(props, ctx) {

  },

  mounted() {
    if (this.$route.query.id) {
      this.$store.dispatch('candidate/auth/confirmRegistration',this.$route.query.id);
    } else {
      this.$router.push(this.localePath('/'));
    }
  },
  methods: {

  }
})
</script>

