<template>
    <v-container>
      <h1>Activating employer...</h1>
    </v-container>
</template>
<script>
import { defineComponent,ref, computed } from '@vue/composition-api'

export default defineComponent({
  setup(props, ctx) {

  },
    created() {
        if (!process.server && this.$route.query.id) {
            this.$store.dispatch('employer/auth/confirmRegistration',this.$route.query.id);
        }
    }
})
</script>

