<template>
  <div>
    <InfoBlock
      v-if="questions.length"
      text='Obelezite odgovore koji zadovoljavaju vase kriterijume.'
    />
    <v-card
        v-for="(question, questionIndex) in questions"
        :key="questionIndex+question"
        class="my-10"
        outlined
    >
      <v-card-title>
        {{ question.title }}
      </v-card-title>
      <v-card-text>
        <v-simple-table
            v-if="question.type != 'text'"
            dense
        >
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">
                {{ $t('questionnaire.offeredAnswers') }}<br>
                <small v-if="question.type != 'text'">{{ $t('questionnaire.textShortTooltip') }}</small>
                <small v-if="question.type != 'checkbox'">{{ $t('questionnaire.checkboxShortTooltip') }}</small>
                <small v-if="question.type != 'radio'">{{ $t('questionnaire.radioShortTooltip') }}</small>
              </th>
              <th class="text-left">
                {{ $t('questionnaire.checkSatisfAnswers') | ucfirst }}<br>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="(answer, answerIndex) in question.answers"
            >
              <td>{{ answer.title }} {{answer.satisfying}}</td>
              <td>


                <v-checkbox
                    v-model="answer.satisfying"
                    class="checkbox"
                    @change="checkSatisfyingAnswer($event, questionIndex, answerIndex)"
                    :label="$t('questionnaire.satisfyingAnswer')"
                ></v-checkbox>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-textarea
            v-if="question.type == 'text'"
            value="textual answer"
            disabled
        >
        </v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-btn
            color="blue darken-2"
            text
            @click="edit(questionIndex)"
        >
          {{ $t('general.edit') }}
        </v-btn>
        <v-btn
            color="red darken-2"
            text
            @click="addRemoveQuestionsFromChecked(questionIndex, false)"
        >

          {{ $t('general.remove') | ucfirst }} {{ $t('general.question') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <EditQuestion
        :editOpen="editOpen"
        @close="editOpen = false"
    />
  </div>
</template>

<script>
import EditQuestion from "./EditQuestion";
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import InfoBlock from "../../InfoBlock";

export default defineComponent({
  emits: [
    'questionsSet'
  ],
  components: {
    InfoBlock,
    EditQuestion
  },
  props: {},
  setup(props, ctx) {
    //avoid direct mutation
    const questions = computed(() => {
      let quests = JSON.stringify(ctx.root.$store.state.employer.questionnaire.questions.filter(question => question.checked));
      quests = JSON.parse(quests);
      return quests;
    })

    const checkSatisfyingAnswer = (checked, questionIndex, answerIndex) => {
      ctx.root.$store.dispatch('employer/questionnaire/checkAnswer', {questionIndex, answerIndex, checked})
    }

    const editOpen = ref(false);

    const edit = (questionIndex) => {
      editOpen.value = true;
      //avoid passing by reference
      let string = JSON.stringify(questions.value[questionIndex]);
      ctx.root.$store.dispatch('employer/editQuestionDialog/setQuestion', JSON.parse(string))
      ctx.root.$store.dispatch('employer/editQuestionDialog/setQuestionIndex', questionIndex)
    }
    const addRemoveQuestionsFromChecked = (questionIndex, checked) => {
      ctx.root.$store.dispatch('employer/questionnaire/checkQuestion', {questionIndex, checked})
    }
    return {
      editOpen,
      questions,
      checkSatisfyingAnswer,
      edit,
      addRemoveQuestionsFromChecked
    }
  },
})
</script>

<style>

.checkbox label {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px !important;
}

tr:hover {
  background: rgba(0, 0, 0, 0.0) !important;
}
</style>