<template>
    <div class="text-center">
        <v-dialog
                @keydown="onkeydown"
                @click:outside="close"
                v-model="editOpen"
                :fullscreen="fullScreen"
                width="700"
        >
            <v-card class="grey lighten-5">
                <div v-if="question">
                    <v-card-text>
                        <h3 class="mb-4">{{$t('questionnaire.yourQuestion')}}</h3>

                        <v-text-field
                                @input="setQuestionTitle"
                                :label="$t('general.question') | ucfirst"
                                required
                                outlined
                                :error="false"
                                :value="question.title"
                        ></v-text-field>

                        <h3 class="mb-4">{{$t('questionnaire.questionAnswers')}}</h3>

                        <div style="position:relative;">
                            <v-select
                                    class="mb-4 ml-8"
                                    hide-details
                                    @change="updateAnswerType"
                                    v-model="answerType"
                                    :items="getAnswerTypes"
                                    :label="$t('questionnaire.answerType')"
                                    :multiple="false"
                                    outlined
                            >
                                <template v-slot:selection="{ item, index }">
                                    <v-chip>
                                        <span>{{ item.text }}</span>
                                    </v-chip>
                                </template>

                            </v-select>
                            <div class="answerTypeTooltip">
                                <v-tooltip
                                        right
                                        color="primary"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-icon
                                                color="primary"
                                                dark
                                                v-bind="attrs"
                                                v-on="on"
                                        >
                                            mdi-information-variant
                                        </v-icon>
                                    </template>
                                    <span v-text="$t('questionnaire.questionTypesMsg')">

                                    </span>
                                </v-tooltip>
                            </div>
                        </div>

                        <hr>
                        <br>

                        <v-text-field
                                v-for="(answer, index) in question.answers"
                                class="mb-4"
                                :append-outer-icon="'mdi-delete-forever'"
                                @input="updateAnswer($event, index)"
                                @click:append-outer="deleteAnswer(index)"
                                :label="$t('general.question')+' '+(index+1) | ucfirst"
                                required
                                outlined
                                hide-details
                                :value="answer.title"
                        ></v-text-field>
                        <v-row>
                            <v-col cols="12" class="text-center">
                                <v-btn
                                        v-if="question.type != 'text'"
                                        color="teal lighten-1"
                                        fab
                                        dark
                                        @click="addAnswer"
                                >
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-btn
                                color="error"
                                text
                                @click="close(false)"
                                outlined
                                rounded
                        >
                            {{$t('general.reject')}}
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                text
                                @click="close(true)"
                                outlined
                                rounded
                        >
                            {{$t('general.apply')}}
                        </v-btn>
                    </v-card-actions>
                </div>
            </v-card>
        </v-dialog>
        <v-dialog
                v-model="setTextualAnswerType"
                persistent
                max-width="290"
        >
            <v-card>
                <v-card-title class="text-h5">
                    {{$t('questionnaire.hey')}}
                </v-card-title>
                <v-card-text>{{$t('questionnaire.changeToTextAnswerNotice')}}</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            color="green darken-1"
                            text
                            @click="acceptTextualAnswerType(true)"
                    >
                        {{$t('general.apply')}}
                    </v-btn>
                    <v-btn
                            color="green darken-1"
                            text
                            @click="acceptTextualAnswerType(false)"
                    >
                        {{$t('general.leave')}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { defineComponent, ref, computed } from '@vue/composition-api'
    export default defineComponent({
        components: {

        },
        props: ['editOpen'],
        emits: ['close'],
        setup(props, ctx) {
            const close = (status) => {
                if (status) {
                    let questionIndex = ctx.root.$store.state.employer.editQuestionDialog.questionIndex
                    let question = ctx.root.$store.state.employer.editQuestionDialog.question

                    ctx.root.$store.dispatch('employer/questionnaire/setQuestion', {questionIndex, question})
                }
                ctx.emit('close')
            }
            const question = computed(() => ctx.root.$store.state.employer.editQuestionDialog.question);

            const getAnswerTypes = computed(() => {
                return [
                    {
                        value: 'text',
                        text: ctx.root.$t('questionnaire.text'),
                        disabled: false,
                    },
                    {
                        value: 'radio',
                        text: ctx.root.$t('questionnaire.radio'),
                        disabled: false,
                    },
                    {
                        value: 'checkbox',
                        text: ctx.root.$t('questionnaire.checkbox'),
                        disabled: false,
                    },

                ]
            });

            const onkeydown = (evt) => {
                if (evt.keyCode == 27) {
                    close();
                }
            }
            const questionTitle = ref(question.value ? question.value.title : '');

            const setQuestionTitle = (title) => ctx.root.$store.dispatch('employer/editQuestionDialog/setQuestionTitle', title)
            const updateAnswerType = (type) => {
                if (type == 'text') {
                    setTextualAnswerType.value = true;
                } else {
                    ctx.root.$store.dispatch('employer/editQuestionDialog/updateAnswerType', type)
                }
            }
            const updateAnswer = (title, answerIndex) => ctx.root.$store.dispatch('employer/editQuestionDialog/updateAnswer', {title, answerIndex})
            const deleteAnswer = (answerIndex) => ctx.root.$store.dispatch('employer/editQuestionDialog/deleteAnswer',  answerIndex)
            const addAnswer = () => ctx.root.$store.dispatch('employer/editQuestionDialog/addAnswer')

            const setTextualAnswerType = ref(false);
            const acceptTextualAnswerType = (accept) => {
                if (accept) {
                    ctx.root.$store.dispatch('employer/editQuestionDialog/updateAnswerType', 'text');
                }
                // answerType.value = ctx.root.$store.state.employer.editQuestionDialog.question.type;
                setTextualAnswerType.value = false;
            }

            const fullScreen = ref (ctx.root.$vuetify.breakpoint.sm);
            return {
                question,
                getAnswerTypes,
                questionTitle,
                setTextualAnswerType,
                fullScreen,
                close,
                onkeydown,
                setQuestionTitle,
                updateAnswerType,
                updateAnswer,
                deleteAnswer,
                addAnswer,
                acceptTextualAnswerType
            }
        },
        data() {
          return {
            answerType: ''
          }
        },
        updated() {
          this.answerType = this.$store.state.employer.editQuestionDialog.question.type;
        }
    })
</script>

<style scoped>
    .answerTypeTooltip {
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>