<template>
  <div>
    <v-card
        v-for="(question, questionIndex) in questions"
        :key="questionIndex+question"
        class="my-10"
        :class="question.checked ? 'elevation-12 ma-0' : 'elevation-1 ma-2'"
    >
      <v-card-title>
        {{ question.title }}
      </v-card-title>
      <v-card-text>
        <v-simple-table
            v-if="question.type != 'text'"
            dense
        >
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left">
                {{ $t('questionnaire.offeredAnswers') | ucfirst }}<br>
                <small v-if="question.type != 'text'">{{ $t('questionnaire.textShortTooltip') }}</small>
                <small v-if="question.type != 'checkbox'">{{ $t('questionnaire.checkboxShortTooltip') }}</small>
                <small v-if="question.type != 'radio'">{{ $t('questionnaire.radioShortTooltip') }}</small>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="(answer, answerIndex) in question.answers"
            >
              <td>{{ answer.title }}</td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-textarea
            v-if="question.type == 'text'"
            value="textual answer"
            disabled
        >

        </v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-btn
            color="blue darken-1"
            text
            @click="edit(questionIndex)"
        >
          <v-icon>mdi-pencil</v-icon>
          {{ $t('general.edit') }}
        </v-btn>
        <v-btn
            color="green darken-1"
            v-if="!question.checked"
            text
            @click="addRemoveQuestionsFromChecked(questionIndex, true)"
        >
          <v-icon>mdi-check</v-icon>
          {{ $t('general.add') | ucfirst}} {{ $t('general.question') }}
        </v-btn>
        <v-btn
            color="red darken-2"
            v-if="question.checked"
            text
            @click="addRemoveQuestionsFromChecked(questionIndex, false)"
        >
          <v-icon>mdi-delete</v-icon>
          {{ $t('general.remove') | ucfirst}} {{ $t('general.question') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <div class="text-center">
      <v-btn
          @click="createQuestion"
          fab
          color="green"
          dark
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>

    <EditQuestion
        :editOpen="editOpen"
        @close="editOpen = false"
    />
  </div>
</template>

<script>
import EditQuestion from "./EditQuestion";
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  emits: [
    'questionsSet'
  ],
  components: {
    EditQuestion
  },
  props: {},
  setup(props, ctx) {
    const questions = computed(() => {
      return ctx.root.$store.getters['employer/questionnaire/getAllQuestions']
    })

    const checked = (checked, questionIndex, answerIndex) => {
      ctx.root.$store.dispatch('employer/questionnaire/checkAnswer', {questionIndex, answerIndex, checked})
    }

    const deleteQuestion = (index) => {
      ctx.root.$store.dispatch('employer/questionnaire/deleteQuestion', index)
    }

    const editOpen = ref(false);

    const edit = (questionIndex) => {
      editOpen.value = true;
      //avoid passing by reference
      let string = JSON.stringify(questions.value[questionIndex]);
      ctx.root.$store.dispatch('employer/editQuestionDialog/setQuestion', JSON.parse(string))
      ctx.root.$store.dispatch('employer/editQuestionDialog/setQuestionIndex', questionIndex)
    }

    const addRemoveQuestionsFromChecked = (questionIndex, checked) => {
      ctx.root.$store.dispatch('employer/questionnaire/checkQuestion', {questionIndex, checked})
    }

    const createQuestion = () => {
      ctx.root.$store.dispatch('employer/questionnaire/addNewQuestion');
    }
    return {
      editOpen,
      questions,
      checked,
      deleteQuestion,
      edit,
      addRemoveQuestionsFromChecked,
      createQuestion
    }
  },
})
</script>

<style scoped>

</style>