<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          text
          class="hidden-lg-and-up black--text pr-0"
          v-bind="attrs"
          plain
          :ripple="false"
          v-on="on"
      >
        {{$t('general.navigation') | ucfirst}}
        <v-icon>mdi-chevron-down</v-icon>
      </v-btn>
    </template>
    <v-card class="px-3 py-5">
      <v-row class="">
        <v-col cols="12">
          <nuxt-link :to="localePath('/')" class="text-decoration-none font-weight-medium font16">
            {{$t('links.homePage') |ucfirst}}
          </nuxt-link>
        </v-col>
        <v-col cols="12">
          <nuxt-link :to="localePath('candidate-saved-jobs')" class="text-decoration-none font-weight-medium font16">
            {{$t('links.savedJobs') |ucfirst}}
          </nuxt-link>
        </v-col>
<!--        <v-col cols="12">-->
<!--          <nuxt-link :to="localePath('candidate-login')" class="text-decoration-none font-weight-medium font16">-->
<!--            Svi poslodavci-->
<!--          </nuxt-link>-->
<!--        </v-col>-->
<!--        <v-col cols="12">-->
<!--          <nuxt-link :to="localePath('candidate-login')" class="text-decoration-none font-weight-medium font16">-->
<!--            Blog-->
<!--          </nuxt-link>-->
<!--        </v-col>-->
      </v-row>
      <v-row class="">
        <v-col cols="12">
          <v-divider class=""></v-divider>
        </v-col>
      </v-row>
      <v-row class="px-4 pb-3">
        <v-col cols="12 px-0">
          <v-btn
              width="80%"
              text
              large
              @click="$router.push(localePath('candidate-login'))"
              class="border candidateBlueBorder candidateBlueText"
          >
            {{$t('buttons.login')+' '+$t('links.asCandidate') | ucfirst}}
          </v-btn>
        </v-col>
      </v-row>
      <v-row class="grey lighten-4 px-3 py-5 " style="border-top: 2px solid #ccc!important; border-bottom: 2px solid #ccc!important">
        <v-col cols="12 px-0">
          <h3 class="candidateBlueText text-decoration-underline"
              @click="$router.push(localePath('employer'))"
          >{{$t('general.doYouHire')|ucfirst}}</h3>
        </v-col>
        <v-col cols="12 px-0">
          <v-btn
              width="80%"
              @click="$router.push(localePath('employer-login'))"
              fill
              class="border employerGreenBorder employerGreenText candidateBlueText bgWhite"
              outlined
              large
          >

            {{$t('buttons.login') +' '+$t('links.asEmployer') | ucfirst}}
          </v-btn>

          <div class="">
<!--            <v-btn-->
<!--                @click="$router.push('employer')"-->
<!--                plain-->
<!--                :ripple="false"-->
<!--                class="pr-0"-->
<!--            >-->
<!--              {{ $t('general.employers') | ucfirst}}-->
<!--            </v-btn>-->
          </div>
        </v-col>
      </v-row>
      <v-row class="">
        <v-col cols="12">
          <LanguageDropdownMenu />
        </v-col>
      </v-row>
    </v-card>
  </v-menu>
</template>

<script>
    import {defineComponent, computed, ref} from '@vue/composition-api'
    import LanguageDropdownMenu from "./LanguageDropdownMenu";

    export default defineComponent({
        name:'InitialMobileDropdownMenu',
      components: {LanguageDropdownMenu},
      setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;
            const dialog = computed(() => store.state.common.main_dialog.open);

            const   selectedItem = ref();
            selectedItem.value = 0;
            const   items = ref();
            items.value = [
                    { text: 'My Files', icon: 'mdi-folder' },
                    { text: 'Shared with me', icon: 'mdi-account-multiple' },
                    { text: 'Starred', icon: 'mdi-star' },
                    { text: 'Recent', icon: 'mdi-history' },
                    { text: 'Offline', icon: 'mdi-check-circle' },
                    { text: 'Uploads', icon: 'mdi-upload' },
                    { text: 'Backups', icon: 'mdi-cloud-upload' },
                ];

            return {
                dialog, selectedItem, items
            }

        }
    })
</script>

<style >
.v-menu__content {

}
</style>