<template>
    <v-menu bottom left >
        <template v-slot:activator="{ on, attrs }">
            <v-btn

                color="black"
                plain
                    text
                   v-bind="attrs"
                   v-on="on"
            >

                <span v-if="currentLocale=='sr'">SR</span>
                <span v-if="currentLocale=='en'">EN</span>
                <v-icon>mdi-chevron-down</v-icon>
                <span class="hidden-lg-and-up ml-2">{{$t('general.choose') +' '+ $t('general.language')|ucfirst}}</span>
            </v-btn>
        </template>
        <v-card class="px-3 py-2 rounded white">
            <div v-for="(locale, i) in showLocales">
              <v-btn
                  plain
                  :ripple="false"
                  text
                  :color="currentLocale == locale.code ? 'green' : ''"
                  class=""

                  @click="navigateTo(switchLocalePath(locale.code))"
              >
                <span class="text-left" v-if="locale.code=='sr'">SR (srpski)</span>
                <span class="text-left" v-if="locale.code=='en'">EN (english)</span>
              </v-btn>
              <v-divider v-if="!(showLocales.length == (i+1))"></v-divider>
            </div>

          </v-card>
    </v-menu>
</template>

<script>
    import {defineComponent, computed, ref} from '@vue/composition-api'

    export default defineComponent({
        name:'LanguageDropdownMenu',
        setup(props, ctx) {
            const navigateTo = (link) => {
                ctx.root.$router.push(link);
            }
            return {navigateTo}
        },
        computed: {
            showLocales () {
                return this.$i18n.locales
            },
            currentLocale() {
                return this.$i18n.locale
            },
        },
    })
</script>

<style scoped>

</style>