<template>
  <DefaultPageWrapper :title="$t('titles.searches')">
    <v-row>
      <v-col cols="12" md="8">


        <v-card
            class="mb-3  elevation-0"
            v-for="search in _.reverse(searches)"
            :key="search.id"
        >
          <v-card-title @click="load(search)" class="font16 font-weight-medium pointer savedSearchTitle" style="line-height: 20px">
            <v-row>
              <v-col cols="10"> {{search.title}}</v-col>
              <v-col cols="2" class="text-right">
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                    >
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item>
                      <v-list-item-title class="pointer" @click="load(search)">{{ $t('general.loadSearch') }}</v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-title class="red--text pointer" @click="deleteSearch(search.id)">{{ $t('general.delete') }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-subtitle>
            <v-icon class="mt-n1">mdi-information-variant</v-icon>{{ $t('activateNotificationForSavedSearch')}}
          </v-card-subtitle>
          <v-card-actions>
            <div class="customFlex pl-2">
              <span class="font16 mt-6 font-weight-medium">{{ $t('general.emailNotifications')}}</span>
              <v-switch
                  :input-value="search.notification_status == 1"
                  style="max-height: 50px"
                  class=""
                  @change="switchNotif($event, search.id)"
                  inset
              ></v-switch>
            </div>
          </v-card-actions>
        </v-card>

        <v-row class="mt-10" v-if="!searches.length">
          <v-col  cols="12 mt-10 mb-10 red lighten-4">

            <h3 class='text-center mb-3'>{{ $t('general.noSavedSearches') | ucfirst}}</h3>
            <p class='text-center'></p>
          </v-col>
        </v-row>

      </v-col>



      <v-col md="4">
        <v-card class="px-2 pb-2  elevation-0">
          <v-card-title class="text-center" style="word-break: break-word;">

          </v-card-title>
          <p class="text-center font14 red white--text pa-1 rounded">{{ $t('optionNotAvailable') | ucfirst}}.</p>
          <div class="mt-5 px-0">
            <div class="customFlex mt-n6">
              <span class="font16 px-5 font-weight-medium" style="line-height: 15px">{{ $t('deactivateAllNotifications') | ucfirst}}</span>
              <v-switch
                  class=""
                  disabled
                  :value="false"
                  @change="switchNotif($event, search.id)"
                  inset
              ></v-switch>
            </div>
          </div>
          <v-card-text class="grey lighten-4">
            {{ $t('allNotifSwitchInfo') | ucfirst}}<br>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <ConfirmationDialog/>
  </DefaultPageWrapper>
</template>
<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import JobDetails from "../../../components/common/JobDetails";
import DefaultPageWrapper from "@/components/DefaultPageWrapper";
import ConfirmationDialog from "@/components/common/dialgos/ConfirmationDialog";
export default defineComponent({
  middleware: 'candidate_auth',
  components: {
    JobDetails,
    DefaultPageWrapper,
    ConfirmationDialog
  },
  setup(props, ctx) {
    let searches = computed(() => {
      return ctx.root.$store.state.candidate.searches.data;
    })
    const switchNotif = (event, searchId) => {
      let status = event ?  '1' : '0';
      ctx.root.$axios.patch('api/user/searches/'+searchId, JSON.stringify({ notification_status:status }),{
        headers: {
          'Content-Type' : 'application/json'
        }
      }).then(response => {
        ctx.root.$store.dispatch('candidate/searches/updateNotification', {searchId, status})
      })
    }

    const load = (search) => {
      let searchParamsString = [];
      Object.keys(search.search).map(key => {
        let string = key + "=" + search.search[key];
        searchParamsString.push(string)
      })
      searchParamsString = searchParamsString.join('&')+'&date_range=&page=1';
      ctx.root.$router.push(ctx.root.localePath({
        name: 'job-search-search_params',
        params: {search_params: searchParamsString}
      }))
    }



    const deleteSearch = (searchId) => {
      ctx.root.$store.dispatch('confirmationDialog/deleteSearchConfirmation', {
        confirmAction: 'candidate/searches/delete',
        confirmPayload: searchId
      })
    }

    const activeNotifications = ref([]);
    const switchMainNotif = (evt) => {
      let jsonObject = JSON.stringify({
        mobile_notifications:evt,
      })

      ctx.root.$axios.patch('api/user/notifications', jsonObject,{
        headers: {
          'Content-Type' : 'application/json'
        }
      }).then(response => {
        ctx.root.$store.dispatch('candidate/profile/get')
      })
    };

    return {
      searches,
      switchNotif,
      load,
      deleteSearch,
      activeNotifications,
      switchMainNotif
    }
  },
  async asyncData(context) {
    await context.store.dispatch('candidate/searches/get')
  }
})
</script>

<style>
.customFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleFlex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.savedSearchTitle:hover {
  color: #0D387F;
}
</style>