<template>
  <DefaultPageWrapper class="white">
    <div class="blue-grey--text pb-7 mb-5" style="border-bottom: 1px solid #607d8b;">
      <p class="mb-0">
        <span v-if="$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('employer-dashboard'))">{{ $t('links.home') | ucfirst}}</span>
        <span v-if="!$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('/'))">{{ $t('links.home') | ucfirst}}</span>
        <v-icon class="font18 mt-n1">mdi-chevron-right</v-icon>{{ $t('general.faq') | ucfirst}}</p>
    </div>
    <div class="text-h5 mb-4">{{ $t('general.faq') | ucfirst}}</div>


  </DefaultPageWrapper>
</template>
<script>
import {defineComponent} from '@vue/composition-api'
import DefaultPageWrapper from "../../components/DefaultPageWrapper";

export default defineComponent({
  components: {DefaultPageWrapper},
  setup(props, ctx) {
    //define store
    const app = ctx.root;
    const store = app.$store;

    return {

    }
  }
})
</script>

