<template>
  <DefaultPageWrapper class="white">
    <template slot="promo_image">
      <client-only>
        <JobDetailsFeaturedImage
            v-if="!isShortAd"
            :isShortAd="isShortAd"
            :logo_path="jobDetails.logo_path"
            :promo_image="jobDetails.promo_image"
            :title="jobDetails.title"
            :company="jobDetails.company"
        />
      </client-only>
    </template>
    <client-only>
      <JobGeneralData :jobDetails="jobDetails" :company_description="jobDetails.company_description" :isShortAd="isShortAd"/>
    </client-only>
    <v-row
        align="center"
        class="mt-5"
        v-if="jobDetails.message.length > 500"
    >
      <v-col md="3">
        <ApplyJobButton
            v-if="!alreadyApplied"
            :post="jobDetails"
        />
        <div v-if="alreadyApplied">{{ $t('alreadyApplied') }}</div>
      </v-col>
      <v-col md="3">
        <SaveJobButtons2 :post="jobDetails"/>
      </v-col>
    </v-row>
    <v-divider class="my-9"></v-divider>
    <div v-if="jobDetails.open_pdf_directly  == '1'">
      <client-only>
        <OpenPdfDirectly :job="jobDetails"/>
      </client-only>
    </div>
    <v-row v-if="jobDetails.open_pdf_directly  != '1'">
      <v-col cols="12">
        <JobDetails :job-details="jobDetails"/>
      </v-col>
    </v-row>

    <v-divider class="my-9"></v-divider>

    <v-row align="center">
      <v-col md="3">
        <ApplyJobButton
            v-if="!alreadyApplied"
            :post="jobDetails"
        />
        <div v-if="alreadyApplied">{{ $t('alreadyApplied') }}</div>
      </v-col>
      <v-col md="3">
<!--        <SaveJobButtons2 :post="jobDetails"/>-->
      </v-col>
    </v-row>
  </DefaultPageWrapper>
</template>

<script>
import {computed, defineComponent, ref} from '@vue/composition-api'
import JobDetails from "../../../components/common/JobDetails";
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";
import SaveJobButtons2 from "../../../components/common/SaveJobButtons2";
import ApplyJobButton from "../../../components/common/ApplyJobButton";
import JobGeneralData from "../../../components/common/JobGeneralData";
import OpenPdfDirectly from "../../../components/OpenPdfDirectly";
import JobDetailsFeaturedImage from "../../../components/job/JobDetailsFeaturedImage";

export default defineComponent({
  head(){
    return {
      title: this.jobDetails.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.jobDetails.short_message
        }
      ]
    }
  },
  components: {
    JobDetailsFeaturedImage,
    OpenPdfDirectly,
    JobGeneralData,
    ApplyJobButton,
    JobDetails,
    DefaultPageWrapper,
    SaveJobButtons2
  },
  props: {
    jobId: Object
  },
  setup(props, ctx) {
    if (ctx.root.$store.getters['candidate/auth/isAuthenticated']) {
      ctx.root.$store.dispatch('candidate/jobApplication/setOldApplications', true);
    }
    let oldApps = computed(() => ctx.root.$store.state.candidate.jobApplication.old_applications);
    let alreadyApplied = computed(() => {
      let applied = false;
      oldApps.value.map(app => {
        if (app.posting_id == ctx.root.$route.params.id) {
          applied = true;
        }
      })
      return applied;
    })

    if (ctx.root.$store.getters['candidate/auth/isAuthenticated']) {
      ctx.root.$store.dispatch('candidate/documents/get');
    }

    const jobApply = ref(false)
    return {
      jobApply,
      alreadyApplied
    }
  },
  async asyncData(context) {
    let jobDetails = await context.$axios.$get('/api/public/posts/' + context.params.id);
    await context.store.dispatch('common/setGeneralData');



    // console.log('jobDetails Get: ',jobDetails)
    // console.log('jobDetails.company_description: ',jobDetails.company_description)

    return {jobDetails}
  },

  computed: {
    isShortAd () {
      return this.jobDetails.product_code.indexOf('besplatan') > -1
    }
  }
})

</script>

<style>
.jobContainer {
  border: 1px solid #ccc;
}

#webviewer {
  height: 100vh;
}
</style>
