<template>
  <div class="BlogCard">
    <NuxtLink :to="'/blog/'+data.id">
      <v-card class="pointer rounded-lg overflow-hidden shadow" outlined>
        <div class="blogCardImageWrapper">
          <img
              v-if="data._embedded['wp:featuredmedia']"
              :src="data._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url"
              class="blogCardImage"
          >
        </div>
        <div class="pa-3">
          <span class="cyan--text font14 font-weight-bold mr-2" v-for="category in data._embedded['wp:term'][0]">{{ category.name | ucfirst}}</span>
          <h3 class="mb-2 limitText2 blogCardTitle mt-1">{{ data.title.rendered }}</h3>
          <h4 class="font-weight-light limitText3" v-html="data.excerpt.rendered"></h4>
        </div>
        <v-card-actions>
          <v-btn text plain color="primary">
            Pročitaj više
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </NuxtLink>

  </div>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  components: {

  },
  props: {
    data: {
      type:Object
    }
  },
  name: "BlogCard",
  setup(props, ctx) {

    return {

    }
  }


})
</script>

<style >
.blogCardImageWrapper {
  width: 100%;
  height: 200px;
  cursor:pointer
}
.blogCardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.limitText2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.limitText3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blogCardTitle {
  height: 64px;
}

.BlogCard a {
  text-decoration: none!important;
}
</style>