<template>
  <v-row justify="center">
    <v-dialog
        v-model="addDetailsPreviewOpen"
        @keydown="$emit('closeAddDetailsPreview')"
        fullscreen
        hide-overlay
        class="ma-3"
        transition="dialog-bottom-transition"
    >
      <v-card style="background: #f6f7fa">
        <v-toolbar>
          <v-toolbar-title>{{ $t('general.theLookOfYourAdd') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
                text
                plain
                @click="$emit('closeAddDetailsPreview'), tab = 'details'"
            >
              {{$t('general.close')}}
              <v-icon class="ml-2">mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>

          <template v-slot:extension>
            <v-tabs
                v-model="tab"
                align-with-title
            >
              <v-tabs-slider color="blue"></v-tabs-slider>

              <v-tab href="#details" class="blue--text">{{ $t('general.asOpened') }}</v-tab>
              <v-tab href="#list" class="blue--text">{{ $t('general.inSearchList') }}</v-tab>
            </v-tabs>
          </template>
        </v-toolbar>

        <v-tabs-items v-model="tab" class="mainBgColor">
          <v-tab-item value="details" class="mt-3">
            <DefaultPageWrapper class="white pt-0">
              <template slot="promo_image">
                <client-only>
                  <JobDetailsFeaturedImage
                      :logo_path="profileImage.replace('https://lakodoposla.com', '')"
                      :title="$store.state.employer.newJob.title"
                      :company="$store.state.employer.profile.data.company"
                      :promo_image="promoImage"
                  />
                </client-only>
              </template>
              <JobGeneralData :company="$store.state.employer.profile.data.company" :jobDetails="newJobData" />
              <v-divider class="my-9"></v-divider>
              <v-row  v-if="!newJobData.file.open_pdf_directly">
                <v-col cols="12">
                  <JobDetails :jobDetails="newJobData" />
                </v-col>
              </v-row>
            </DefaultPageWrapper>
          </v-tab-item>
          <v-tab-item value="list">
            <DefaultPageWrapper class="white" style="min-height: 100vh">
              <v-row justify="center">
                <v-col md="4">
                  <JobCardPreview />
                </v-col>
              </v-row>
            </DefaultPageWrapper>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import JobGeneralData from "../../common/JobGeneralData";
import DefaultPageWrapper from "../../DefaultPageWrapper";
import JobDetails from "../../../components/common/JobDetails";
import JobDetailsFeaturedImage from "../../job/JobDetailsFeaturedImage";
import JobCardPreview from "./JobCardPreview";

export default defineComponent({
  name: 'AddDetailsPreview',
  components: {
    JobCardPreview,
    JobDetailsFeaturedImage,
    JobDetails,
    DefaultPageWrapper,
    JobGeneralData
  },
  props: {
    addDetailsPreviewOpen : {
      type: Boolean,
      default: false,
    }
},
  setup(props, ctx) {
    let dialog = false;
    const newJobData = computed(() => ctx.root.$store.state.employer.newJob);
    const profileImage = computed(() => ctx.root.$store.state.employer.profile.data.logo)


    const promoImage = computed(() => ctx.root.$store.getters['employer/jobPromoImage/getCurrentPromoImage'])

    return {
      dialog,
      newJobData,
      profileImage,
      promoImage
    }
  },
  data () {
    return {
      tab: null,
      items: [
        'list', 'details'
      ],
    }
  },

})
</script>
<style>

</style>
