<template>
  <div id="addPreview">
    <h2 class="mb-3">{{ $t('myAdWillLookLike') }}</h2>
    <v-radio-group
        class="mb-3"
        v-model="radios"
    >
      <v-radio
          :label="$t('general.inSearchList')"
          value="list"
      ></v-radio>
      <v-radio
          :label="$t('general.asOpened')"
          value="details"
      ></v-radio>
    </v-radio-group>
    <AddDetailsPreview :addDetailsPreviewOpen="addDetailsPreviewOpen"  @closeAddDetailsPreview="closeAddDetailsPreview"/>
    <JobCardPreview />
  </div>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import JobCard from "../../common/JobCardRegular";
import JobCardPreview from "./JobCardPreview";
import AddDetailsPreview from "./AddDetailsPreview";

export default defineComponent({
  name: 'AddPreview',
  components: {
    AddDetailsPreview,
    JobCardPreview,
    JobCard
  },
  props: {

  },
  setup(props, ctx) {
    const newJobData = computed(() => ctx.root.$store.state.employer.newJob);
    const radios = ref('list');
    const addDetailsPreviewOpen = ref(radios.value === 'details');

    watch(radios, () => {
      addDetailsPreviewOpen.value = radios.value === 'details';
    })

    const closeAddDetailsPreview = () => {
      radios.value = 'list';
      // addDetailsPreviewOpen.value will be false cause I watch for radios constant
    }

    return {
      newJobData,
      radios,
      addDetailsPreviewOpen,
      closeAddDetailsPreview
    }
  }

})
</script>

<style>
#addPreview .v-input--radio-group__input {
  background: #fff!important;
}
</style>
