<template>
    <v-card
        class="jobCard"
        :class="jobCardStyle"
        outlined
    >

      <div class="jobPromoImage" >
        <img
            v-if="promoImage"
            :src="promoImage"
            alt="promo image"
            style="max-width:100%"
        />
      </div>
      <div
          v-if="profileImage"
          class="customPromotedLogo"
          :style="`background-image: url(${profileImage}); margin-top:-55px`"
      ></div>

      <div class="pointer mt-2">
        <div class="textWrapper font18 pointer title" :class="isFreeAd ? 'font-weight-regular freeAd' : 'font-weight-medium'">
          <client-only>
            <JobCardTitle :title="newJobData.title" />
          </client-only>
        </div>
        <div class="textWrapper">
          <client-only>
            <JobCardTitle :title="$store.state.employer.profile.data.company" />
          </client-only>
        </div>

        <div class="textWrapper font14 mt-n1">
        <span>
          <v-icon class="ml-n1 mt-n1 font18">mdi-map-marker-outline</v-icon>
          {{ getCityNames }}
        </span>
        </div>
      </div>

      <v-card-actions>
        <v-row
            justify="space-around"
            align="center"
            class="jobFooter"
        >
          <v-col>

            <v-btn
                text
                plain
                :ripple="false"
                class="px-3"
                :class="(isPromovisani || isIstaknuti || isMedijski ) ?  'employerTextColor rounded-lg white' : 'white--text rounded-lg buttonBlue'"
            >
              <v-icon
                  class="mr-1 font18"
                  :style="(isPromovisani || isIstaknuti || isMedijski) ? 'color:#274CA2!important' : 'color:#fff!important'"
              >mdi-open-in-new</v-icon>
              {{ $t('general.applyOnJob') | ucfirst}}
            </v-btn>


            <v-divider
                vertical
                class="mr-3 ml-2"

            ></v-divider>
            <div class="d-inline-block mb-n2 jobExpireDate pointer">
              <v-icon class="mt-n1 text-h6">mdi-clock-outline</v-icon>
              <span>{{ newJobData.expires | date }}</span>
            </div>
          </v-col>
        </v-row>
      </v-card-actions>

    </v-card>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import JobCardTitle from "../../JobCardTitle";

export default defineComponent({
  name: 'JobCardPreview',
  components: {
    JobCardTitle
  },
  props: {

  },
  setup(props, ctx) {
    const newJobData = computed(() => ctx.root.$store.state.employer.newJob);

    const jobCardStyle = computed(() => {
      let classes = '';
      classes = ['medijski30', 'medijski15', 'promovisani30','promovisani15', 'istaknuti30', 'istaknuti15'].indexOf(newJobData.value.product_code) > -1  ? 'blueJobCard' : 'whiteJobCard'

      if (['vruci15','vruci30'].indexOf(newJobData.value.product_code) > -1 ) {
        return classes += ' redJobBorder';
      }

      if (['prioritetni15','prioritetni30'].indexOf(newJobData.value.product_code) > -1) {
        return classes += ' goldJobBorder';
      }
      return classes;
    })

    const regions = computed(() => {
      return ctx.root.$store.state.common.generalData.regions
    });

    const getCityNames = computed(() => {
      let cities = [];
      newJobData.value.regions.map(regionId => {
        let regIndex = ctx.root._.findIndex(regions.value, function(r) { return r.id == regionId; })
        cities.push(regions.value[regIndex].name);
      })
      return cities.join(', ')
    })

    const prices = computed(() => {
      return ctx.root.$store.state.common.generalData.posting_prices_advanced
    });


    const isVruci = computed(() => newJobData.value.product_code == 'vruci30' || newJobData.value.product_code == 'vruci15');
    const isMedijski = computed(() =>newJobData.value.product_code == 'medijski30' || newJobData.value.product_code == 'medijski15');
    const isPromovisani = computed(() => newJobData.value.product_code == 'promovisani30' || newJobData.value.product_code == 'promovisani15');
    const isIstaknuti = computed(() => newJobData.value.product_code == 'istaknuti30' || newJobData.value.product_code == 'istaknuti15');
    const isPrioritetni = computed(() => newJobData.value.product_code == 'prioritetni30' || newJobData.value.product_code == 'prioritetni15');
    const isObican = computed(() => newJobData.value.product_code == 'obican30' || newJobData.value.product_code == 'obican15');

    const isFreeAd = computed(() => {
      return (!isVruci.value &&
          !isMedijski.value &&
          !isPromovisani.value &&
          !isIstaknuti.value &&
          !isPrioritetni.value &&
          !isObican.value);
    })

    const profileImage = computed(() => ctx.root.$store.state.employer.profile.data.logo)

    const promoImage = computed(() => ctx.root.$store.getters['employer/newJob/getPromoImage'])

    return {
      newJobData,
      jobCardStyle,
      regions,
      getCityNames,
      prices,
      isFreeAd,
      profileImage,
      isVruci,
      isMedijski,
      isPromovisani,
      isIstaknuti,
      isPrioritetni,
      isObican,
      promoImage
    }
  },

  methods: {
  }

})
</script>
<style>
.jobCard {
  overflow: hidden;
  border: none!important;
  border-radius: 8px!important;
  box-shadow: 0px 3px 5px -1px rgba(110, 110, 110, 0.1), 0px 5px 8px 0px rgba(110, 110, 110, 0.1), 0px 1px 14px 0px rgba(109, 109, 109, 0.1) !important;
}

.blueJobCard {
  background: linear-gradient(95.43deg, #092771 8.39%, #335099 110.08%);
  color: #fff!important;
}

.blueJobCard i, .blueJobCard .title {
  color: #fff!important;
}

.blueJobCard .jobFooter .jobExpireDate i, .blueJobCard .jobFooter .jobExpireDate span {
  color: #ffffff73;
}
.blueJobCard .jobTags span {
  background: #213F89;
  border: #213F89;
}

.redJobBorder {
  border-left: 3px solid red!important;
}

.goldJobBorder {
  border-left: 3px solid gold!important;
  border-color: gold!important;
}

</style>
