<template>
  <div>
    <label>{{ $t('inputLabels.jobType') }}</label>
    <v-select
        @input="scrollFix"
        v-model="selectedItems"
        :items="modifiedItems"
        :placeholder="$t('general.choose')"
        outlined
        :error="error"
        @click="$store.dispatch('closeSelectMenu/toggleBtn', true)"
        @change="selected(), scrollFix()"
    >

      <template v-slot:selection="{ item, index }">
        <v-chip class="ma-0">
          <span>{{ item.text }}</span>
        </v-chip>
      </template>
    </v-select>
  </div>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import multiselectFix from "../../../composables/multiselect_fix";

export default defineComponent({
  name: 'JobPriceList',
  components: {
  },
  props: {
    error: {
      type: Boolean,
      default: false
    },
    values: {
      default: Array
    },
  },
  setup(props, ctx) {

    //provera besplatnih oglasa
    let forbidFreeAd = ref(false)

    const freeAdsPosted = ref([]);
    ctx.root.$store.state.employer.jobs.all.map(add => {
      if (add.product_code == 'besplatan15') {
        freeAdsPosted.value.push(add)
      }
    })

    if (freeAdsPosted.value.length < 3) {
      //prvo proverimo da li ima novokreiranih besplatnih (ako je start_date 0 ili start_date < 15)
      let now = Math.floor(Date.now() / 1000);
      freeAdsPosted.value.map(freeAdd => {
        if (freeAdd.start_date == 0) { // ako je pending
          forbidFreeAd.value = true;
        } else {
          if (((now - freeAdd.start_date) / 8640) <= 15) { // ako je novokreirani oglas koji je mladji od 15 dana
            forbidFreeAd.value = true;
          }
        }
      })
    } else {
      forbidFreeAd.value = true;
    }

    let locale = computed(() => ctx.root.$i18n.locale)
    const selectedItems = ref([]);

    if (props.values.length) {
      selectedItems.value = props.values[0];
    }

    const modifiedItems = ref([]);
    const cur = (locale.value == 'sr') ? 'RSD' : 'EUR';

    ctx.root.$store.state.common.generalData.posting_prices_advanced.map(price => {
      if (!(price.code == 'besplatan15' && forbidFreeAd.value)) {
        modifiedItems.value.push({
          value: price.code,
          text: price[locale.value].name+' - '+price[locale.value].price+cur,
          disabled: false
        })
      }
    })
    const selected = (e) => {
      ctx.emit('selectChange', selectedItems.value)
    }

    let {scrollFix} = multiselectFix()

    return {
      forbidFreeAd,
      selectedItems,
      modifiedItems,
      selected,
      scrollFix
    }
  }

})
</script>
<style>

</style>
