<template>
  <div>
    <v-btn
        class="PreviewFloatingActionButton buttonBlue"
        @click="addDetailsPreviewOpen=true"
        fab
        dark
    >
      <v-icon>
        mdi-eye
      </v-icon>
    </v-btn>
    <AddDetailsPreview :addDetailsPreviewOpen="addDetailsPreviewOpen"  @closeAddDetailsPreview="addDetailsPreviewOpen = false"/>
  </div>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import AddDetailsPreview from "./AddDetailsPreview";

export default defineComponent({
  name: 'PreviewFloatingActionButton',
  components: {
    AddDetailsPreview
  },
  props: {
  },
  setup(props, ctx) {

    return {
    }
  },

  data: () => ({
    addDetailsPreviewOpen: false,
    direction: 'top',
    fab: false,
    fling: false,
    tabs: null,
    top: false,
    bottom: true,
    left: true,
    transition: 'slide-y-reverse-transition',
  }),

  watch: {
    top (val) {
      this.bottom = !val
    },
    right (val) {
      this.left = !val
    },
    bottom (val) {
      this.top = !val
    },
    left (val) {
      this.right = !val
    },
  },

})
</script>
<style>
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}

.PreviewFloatingActionButton {
  position: fixed!important;
  bottom: 100px!important;
  left: 20px!important;
 }

.PreviewFloatingActionButton .v-speed-dial__list {
  width: 400px!important;
  align-items: initial!important;
}
</style>
