<template>
  <div>
    <v-card class="elevation-0 rounded-lg" outlined>
      <h3 class="mb-0 ml-2 pa-2 linkToStep">
        {{ $t('general.promoImage') | ucfirst }}
      </h3>
      <v-card-actions class="px-4">
        <v-btn @click="setPrevPromoImage" color="primary" text icon outlined>
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn @click="setNextPromoImage" color="primary" text icon outlined>
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>

        <v-spacer></v-spacer>
        <v-btn id="uploadImage"  text dark class="elevation-0 rounded-lg buttonBlue">
          <span>{{ $t('buttons.addYourImage') }}</span>
          <v-icon class="ml-2">mdi-cloud-upload</v-icon>
        </v-btn>

        <input
            @change="confirmUploadNewImage"
            type="file"
            accept="image/*"
            name="avatar"
            id="imageUploadInput"
            hidden
        >
      </v-card-actions>
      <v-card-text>
        <div class="promoImageBigView">
          <img :src="currentPromoImage" />
        </div>
      </v-card-text>
    </v-card>
<!--    <ConfirmationDialog @onDecline="clearImageValue"/>-->

    <!-- UPLD IMAGE LOADER DIALOG -->
    <div class="text-center">
      <v-dialog
          v-model="waitDialog"
          persistent
          width="300"
      >
        <v-card
            color="white"
            light
        >
          <v-card-title class="font-weight-medium">
            {{$t('general.pleaseWait')}}
          </v-card-title>
          <v-card-text class="text-center pa-3">
            <v-progress-circular
                :size="30"
                color="primary"
                indeterminate
            ></v-progress-circular>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>

    <!-- UPLD IMAGE CONFIRM DIALOG -->
    <v-dialog
        @keydown="keydown"
        @click:outside="closeDialog"
        v-model="confDialog"
        max-width="500"
    >
      <v-card>
        <v-card-title class="text-h5">
          {{ $t('confirmationDialogContent.uploadJobPromoImage.title') }}
        </v-card-title>

        <v-card-text>
          {{ $t('confirmationDialogContent.uploadJobPromoImage.body') }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
              text
              color="green"
              @click="uploadNewImage"
          >
            {{ $t('confirmationDialogContent.uploadJobPromoImage.buttons.confirm') }}
          </v-btn>

          <v-btn
              text
              color="red"
              @click="clearImageValue"
          >
            {{ $t('confirmationDialogContent.uploadJobPromoImage.buttons.decline') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import ConfirmationDialog from "../../common/dialgos/ConfirmationDialog";

export default defineComponent({
  name: 'SetPromoImage',
  components: {
    ConfirmationDialog
  },
  props: {
    promoImage: {
      type: String,
      default: ''
    }
  },
  setup(props, ctx) {
    const currentPromoImage = computed(() => ctx.root.$store.getters['employer/jobPromoImage/getCurrentPromoImage']);
    const chosenFile = ref(null);
    const confirmUploadNewImage = async (event) => {
      chosenFile.value = event.target.files[0];
      confDialog.value = true;
    }

    const uploadNewImage = async () => {
      confDialog.value = false;
      waitDialog.value = true;
      await ctx.root.$store.dispatch('employer/jobPromoImage/uploadNewImage', chosenFile.value);
      waitDialog.value = false;
      ctx.emit('newImageUploaded')
    }

    const waitDialog = ref(false);
    const confDialog = ref(false);

    const clearImageValue = () => {
      document.getElementById("imageUploadInput").value = '';
      chosenFile.value = null;
    };

    const closeDialog = (e) => {
      confDialog.value = false;
    };

    const keydown = (e) => {
      if (e.keyCode == 27) {
        closeDialog();
      }
    }

    const setNextPromoImage = async () => {
      await ctx.root.$store.dispatch('employer/jobPromoImage/setNextPromoImage')
      ctx.emit('setNextPromoImage')
    }
    const setPrevPromoImage = async () => {
      await ctx.root.$store.dispatch('employer/jobPromoImage/setPrevPromoImage')
      ctx.emit('setPrevPromoImage')
    }


    return {
      currentPromoImage,
      confirmUploadNewImage,
      waitDialog,
      confDialog,
      uploadNewImage,
      clearImageValue,
      closeDialog,
      keydown,
      setNextPromoImage,
      setPrevPromoImage
    }
  },
  mounted() {
    let upldImgBtn = document.getElementById('uploadImage');
    upldImgBtn.addEventListener('click', function(e){
      let input = document.getElementById('imageUploadInput');
      input.click();
    });

  }

})
</script>
<style>
  .promoImageBigView {
    height: 500px;
    width: 100%;
  }

  .promoImageBigView img {
    object-fit: cover;
    width: 100%;
    height: 500px;
  }
</style>
