<template>
  <!--    <v-tabs centered class="appBarButtons" background-color="transparent">-->
  <!--      <v-tab-->
  <!--          v-for="item in items"-->
  <!--          :to="localePath(item.link)"-->
  <!--      >-->

  <!--        {{item.text | ucfirst}}-->
  <!--      </v-tab>-->
  <!--    </v-tabs>-->
  <v-row
      justify="center"
      align="center"
      class="pt-3 white"
  >
    <v-col cols="4" v-for="item in items" class="text-center">
      <v-btn
          class="text-center"
          :ripple="false"
          :class="$router.currentRoute.path == localePath(item.link) ? 'activeLink' : ''"
          :to="localePath(item.link)"
          plain
      >{{ item.text | ucfirst }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name: "EmployerAppBarButtonsMobile",
  setup(props, ctx) {
    const open = computed(() => ctx.root.$store.getters['overlayLoader/isOpened']);
    const items = ref([
      {
        text: ctx.root.$t('links.employers.main'),
        link: 'employer-dashboard'
      },
      {text: ctx.root.$t('links.employers.myProfile'), link: 'employer-profile'},
      {text: ctx.root.$t('links.employers.myJobs'), link: 'employer-jobs'},
      // { text: 'Pretraga kandidata', icon: 'mdi-magnify', link: 'employer-dashboard' },
      // { text: 'Poruke', link: 'employer-dashboard' },

    ]);

    //TO-DO: translate

    return {open, items}
  },
  mounted() {
    // ctx.root.items = [
    //     ...[
    //     {
    //       text: ctx.root.$t('links.employers.main'),
    //       icon: 'mdi-monitor-dashboard',
    //       ink: ctx.root.localePath('employer-dashboard')
    //     },
    //     { text: ctx.root.$t('links.employers.myProfile'), icon: 'mdi-home-city', link: ctx.root.localePath('employer-profile') },
    //     { text: ctx.root.$t('links.employers.myJobs'), icon: 'mdi-briefcase', link: ctx.root.localePath('employer-jobs-tab') },
    //     { text: 'Pretraga kandidata', icon: 'mdi-magnify', link: ctx.root.localePath('/') },
    //     { text: 'Poruke', icon: 'mdi-chat', link: ctx.root.localePath('/') },
    //   ]
    // ];
  }
})
</script>

<style lang="scss">
.verticalDivider {
  height: 50%;
  border-left: 1px solid #ccc;
  margin: 0px 10px 0px 10px;
  display: inline;
}

.headerButton {
  margin-top: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: #132036 !important;
}

.headerButton:hover {
  border-bottom-color: #0D387F;
}

.activeHeaderButton {
  border-bottom-color: #0D387F;
}

.appBarButtons .v-tab {
  font-size: 16px !important;
  letter-spacing: normal;
}

//.v-slide-group__prev {
//  display: none;
//}

.activeLink {
  border-bottom: 2px solid #0C3270;
  border-radius: 0px;
}

</style>