<template>

    <v-tabs align-with-title :optional="true" style="width: 50%" class="appBarButtons hidden-md-and-down">
      <v-tab
          v-for="item in items"
          :to="localePath(item.link)"
      >
        <v-icon>{{item.icon}}</v-icon>
        {{$t(item.text) | ucfirst}}
      </v-tab>
    </v-tabs>

</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'

export default defineComponent({
  name: "EmployerAppBarButtons",
  setup(props, ctx) {
    const open = computed(() => ctx.root.$store.getters['overlayLoader/isOpened']);
    const items = ref([
      {
        text: 'links.employers.main',
        icon: 'mdi-monitor-dashboard',
        link: 'employer-dashboard'
      },
      { text: 'links.employers.myProfile', icon: 'mdi-home-city', link: 'employer-profile' },
      { text: 'links.employers.myJobs', icon: 'mdi-briefcase', link: 'employer-jobs' },
      // { text: 'Pretraga kandidata', icon: 'mdi-magnify', link: 'employer-dashboard' },
      // { text: 'Poruke', icon: 'mdi-chat', link: 'employer-dashboard' },

    ]);

    return {open, items}
  },
  mounted () {
    // ctx.root.items = [
    //     ...[
    //     {
    //       text: ctx.root.$t('links.employers.main'),
    //       icon: 'mdi-monitor-dashboard',
    //       ink: ctx.root.localePath('employer-dashboard')
    //     },
    //     { text: ctx.root.$t('links.employers.myProfile'), icon: 'mdi-home-city', link: ctx.root.localePath('employer-profile') },
    //     { text: ctx.root.$t('links.employers.myJobs'), icon: 'mdi-briefcase', link: ctx.root.localePath('employer-jobs-tab') },
    //     { text: 'Pretraga kandidata', icon: 'mdi-magnify', link: ctx.root.localePath('/') },
    //     { text: 'Poruke', icon: 'mdi-chat', link: ctx.root.localePath('/') },
    //   ]
    // ];
  }
})
</script>

<style lang="scss">
.verticalDivider {
  height: 50%;
  border-left: 1px solid #ccc;
  margin: 0px 10px 0px 10px;
  display: inline;
}

.headerButton {
  margin-top: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: #132036!important;
}

.headerButton:hover {
  border-bottom-color: #0D387F;
}

.activeHeaderButton {
  border-bottom-color: #0D387F;
}

.appBarButtons i {
  font-size: 20px!important;
  margin-right: 6px;
  color: #BDC3CF!important;
}

.appBarButtons .v-tab {
  font-size: 16px!important;
  letter-spacing: normal;
}
</style>