<template>
  <div>
    <v-btn
        :loading="app.unsatisfactoryLoader"
        @click="setGrade(app.application_id, 1, 'unsatisfactoryLoader')"
        class="pa-1"
        text
        color="red"
    >
      <v-icon v-if="app.grade != 1" >mdi-close</v-icon>
      <v-icon v-if="app.grade == 1" >mdi-close-circle</v-icon>

      <span v-if="app.grade != 1" >{{ $t('general.reject') | ucfirst }}</span>
      <span v-if="app.grade == 1" >{{ $t('general.rejectedMl') | ucfirst }}</span>
    </v-btn>
    <v-btn
        :loading="app.satisfactoryLoader"
        @click="setGrade(app.application_id, 3, 'satisfactoryLoader')"
        class="pa-1"
        text
        color="primary"

    >
      <v-icon v-if="app.grade != 3" >mdi-bookmark-check-outline</v-icon>
      <v-icon v-if="app.grade == 3" >mdi-bookmark-check</v-icon>

      <span v-if="app.grade != 3" >{{ $t('general.save') | ucfirst }}</span>
      <span v-if="app.grade == 3" >{{ $t('general.savedFm') | ucfirst }}</span>
    </v-btn>
    <v-btn
        :loading="app.unassignedLoader"
        @click="setGrade(app.application_id, 2, 'unassignedLoader')"

        class="pa-1 greyText"
        text
    >
      <v-icon v-if="app.grade != 2" >mdi-help-circle-outline</v-icon>
      <v-icon v-if="app.grade == 2" >mdi-help-circle</v-icon>

      <span>{{ $t('inputLabels.maybe') | ucfirst }}</span>
    </v-btn>
  </div>
</template>

<script>
import {defineComponent, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    app: {
      type: Object,
      default:null
    }
  },
  name: "Overlay",
  setup(props, ctx) {
    const setGrade = async (appId, grade, loaderName) => {
      let status = true;
      ctx.root.$store.dispatch('employer/applications/setGradeLoader', {appId, loaderName, status})
      await ctx.root.$store.dispatch('employer/applications/setGrade', {appId, grade})
      status = false
      ctx.root.$store.dispatch('employer/applications/setGradeLoader', {appId, loaderName, status})
    }
    const open = computed(() => ctx.root.$store.getters['overlayLoader/isOpened']);
    return {open, setGrade}
  }
})
</script>

<style>

</style>