<template>
    <v-row align="center">
        <v-col class="largeButtons hidden-md-and-down ma-2 text-center">
            <v-btn
                  text
                  class="mr-5"
                    v-if="!disablePrev"
                    @click="prev"
            >
              <v-icon style="margin-bottom: -1px">mdi-chevron-left</v-icon>
              {{ $t('buttons.prevStep') }}
            </v-btn>

            <v-btn
                    v-if="allowNext"
                    color="primary"
                    text
                    @click="next"
            >
              {{ $t('buttons.nextStep') }}
              <v-icon style="margin-bottom: -1px">mdi-chevron-right</v-icon>
            </v-btn>
            <v-btn
                class="buttonBlue rounded-lg white--text"
                depressed
                v-if="enablePublishJob"
                x-large
                @click="$emit('publishJobPost')"
            >
              {{$t('buttons.publishJob').toUpperCase()}}
            </v-btn>
        </v-col>

        <v-col class="smallButtons hidden-lg-and-up">
            <v-btn
                    v-if="!disablePrev"
                    class="mx-2 float-left mb-0 mb-md-3"
                    fab
                    dark
                    color="grey"
                    @click="prev"
            >
                <v-icon dark>
                    mdi-arrow-left
                </v-icon>
            </v-btn>
            <v-btn
                    v-if="allowNext"
                    class="mx-2 float-end mb-0 mb-md-3"
                    fab
                    dark
                    color="primary"
                    @click="next"
            >
                <v-icon dark>
                    mdi-arrow-right
                </v-icon>
            </v-btn>
            <v-btn
                class="float-end mb-0 mb-md-3 buttonBlue rounded-lg"
                dark
                v-if="enablePublishJob"
                x-large
                @click="$emit('publishJobPost')"
            >
              {{$t('buttons.publishJob').toUpperCase()}}
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { defineComponent, ref, computed } from '@vue/composition-api'
    export default defineComponent({
        emits: ['stepperBtnClick'],
        props: {
            allowNext: {
                default: true
            },
            disablePrev: {
                default: false
            },
          enablePublishJob: {
              type: Boolean,
              default: false
            }
        },
        setup(props, ctx) {
            const next = () => {
                ctx.emit('stepperBtnClick', 'next');
            };

            const prev = () => {
                ctx.emit('stepperBtnClick', 'prev');
            };
            return {
                next,
                prev
            }
        },
    })
</script>

<style scoped>
@media(max-width: 700px) {
  .smallButtons {
    background: #fff;
    position: fixed;
    border: 0px;
    z-index: 9;
    bottom: 0px;
    left: 0px;
  }
}
</style>