<template>
  <DefaultPageWrapper class="white mt-5">
    <div
        class="blue-grey--text pb-7 mb-5"
        style="border-bottom: 1px solid #607d8b;"
    >
      <p class="mb-0">
        <span v-if="$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('employer-dashboard'))">{{ $t('links.home') | ucfirst}}</span>
        <span v-if="!$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('/'))">{{ $t('links.home') | ucfirst}}</span>
        <v-icon className="font18 mt-n1">mdi-chevron-right</v-icon>
           {{ $t('general.aboutUs') | ucfirst}}
      </p>
    </div>
    <div class="px-0 px-md-16 ma-0 ma-md-16">
      <div class="text-h5 mb-4 mt-4">{{ $t('general.aboutUs') | ucfirst}}</div>
      <AboutUsSr v-if="$i18n.locale === 'sr'" />
      <AboutUsEn v-if="$i18n.locale === 'en'" />
    </div>

  </DefaultPageWrapper>
</template>
<script>
import {defineComponent} from '@vue/composition-api'
import DefaultPageWrapper from "../../components/DefaultPageWrapper";
import AboutUsSr from "../../components/about-us/AboutUsSr";
import AboutUsEn from "../../components/about-us/AboutUsEn";

export default defineComponent({
  components: {AboutUsEn, AboutUsSr, DefaultPageWrapper},
  setup(props, ctx) {
    //define store
    const app = ctx.root;
    const store = app.$store;

    return {}
  }
})
</script>

