<template>

      <v-app class="empLgSpace"  @click="$store.dispatch('closeSelectMenu/toggleBtn', false)">
        <DefaultAppBar />
        <v-main :class="!$vuetify.theme.isDark ? 'customGrayBg' : 'asdf'" class="mb-10" >
          <Nuxt/>
          <MainDialog/>
          <client-only>
            <BackToTopButton />
          </client-only>
        </v-main>

        <Footer />
        <Overlay/>
        <InfoShackbar/>
      </v-app>

</template>

<script>
    import MainDialog from "../components/common/dialgos/MainDialog";
    import Overlay from "../components/Overlay";
    import InfoSnackbar from "../components/InfoShackbar";
    import DefaultAppBar from "../components/DefaultAppBar";

    import {defineComponent, ref, computed} from '@vue/composition-api'
    import EmployerTopMenu from "../components/employer/menus/EmployerTopMenu";
    import BackToTopButton from "../components/BackToTopButton";

    export default defineComponent({
      loading: false,
      name:'default',
        components: {
            BackToTopButton,
            EmployerTopMenu,
            MainDialog,
            Overlay,
            InfoSnackbar,
            DefaultAppBar
        },
        setup(props, ctx) {
            const candidateLoggedIn = computed(() => ctx.root.$store.getters['candidate/auth/isAuthenticated']);
            ctx.root.$vuetify.theme.dark = ctx.root.$store.getters['common/isDarkTheme'];

            return {candidateLoggedIn}
        },

        data() {
            return {
                regions: [],
                clipped: false,
                drawer: true,
                fixed: false,
                items: [
                    {
                        icon: 'mdi-apps',
                        title: 'Welcome',
                        to: '/'
                    },
                    {
                        icon: 'mdi-chart-bubble',
                        title: 'Inspire',
                        to: '/inspire'
                    }
                ],
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'Vuetify.js',

            }
        }
    })
</script>

<style>
  .empLgSpace {
    margin-top: 29px!important;
  }

  @media(max-width: 1263px) {
    .empLgSpace {
      margin-top: 0px!important;
    }
  }
</style>
