<template>
  <v-app light>
    <v-main>
      <v-app-bar
          class="mainAppBar employerBg elevation-0"
          :clipped-left="true"
          fixed
          app
          dark
      >
        <div
            style="cursor:pointer"
            class="mx-0 mx-md-5"
        >
          <img
              @click="$router.push(localePath('/'))"
              width="200"
              src="/ldp-white-logo.svg"
              class="mr-2 hidden-md-and-down"
          />
          <img
              @click="$router.push(localePath('/'))"
              width="150"
              src="/ldp-white-logo.svg"
              class="mr-2 hidden-lg-and-up"
          />
        </div>
        <v-spacer></v-spacer>

        <v-btn
            v-if="!employerLoggedIn"
            @click="$router.push(localePath('employer-login'))"
            color="white"
            light
            :ripple="false"
            plain
            depressed
        >
          {{ $t('buttons.login') }}
          <v-icon class="ml-1">mdi-login</v-icon>
        </v-btn>

      </v-app-bar>
      <Nuxt/>

    </v-main>
    <Footer/>
  </v-app>
</template>

<script>
import EmployerDropdownMenu from "../components/employer/menus/EmployerDropdownMenu";
import {defineComponent, ref, computed} from '@vue/composition-api'
import Footer from "../components/Footer";

export default {
  setup(props, ctx) {
    const employerLoggedIn = computed(() => {
      return ctx.root.$store.getters['employer/auth/isAuthenticated'];
    })
    return {
      employerLoggedIn
    }
  },
  components: {
    Footer,
    EmployerDropdownMenu
  },
  computed: {
    showLocales() {
      return this.$i18n.locales.filter(locale => locale.code !== this.$i18n.locale)
    }
  },
  data() {
    return {
      drawer: false,
    }
  }
}
</script>


<style>
.mainAppBar .v-toolbar__content {
  height: 74px !important
}

.mainAppBar {
  box-shadow: none !important;
  height: 74px !important;
  z-index: 9
}
</style>