<template>
  <div>
    <DefaultPageWrapper v-if="error.statusCode === 404">
      <v-row justify="center" align="center"  style="min-height: 80vh">
        <v-col cols="12">
          <div class="text-h1">404</div>
          <div class="text-h5 ">{{ $t('pageNotFound')}}...</div>

          <v-btn @click="$router.push(homePage)" rounded color="green" dark large class="mt-10">
            <v-icon>mdi-home</v-icon>
            {{ $t('links.homePage') | ucfirst}}
          </v-btn>
        </v-col>
      </v-row>
    </DefaultPageWrapper>

    <DefaultPageWrapper v-if="error.statusCode !== 404">
      <v-row justify="center" align="center"  style="min-height: 80vh">
        <v-col cols="12">
          <div class="text-h5 ">{{ $t('smtWentWrong')}}...</div>
          <div class="red--text">
            {{error.message}}
          </div>
          <v-btn @click="$router.push(homePage)" rounded color="green" dark large class="mt-10">
            <v-icon>mdi-home</v-icon>
            {{ $t('links.homePage') | ucfirst}}
          </v-btn>
        </v-col>

      </v-row>
    </DefaultPageWrapper>
  </div>
</template>

<script>

    import {defineComponent, ref, computed} from '@vue/composition-api'
    import DefaultPageWrapper from "../components/DefaultPageWrapper";


    export default defineComponent({
      props: ['error'],
      layout: 'error',
        components: {
          DefaultPageWrapper
        },
        setup(props, ctx) {
            let homePage = computed(() => {
              if (ctx.root.$store.getters['employer/auth/isAuthenticated']) {
                return ctx.root.localePath('employer-dashboard')
              }else {
                return '/'
              }
            });

            return {homePage}
        },

    })
</script>

<style>
</style>
