<template>
  <DefaultPageWrapper class="white blogDetails">
    <v-row v-if="post">
      <v-col cols="12" md="8">
        <h1 class="mb-10">{{post.title.rendered}}</h1>

        <div style="position:relative;" class="blogDetails">
          <div v-html="post.content.rendered"></div>
        </div>
      </v-col>
      <v-col cols="12" md="4">
        <div class=" elevation-0">
          <h2 class="mb-3">Kategorije</h2>
          <v-chip
              class="mr-2 mb-2"
              style="cursor:pointer!important"
              v-for="category in post._embedded['wp:term'][0]"
          >
            <NuxtLink :to="'kategorija/'+category.slug+'?page=1'">
              {{category.name}}
            </NuxtLink>
          </v-chip>
        </div>
      </v-col>
    </v-row>

    <v-row justify="center" v-if="!post">
      <v-card class="pa-10 my-10 text-center rounded-xl" outlined>
        <h2>Blog post ne postoji...</h2>
        <br>
        <br>
        <v-btn outlined class="buttonBlue white--text rounded-lg" @click="$router.back()">
          <v-icon class="white--text">mdi-chevron-left</v-icon>
          Nazad
        </v-btn>
      </v-card>
    </v-row>

  </DefaultPageWrapper>
</template>
<script>
import {defineComponent} from '@vue/composition-api'

export default defineComponent({
  components: {},
  setup(props, ctx) {
    return {

    }
  },

  async asyncData(context) {
    let post = null;
    try {
      let response = await context.$axios.$get('/api/public/blog/post/'+context.params.id);
      post = response.data
    } catch(e) {
      console.log(e)
    }
    return {
      post
    }
  }
})
</script>

<style>
.blogDetails img{
  max-width: 100%;
  height: auto;
}
</style>

