<template>
  <DefaultPageWrapper>
    <h1 class="">Lako do posla blog</h1>
    <v-divider class="mb-5"></v-divider>
    <v-row justify="center">
      <v-col cols="12" md="4" v-for="blog in blogs">
        <BlogCard :data="blog" />
      </v-col>
      <v-card v-if="!blogs.length" class="pa-10 my-10 text-center shadow rounded-xl">
        <h2>Trenutno nema blog postova...</h2>
      </v-card>
    </v-row>

    <v-row>
      <v-col cols="12" class="text-center mt-10">
        <div class="text-center">
            <v-pagination
                v-model="page"
                :length="total_pages"
                circle
            ></v-pagination>
        </div>
      </v-col>
    </v-row>
  </DefaultPageWrapper>
</template>
<script>
    import {defineComponent, ref, watch, computed} from '@vue/composition-api'
    import DefaultPageWrapper from "../../components/DefaultPageWrapper";
    import BlogCard from "../../components/blog/BlogCard";

    export default defineComponent({
      components: { BlogCard, DefaultPageWrapper},
      setup(props, ctx) {
          let currentPage = ctx.root.$route.query.page ? Number(ctx.root.$route.query.page) : 1
          const page = ref(currentPage)

          watch(page, () => {
            ctx.root.$router.push(
                {
                  path: ctx.root.$route.path,
                  force: true,
                  query: {
                    page: page.value,
                  },
                },
                () => {
                  ctx.root.$router.app.refresh()
                }
            )
          })

          return {
            page,
          }
      },

      async asyncData(context) {
        let page = context.query.page ? context.query.page : '1';
        let blogs = [];
        let total_pages = 0;

        try {
          let { data } = await context.$axios.get('/api/public/blog/posts?per_page=12&page='+page);
          blogs = [...data.data]
          total_pages = Number(data.headers['X-WP-TotalPages'])
        } catch (e) {
          console.log(e)
        }

        return {
          blogs,
          total_pages
        }
      },

      created() {

      }
    })
</script>

