<template>
  <DefaultPageWrapper :title="$t('links.savedJobs')">
    <v-row v-if="savedJobs.length">
      <v-col cols='12' md="4" v-for="savedJob in savedJobs" :key="savedJob.id">
        <JobCard :post="savedJob" />
      </v-col>
    </v-row>

    <InfoBlock :text="$t('noSavedAds')" v-if="!savedJobs.length"/>
  </DefaultPageWrapper>
</template>
<script>
    import {defineComponent, computed, ref} from '@vue/composition-api'
    import JobCard from "../../../components/common/JobCard";
    import InfoBlock from "../../../components/InfoBlock";
    export default defineComponent({
      middleware: ['employer_unauth'],
      components: {
          InfoBlock,
          JobCard
        },
        setup(props, ctx) {
            let savedJobs = computed(() => ctx.root.$store.getters['candidate/savedJobs/getSavedJobs'])

            return {
              savedJobs
            }
        },
        async asyncData (context) {
          await context.store.dispatch('common/setGeneralData');
        }
    })
</script>

