<template>
    <div id="custom_page" class="middle_box">


      <h3 class="" style="font-size: 20px;">Zabrana diskriminacije prilikom zapošljavanja - Ustav i zakoni Republike Srbije</h3>

      <p style="margin: 20px 0 10px;"><b style="color:#000;">Ustav Republike Srbije</b> (sl. Glasnik RS broj 98/2006) u <a href="#clan_21">članu 21.</a> <b style="color:#000;">zabranjuje svaku diskriminaciju, neposrednu ili posrednu, po bilo kom osnovu, a naročito po osnovu rase, pola, nacionalne pripadnosti, društvenog porekla, rodjenja, veroispovesti, političkog ili drugog uverenja, imovnog stanja, kulture, jezika, starosti i psihičkog ili fizičkog invaliditeta</b>. Ustavna zabrana diskriminacije bliže je razređena: </p>

      <ul style="list-style-type: square; margin: 10px 20px;">
        <li style="margin: 2px 0px;">Zakonom o radu</li>
        <li style="margin: 2px 0px;">Zakonom o zabrani diskriminacije</li>
        <li style="margin: 2px 0px;">Zakonom o sprečavanju diskriminacije osoba sa invaliditetom</li>
        <li style="margin: 2px 0px;">Zakonom o profesionalnoj rehabilitaciji i zapošljavanju osoba sa invaliditetom</li>
        <li style="margin: 2px 0px;">Zakonom о ravnopravnosti polova</li>
        <li style="margin: 2px 0px;">Zakonom o zaštiti prava i sloboda nacionalnih manjina</li>
        <li style="margin: 2px 0px;">Zakonom o mladima</li>
        <li style="margin: 2px 0px;">Zakonom o crkvama i verskim zajednicama</li>
        <li style="margin: 2px 0px;">Zakonom o sportu</li>
      </ul>

      <p style="margin: 20px 0;"><i>Zakon o zabrani diskriminacije</i>, u <a href="#clan_4">članu 4.</a> propisuje da su svi jednaki i uživaju jednak položaj i jednaku pravnu zaštitu, bez obzira na lična svojstva, te da je svako dužan da poštuje načelo jednakosti, odnosno zabranu diskriminacije. Odredbom <a href="#clan_16">čl. 16.</a> St1. <i>Zakona o zabrani diskriminacije</i> zabranjena je diskriminacija u oblasti rada odnosno, narušavanje jednakih mogućnosti za zasnivanje radnog odnosa ili uživanje pod jednakim uslovima svih prava u oblasti rada, a zaštitu od diskriminacije prema St.2 ovog člana uživa i lice koje traži posao.</p>


      <p style="margin: 20px 0;">Sa aspekta <i>Zakona o zabrani diskriminacije</i>, mogućnost za zasnivanje radnog odnosa ne sme biti narušena, kako bi sva lica koja traže posao imala jednake uslove, bez ikakve diskriminacije po osnovu pola, starosnog doba, fizičkog izgleda ili bilo kog drugog ličnog svojstva. <i>Zakon o radu</i> (sl glasnik RS broj 24/2005, 61/2005, 54/2009) sadrži set odredaba koje se odnose na zabranu diskriminacije: <a href="#clan_18">čl. 18</a> je <b style="color:#000;">zabranjena neposredna i posredna diskriminacija lica koja traže zaposlenje, kao i zaposlenih, s obzirom na pol, rođenje, jezik, rasu, boju kože, starost, trudnoću, zdravstveno stanje, invalidnost, nacionalna pripadnost, veroispovest, bračni status, porodične obaveze, seksualno opredeljenje, političko ili drugo uverenje, socijalno poreklo, imovinsko stanje, članstvo u političkim organizacijama, sindikatima ili neko drugo lično svojstvo</b>, dok je <a href="#clan_20">čl.20</a> st.1. tač. 1. propisano je da je diskriminacija zabranjena u odnosu na uslove rada i izbor kandidata za obavljanje određenog posla. </p>


      <p style="margin: 20px 0;">Pored toga <a href="#clan_16">čl. 16</a> st.3  <i>Zakona o zabrani diskriminacije</i> propisano je da se ne smatra diskriminacijom pravljenje razlike, isključenje ili davanje prvenstva zbog osobenosti određenog posla kod kog lično svojstvo lica predstavlja stvarni i odlučujući uslov obavljanja posla, ako je svrha koja se time želi postići opravdana. Slična odredba je sadržana i u <a href="#clan_20">čl.20</a> st.1. <i>Zakona o radu</i> kojim je propisano da se ne smatra diskriminacijom pravljenje razlike ili davanje prvenstva u odnosu na određeni posao kada je priroda posla takva ili se posao obavlja u takvim uslovima da karaktestike povezane sa nekim od osnova iz <a href="#clan_18">čl.18</a> <i>Zakona o radu</i> predstavljaju stvarni i odlučujući uslov za obavljanje posla i da je svrha koja se time želi postići opravdana. </p>


      <p style="margin: 20px 0;"><i>Zakon o oglašavanju</i> (Sl. glasnik RS  br. 79/05), kojim se uređuju uslovi i način oglašavanja kao i obaveze lica koje učestvuju u postupku oglašavanja. Odredbom <a href="#clan_7">čl.7.</a> st. 1.  ovog zakona propisano je načelo zabrane diskriminacije, odnosno, <b style="color:#000;">zabranjeno je oglašavanje koje neposredno ili posredno podstiče na diskriminaciju po bilo kom osnovu a naročito po osnovu rase, boje kože, pola, nacionalne pripadnosti, društvenog porekla, rođenja, veroispovesti, psihičkog ili fizičkog invaliditeta</b>. Članom 11 istog zakona propisana je dužnost oglašivača da prenosiocu oglasne poruke dostavi uz oglasnu poruku i deklaraciju koja sadrži sve detalje u vezi sa oglasom koji se objavljuje. Na taj način nosilac oglasne poruke se u potpunosti upoznaje sa sadržinom oglasa, te je u mogućnosti da reaguje na eventualne povrede zakonskih odredaba i onemogući objavljivanje oglasa kojim se vrši diskriminacija. </p>


      <p style="margin: 20px 0;">Imajući u vidu navedene zakonske odredbe nedopušteno je objavljivanje oglasa koji sadrže uslove za zasnivanje radnog odnosa koji se tiču ličnih svojstava kandidata/kinja a da , pri tom nisu stvarni i odlučujući uslovi za obavljanje posla s obzirom na prirodu i osobenosti posla i uslove u kojima se on obavlja.</p>


      <h3 style="margin: 15px 0 10px;">Ustav Republike Srbije</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_21"></a>Član 21.</dt>
        <dd style="margin: 0 0 20px 20px;">Pred Ustavom i zakonom svi su jednaki.<br>
                                           Svako ima pravo na jednaku zakonsku zaštitu, bez diskriminacije.<br>
                                           Zabranjena je svaka diskriminacija, neposredna ili posredna, po bilo kom osnovu, a naročito po osnovu rase, pola, nacionalne pripadnosti, društvenog porekla, rođenja, veroispovesti, političkog ili drugog uverenja, imovnog stanja, kulture, jezika, starosti i psihičkog ili fizičkog invaliditeta.
                                           Ne smatraju se diskriminacijom posebne mere koje Republika Srbija može uvesti radi postizanja pune ravnopravnosti lica ili grupe lica koja su suštinski u nejednakom položaju sa ostalim građanima.
        </dd>
      </dl>

      <h3 style="margin: 15px 0 10px;">Zakon o zabrani diskriminacije</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_4"></a>Član 4.</dt>
        <dd style="margin: 0 0 20px 20px;">Svi su jednaki i uživaju jednak položaj i jednaku pravnu zaštitu, bez obzira na lična svojstva.<br>
                                           Svako je dužan da poštuje načelo jednakosti, odnosno zabranu diskriminacije.</dd>

        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_16"></a>Član 16. St.1</dt>
        <dd style="margin: 0 0 20px 20px;">Zаbrаnjenа je diskriminаcijа u oblаsti rаdа, odnosno nаrušаvаnje jednаkih mogućnosti zа zаsnivаnje rаdnog odnosа ili uživаnje pod jednаkim uslovimа svih prаvа u oblаsti rаdа, kаo što su prаvo nа rаd, nа slobodаn izbor zаposlenjа, nа nаpredovаnje u službi, nа stručno usаvršаvаnje i profesionаlnu rehаbilitаciju, nа jednаku nаknаdu zа rаd jednаke vrednosti, nа prаvične i zаdovoljаvаjuće uslove rаdа, nа odmor, nа obrаzovаnje i stupаnje u sindikаt, kаo i nа zаštitu od nezаposlenosti.</dd>

        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_16"></a>Član 16. St.3</dt>
        <dd style="margin: 0 0 20px 20px;">Ne smatra se diskriminacijom pravljenje razlike, isključenje ili davanje prvenstva zbog osobenosti određenog posla kod koga lično svojstvo lica predstavlja stvarni i odlučujući uslov obavljanja posla, ako je svrha koja se time želi postići opravdana, kao i preduzimanje mera zaštite prema pojedinim kategorijama lica iz stava 2. ovog člana (žene, trudnice, porodilje, roditelji, maloletnici, osobe sa invaliditetom i drugi).</dd>
      </dl>

      <h3 style="margin: 15px 0 10px;">Zakon o radu</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_18"></a>Član 18</dt>
        <dd style="margin: 0 0 20px 20px;">Zabranjena je neposredna i posredna diskriminacija lica koja traže zaposlenje, kao i zaposlenih, s obzirom na pol, rođenje, jezik, rasu, boju kože, starost, trudnoću, zdravstveno stanje, odnosno invalidnost, nacionalnu pripadnost, veroispovest, bračni status, porodične obaveze, seksualno opredeljenje, političko ili drugo uverenje, socijalno poreklo, imovinsko stanje, članstvo u političkim organizacijama, sindikatima ili neko drugo lično svojstvo.</dd>

        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_20"></a>Član 20 St.1</dt>
        <dd style="margin: 0 0 20px 20px;">
          Diskriminacija iz člana 18. ovog zakona zabranjena je u odnosu na:<br>
          1) uslove za zapošljavanje i izbor kandidata za obavljanje određenog posla;<br>
          2) uslove rada i sva prava iz radnog odnosa;<br>
          3) obrazovanje, osposobljavanje i usavršavanje;<br>
          4) napredovanje na poslu;<br>
          5) otkaz ugovora o radu.<br>
          Odredbe ugovora o radu kojima se utvrđuje diskriminacija po nekom od osnova iz člana 18. ovog zakona ništave su.
        </dd>
      </dl>

      <h3 style="margin: 15px 0 10px;">Zakon o oglašavanju</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_7"></a>Član 7</dt>
        <dd style="margin: 0 0 20px 20px;">Oglašavanje ne može, neposredno ili posredno, da podstiče na diskriminaciju po bilo kom osnovu, a naročito po osnovu rase, boje kože, pola, nacionalne pripadnosti, društvenog porekla, rođenja, veroispovesti, političkog ili drugog ubeđenja, imovinskog stanja, kulture, jezika, starosti, psihičkog ili fizičkog invaliditeta.</dd>


        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_11"></a>Član 11</dt>
        <dd style="margin: 0 0 20px 20px;">
          Oglašivač je dužan da licu koje objavljuje odnosno emituje oglasnu poruku, uz oglasnu poruku dostavi i popunjen obrazac (u daljem tekstu: deklaracija ), koji naročito sadrži podatke o:<br>
          1) proizvođaču oglasne poruke (poslovno ime i sedište, broj pod kojim je registrovan u odgovarajućem registru za obavljanje delatnosti proizvodnje oglasnih poruka, odnosno ime i prezime, adresa stanovanja, matični broj, broj lične karte i mesto izdavanja lične karte odgovornog lica);<br>
          2) oglašivaču (poslovno ime i sedište, broj pod kojim je registrovan za obavljanje delatnosti u okviru koje je predmet oglašavanja, odnosno ime i prezime, adresa stanovanja, matični broj, broj lične karte i mesto izdavanja lične karte odgovornog lica);<br>
          3) oglasnoj poruci (tekst, trajanje, dimenzije, način oglašavanja, autoru teksta, muzike, fotografije, ilustracije, dizajna, reditelju, snimatelju slike ili zvuka, izvođaču čiji se lik ili glas koristi u oglasnoj poruci, kao i podaci o drugim autorima u smislu propisa o zaštiti autorskih i izvođačkih prava).<br>
          Ako oglašivač uz oglasnu poruku ne dostavi deklaraciju ili dostavljena deklaracija ne sadrži propisane podatke, oglasna poruka neće biti objavljena odnosno emitovana.
          Ministar nadležan za poslove trgovine bliže propisuje sadržinu deklaracije.
        </dd>
      </dl>

      <p><a href="http://www.ravnopravnost.gov.rs/sr/zakoni/zakoni-i-propisi-republike-srbije" style="font-weight: bold; color: #129FCB; text-decoration: underline;" target="_blank">Više informacija o antidiskriminacionim propisima »</a> </p>




    </div>
</template>

<script>
export default {
  name: "AntiDiscSr"
}
</script>

<style scoped>

</style>