<template>
    <div id="custom_page" class="middle_box">
      <h3 class="custom_page_subtitle" style="font-size: 20px;">The Constitution and the Labor law of the Republic of Serbia ban employment discrimination.</h3>

      <p style="margin: 20px 0 10px;"><b style="color:#000;">The Constitution of the Republic of Serbia </b> (Official Gazette of RS no. 98/2006) u <a href="#clan_21">article 21.</a> <b style="color:#000;">prohibits discrimination, direct or indirect, in any respect, especially: race, sex, nationality, origin, religion, political or other belief, financial status, language, age and mental or physical disability.</b> Constitutional prohibition of discrimination is elaborated in:</p>

      <ul style="list-style-type: square; margin: 10px 20px;">
        <li style="margin: 2px 0;">Labor law</li>
        <li style="margin: 2px 0;">Law on the Prohibition of Discrimination</li>
        <li style="margin: 2px 0;">Law on Prevention of Discrimination against Persons with Disabilities</li>
        <li style="margin: 2px 0;">Law on Professional Rehabilitation and Employment of Persons with Disabilities</li>
        <li style="margin: 2px 0;">Law on Gender Equality</li>
        <li style="margin: 2px 0;">Law on Protection of Rights and Freedoms of National Minorities</li>
        <li style="margin: 2px 0;">Law on Youth</li>
        <li style="margin: 2px 0;">Law on Churches and Religious Communities</li>
        <li style="margin: 2px 0;">Law on Sports</li>
      </ul>

      <p style="margin: 20px 0;"><i>Law on the Prohibition of Discrimination</i>, u <a href="#clan_4">in article 4.</a> regulates that all persons are equal and enjoy equal status and equal legal protection regardless of personal characteristics and that everyone is obligated to respect the principle of equality, i.e. the prohibition of discrimination. By the regulation in <a href="#clan_16">article 16.</a> paragraph 1 of <i>The Law on the Prohibition of Discrimination</i> it is forbidden to exercise discrimination in the sphere of labor i.e. to violate the principle of equal opportunity for gaining employment or equal conditions for enjoining all the rights pertaining to the sphere of labor. Also, the protection from discrimination, according to paragraph 2 of this Article, enjoy all persons who seek employment.</p>


      <p style="margin: 20px 0;"><i>Labor law</i> (Official Gazette of RS no. 24/2005, 61/2005, 54/2009) contains provisions regarding prohibition of discrimination. Article 18 <b style="color:#000;">prohibits direct or indirect discrimination against persons seeking employment and employees in respect to their sex, birth, language, race, skin color, age pregnancy, health condition, disability, nationality, religion, marital status, family obligations, sexual orientation, political or other belief, social background, financial status, membership in political organizations, unions or any other personal quality</b>, while article 20 , paragraph 1, point 1 states that discrimination is prohibited in regard to working conditions and selection of candidates for certain job. </p>


      <p style="margin: 20px 0;">
        Article 16, paragraph 3 of the <i>Law on the Prohibition of Discrimination</i> states that it will not be considered discrimination when personal characteristic constitutes a genuine and decisive precondition for performing the said job if the objective to be achieved is justified. Similar provision of <i>Labor law</i> in article 22, paragraph 1 states that differentiation, exclusion or prioritization for a certain job will not be considered discriminating when the nature of work is such or the work is done under such circumstances that qualities relating to some of the grounds referred to in article 18 of this law represent the true and decisive requirement for performance of such job, and that the purpose aimed at is justified.
      </p>


      <p style="margin: 20px 0;">
        <i>Law on Advertising</i> (Official Gazette of RS no. 79/05) regulates the conditions and mode of advertising as well as commitments of advertisers. Article 7, paragraph 1 regulates the principle of prohibiting discrimination i.e. that advertising may not directly or indirectly encourage discrimination on any grounds, especially on the grounds of race, skin color, sex, nationality, social background, birth, religion and mental or physical disability. Article 11 of the same law states that <b>an advertiser is bound to submit to the person publishing or broadcasting an advertisement, in addition to the advertisement, a declaration which contains detailed information about an advertisement</b>. That way the carrier of advertising message is completely informed about the content of an advertisement and is able to react to the possible violation of legal regulations and prevent publishing or broadcasting discriminatory advertisement.
      </p>


      <p style="margin: 20px 0;">Imajući u vidu navedene zakonske odredbe nedopušteno je objavljivanje oglasa koji sadrže uslove za zasnivanje radnog odnosa koji se tiču ličnih svojstava kandidata/kinja a da , pri tom nisu stvarni i odlučujući uslovi za obavljanje posla s obzirom na prirodu i osobenosti posla i uslove u kojima se on obavlja.</p>


      <p style="margin: 20px 0;">
        Keeping in mind declared legal regulations, it is not allowed to publish or broadcast advertisement with conditions for employment related to personal characteristics which are not genuine and decisive for performing the job in regard to the nature and conditions of work.
      </p>

      <h3 style="margin: 15px 0 10px;">The Constitution of the Republic of Serbia</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_21"></a>Article 21.</dt>
        <dd style="margin: 0 0 20px 20px;">All are equal before the Constitution and law.<br>
                                           Everyone shall have the right to equal legal protection, without discrimination.<br>
                                           The Constitution of the Republic of Serbia prohibits discrimination, direct or indirect, in any respect, especially: race, sex, nationality, origin, birth, religion, political or other belief, financial status, culture, language, age and mental or physical disability. Special measures which the Republic of Serbia may introduce to achieve full equality of individuals or group in a substantially unequal position compared to other citizens shall not be deemed discrimination.
        </dd>
      </dl>

      <h3 style="margin: 15px 0 10px;">The Law on the Prohibition of Discrimination</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_4"></a>Article 4</dt>
        <dd style="margin: 0 0 20px 20px;">All persons shall be equal and shall enjoy equal status and equal legal protection regardless of personal characteristics.<br>
                                           Everyone shall be obligated to respect the principle of equality, that is to say, the prohibition of discrimination.</dd>

        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_16"></a>Article 16, paragraph 1</dt>
        <dd style="margin: 0 0 20px 20px;">It is forbidden to exercise discrimination in the sphere of labor; that is to say, to violate the principle of equal opportunity for gaining employment or equal conditions for enjoying all the rights pertaining to the sphere of labor, such as the right to employment, free choice of employment, promotion, professional training and professional rehabilitation, equal pay for work of equal value, fair and satisfactory working conditions, paid vacation, joining a trade union and protection from unemployment.</dd>

        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_16"></a>Article 16, paragraph 3</dt>
        <dd style="margin: 0 0 20px 20px;">Different treatment, exclusion or giving priority on account of the specific character of a job, for which an individual´s personal characteristic constitutes a genuine and decisive precondition for performing the said job, if the objective to be achieved is justified, shall not be considered to constitute discrimination, nor shall undertaking protective measures towards certain categories of persons referred to in paragraph 2 of this Article (women, pregnant women, women who have recently given birth, parents, underage persons, persons with disabilities and the like) be considered to constitute discrimination.</dd>
      </dl>

      <h3 style="margin: 15px 0 10px;">Labor law</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_18"></a>Article 18</dt>
        <dd style="margin: 0 0 20px 20px;">Both direct and indirect discriminations are prohibited against persons seeking employment and employees in respect to their sex, birth, language, race, skin color, age, pregnancy, health status or disability, nationality, religion, marital status, familiar commitments, sexual orientation, political or other belief, social background, financial status, membership in political organizations, unions or any other personal quality. </dd>

        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_20"></a>Article 20, paragraph 1</dt>
        <dd style="margin: 0 0 20px 20px;">
          Discrimination referred to in article 18 of this law shall be prohibited in relation to:<br>
          1) Employment conditions and selection of candidates for a certain job;<br>
          2) Working conditions and all rights resulting from the labor relationship;<br>
          3) Education, training and advanced training;<br>
          4) Promotion at work;<br>
          5) Termination of the labor contract.<br>
          Provisions of the labor contract establishing discrimination pursuant to some of the grounds referred to in article 18 of this law shall be null and void.
        </dd>
      </dl>

      <h3 style="margin: 15px 0 10px;">The Law on Advertising</h3>
      <dl>
        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_7"></a>Article 7</dt>
        <dd style="margin: 0 0 20px 20px;">Advertising may not directly or indirectly encourage discrimination on any grounds, especially on the grounds of race, skin color, sex, nationality, social background, birth, religion, political or other belief, financial status, culture, language, age, mental or physical disability.</dd>


        <dt style="margin-bottom: 5px; font-weight: bold;"><a name="clan_11"></a>Article 11</dt>
        <dd style="margin: 0 0 20px 20px;">
          An advertiser is bound to submit to the person publishing or broadcasting an advertisement, in addition to the advertisement, a filled in form (herewith: declaration) which contains information on:<br>
          1) the producer of the advertisement (company name and seat, number under which it is registered in the appropriate registry for performing the activity of producing advertisements, that is, name and surname, address of residence, personal identification number, id number and the place of issue by an authorized person);<br>
          2) the advertiser (company name and seat, number under which it is registered in the appropriate registry for performing the activity that is the subject of advertisement, that is, name and surname, address of residence, personal identification number, id number and the place of issue by an authorized person);<br>
          3) the advertisement (text, duration, dimensions, manner of advertising, the author of the text, music, photograph, illustration, design, the director, cameraman or sound editor, the performer whose face or voice is used in advertisement, as well as the information on other authors in terms of regulations on protection of copyrights). If the advertiser does not submit the declaration with the advertisement or the submitted declaration does not contain the required data, advertisement shall not be published or broadcasted. The minister of trade proscribes in detail the contents of the declaration.
        </dd>
      </dl>

      <p><a href="http://www.ravnopravnost.gov.rs/sr/zakoni/zakoni-i-propisi-republike-srbije" style="font-weight: bold; color: #129FCB; text-decoration: underline;" target="_blank">More information about the anti-discrimination acts »</a> </p>


    </div>
</template>

<script>
export default {
  name: "AntiDiscEn"
}
</script>

<style scoped>

</style>