<template>
<h1>helloo</h1>
</template>

<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'

export default defineComponent({
  components: {

  },
  setup(props, ctx) {
    return {
    }
  },
  async asyncData (context) {
    const gd = await context.store.dispatch('common/setGeneralData');
    console.log(gd)
  }
})
</script>

<style scoped>

</style>