<template>
  <div class="">
    <div class="searchWrapper pt-8 pb-1 mt-n4">
      <DefaultPageWrapper>
        <v-row justify="center">
          <v-col
              cols="12"
              class="mb-5"
          >
            <h1 class="text-left white--text">{{ $t('general.indexPageSearchText') }}</h1>
            <h3 class="text-left white--text">{{$t('searchFormActiveJobs')}}</h3>
          </v-col>
          <v-col
              cols="12"
          >
            <MainSearchInput :isMainPage="true"/>
          </v-col>
        </v-row>
      </DefaultPageWrapper>
    </div>
<!--    <SelectedFiltersMainPage />-->

    <client-only>

<!--      <SearchesMainPage v-if="isAuthenticated" />-->
    </client-only>



    <PopularCategories v-if="!isAuthenticated"  />

    <LoginAndRegisterPart v-if="!isAuthenticated"/>

    <div class="white pt-6"><v-container>
      <v-row
        class="fill-height"
        justify="center"
      >
        <v-col cols="12">
      <div style="width:100%; text-align: center;">
        <a href="https://n1info.rs/">
          <img src="/n1_banner.png" style="width: 100%; height: auto; max-width:800px;">
        </a>
      </div>
        </v-col>
      </v-row>
    </v-container></div>


    <client-only>
      <PromoJobs />
<!--      <HotJobs />-->
<!--      <NewestJobs />-->
    </client-only>

<!--    <DefaultPageWrapper >-->
<!--      <TopEmployers />-->
<!--    </DefaultPageWrapper>-->
    <DefaultEmployerPromoPart />

    <DefaultPageWrapper>
      <h1>Zapošljavanje i saveti</h1>
      <v-row>
        <v-col cols="12" class="pointer">
          <p class="float-start">Pronađi članak o zapošljavanju, ili savet kako da pronađeš posao.</p>
          <NuxtLink to="/blog?page=1">
            <v-btn
                @click="$router.push('blog')"
                class="pr-0 float-end" color="primary" text plain
            >
              Pogledaj sve postove
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </NuxtLink>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="4" v-for="blog in blogs">
         <BlogCard :data="blog" />
        </v-col>
      </v-row>

    </DefaultPageWrapper>



  </div>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import MainSearchInput from "../components/common/search/MainSearchInput";
import SelectedFiltersMainPage from "@/components/mainPage/SelectedFiltersMainPage";
import NewestJobs from "../components/mainPage/NewestJobs";
import SearchesMainPage from "@/components/mainPage/SearchesMainPage";
import TopEmployers from "../components/mainPage/TopEmployers";
import DefaultEmployerPromoPart from "../components/mainPage/DefaultEployerPromoPart";
import LoginAndRegisterPart from "../components/mainPage/LoginAndRegisterPart";
import TopAds from "../components/mainPage/TopAds";
import PopularCategories from "../components/mainPage/PopularCategories";
import PromoJobs from "../components/mainPage/PromoJobs";
import HotJobs from "../components/mainPage/HotJobs";
import DefaultPageWrapper from "../components/DefaultPageWrapper";
import BlogCard from "../components/blog/BlogCard";
export default defineComponent({
  components: {
    BlogCard,
    DefaultPageWrapper,
    HotJobs,
    PromoJobs,
    PopularCategories,
    TopAds,
    LoginAndRegisterPart,
    DefaultEmployerPromoPart,
    TopEmployers,
    MainSearchInput,
    SelectedFiltersMainPage,
    NewestJobs,
    SearchesMainPage
  },
  setup(props, ctx) {
    ctx.root.$store.dispatch('searchParams/resetSearch')
    const tab = ref('hello');
    // const fbLogin = () => {
    //     ctx.root.$auth.loginWith('facebook')
    // }
    const employerLogout = () => {
      ctx.root.$store.dispatch('employer/auth/logout');
    }

    const categories = computed(() => {
      return ctx.root.$store.getters['common/getCategories'];
    })

    const isAuthenticated = computed(() => ctx.root.$store.getters['candidate/auth/isAuthenticated'])

    return {
      employerLogout, categories, tab, isAuthenticated
    }
  },
  async asyncData (context) {
    const gd = await context.store.dispatch('common/setGeneralData');

    let blogs = [];
    let resp = await context.$axios.$get('/api/public/blog/latest_post/3');
    blogs = resp.data
    return {
      blogs
    }
  },
  data() {
    return {
      getData: this.$store.getters['common']
    }
  },
  methods: {
    sendRequest() {
    }
  },
  mounted() {

  },
  computed: {
    showLocales() {
      return this.$i18n.locales.filter(locale => locale.code !== this.$i18n.locale)
    }
  },
  async fetch(context) {
    return context.store.dispatch('common/setCategories');
  }
})
</script>

<style scoped>
.searchWrapper {
  background: linear-gradient(to right, rgb(13, 56, 127), rgba(13, 56, 127, 0.7)), url("/indexPageBg.png") no-repeat bottom right;
  background-size: contain;
}
</style>

