<template>
  <v-row
      justify="center"
      class="mt-10"
  >
    <v-col
        cols="12"
        class="text-center"
    >
    </v-col>
    <v-col
        cols="12"
        md="8"
        lg="4"
    >
      <v-card
          outlined
          style="border:none!important"
          tile
      >
        <div class="px-10 py-4">
          <h3>{{ $t('employingYouAreInRightPlace') }}</h3>
          <p class="">{{ $t('general.loginAsEmployer') | ucfirst }}</p>
          <v-divider class="customFullDivider mt-5 mb-7"></v-divider>
          <v-form
              ref="form"
              lazy-validation
          >
            <LoginForm @login="loginEmployer"/>

            <p class="mt-5">{{ $t('general.notRegistered') | ucfirst }}?
              <nuxt-link
                  :to="localePath('employer-register')"
                  class="font-weight-medium"
              >{{ $t('general.createAccountForFree') | ucfirst }}
              </nuxt-link>
            </p>

          </v-form>
        </div>
      </v-card>
    </v-col>
  </v-row>

</template>

<script>
import {defineComponent, ref} from '@vue/composition-api'
import LoginForm from "../../../components/common/forms/LoginForm";

export default defineComponent({
  middleware: ['employer_unauth', 'candidate_unauth'],
  components: {
    LoginForm
  },
  setup(props, ctx) {
    const loginEmployer = async ($evt) => {
      await ctx.root.$store.dispatch('employer/auth/login', {
        email: $evt.email,
        password: $evt.password
      })
    }
    return {
      loginEmployer
    }
  }
})
</script>

<style scoped>

</style>