<template>
    <div class="">
      <div class="">
        <div class="">Terms and conditions of use and privacy policy</div>
        <div class=""> </div>
      </div>
      <!-- TEXT GOES HERE -->

      <p>
        <strong><em>Agreement on the use of the Lako do posla site</em></strong><br> <br>
        In the following text, the agreement on terms of use. The agreement on terms of use is written in Serbian.<br> <br>
        The contract is between the www.lakodoposla.com portal and the portal visitor or user. <br> <br>
        By visitors, we mean users of the portal:<br>
        1. Candidates - natural persons. <br>
        2. Employers - legal entities.<br>
      </p>
      <p><strong>Contract Agreement:</strong><br><br>
        By using the portal www.lakodoposla.com (abbreviated below in the text of the contract:
        lakodoposla) and all its parts of the text, you automatically accept all current terms of use of the portal
        lakodoposla.<br><br>
        Please read all parts of the contract carefully.<br> <br>
        Lakodoposla takes all reasonable steps to protect personal data from loss, misuse and unauthorized access, disclosure, alteration or destruction. However, the Internet, e-mail, your resume or other electronic transmission is not always in
        completely safe and error-free, i.e. your data is not completely safe. You agree not to consider
        responsible for the Lakodoposla site in case of loss of your information, i.e. theft by third parties and unauthorized persons
        enters, that you enter and store your data on our site at your own risk. In case this doesn't suit you
        please do not use our site, i.e. do not enter or delete your data.<br> <br>
        Access to the lakodoposlo portal and all its contents is allowed to persons of any age, gender or race.<br>
        Users of the portal, i.e. visitors, are obliged to regularly read the terms of use and are considered to be in each one
        to be familiar with the current conditions of use and to understand them completely. Talentmarket as the owner of the portal
        reserves the right to change or supplement the terms of use, unilaterally without prior notice and is not responsible for
        resulting consequences that may appear as a result of changes.<br> <br>
        The portal www.lakodoposla.com (abbreviated in the following text of the contract: lakodoposla) plays a role in connecting, networking and advertising employers (abbreviated in the following text of the contract: Employers) and candidates, advertising, i.e. persons looking for work (in the following text of the contract: candidates ). <br>
        Candidates are considered to be unemployed natural persons or natural persons who are employed, i.e. employed persons who want to change or find a new or additional job.<br>
        By using the Lakodoposla portal, you unconditionally agree to all the above and below mentioned items of this contract.<br>
      </p>
      <p>
        Please read all parts of the contract carefully.<br><br>
        The general conditions of use are divided into two categories:<br><br>
        1. Services for Candidates (natural persons)<br>
        2. Services for Employers (legal entities)<br><br>
        <strong>1. Category-candidates</strong><br><br>
        Lakodoposla provides all its services to candidates completely free of charge.<br><br>
        Lakodoposla can store and collect information about candidates, but only with their consent and for the purpose of easier connection between the employer and the candidate and for mutual satisfaction. Candidates enter all data voluntarily. Lakodoposla believes that it is obliged to protect your privacy.<br><br>
        The moment you register as a job seeker, you agree that you have entered accurate, valid and complete
        information about yourself, then that you will update it on the site if it changes. You agree that we can
        rely on that data as accurate, valid and complete. You agree that if your registration information is false
        or invalid, that we reserve the right to terminate your use of the Lakodoposla portal.<br><br>
        The candidate can at any time delete the collected information independently or in writing (electronically via email).
        sent to the lakodoposla portal.<br><br>
        Lakodoposla undertakes not to give, sell, rent, distribute, change or in any way give your personal data to third parties. The candidate has the right to access his information at any time.<br><br>
        Candidates can search and apply for job ads.<br><br>
        Do not leave, give your bank accounts to employers or other persons or make payments to them. Employers and employment agencies do not charge jobseekers for services. If you do this, you do so at your own risk and you agree not to hold the portal lakodoposla.com responsible for any type of possible damage that could be caused by misuse.m by users, employers and further third parties.
      </p>
      <p>
        When reviewing and applying for one of the job advertisements, you do so at your own risk and agree that lakodoposla does not assume responsibility for any resulting consequences.<br><br>
        Competition is carried out in several ways, according to the independent choice of the advertiser or the employer. Competing can be done through the competition form of the Lakodoposla portal, by sending it to the email address of the advertiser, through an external link that is available at the employer's choice, or by using some or all of the methods together. When applying for job advertisements, it is understood that the candidate has read the advertisement, i.e. the text of the advertisement, that he has well understood all the conditions specified by the employer in the advertisement, and that he is well informed about the employer, i.e. the advertiser, as well as having checked his business background on the website of the National Bank of Serbia and APR. Lakodoposla is not responsible for the reliability of the text entered by the employer. The Lakodoposla portal is also not responsible for the further process during the selection and later on entering the employment relationship, i.e. the agreement with the employer. The candidate is also obliged to check the legal existence of the employer, i.e. he is considered to have checked before applying. Lakodoposla does not participate in the candidate selection process <br><br>
        Lakodoposla does not guarantee that the employer or his person will comply with all the necessary procedures after sending the application, that is, notification of the outcome of the competition. Lakodoposla does not participate in the selection and pre-selection of candidates. By using the lakodoposla.com site, you do not hold lakodoposla.com responsible for the selection and preselection, on the contrary, do not use the services of the lakodoposla.com site, that is, please leave our site.<br><br>
        <strong>Profiles of candidates - biographies</strong><br><br>
        In case you agree, i.e. create your profile with us on the portal, you approve that your account and your information
        when applying for a specific ad, employers have access to them. In doing so, you agree not to hold the lakodoposla.com portal responsible for any type of possible damage that could be caused by the misuse of your data by employers and further third parties.<br><br>
      </p>
      <p>
        <strong>2. Category-employers</strong><br><br>
        Employers are considered to be all users who posted an ad on the Lakodokola website and <br> cannot be employers
        natural persons except in certain cases.
      </p>
      <p>
        The moment you register as an employer looking for employees, you agree that you have entered accurate, valid and complete information about your company, and that you will update it on the site if it changes. You agree that we may rely on such information as accurate, valid and complete. You agree that if your registration data is untrue, incomplete or invalid, that we reserve the right to terminate your use of the Lakodoposla portal, as well as other measures arising as a result.<br><br>
        All services offered by the lakodoposla portal are defined by the price list.<br><br>
        In the event of the website being interrupted due to various factors, lakodoposla will not be held responsible for any consequences that may arise.<br><br>
        The employer or the advertiser agrees that on the basis of the left contact information or the phone number of the contact person, lakodoposla or a person on behalf of lakodoposla can contact him at any time of the day, on working or non-working days, in order to obtain the necessary information regarding the solution of any problem that may arise. In the event that the employer violates the previously described rules, lakodoposla reserves the right to prohibit further use of the portal by the employer or the advertiser.<br>
        The data is stored, with the consent of the employers, on servers currently located in Germany.<br> <br> <br>
        Lakodoposla reserves the right to change or supplement these rules, i.e. terms of use, without prior notice and which may enter into force immediately upon publication.<br> If you do not agree after reading the contract, please do not use the Lakodoposla portal, or leave our pages. <br> <br>
        Disclaimer <br> <br>
        Lakodoposla is not responsible for material, financial, mental, or any other type of damage that may occur as a result of using this portal.<br> <br>
        For published content, lakodoposla does not guarantee the correctness and accuracy of information entered by employers and candidates in their advertisements, i.e. biographies, profiles.<br>
        Lakodoposla reserves the right to change and remove the content of either the employer or the candidate, which includes (resumes and advertisements) and according to the assessment of the correctness of the entered data.<br>
        It is strictly forbidden to post images and video content of dangerous content, content that incites terrorism, content for which you do not own the copyright without the permission of the author, posting of any vulgar or offensive content or any activities that are contrary to applicable laws and moral principles.
      </p>
      <p>
        Employers have more services available.<br>
        Of which: Posting ads, searching the profiles of candidates who responded to their ads.
      </p>
      <p>
        The employer automatically undertakes to use all services on the portal in good faith and only and exclusively for the purpose of finding suitable workers for their needs, without abusing the database, candidate profiles of the lakodoposl portal.
      </p>
      <p>
        Highly confidential, personal data about candidates are available to them: pictures, phone numbers, marital status, email
        addresses, and similar very private information.<br>
        It is strictly forbidden to misuse the displayed data about the candidates, then to distribute it or for any purpose.
      </p>
      <p>
        Natural persons are not allowed to place advertisements for the demand of workers, except in the cases prescribed by law.<br>
        Job ads serve exclusively as a tool to help find candidates for jobs or staff.<br>
        Use for other purposes is strictly prohibited, it will be automatically sanctioned by the removal of the ad and the permanent expulsion of the employer from the portal.<br> Job ads have a duration, which is determined by the employer when publishing the job ad, which can be changed by the lakodoposla portal at its own discretion without explanation. After expiration, job postings are archived.<br> <br> When you register as an employer looking for employees, you agree that you have entered accurate, valid and complete information about your company, and that you will keep it updated. on the site if they change. You agree that we may rely on such information as accurate, valid and complete. You agree that if your registration data is untrue, incomplete or invalid, that we reserve the right to terminate your use of the Lakodoposla portal, as well as other measures arising as a result.<br> <br>
        All services offered by the lakodoposla portal are defined by the price list.<br> <br>
        In the event of the website being interrupted due to various factors, lakodoposla will not be held responsible for any consequences that may arise.<br> <br>
        The employer or the advertiser agrees that on the basis of the left contact information or the phone number of the contact person, lakodoposla or a person on behalf of lakodoposla can contact him at any time of the day, on working or non-working days, in order to obtain the necessary information regarding the solution of any problem that may arise. In the event that the employer violates the previously described rules, lakodoposla reserves the right to prohibit further use of the portal by the employer or the advertiser.<br>
        Data is stored, with the consent of employers, on servers that
        currently located in Germany.<br><br>
        Lakodoposla reserves the right to amend or amend these rules or terms of use without prior notice and which may come into force immediately upon publication.<br>
        If you do not agree after reading the contract, please do not use the Lakodoposla portal, that is, leave our pages.<br><br>
        Disclaimer <br> <br>
        Lakodoposla is not responsible for material, financial, mental, or any other type of damage that may occur as a result of using this portal.<br> <br>
        Lakodoposla does not guarantee the correctness and accuracy of the information entered by employers and candidates in their published content
        advertisements, i.e. biographies, profiles.<br>
        Lakodoposla reserves the right to change and remove the content of either the employer or the candidate, which includes (resumes and advertisements) and according to the assessment of the correctness of the entered data.<br>
        It is strictly forbidden to post images and video content of dangerous content, content that incites terrorism, content for which you do not own the copyright without the author's permission, posting any vulgar or offensive content or any activities that are contrary to applicable laws and moral principles. <br><br>
        <strong>IMPORTANT:</strong><br> <br>
        Rules for downloading text and ads<br> <br>
        Portal lakodoposla allows the download of text in the category of news, tips and careers for which he claims the copyright. <br>
        In that case, it is allowed to transfer articles of the text with a mandatory reference to the source, i.e. a link to our website.<br>
        If you believe that your copyright has been violated, the case will be immediately reviewed, and the disputed content
        will be removed upon possible establishment of the truth of the content of the complaint.<br> <br>
        The lakodoposla portal does not allow the downloading of advertisements, i.e. jobs, advertisements for which it claims copyright, which are on the site.<br><br>
        It is strictly forbidden to download ads, jobs from the site lakodoposla.com, neounauthorized use of ad content is considered copyright infringement and is subject to legal action<br> <br> <br>
        Links to other websites<br> <br>
        Portal lakodoposla publishes links to other pages in good faith and is not responsible for possible damage and text on those pages.<br><br>
        <strong>Important:</strong><br> <br>
        All texts and articles are only optional information. Use them at your own risk and responsibility. lakodoposla.com, no
        the authors of the articles do not assume any responsibility for the proposal given in the article. The opinions expressed are personal opinions
        author. If you do not agree with the terms of use, please do not use our portal, or yes
        leave our pages, otherwise, that is, with your consent, you agree to agree with all parts
        of this contract.<br> <br>
        lakodoposla.com does not assume responsibility for the same, whether related to ads or articles.<br><br><br>
        If you have any questions or concerns, please use the contact form on our portal and our team will respond quickly, professionally and efficiently.
      </p>
      <p>
        The limited liability company "Talentmarket d.o.o." (hereinafter referred to as the Company) is committed to the protection of your Personal Data based on the EU General Data Protection Regulation (GDPR).
      </p>
      <p>
        The company recognizes the importance of protecting privacy, security and data protection for users of our services and all persons who come into contact with us, therefore our goal is to offer protection for all our operations and implement consistent regulations and procedures.
      </p>
      <p>
        This privacy statement informs you about our protection practices and the possibilities of the selected methods
        collection and use of data about you, including data collected from your Internet activities.
      </p>
      <p>
        This privacy statement applies to all information collected from the Company's website, domains, services and
        applications.
      </p>
      <p>
        Please check the Privacy Policy - Personal Data Protection Policy (hereinafter referred to as the Privacy Policy) from time to time in view of possible changes that will be displayed on the page.
      </p>
      <p>
        <strong>Purpose of collecting personal data</strong>
      </p>
      <p>
        We collect personal data primarily to ensure the provision of the requested service and to respond to your inquiry as efficiently as possible.
      </p>
      <p><strong>Data covered by the content of the Privacy Policy: </strong></p>
      <p>Name and Surname, Date of birth, Residential address, E-mail, Telephone and/or fax number, personal identification number (MB), Other information that you exchange with us and wish to remain confidential.
      </p>
      <p>
        <strong>Duration of the Privacy Policy </strong>
      </p>
      <p>
        At the moment of submitting your data, you agree to contact us and thereby give us the right to process your personal data in accordance with the indicated purpose. The protection of the privacy of your data is permanent.
      </p>
      <p>
        <strong>Privacy Policy Content </strong>
      </p>
      <p>
        We collect and process your personal data in accordance with the provisions of the General Data Protection Regulation, EC 2019/679.
        We will store the collected data in an appropriate manner and ensure their confidentiality. We can collect data
        forward to third parties without your express permission, provided that the third parties are physical or legal entities
        which data are processed in accordance with the regulation on data protection and respect the principles of privacy, and communication in this
        meaning regulated by contract or statement.
      </p>
      <p>
        We collect only those personal data that have been submitted to us voluntarily. We do not require you to send us yours
        data to enable you to access our pages and we do not ask you to disclose more data than what is already
        really necessary to work in some activity on our pages.
      </p>
      <p>
        The company will not send you spam. The company is not responsible for an accidental error or an error due to force majeure or other objective circumstances that cause an accidental violation of your data protection guarantee, but we guarantee that the error will be corrected, if possible, as soon as possible.
      </p>
      <p>
        We do not sell, transfer or disclose the personal data we collect to anyone outside the Company without your permission.
        unless otherwise indicated in this statement
      </p>
      <p>
        <strong>Confidentiality of data </strong>
      </p>
      <p>
        We want to make it clear that when visiting these pages, your personal data remains confidential, unless you want to voluntarily disclose it to other parties, which is clearly defined by your action by filling in the proposed consent field.
      </p>
      <p>
        <strong>Usage</strong>
      </p>
      <p>
        Your personal data will be used exclusivelyfor the purpose of the portal and the same can be used in our fraternal, affiliated
        companies or companies with whom we have contractual relations or are engaged in data analysis on our behalf and for our benefit
        improvement of our services and user benefits.
      </p>
      <p>
        <strong>Control </strong>
      </p>
      <p>
        A person has the right to inspect the collection of personal data, to request access to his personal data and to change it, the right to repair, forget, restrict processing, object and transfer data, and may at any time cancel approval for the use of personal data, request data change or deletion from the database data.
      </p>
      <p>
        You can do this by sending a request to our data protection officer, in writing
      </p>
      <p>
        <strong>Data Security </strong>
      </p>
      <p>
        For the security of data on our global network portals and to ensure the accessibility of the service to all users, this computer operator uses software that monitors visits to the network and recognizes unauthorized attempts to upload or modify data, as well as those that could cause damage in some other way.
      </p>
      <p>
        Unauthorized attempts to use data on this site are strictly prohibited.
      </p>
      <p>
        <strong>Statistics </strong>
      </p>
      <p>
        Our global network users use statistical software. These programs are marked as standard for all internet users and are not characteristic only for our pages. Such statistical programs allow us to adjust our pages so that they are as efficient and simple as possible for our visitors (determining the data that most or least interests our users,
        adaptation of pages for individual Internet users, efficiency and quality of the structure of our site and visits to our pages.)
      </p>
      <p>
        <strong>Use of cookies (Cookies) </strong>
      </p>
      <p>
        Cookies are small text files that can be used by websites to make the user experience more efficient.<br> <br>
        The law states that we can store cookies on your device if they are strictly necessary for the operation of this page. We need your permission for all other types of cookies.<br> <br>
        This site uses different types of cookies. Some cookies are set by third-party services that appear on our pages.<br> <br>
        You can change or withdraw your consent from the Cookie Declaration on our website at any time.<br> <br>
        Learn more about who we are, how you can contact us and how we process personal data in our Privacy Policy.
      </p>
      <p><strong>Email message </strong></p>
      <p>When you send us electronic mail (e-mail) with personal data that can be used to identify you, either through an e-mail with a question or comment, or a form you submit to us by e-mail, we use that data for the purpose of fulfilling your requests. .
      </p>
      <p><strong>Linking </strong></p>
      <p>
        We do everything in our power to ensure that all redirects from our websites point to
        websites that do not contain illegal and/or harmful content. However, sites and addresses on the Internet change rapidly and we cannot always guarantee the content of every address to which you are directed
        let's direct.
      </p>
      <p>
        If you have any questions or concerns about our Privacy Policy, or about your experience with this website or our affiliates, please contact us.
      </p>
      <p><strong>Changes and Termination of Terms of Use</strong></p>
      <p>
        The limited liability company "Talentmarket d.o.o." reserves the right to change or terminate all or any part of this website and the terms of use at any time.
      </p>
      <p>
        Changes come into effect upon publication at this address or when users are notified of them.
      </p>



      <!-- ---- -->
    </div>
</template>

<script>
export default {
  name: "PpEn"
}
</script>

<style scoped>

</style>