<template>
  <div class="">
    <div class="">
      <div class="">Uslovi i prava korišćenja i politika privatnosti</div>
      <div class=""> 	</div>
    </div>
    <!-- TEKST IDE OVDE -->

    <p>
      <strong><em>Ugovor o korišćenju sajta Lako do posla</em></strong><br> <br>
      U daljem tekstu ugovor o uslovima korišcenja. Ugovor o uslovima korištenja je napisan na srpskom jeziku.<br> <br>
      Ugovor je između www.lakodoposla.com portala i posetioca portala odnosno korisnika. <br> <br>
      Pod posetiocima, korisnicima portala podrazumevamo:<br>
      1. Kandidate - fizička lica. <br>
      2. Poslodavace - pravna lica.<br>
    </p>
    <p><strong>Sporazum ugovora:</strong><br><br>
      Korišćenjem portala www.lakodoposla.com (u nastavku teksta ugovora skraćeno:
      lakodoposla) i svih njegovih delova teksta, automatski prihvatate sve trenutne uslove korišcenja portala
      lakodoposla.<br><br>
      Molimo Vas da pažljivo pročitate sve delove ugovora.<br> <br>
      Lakodoposla preduzima sve razumne korake na zaštiti podataka o ličnosti od gubitka, zloupotrebe i neovlašćenog pristupa, otkrivanja, prepravki ili uništenja. Medutim, internet,
      e-mail, vaše biografije ili drugi elektronski prenos nije uvek u
      potpunosti bezbedan i bez grešaka, odnosno vaši podaci nisu u potpunosti bezbedni. Vi se slažete da ne smatrate
      odgovornim sajt lakodoposla u slučaju gubitka vaših informacija odnosno krađe od strane trećih lica i neovlašćenog
      upada, da na svoju odgovornost upisujete i čuvate vaše podatke na našem sajtu. U slučaju da vam ovo ne odgovara
      molimo vas da ne koristite naš sajt odnosno da vaše podatke ne upisujete ili izbrišete.<br> <br>
      Pristup portalu lakodoposla i svim njegovim sadržajima dozvoljen je osobama bilo kog uzrasta, pola ili rase.<br>
      Korisnici portala odnosno posetioci su dužni da redovno čitaju uslove korišćenja i smatra se da su u svakom
      trenutku upoznati sa aktuelnim uslovima korišćenja i da ih razumeju u potpunosti. Talentmarket kao vlasnik portala
      zadržava pravo izmene ili dopune uslova korišćenja, jednostrano bez prethodnog obaveštenja i nije odgovoran za
      nastale posledice koje se mogu pojaviti kao posledica promena.<br> <br>
      Portal www.lakodoposla.com (u nastavku teksta ugovora skraceno: lakodoposla) vrši ulogu pri povezivanju, umrežavanju i oglašavanju poslodavaca (u nastavku teksta ugovora skraceno: Poslodavci) i kandidata,
      oglašavanju, odnosno lica koja traže posao (u nastavku teksta ugovora: kandidati). <br>
      Kandidatima se smatraju nezaposlena fizička lica ili fizička lica koja su u radnom odnosu odnosno zaposlena lica koja žele da promene odnosno pronađu novo ili dodatno radno mesto.<br>
      Korišćenjem portala lakodoposla bezuslovno se slažete sa svim ispod i iznad navedenim stavkama ovog ugovora.<br>
    </p>
    <p>
      Molimo Vas da pažljivo pročitate sve delove ugovora.<br><br>
      Opšti uslovi korištenja se dele u dve kategorije:<br><br>
      1. Usluge za Kandidate ( fizička lica)<br>
      2. Usluge za Poslodavce ( pravna lica)<br><br>
      <strong>1. Kategorija-kandidati</strong><br><br>
      Lakodoposla sve svoje usluge kandidatima pruža u potpunosti besplatno.<br><br>
      Lakodoposla može da čuva, prikuplja informacije o kandidatima, ali isključivo uz njihovu saglasnost i u cilju lakšeg povezivanja poslodavca i kandidata i na 
      obostrano zadovoljstvo. Kandidati sve podatke upisuju dobrovoljno. Lakodoposla smatra da je dužan da zaštiti vašu privatnost.<br><br>
      Onoga trenutka kada se registrujete kao kandidat koji traži posao, vi se slažete da ste upisali tačne, važeće i potpune
      informacije o sebi, zatim da ćete ih ažurirati na sajtu ukoliko se one promene. Vi se slažete da se mi možemo
      osloniti na te podatke kao tačne, važeće i potpune. Vi pristajete da ako su vaši podaci za registraciju neistiniti
      ili nevažeći, da mi zadržavamo pravo prekida vašeg korišcenja portala lakodoposla.<br><br>
      Kandidat može u bilo kom trenutku izbrisati prikupljene informacije samostalno ili u pismenoj formi ( elektonski putem emaila)
      upućeno portalu lakodoposla.<br><br>
      Lakodoposla se obavezuje da Vaše lične podatke neće davati, prodavati, iznajmljivati, distribuirati, menjati ili na bilo koji način ustupati trećim licima.
      Kandidat ima pravo na uvid u svoje informacije u bilo kom trenutku.<br><br>
      Kandidati mogu pretraživati i vršiti prijave na oglase za posao.<br><br>
      Nemojte ostavljati, davati na uvid svoje bankovne račune poslodavcima ili drugim licima ili vršiti plaćanje ka njima. Poslodavci i agencije za zapošljavanje licima 
      koje traže posao ne naplaćuju usluge. Ukoliko to uradite uradili ste na sopstvenu odgovornost i saglasni ste da portal lakodoposla.com ne smatrate odgovornim za bilo kakvu vrstu moguce nastale štete koja bi mi mogla biti uzrokovana
      zloupotrebom od strane korisnika, poslodavaca a dalje trećih lica.
    </p>
    <p>
      Prilikom pregleda i konkurisanja na neki od oglasa za posao to činite na vlastitu odgovornost i slažete se da lakodoposla ne preuzima odgovornost za eventualnu nastalu posledicu.<br><br>
      Konkurisanje se vrši na više načina, shodno samostalnom izboru oglašivača odnosno poslodavca. Konkurisanje može biti putem konkursne forme lakodoposla portala, slanjem na email adresu oglašivaču, 
      spoljnim linkom koji se nalazi po izboru poslodavca ili kombinovano koristeći neke ili sve načine zajedno. Prilikom konkurisanja na oglase za posao podrazumeva se da je kandidat upućen u oglas, odnosno tekst oglasa,
      da je dobro razumeo sve uslove navedene od strane poslodavca u oglasu i da je dobro upućen u poslodavca odnosno oglašivača, kao i njegovu proveru poslovanja  proverio na sajtu narodne banke Srbije i Apr-a. 
      Lakodoposla ne odgovara za pouzdanost teksta upisanog od strane poslodavca. Lakodoposla portal takođe nije odgovoran za dalji proces prilikom selekcije a kasnije i stupanja u radni odnos odnosno dogovor sa poslodavcem. Kandidat je takođe dužan da proveri pravno postojanje poslodavca odnosno smatra se da je proverio pre konkurisanja.
      Lakodoposla ne učestvuje u procesu selekcije kandidata <br><br>
      Lakodoposla ne garantuje da će poslodavac ili njegovo lice ispoštovati sve potrebne procedure nakon poslate prijave, odnosno obaveštenje o ishodu konkursa.
      Lakodoposla ne učestvuje u selekciji i preselekciji kandidata. Korišćenjem sajta lakodoposla.com vi ne smatrate odgovornim lakodoposla.com u selekciji i preselekciji u suprotom nemojte da koristite usluge lakodoposla.com sajta, odnosno molimo vas da napustite naše stranice.<br><br>
      
      <strong>Profili kandidata- biografije</strong><br><br>
      U slučaju da pristanete, odnosno napravite vaš profil kod nas na portalu, Vi odobravate da vašem nalogu i vašim informacijama
      prilikom konkurisanja na određeni oglas imaju pristup poslodavci istih. 
      Pri tome ste saglasni da portal lakodoposla.com ne smatrate odgovornim za bilo kakvu vrstu moguće nastale štete koja bi mogla biti uzrokovana zloupotrebom vaših podataka od strane poslodavaca a dalje trećih lica.<br><br>
    </p>
    <p>
      <strong>2. Kategorija-poslodavci</strong><br><br>
      Poslodavcima se smatraju svi korisnici koji su postavili oglas na sajtu lakodokola i <br> poslodavci ne mogu biti
      fizička lica osim u određenim slučajevima.
    </p>
    <p>
      Onoga trenutka kada se registrujete kao poslodavac koji traži zaposlenike, radnu snagu, vi se slažete da ste upisali tačne, važeće i potpune informacije o vašem preduzeću, zatim da ćete ih ažurirati na sajtu ukoliko se one promene. Vi se slažete da se mi možemo osloniti na te podatke kao tačne, važeće i potpune. Vi pristajete da ako su vaši podaci za registraciju neistiniti, nepotpuni ili nevažeći, da mi zadržavamo pravo prekida vašeg korišcenja portala Lakodoposla, kao i druge mere koje proisteknu kao posledica.<br><br>
      Sve usluge koje nudi portal lakodoposla su definisane cenovnikom.<br><br>
      U slučaju prekida rada sajta nastalim usled različitih faktora lakodoposla se neće smatrati odgovornim prema eventualnim posledicama koje mogu da nastanu.<br><br>
      Poslodavac odnosno oglašivač se slaže da na osnovu ostavljenih kontakt podataka odnosno broja telefona kontakt osobe, lakodoposla odnosno lice u ime lakodoposla ga može kontaktirati u bilo koje doba dana, radnim ili neradnim danima radi dobijanja potrebnih informacija oko rešavanja eventualnog nastalog problema. U slučaju da prethodno opisana pravila poslodavac prekrši lakodoposla zadržava puno pravo zabrane dalje upotrebe portala poslodavcu  odnosno oglašivaču.<br>
      Podaci se čuvaju, uz suglasnost poslodavaca, na serverima koji se trenutno nalaze u nevažeći.<br> <br> <br>
      Lakodoposla zadržava pravo izmene ili dopune ovih pravila odnosno uslova korišcenja bez prethodne najave i koje mogu da stupe na snagu odmah po objavi.<br> Ukoliko se ne slažete nakon pročitanog ugovora, molimo Vas da ne koristite portal lakodoposla, odnosno da napustite naše stranice.<br> <br>
      Odricanje odgovornosti <br> <br>
      Lakodoposla nije odgovoran za materijalnu, finansijsku, duševnu, ili bilo kakvu drugu vrstu štete koja može nastati kao rezultat korištenja ovog portala.<br> <br>
      Za objavljeni sadržaj Lakodoposla ne garantuje ispravnost i tačnost informacija koje unose poslodavci i kandidati u svojim oglasima odnosno biografijama, profilima.<br>
      Lakodoposla zadržava pravo izmene i uklanjanja sadržaja bilo poslodavca ili kandidata, a podrazumeva se na (biografije i oglase) a prema-shodno proceni ispravnosti unešenih podataka.<br>
      Strogo je zabranjeno postavljanje slika i video sadržaja opasnog sadržaja, sadržaja koji podstiče na terorizam,  sadržaja za koji ne posedujete autorska prava bez dozvole autora, postavljanje bilo kakvih vulgarnih ili uvredljivih sadržaja ili bilo kakvih aktivnosti koje su u suprotnosti sa važećim zakonima i moralnim načelima.
    </p>
    <p>
      Poslodavci imaju na raspolaganju više usluga.<br>
      Od kojih su: Postavljanje oglasa, pretraživanje profila kandidata koji su se javili na oglas istih.
    </p>
    <p>
      Poslodavac se automatski obavezuje da će sve usluge na portalu da koristi u dobroj nameri i jedino i isključivo u svrhu pronalaženja ogovarajućih radnika za svoje potrebe, bez zloupotrebe baze podataka, profila kandidata portala lakodoposla.
    </p>
    <p>
      Dostupni su im veoma poverljivi, lični podaci o kandidatima: slike, brojevi telefona, bračno stanje, email
      adrese, i slične privatne informacije.<br>
      Najstrožije je zabranjena zloupotreba prikazanih podataka o kandidatima, zatim distribucija ili u bilo kakve svrhe.
    </p>
    <p>
      Fizičkim licima nije omogućeno postavljanje oglasa za potražnju radnika osim u slučajevima koji zakon propisuje.<br>
      Oglasi za posao služe isključivo kao sredstvo koje pomaže pri pronalaženju kandidata za radna mesta odnosno kadar.<br>
      Upotreba u druge svrhe je najstrožije zabranjena, biće automatski sankcionisana uklanjanjem oglasa i trajnim izbacivanjem poslodavca sa portala.<br>
      Oglasi za posao imaju vreme trajanja, koje određuje poslodavac pri objavi oglasa za posao koju moze izmeniti portal lakodoposla prema ličnoj proceni bez obrazloženja. 
      Nakon isteka, oglasi za posao se arhiviraju.<br> <br>
      Onoga trenutka kada se registrujete kao poslodavac koji traži zaposlenike,  radnu snagu, vi se slažete da ste upisali tačne, važeće i potpune informacije o vašem preduzeću, zatim da ćete ih ažurirati na sajtu ukoliko se one promene. 
      Vi se slažete da se mi možemo osloniti na te podatke kao tačne, važeće i  potpune. Vi pristajete da ako su vaši podaci za registraciju neistiniti, nepotpuni ili nevažeći, da mi zadržavamo  pravo prekida vašeg korišcenja portala Lakodoposla, kao i druge mere koje proisteknu kao posledica.<br> <br>
      Sve usluge koje nudi portal lakodoposla su definisane cenovnikom.<br> <br>
      U slučaju prekida rada sajta nastalim usled različitih faktora lakodoposla se neće smatrati odgovornim prema eventualnim posledicama koje mogu da nastanu.<br> <br>
      Poslodavac odnosno oglašivač se slaže da na osnovu ostavljenih kontakt podataka odnosno  broja telefona kontakt osobe, lakodoposla odnosno lice u ime lakodoposla ga može kontaktirati u bilo koje doba  dana, radnim ili neradnim danima radi dobijanja potrebnih informacija oko rešavanja eventualnog nastalog problema.  U slučaju da prethodno opisana pravila poslodavac prekrši lakodoposla zadržava puno pravo zabrane dalje upotrebe  portala poslodavcu odnosno oglašivaču.<br>
      Podaci se čuvaju, uz suglasnost poslodavaca, na serverima koji se
      trenutno nalaze u Nemačkoj.<br><br>
      Lakodoposla zadržava pravo izmene ili dopune ovih pravila odnosno  uslova korišcenja bez prethodne najave i koje mogu da stupe na snagu odmah po objavi.<br>
      Ukoliko se ne slažete nakon pročitanog ugovora, molimo Vas da ne koristite portal lakodoposla, odnosno da napustite naše stranice.<br><br>
      Odricanje odgovornosti <br> <br>
      Lakodoposla nije odgovoran za materijalnu, finansijsku, duševnu, ili bilo kakvu drugu vrstu štete koja može nastati kao rezultat korištenja ovog portala.<br> <br>
      Za objavljeni sadržaj lakodoposla ne garantuje ispravnost i tačnost informacija koje unose poslodavci i kandidati u svojim
      oglasima odnosno biografijama, profilima.<br>
      Lakodoposla zadržava pravo izmene i uklanjanja sadržaja bilo  poslodavca ili kandidata, a podrazumeva se na (biografije i oglase) a prema-shodno proceni ispravnosti unešenih podataka.<br>
      Strogo je zabranjeno postavljanje slika i video sadržaja opasnog sadržaja, sadržaja koji podstiče na terorizam, sadržaja za koji ne posedujete autorska prava bez dozvole autora, postavljanje bilo kakvih vulgarnih ili uvredljivih sadržaja ili bilo kakvih aktivnosti koje su u suprotnosti sa važecim zakonima i moralnim nacelima.<br><br>
      <strong>VAŽNO:</strong><br> <br>
      Pravila preuzimanja teksta i oglasa<br> <br>
      Portal lakodoposla dozvoljava  preuzimanje teksta u kategoriji vesti, saveti i karijera na koje on polaže autorska prava.  <br>
      U tom slučaju je    dozvoljeno prenošenje članaka teksta uz obavezno navodenje izvora odnosno linka ka našoj veb stranici.<br>
      Ukoliko smatrate da je došlo do povrede Vaših autorskih prava, slučaj će biti odmah razmotren, a sporni sadržaji
      biće uklonjeni po eventualnom ustanovljavanju istinitosti sadržaja žalbe.<br> <br>
      Portal lakodoposla ne dozvoljava preuzimanje oglasa, odnosno poslova, oglasa na koje on polaže autorska prava, koji se nalaze na sajtu.<br><br>
      Strogo je zabranjeno preuzimanje oglasa, poslova sa sajta lakodoposla.com, neovlašćeno korišćenje sadržaja oglasa smatra se kršenjem autorskih prava
      i podložno je tužbi<br> <br> <br>
      Linkovi na druge web stranice<br> <br>
      Portal lakodoposla objavljuje linkove ka drugim stranicama u dobroj nameri i ne odgovara za eventualnu štetu i tekst na tim stranicama.<br><br>
      <strong>Važno:</strong><br> <br>
      Svi tekstovi i članci su samo neobavezne informacije. Koristite ih na svoju ličnu odgovornost i rizik. lakodoposla.com, ni
      autori članaka ne preuzimaju nikakvu odgovornost za predlog dan u članku. Izražena mišljenja su lična mišljenja
      autora. U slučaju da se ne slažete sa uslovima korišcenja molimo Vas da ne koristite naš portal, odnosno da
      napustite naše stranice, u suprotnom, odnosno Vašim pristankom dajete saglasnost da se slažete sa svim delovima
      ovog ugovora.<br> <br>
      lakodoposla.com ne preuzima odgovornost za ista, bilo da se odnosi na oglase ili članak.<br><br><br>
      Ako imate pitanja ili nedoumica, molimo vas upotrebite kontakt formu na našem portalu i naš tim će brzo odraditi vaš odgovor, profesionalno i efikasno.
    </p>
    <p>
      Društvo sa ograničenom odgovornošcu „Talentmarket d.o.o.“(u daljnjem tekstu Društvo) obavezuje se na zaštitu Vaših ličnih podataka zasnovano na EU Opštom uredbom o zaštiti podataka (GDPR).
    </p>
    <p>
      Društvo prepoznaje važnost zaštite privatnosti, sigurnosti i zaštite podataka za korisnike naših usluga i svih osoba koje sa nama dodu u kontakt, stoga je naš cilj ponuditi zaštitu za sve naše operacije te implementirati dosledne pravilnike i procedure.
    </p>
    <p>
      Ova izjava o zaštiti privatnosti informiše vas o našim praksama zaštite i mogućnostima odabranih načina
      prikupljanja i korištenja podataka o vama, uključujući i podatke prikupljene iz vaših internetskih aktivnosti .
    </p>
    <p>
      Ova se izjava o zaštiti privatnosti odnosi na sve informacije prikupljene sa web stranice Društva, domene, usluge i
      aplikacije .
    </p>
    <p>
      Molimo Vas da Politiku privatnosti - Politiku zaštite ličnih podataka (u daljnjem tekstu Politika privatnosti) povremeno proverite s obzirom na moguce izmene koje će biti prikazane na stranici.
    </p>
    <p>
      <strong>Svrha prikupljanja ličnih podataka </strong>
    </p>
    <p>
      lične podatke prikupljamo pre svega radi osiguravanja pružanja tražene usluge i što učinkovitijeg odgovora na Vaš upit.
    </p>
    <p><strong>Podaci pokriveni sadržajem Politike privatnosti: </strong></p>
    <p>Ime i Prezime, Datum rođenja, Adresa stanovanja, E-mail, Broj telefona i/ili faksa, lični identifikacijski broj (MB), Ostali podaci koje razmenite s nama, a želite da ostanu tajni.
    </p>
    <p>
      <strong>Vreme trajanja Politike privatnosti </strong>
    </p>
    <p>
      U trenutku dostavljanja Vaših podataka, Vi pristajete na kontakt s nama te nam time dajete za pravo obrađivati Vaše lične podatke skladno naznačenoj svrsi. Zaštita privatnosti vaših podataka je trajna.
    </p>
    <p>
      <strong>Sadržaj Politike privatnosti </strong>
    </p>
    <p>
      Vaše osobne podatke prikupljamo i obrađujemo u skladu s odredbama Opšte uredbe o zaštiti podataka, EC 2019/679.
      Prikupljene podatke ćemo čuvati na primeren način i osigurati njihovu poverljivost. Prikupljene podatke možemo
      prosledivati trećim osobama bez vašeg izricitog dopuštenja., pod uslovom da su treca lica fizička ili pravna lica
      koja podatke obrađuju u skladu sa uredbom o zaštiti podataka i poštuju načela privatnosti , a komunikacija u ovom
      smisluje regulisana ugovorom ili izjavom.
    </p>
    <p>
      Prikupljamo samo one lične podatke koji su nam dobrovoljno dostavljeni. Ne zahtievamo od vas da nam pošaljete te
      podatke kako bismo vam omogućili pristup na svoje stranice i ne tražimo da otkrijete više podataka od onog što je
      zaista potrebno za rad u nekoj aktivnosti na našim stranicama.
    </p>
    <p>
      Društvo Vam neće slati neželjenu poštu. Društvo ne odgovara za slučajnu grešku ili grešku zbog više sile ili drugih objektivnih okolnosti kojima se uzrokuje slučajno kršenje garantuje zaštite vaših podataka, ali garantuje i da će greška biti otklonjena, ako je to moguće, čim pre.
    </p>
    <p>
      Ne prodajemo, ne prenosimo i ne otkrivamo lične podatke koje prikupimo nikome izvan Društva bez Vaše dozvole,
      ukoliko to nije naznačeno ovom izjavom
    </p>
    <p>
      <strong>Tajnost podataka </strong>
    </p>
    <p>
      Želimo jasno reći da prilikom poseta ovim stranicama Vaši lični podaci ostaju tajni, osim ako ih ne želite dobrovoljno otkriti drugim stranama što je jasno definisano Vašom akcijom popunjavanjem predloženog polja za pristanak.
    </p>
    <p>
      <strong>Upotreba</strong>
    </p>
    <p>
      Vaši lični podaci koristiće se isključivo u svrhu portala i isti se mogu koristiti u nama bratskim , pridruženim
      kompanijama ili kompanijama sa kojima imamao ugovorene odnose ili se bave analizom podataka u naše ime i u korist
      unapređenja naših usluga i korisničke koristi.
    </p>
    <p>
      <strong>Kontrola </strong>
    </p>
    <p>
      Osoba ima pravo uvida u zbirku ličnih podataka, zahtevati pristup svojim ličnim podacima i menjati ih, pravo na popravak, zaborav, ograničenje obrade, prigovor i prenos podataka te u svakom trenutku sme otkazati odobrenje za uporabu ličnih podataka, zahtevati promenu podataka ili brisanje iz baze podataka.
    </p>
    <p>
      To možete uciniti tako da pošaljete zahtev našem službeniku za zaštitu podataka, pisanim putem
    </p>
    <p>
      <strong>Sigurnost podataka </strong>
    </p>
    <p>
      Radi sigurnosti podataka na našim portalima globalne mreže i kako bismo osigurali pristupačnost usluge svim korisnicima, ovaj računarski operater koristi softver koji prati posete na mreži te prepoznaje neovlašćene pokušaje otpreme ili izmene podataka, kao i one koji bi mogli prouzrokovati štetu na neki drugi način.
    </p>
    <p>
      Neovlašteni pokušaji korišcenja podataka na ovoj lokaciji strogo su zabranjeni.
    </p>
    <p>
      <strong>Statistika </strong>
    </p>
    <p>
      Naši korisnici globalne mreže koriste statisticki softver. Ti su programi standardno obeleženei kod svih internet korisnika i nisu karakteristicni samo za naše stranice. Takvi statisticki programi omogucuju nam svoje stranice prilagoditi kako bi bile što efikasnije i jednostavnije za naše posetitelje
      (utvrđivanje podataka koji najviše ili najmanje zanimaju naše korisnike,
      prilagodavanje stranica za pojedine internet korisnike, efikasnost i kvalitet strukture naše lokacije te posećenost naših stranica.)
    </p>
    <p>
      <strong>Upotreba kolačia (Cookies) </strong>
    </p>
    <p>
      kolačići su mali tekstualni fajlovi koji mogu koristiti veb lokacije kako bi se korisnicko iskustvo učinilo efikasnijim.<br> <br>
      Zakon navodi da na vaš uredaj možemo spremiti kolačiće ako su strogo neophodni za rad ove stranice. Za sve druge vrste kolačića potrebna nam je vaša dozvola.<br> <br>
      Ova stranica koristirazličite vrste kolačića. Neke kolačiće postavljaju usluge trećih lica koje se pojavljuju na našim stranicama.<br> <br>
      U bilo koje vrijeme možete promijeniti ili povući svoju saglasnost iz Deklaracije o kolačićima na našoj veb stranici.<br> <br>
      Saznajte više o tome ko smo, kako možete da nas kontaktirate i kako obrađujemo lične podatke u našoj Politici privatnosti.
    </p>
    <p><strong>Poruka elektronskom poštom </strong></p>
    <p>Kada nam šaljete elektronsku poštu (e-poštu) s ličnim podacima po kojima Vas je moguce identifikovati, bilo putem e-pošte s pitanjem ili komentarom, ili obrascem koji nam dostavljate elektronskom poštom, mi te podatke koristimo u svrhu ispunjenja Vaših zahteva.
    </p>
    <p><strong>Linkovanje </strong></p>
    <p>
      Činimo sve što je u našoj moći kako bismo osigurali da sva preusmjeravanja s naših internet stranica upućuju na
      internet stranice koje ne sadrže ilegalan i/ili štetan sadržaj. Međutim, stranice i adrese na mreži brzo se menjaju i ne možemo uvijek garantovati za sadržaj svake adrese na koju vas
      usmerimo.
    </p>
    <p>
      Ako imate bilo kakva pitanja ili nedoumice u vezi s našom Politikom privatnosti, ili u vezi sa svojim iskustvima s ovom internet adresom ili našim pridruženim adresama , molimo vas da nam se javite.
    </p>
    <p><strong>Promene i prestanak uslova korištenja</strong></p>
    <p>
      Društvo sa ogranićenom odgovornošću “Talentmarket d.o.o.“ zadržava pravo izmene ili prekida svih ili bilo kojeg dela ove internet lokacije i uslove korištenja u bilo kojem trenutku.
    </p>
    <p>
      Promene stupaju na snagu objavljivanjem na ovoj adresi ili kada su korisnici o njima obavešteni.
    </p>



    <!-- ----  -->
  </div>
</template>

<script>
export default {
  name: "PpSr"
}
</script>

<style scoped>

</style>