<template>
    <DefaultPageWrapper class="white">
      <div class="blue-grey--text pb-7 mb-5" style="border-bottom: 1px solid #607d8b;">
        <p class="mb-0">
          <span v-if="$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('employer-dashboard'))">{{ $t('links.home') | ucfirst}}</span>
          <span v-if="!$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('/'))">{{ $t('links.home') | ucfirst}}</span>
          <v-icon class="font18 mt-n1">mdi-chevron-right</v-icon>{{ $t('antidiscRegs') }}</p>
      </div>
      <div class="px-0 px-md-16 ma-0 ma-md-16">
        <div class=" text-h5 mb-4">{{ $t('antidiscRegs') }}</div>

        <AntiDiscSr v-if="$i18n.locale === 'sr'" />
        <AntiDiscEn v-if="$i18n.locale === 'en'" />

      </div>

    </DefaultPageWrapper>
</template>
<script>
    import {defineComponent} from '@vue/composition-api'
    import DefaultPageWrapper from "../../components/DefaultPageWrapper";
    import AntiDiscSr from "../../components/anti-disc/AntiDiscSr";
    import AntiDiscEn from "../../components/anti-disc/AntiDiscEn";

    export default defineComponent({
      components: {AntiDiscEn, AntiDiscSr, DefaultPageWrapper},
      setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;

            return {

            }
        }
    })
</script>

