<template>
  <div>
    <v-speed-dial
        v-if="!application"
        class="hidden-lg-and-up"
        style="position:fixed;"
        v-model="fab"
        :top="top"
        :bottom="bottom"
        :right="right"
        :left="left"
        :direction="direction"
        :open-on-hover="hover"
        :transition="transition"
    >
      <template v-slot:activator>
        <v-btn
            v-model="fab"
            color="blue darken-2"
            dark
            fab
        >
          <v-icon v-if="fab">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-gesture-tap
          </v-icon>
        </v-btn>
      </template>
      <v-btn
          icon
          v-show="selected.length"
          @click="deleteSelected"
          color="white"
          class="red elevation-2 mr-4 font-weight-bold px-2 mb-3"
      >
        <v-icon >mdi-trash-can-outline</v-icon>
      </v-btn>

      <v-btn
          icon
          color="white"
          class="primary elevation-2 mr-4 font-weight-bold px-2 mb-3"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn
          icon
          v-show="selected.length"
          @click="downloadSelected"
          color="white"
          class="primary elevation-2 mr-4 font-weight-bold px-2 mb-3"
      >
        <v-icon>mdi-file-download-outline</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-row>
      <v-col cols="12" :md="application ? '12' : '8'" order="2" order-lg="1">
        <v-row v-show="!application">
          <v-col cols="12">
            <v-card class="mb-3 px-2 elevation-0">
              <v-checkbox
                  style="background: transparent!important;"
                  v-model="selectMoreDocs"
                  class="mt-0 pt-0"
                  :label="$t('inputLabels.markMore')"
                  hide-details
              ></v-checkbox>
            </v-card>

          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" v-if="application">
            <v-col class="mb-4 grey lighten-4" >
              <v-icon class="mt-n2">mdi-information-variant</v-icon>
              {{$t('docsMsg')}}
              <br><br>
              <span class="font-weight-medium">{{$t('general.important') | ucfirst}}:</span> {{$t('docsMsg2')}}
            </v-col>
            <v-btn
                width="240"
                depressed
                :loading="uploading"
                color="primary"
                class="mr-4 font-weight-bold px-2 upldBtn mb-3"
            >
              <v-icon>mdi-plus</v-icon>
              {{$t('buttons.addNewDocument')}}
            </v-btn>
          </v-col>
        </v-row>

        <!-- CV -->
        <v-card
            outlined
            class="mb-3 elevation-0"
            v-if="allowCv"
        >

          <v-card-title class="font16 font-weight-medium pt-2 elevation-0">
            <div v-if="!application">Lako do posla CV</div>
            <v-checkbox
                v-if="application"
                @change="checkCv($event)"
                class="mt-n2"
                hide-details
                :input-value="$store.getters['candidate/jobApplication/ldpCvChecked']"
                label="Lako do posla CV"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-btn
                      :ripple="false"
                      plain
                      text
                      @click="downloadCv"
                  >
                    <v-icon>mdi-file-download-outline</v-icon>
                    {{ $t('general.download') | ucfirst}} CV
                  </v-btn>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>
                      <v-btn
                          :ripple="false"
                          plain
                          text
                          class="blue--text"
                          @click="editCv">
                        <v-icon class="blue--text pointer mt-n1">mdi-pencil</v-icon>
                        {{ $t('general.edit') }} CV
                      </v-btn>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-card-title>

          <v-card-subtitle>
            <div class="pa-3 rounded-lg blue lighten-5">
              <v-icon>mdi-information-variant</v-icon>
              {{$t('ldpCvNote')}}
            </div>
          </v-card-subtitle>
        </v-card>

        <!-- PROFILE DATA -->
        <v-card
            outlined
            class="mb-3 elevation-0"
            v-if="application"
        >
          <v-card-title class="font16 font-weight-medium  elevation-0 pt-0" style="line-height: 20px" >
            <v-checkbox
              disabled
                @change="profileDataChecked($event)"
                class="mt-0"
                hide-details
                :input-value="$store.getters['candidate/jobApplication/profileDataChecked']"
                :label="$t('inputLabels.profileData')"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    icon
                    v-bind="attrs"
                    v-on="on"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-btn
                      :ripple="false"
                      plain
                      text
                      @click="downloadProfileData"
                  >
                    <v-icon>mdi-file-download-outline</v-icon>
                    {{ $t('general.download') | ucfirst}}
                  </v-btn>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-card-title>

          <v-card-subtitle class="mx-4  mb-4 pa-3 rounded-lg blue lighten-5">
            <v-icon>mdi-information-variant</v-icon>
            <p class="d-inline" v-html="$t('docsProfileMsg')"></p>
            <p class="mb-0" v-html="$t('docsProfileMsg2')"></p>
          </v-card-subtitle>
        </v-card>

        <!-- REGULAR DOCS -->
        <v-card
            class="mb-3  elevation-0"
            v-for="doc in documents"
            :key="doc.file_id"
        >
          <v-card-title class="font16 font-weight-medium" style="line-height: 20px">
            <v-row>
              <v-col style="padding-top: 0px;margin-top: -6px;" cols="10" v-if="selectMoreDocs">
                <v-checkbox
                    :value="doc.selected"
                    @change="fileSelected(doc.file_id)"
                    class="mt-0"
                    :input-value="_.findIndex(selected, {'file_id': doc.file_id}) > -1"
                    hide-details
                    :label="doc.file_name"
                ></v-checkbox>
              </v-col>
              <v-col v-if="!selectMoreDocs" cols="10">{{ doc.file_name }}</v-col>
              <v-col cols="2" class="text-right">
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                    >
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list>



                    <v-list-item>
                      <v-btn
                          :ripple="false"
                          plain
                          text
                          @click="$store.dispatch('candidate/documents/download', doc)"
                      >
                        <v-icon>mdi-file-download-outline</v-icon>
                        {{ $t('general.download') | ucfirst }} {{$t('general.document')}}
                      </v-btn>
                    </v-list-item>
                    <v-list-item @click="$store.dispatch('candidate/documents/delete', doc.file_id)">
                      <v-btn
                          :ripple="false"
                          plain
                          text
                          class="red--text"
                          @click="$store.dispatch('candidate/documents/delete', doc.file_id)">
                        <v-icon class="red--text pointer mt-n1">mdi-delete-forever-outline</v-icon>
                        {{ $t('general.delete') +' '+$t('general.document') | ucfirst}}
                      </v-btn>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-subtitle>
            {{ doc.file_type }}
            <br>
            {{ doc.file_date }}
          </v-card-subtitle>
        </v-card>
      </v-col>

      <v-col cols="12" md="4" class="" v-if="!application">
        <v-card class="pa-4  elevation-0">
          <p class="text-center mb-3 mb-lg-10 font-weight-medium" >
            {{$t('manageYourDocs')}}
          </p>
          <v-btn
              dark
              width="100%"
              depressed
              v-show="selected.length"
              @click="downloadSelected"
              class="mr-4 px-2 mb-3 rounded-lg"
          >
            <v-icon>mdi-file-download-outline</v-icon>
            {{ $t('general.download') | ucfirst}} {{ $t('general.documentMaybePlural')}}
          </v-btn>
          <v-btn
              width="100%"
              depressed
              :loading="uploading"
              dark
              class="mr-4 px-2 upldBtn buttonBlue mb-3 rounded-lg"
          >
            <v-icon>mdi-plus</v-icon>
            {{ $t('buttons.addNewDocument')}}
          </v-btn>
          <v-btn
              dark
              width="100%"
              depressed
              v-show="selected.length"
              @click="deleteSelected"
              class="mr-4 px-2 rounded-lg"
              color="red"
          >
            <v-icon >mdi-trash-can-outline</v-icon>
            {{ $t('general.delete') | ucfirst}} {{ $t('general.documentMaybePlural')}}
          </v-btn>
        </v-card>
      </v-col>
    </v-row>

    <input
        type="file"
        style="display: none"
        class="upldInput"
        @change="upload"
    >
  </div>
</template>

<script>
import {defineComponent, computed, ref} from '@vue/composition-api'
import MessageCard from "@/components/common/cards/MessageCard";
import DefaultPageWrapper from "../DefaultPageWrapper";
export default defineComponent({
  props: {
    docs: Array,
    application: false
  },
  components: {
    DefaultPageWrapper,
    MessageCard
  },
  setup(props, ctx) {
    //define store
    const app = ctx.root;
    const store = app.$store;
    //handle selection
    const documents = computed(() => {
      return store.getters['candidate/documents/getReversed']
    });
    const selected = computed(() => {
      return store.getters['candidate/documents/getSelectedDocumentIds']
      return store.state.candidate.documents.documents.filter(doc => {
        if (doc.selected) {
          return doc
        }
      })
    });
    const cvReady = computed(() => {
      return store.getters['candidate/profile/cvReady']
    });

    const profileDataChecked = (evt) => {
      store.dispatch('candidate/jobApplication/checkProfileData', evt)
    };
    const fileSelected = (documentId) => {
      store.dispatch('candidate/documents/select', documentId)
    };

    // handle delete
    const deleteSelected = () => {
      store.dispatch('confirmationDialog/deleteDocumentConfirmation', {
        confirmAction: 'candidate/documents/delete',
        confirmPayload: props.docs
      })
    };

    const uploading = ref(false);

    //handle uplad
    const upload = async (event) => {
      let formdata = new FormData();
      formdata.append('user_document', event.target.files[0], event.target.files[0].name);
      uploading.value = true;
      await store.dispatch('candidate/documents/upload', formdata)
      uploading.value = false;
    };

    //handle download
    const downloadSelected = () => store.dispatch('candidate/documents/downloadMultiple')

    const selectMoreDocs = ref(false);
    selectMoreDocs.value = props.application;


    const allowCv = computed(() => {
      return store.getters['candidate/profile/getCvScore'] > 80
    });

    const checkCv = (evt) => {
      store.dispatch('candidate/jobApplication/checkCv', evt)
    };
    const downloadCv = () => store.dispatch('candidate/documents/downloadCv')
    const editCv = () => window.location = 'https://www.lakodoposla.com/kandidati/index.php';
    const downloadProfileData = () => store.dispatch('candidate/documents/downloadProfileData')

    return {
      selectMoreDocs,
      selected, fileSelected, deleteSelected, upload, downloadSelected, cvReady, profileDataChecked,
      documents,
      uploading,
      allowCv,
      checkCv,
      downloadCv,
      editCv,
      downloadProfileData
    }
  },
  mounted() {
    this.$store.dispatch('candidate/jobApplication/checkProfileData', true);
    let upldBtn = document.getElementsByClassName('upldBtn')[0];
    upldBtn.addEventListener('click', function (evt) {
      let upldInput = document.getElementsByClassName('upldInput')[0];
      upldInput.click()
    });
  },
  // beforeRouteLeave() {
  //   this.$store.dispatch('candidate/jobApplication/checkProfileData', false)
  // },
  data: () => ({
    direction: 'top',
    fab: false,
    fling: false,
    hover: false,
    tabs: null,
    top: false,
    right: false,
    bottom: true,
    left: true,
    transition: 'slide-y-reverse-transition',
  }),
})
</script>

<style scoped>
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}

.theme--light .v-input__slot {
  background: rgba(255, 255, 255, 0) !important;
}
</style>
