<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          v-bind="attrs"
          v-on="on"
          class=" rounded-xl py-5"
          depressed
          dark
          color="#274CA2"
      >
        {{$t('buttons.orderPackage').toUpperCase()}}
        <v-icon class="ml-2">mdi-arrow-top-right</v-icon>
      </v-btn>
    </template>
    <v-card class="pa-5">
      <div class="float-right">
        <v-btn icon @click="dialog = false"><v-icon>mdi-close</v-icon></v-btn>
      </div>
      <ContactOurAgents :contacts="contacts" />
      <v-divider></v-divider>
    </v-card>
  </v-dialog>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import ContactOurAgents from "../ContactOurAgents";

export default defineComponent({
  name: "ContactsDialog",
  components: {ContactOurAgents},
  props: {
    details: {
      default:'',
      type: String
    }
  },
  setup(props, ctx) {
    let dialog = ref(false);
    const contacts = computed(() => {
      return  ctx.root.$store.state.common.generalData.contacts;
    });
    return {
      contacts,
      dialog
    }
  },
  async fetch(context) {
    context.$store.dispatch('common/setGeneralData');
  }

})
</script>

<style scoped>

</style>