<template>
  <v-dialog
      v-model="dialog"
      width="900"

  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          v-bind="attrs"
          v-on="on"
          class="pl-0"
          plain
          :ripple="false"
          text
          color="#274CA2"
      >
        {{$t('buttons.buyPackageAndSave')}}
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="text-h5 ">
        {{ title }} <small class="ml-4 grey--text">|</small><small class="ml-4 grey--text">{{days}} {{ $t('general.days') | ucfirst }}</small>
        <v-spacer></v-spacer>
        <v-btn icon @click="dialog = false"><v-icon>mdi-close</v-icon></v-btn>
      </v-card-title>


      <div class="pa-5">
        <v-row
            v-for="postingPackage in postingPackages"
            v-if="code == postingPackage.posting_code"

        >
          <v-col
              v-for="discount in postingPackage.discounts"
              cosl="12" md="4">
            <v-card color="#F7F8F9" class="elevation-0 pa-7 rounded-xl">
              <div class="text-center">
                <div class="font14 font-weight-medium">
                  {{ $t('forOneAd').toUpperCase()}}
                </div>
                <h2 class="font-weight-medium primary--text">
                  <span v-if="locale == 'sr'">{{discount.price_per_ad}} RSD</span>
                  <span v-if="locale == 'en'">{{discount.price_per_ad_eur}} EUR</span>
                </h2>
                <div class="grey--text font-weight-bold">
                  {{$t('general.saveMoney') | ucfirst}} {{discount.discount_per_ad}}
                </div>

                <h2 class="mt-8 font-weight-medium">
                  {{discount.min_ads}}-{{discount.max_ads}} {{$t('general.adsPlural1')}}
                </h2>
                <ContactsDialog />
              </div>

            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card-text>
              <div v-html="description"></div>
            </v-card-text>
          </v-col>
        </v-row>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import ContactOurAgents from "../ContactOurAgents";
import ContactsDialog from "./ContactsDialog";

export default defineComponent({
  name: "PackageDetails",
  components: {ContactsDialog, ContactOurAgents},
  props: {
    details: {
      default:'',
      type: String
    },
    title: {
      default:'',
      type: String
    },
    days: {
      default:'',
      type: String
    },
    code: {
      default:'',
      type: String
    },
  },
  setup(props, ctx) {
    let dialog = ref(false);
    let locale = computed(() => ctx.root.$i18n.locale)
    let postingPackages = computed(() => ctx.root.$store.state.common.generalData.posting_packages)

    let priceDetails = computed(() => ctx.root.$store.state.common.generalData.posting_description)
    let description = computed(() => {
      let details = priceDetails.value.filter(detail => {
        let code = props.code.substring(0, props.code.length-2)
        return detail.code == code;
      })
      return details[0] ? details[0].description[locale.value].replace(/\n/g, "<br />") : '';
    })

    return {
      locale,
      dialog,
      postingPackages,
      description
    }
  }

})
</script>

<style scoped>

</style>