<template>
  <v-dialog
      v-model="dialog"
      width="800"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          v-bind="attrs"
          v-on="on"
          class="pl-0"
          plain
          :ripple="false"
          text
          color="#274CA2"
      >
        {{$t('buttons.moreAboutAd').toUpperCase()}}
        <v-icon class="ml-2">mdi-arrow-top-right</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="text-h5 ">
        {{ title }} <small class="ml-4 grey--text">|</small><small class="ml-4 grey--text">{{days}} {{ $t('general.days') | ucfirst }}</small>
        <v-spacer></v-spacer>
        <v-btn icon @click="dialog = false"><v-icon>mdi-close</v-icon></v-btn>
      </v-card-title>

      <v-card-text>
        <div v-html="description"></div>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <PostJobButton
            :icon="false"
            classes="rounded-xl buttonBlue px-5"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import PostJobButton from "../PostJobButton";

export default defineComponent({
  name: "PriceDetails",
  components: {PostJobButton},
  props: {
    title: {
      default:'',
      type: String
    },
    days: {
      default:'',
      type: String
    },
    code: {
      default:'',
      type: String
    },
  },
  setup(props, ctx) {
    let dialog = ref(false);
    let priceDetails = computed(() => ctx.root.$store.state.common.generalData.posting_description)
    let locale = computed(() => ctx.root.$i18n.locale)
    let description = computed(() => {
      let details = priceDetails.value.filter(detail => {
        let code = props.code.substring(0, props.code.length-2)
        return detail.code == code;
      })
      return details[0] ? details[0].description[locale.value].replace(/\n/g, "<br />") : '';
    })


    return {
      locale,
      description,
      dialog
    }
  }

})
</script>

<style scoped>

</style>