<template>
  <DefaultPageWrapper style="min-height: 80vh">
    <div style="border-bottom: 1px solid #ccc" class="mt-5">
      <v-row justify="center" align="center" class="mx-2 my-5" >
        <v-col cols="12" md="10">
          <h2 class="mb-1">{{ $t('general.hello') | ucfirst}} {{companyName}}!</h2>
          <p>{{ $t('general.empWlcmMsg') }}</p>
        </v-col>
        <v-col cols="12" md="2" class="text-right">
          <PostJobButton :classes="'buttonBlue rounded-lg'"  />
        </v-col>
      </v-row>
    </div>
<!--    <h1 class="text-center my-14">{{ $t('general.findBestCandidate') | ucfirst}}</h1>-->
<!--    <v-row justify="center" align="center" >-->
<!--      <v-col cols="11" md="4">-->
<!--        <v-card outlined class="pa-11" style="min-height:200px; max-height: 200px; overflow: hidden ">-->
<!--          <h3 class="mb-1 text-center mb-2">{{$t('buttons.createJob')}}</h3>-->
<!--          <p class="text-center">{{ $t('general.empPostJobMsg') }}</p>-->
<!--        </v-card>-->
<!--      </v-col>-->
<!--      <v-col cols="11" md="4">-->
<!--        <v-card outlined class="pa-11" style="min-height:200px; max-height: 200px; overflow: hidden ">-->
<!--          <h3 class="mb-1 text-center mb-2">{{ $t('general.talkToCandidates') | ucfirst}}</h3>-->
<!--          <p class="text-center">{{ $t('general.talkToCandidatesMsg') }}</p>-->
<!--        </v-card>-->
<!--      </v-col>-->
<!--      <v-col cols="11" md="4">-->
<!--        <v-card outlined class="pa-11" style="min-height:200px; max-height: 200px; overflow: hidden ">-->
<!--          <h3 class="mb-1 text-center mb-2">Sortiraj kandidate</h3>-->
<!--          <p class="text-center">Postavite oglas i upravljate pristiglim prijavama...</p>-->
<!--        </v-card>-->
<!--      </v-col>-->
<!--    </v-row>-->
  </DefaultPageWrapper>
</template>
<script>
import { defineComponent, ref, computed } from '@vue/composition-api'
import JobDetails from "../../../components/employer/cards/JobDetails";
import JobDetailsHeadings from "../../../components/employer/cards/JobDetailsHeadings";
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";
import PostJobButton from "../../../components/PostJobButton";
import SetPromoImage from "../../../components/employer/newJob/SetPromoImage";

export default defineComponent({
  middleware: 'employer_auth',
    components:{
      PostJobButton,
      DefaultPageWrapper,
        JobDetails,
        JobDetailsHeadings
    },
  setup(props, ctx) {

      const companyName = ctx.root.$store.state.employer.profile.data.company;
      let activeJobs = ctx.root.$store.getters['employer/jobs/getActiveJobs'];
      // let expiredJobs = ctx.root.$store.getters['employer/jobs/getExpiredPaginated'];

      let expiredJobs = computed(() => {
          let jobs = ctx.root.$store.getters['employer/jobs/getExpiredPaginated'];
          let jobsToReturn = [];
          for (let i = 0; i < jobs.length; i++) {
              if (jobsToReturn.length === 3) break;
              jobsToReturn.push(jobs[i]);
          }

          return jobsToReturn;
      });

      let enableSeeAllExpired = computed(() => {
          return ctx.root.$store.getters['employer/jobs/getExpiredPaginated'] > 3;
      });

      return {companyName, activeJobs, expiredJobs, enableSeeAllExpired}
  },
    async asyncData (context) {
        const gd = await context.store.dispatch('common/setGeneralData');
        const data = await context.store.dispatch('employer/jobs/setJobs');
    }

})
</script>

