<template>
    <DefaultPageWrapper class="white">
      <div class="blue-grey--text pb-7 mb-5" style="border-bottom: 1px solid #607d8b;">
        <p class="mb-0">
          <span v-if="$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('employer-dashboard'))">{{ $t('links.home') | ucfirst}}</span>
          <span v-if="!$store.getters['employer/auth/isAuthenticated']" class="pointer" @click="$router.push(localePath('/'))">{{ $t('links.home') | ucfirst}}</span>
          <v-icon class="font18 mt-n1">mdi-chevron-right</v-icon> {{ $t('links.tos') | ucfirst}}</p>
      </div>
      <div class="px-0 px-md-16 ma-0 ma-md-16">
        <div class=" text-h5 mb-4">{{ $t('links.tos') | ucfirst}}</div>

        <TosSr v-if="$i18n.locale === 'sr'" />
        <TosEn v-if="$i18n.locale === 'en'" />

      </div>

    </DefaultPageWrapper>
</template>
<script>
    import {defineComponent} from '@vue/composition-api'
    import DefaultPageWrapper from "../../components/DefaultPageWrapper";
    import TosSr from "../../components/terms-of-service/TosSr";
    import TosEn from "../../components/terms-of-service/TosEn";
    import multiselectFix from "../../composables/multiselect_fix";

    export default defineComponent({
      components: {TosEn, TosSr, DefaultPageWrapper},
      setup(props, ctx) {
            //define store
            const app = ctx.root;
            const store = app.$store;
            let {scrollFix} = multiselectFix()
            return {
              scrollFix
            }
        }
    })
</script>

