<template>
  <div>
    <MobileContentDetails  :app="selectedApp" />
    <EmployerPageLayout :hideMobileMenu="!showAppsForJob">
      <template v-slot:menu>
        <SidebarMenu
            @showJobs="shownJobs = $event, showAppsForJob = null"
            :shownJobs="shownJobs"
            @shownJobType="handleShownJobType($event)"
            :shownJobTypeProp = shownJobType
            :jobDetails="showAppsForJob"
            @hideAppsForJob="showAppsForJob = null, selectedApp = null"
        />
        <br>
        <PostJobButton
            classes="buttonBlue rounded-lg"
        />
      </template>

      <template v-slot:submenu >
        <v-btn
            class="pl-0"
            text
            @click="showAppsForJob = null"
        >
          <v-icon>mdi-chevron-left</v-icon>
          {{$t('buttons.backToAllJobs')}}
        </v-btn>
      </template>

      <template v-if="!showAppsForJob" v-slot:horizontal-mobile-menu>
          <v-chip @click="shownJobs = 'active'" class="mr-2" outlined :color="shownJobs == 'active' ? 'primary' : ''">{{ $t('general.jobStatus.active') | ucfirst}}</v-chip>
          <v-chip @click="shownJobs = 'expired'" class="mr-2" outlined :color="shownJobs == 'expired' ? 'primary' : ''">{{ $t('general.jobStatus.expired') | ucfirst}}</v-chip>
          <v-chip @click="shownJobs = 'pending'" outlined :color="shownJobs == 'pending' ? 'primary' : ''">{{ $t('general.jobStatus.pending') | ucfirst}}</v-chip>
      </template>

      <template v-slot:content>
        <div id="jobApplications" v-if="showAppsForJob">
          <JobApplications @showAppDetails="clog($event), selectedApp = $event" :jobDetails="showAppsForJob" />
        </div>

        <div id="listOfJobs" v-show="!showAppsForJob">
          <div
              class="activeJobs"
              v-show="shownJobs === 'active'"
          >
            <Job
                :is-active="true"
                v-for="activeJob in activeJobs"
                :job="activeJob"
                v-show="!shownJobType.length || shownJobType.indexOf(activeJob.product_code) > -1"
                @showAppsForJob="showApps(activeJob)"
                :key="activeJob.id"
            />
            <NoJobs
                :text="$t('general.empNoActiveJobsMsg')"
                :subtext="$t('createAdByClicking')+' '+$t('buttons.createJob')"
                v-if="!activeJobs.length"
            />
          </div>
          <div
              class="expiredJobs"
              v-show="shownJobs === 'expired'"
          >
            <ExpiredJobsList @showAppsForJob="showApps($event)" />
<!--            <Job-->
<!--                v-for="expiredJob in expiredJobs"-->
<!--                :key="expiredJob.id"-->
<!--                :job="expiredJob"-->
<!--                @showAppsForJob="showApps(expiredJob)"-->
<!--                v-show="!shownJobType.length || shownJobType.indexOf(expiredJob.product_code) > -1"-->

<!--            />-->
            <NoJobs
                :text="$t('general.empNoExpiredJobsMsg')"
                :subtext="$t('createAdByClicking')+' '+$t('buttons.createJob')"
                v-if="!expiredJobs.length"
            />
          </div>
          <div
              class="pendingJobs"
              v-show="shownJobs === 'pending'"
          >
            <Job
                :isPending="true"
                v-for="pendingJob in pendingJobs"
                :job="pendingJob"
                v-show="!shownJobType.length || shownJobType.indexOf(activeJob.product_code) > -1"
                @showAppsForJob="showApps(pendingJob)"
                :key="pendingJob.id"
            />
            <NoJobs
                :text="$t('general.empNoPendingJobsMsg')"
                :subtext="$t('createAdByClicking')+' '+$t('buttons.createJob')"
                v-if="!pendingJobs.length"
            />
          </div>
        </div>
      </template>

      <template v-slot:contentDetails v-if="selectedApp && showAppsForJob">
        <ApplicationDetails :app="selectedApp"/>
      </template>
    </EmployerPageLayout>
  </div>
</template>
<script>
import {defineComponent, ref, computed} from '@vue/composition-api'
import JobDetails from "../../../components/employer/cards/JobDetails";
import JobDetailsHeadings from "../../../components/employer/cards/JobDetailsHeadings";
import NoJobs from "../../../components/employer/cards/NoJobs";
import PendingJobCard from "../../../components/employer/cards/PendingJobCard";
import ExpiredJobCard from "../../../components/employer/cards/ExpiredJobCard";
import ActiveJobCard from "../../../components/employer/cards/ActiveJobCard";
import EmployerPageLayout from "../../../components/EmployerPageLayout";
import Job from "../../../components/employer/jobs/Job";
import SidebarMenu from "../../../components/employer/jobs/SidebarMenu";
import JobApplications from "../../../components/employer/jobs/jobApplications";
import ApplicationDetails from "../../../components/employer/jobs/ApplicationDetails";
import ExpiredJobsList from "../../../components/employer/ExpiredJobsList";
import MobileContentDetails from "../../../components/employer/MoblieContentDetails";
import PostJobButton from "../../../components/PostJobButton";

export default defineComponent({
  middleware: 'employer_auth',
  components: {
    PostJobButton,
    MobileContentDetails,
    ExpiredJobsList,
    JobApplications,
    SidebarMenu,
    Job,
    EmployerPageLayout,
    JobDetails,
    JobDetailsHeadings,
    NoJobs,
    PendingJobCard,
    ExpiredJobCard,
    ActiveJobCard,
    ApplicationDetails,
  },
  setup(props, ctx) {
    let allActiveJobs = ctx.root.$store.getters['employer/jobs/getActiveJobs'];

    let activeJobs = allActiveJobs.filter(job => {
      return job.payment_verified && job.start_date
    });

    let pendingJobs = allActiveJobs.filter(job => {
      return !job.payment_verified && !job.start_date
    });

    pendingJobs = ctx.root.$_.orderBy(pendingJobs, ['id'], ['desc'])
    //
    // pendingJobs.value = .orderBy(users, ['employee',
    //   'salary'], ['asc', 'desc'])

    const activeJobsForDisplay = activeJobs.filter(job => {
      return job.payment_verified && job.start_date
    });

    let expiredJobs = computed(() => {
      return ctx.root.$store.getters['employer/jobs/getExpiredPaginated'];
    });

    const expiredPrev = () => ctx.root.$store.dispatch('employer/jobs/setExpPrevPage');
    const expiredNext = () => ctx.root.$store.dispatch('employer/jobs/setExpNextPage');

    const allowNext = computed(() => ctx.root.$store.getters['employer/jobs/getExpiredAllowNext']);
    const allowPrev = computed(() => ctx.root.$store.getters['employer/jobs/getExpiredAllowPrev']);

    const regions = computed(() => {
      return ctx.root.$store.state.common.generalData.regions
    });

    const recreateJob = (expiredJob) => {
      ctx.root.$store.dispatch('employer/newJob/recreateJob', expiredJob)
    }

    const shownJobs = ref('active');
    if (ctx.root.$route.query.type && ['active', 'expired', 'pending'].indexOf(ctx.root.$route.query.type) > -1) {
      shownJobs.value = ctx.root.$route.query.type;
    }

    const shownJobType = ref([]);


    const handleShownJobType = (evt) => {
      if (shownJobType.value.indexOf(evt) > -1) {
        return shownJobType.value = shownJobType.value.filter(product_code => {
          return product_code !== evt
        })
      } else {
        shownJobType.value.push(evt)
      }
    }

    const showAppsForJob = ref(null)
    const selectedApp = ref(null)

    const showApps = (job) => {
      showAppsForJob.value = job;
      ctx.root.$store.dispatch('employer/applications/setQuestionnaireForCurrentJob', job.id)
      window.scrollTo({ top: 0, behavior: 'smooth' })
    }


    let clog = (event) => {}

    return {
      clog,
      activeJobs,
      expiredJobs,
      regions,
      expiredPrev,
      expiredNext,
      allowNext,
      allowPrev,
      pendingJobs,
      activeJobsForDisplay,
      recreateJob,
      shownJobs,
      shownJobType,
      handleShownJobType,
      showAppsForJob,
      selectedApp,
      showApps
    }
  },
  async asyncData(context) {
    const data = await context.store.dispatch('employer/jobs/setJobs');
    await context.store.dispatch('common/setGeneralData');

  },

  data() {
    return {
      tab: null
    }
  },
  
  created() {
    if (this.$route.params.tab) {
      this.tab = this.$route.params.tab
    } else {
      this.tab = this.$t('general.jobStatus.active');
    }
  },
  methods: {
    getCityNames(allRegions, postRegions) {
      let cities = [];
      allRegions.map(region => {
        if (postRegions.indexOf(region.id) > -1) {
          cities.push(region.name)
        }
      })
      return cities.join(', ');
    }
  }

})
</script>

<style>
.sidebar {
  width: 20%;
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  background: #ffff;
}
.wrap {
  margin-top: 50px;
  display: flex;
}
.middle {
  width: 40%;
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  background: #ffff;
}
</style>

