<template>
  <DefaultPageWrapper mt="mt-0 mt-md-16 pt-5">
    <v-stepper
        alt-labels
        v-model="currentStep"
    >
      <v-stepper-header class="hidden-sm-and-down">
        <v-stepper-step
            step="1"
            @click="enableStep('1')"
            class="enabledStep"
        >
          {{ $t('inputLabels.jobType') }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
            step="2"
            @click="enableStep('2')"
            class="enabledStep"
        >
          {{ $t('general.generalData') | ucfirst }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
            step="3"
            @click="enableStep('3')"
            class="enabledStep"
        >
          {{ $t('general.adText') | ucfirst }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
            step="4"
            @click="enableStep('4')"
            class="enabledStep"
        >
          {{ $t('general.questionnaire') | ucfirst }} ({{ $t('validation.notRequired') }})
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
            step="5"
            @click="enableStep('5')"
            class="enabledStep"
        >
          {{ $t('general.advertiserData') | ucfirst }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
            step="6"
            @click="enableStep('6')"
            class="enabledStep"
        >
          {{ $t('general.confirmation') | ucfirst }}
        </v-stepper-step>


      </v-stepper-header>

      <v-stepper-items>
        <div class="hidden-md-and-up">
          <p
              v-if="currentStep==1"
              class="text-h5 mt-2"
          > {{ $t('inputLabels.jobType') | ucfirst }}
          </p>
          <p
              v-if="currentStep==2"
              class="text-h5 mt-2"
          >{{ $t('general.generalData') | ucfirst }}
          </p>
          <p
              v-if="currentStep==3"
              class="text-h5 mt-2"
          >{{ $t('general.adText') | ucfirst }}
          </p>
          <p
              v-if="currentStep==4"
              class="text-h5 mt-2"
          >{{ $t('general.questionnaire') | ucfirst }} ({{ $t('validation.notRequired') }})
          </p>
          <p
              v-if="currentStep==5"
              class="text-h5 mt-2"
          >{{ $t('general.advertiserData') | ucfirst }}
          </p>
          <p
              v-if="currentStep==6"
              class="text-h5 mt-2"
          >{{ $t('general.confirmation') | ucfirst }}
          </p>
        </div>
        <v-stepper-content
            step="1"
            class="pa-2 pa-md-5"
        >
          <v-row
              justify="center"
              align="center"
              class="stepperContent"
          >
            <v-col
                cols="12"
                lg="7"
                class="pa-5 "
            >
              <JobPriceList
                  @selectChange="formInput($event, 'product_code', 1), setExpireDateRange($event)"
                  :error="formErrors.product_code"
                  :values="preselected.product_code"
              />
            </v-col>
            <v-col
                cols="12"
                class="text-center"
            >
              <StepperButtons
                  :disablePrev="true"
                  @stepperBtnClick="goToNextStep($event, 1)"
              />
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content
            step="2"
            class="pa-2 pa-md-5"
        >
          <p
              class="text-center red--text font14"
              v-if="showStep2Err"
          >{{ $t('fillRequired') }}
          </p>
          <v-row
              justify="center"
              align="center"
              class="stepperContent"
          >
            <v-col
                cols="12"
                lg="7"
                class="pa-5 "
            >
              <!-- TITLE -->

              <label>{{ $t('inputLabels.jobName') }}</label>

              <v-text-field
                  @input="formInput($event, 'title', 2)"
                  hide-details="auto"
                  outlined
                  :value="preselected.title"
                  :placeholder="$t('inputLabels.enterPosition')"
                  class="mb-4"
                  required
                  :error="formErrors.title"
              ></v-text-field>

              <!-- CATEGORY -->
              <MultiSelect
                  :label="$t('general.categories')"
                  :values="preselected.job_categories"
                  :items="generalData['categories']"
                  :restrictSelection="3"
                  :error="formErrors.job_categories"
                  @selectChange="formInput($event, 'job_categories', 2)"
              />

              <!-- REGION -->
              <MultiSelect
                  :label="$t('general.regions')"
                  :items="generalData['regions']"
                  :values="preselected.regions"
                  :error="formErrors.regions"
                  @selectChange="formInput($event, 'regions', 2)"
                  :selectAll="true"
              />

              <!-- LANGUAGE -->
              <MultiSelect
                  :label="$t('inputLabels.jobLanguage')"
                  :items="jobLanguages"
                  :values="preselected.language_id"
                  :error="formErrors.language_id"
                  :multiple="false"
                  @selectChange="formInput($event, 'language_id', 2)"
              />

              <!-- CONTRACT TYPE -->
              <MultiSelect
                  :label="$t('inputLabels.jobContractType')"
                  :items="generalData['contract_types']"
                  :itemText="'contract_type'"
                  :values="preselected.contract_type_id"
                  :itemValue="'id'"
                  :error="formErrors.contract_type_id"
                  :multiple="false"
                  @selectChange="formInput($event, 'contract_type_id', 2)"
              />

              <!-- CAREER LVL -->
              <MultiSelect
                  :label="$t('inputLabels.jobCareerLevel')"
                  :items="generalData['career_levels']"
                  :itemText="'career_level'"
                  :itemValue="'code'"
                  :values="preselected.career_levels"
                  :error="formErrors.career_levels"
                  @selectChange="formInput($event, 'career_levels', 2)"
              />
              <!-- EDU LVL -->
              <v-row>
                <v-col
                    cols="12"
                    md="6"
                >
                  <label>{{ $t('inputLabels.jobMinEducation') }}</label>
                  <v-select
                      hide-details
                      v-model="minEduLevel"
                      @change="formInput($event, 'min_education', 2)"
                      :items="eduLvlMin"
                      :multiple="false"
                      outlined
                      :error="false"
                  >
                    <template v-slot:selection="{ item, index }">
                      <v-chip>
                        <span>{{ item.text }}</span>
                      </v-chip>
                    </template>
                  </v-select>
                </v-col>
                <v-col
                    cols="12"
                    md="6"
                >
                  <label>{{ $t('inputLabels.jobMaxEducation') }}</label>
                  <v-select
                      v-model="maxEduLevel"
                      @change="formInput($event, 'max_education', 2)"
                      :items="eduLvlMax"
                      :multiple="false"
                      outlined
                      :error="false"
                  >
                    <template v-slot:selection="{ item, index }">
                      <v-chip>
                        <span>{{ item.text }}</span>
                      </v-chip>
                    </template>
                  </v-select>
                </v-col>
              </v-row>

              <!-- DATEPICKER -->
              <div>
                <v-menu
                    ref="menu1"
                    v-model="datepickerMenu"
                    :close-on-content-click="true"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <label class="ml-8">{{ $t('inputLabels.jobExpirationTime') }}</label>
                    <v-text-field
                        outlined
                        :value="currentDateValue"
                        persistent-hint
                        :placeholder="$t('inputLabels.choose') +' '+ $t('inputLabels.jobExpirationTime')"
                        :error="formErrors.expires"
                        prepend-icon="mdi-calendar"
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                      v-model="picker"
                      no-title
                      :min="minExpDate"
                      :max="maxExpDate"
                      @change="checkForm(3)"
                      @input="datepickerMenu = false"
                  ></v-date-picker>
                </v-menu>
              </div>

              <!-- APPS ON EMAIL -->
              <v-divider></v-divider>
              <br>
              <v-row>
                <v-col
                    cols="12"
                    class="px-6 radio pb-0"
                >
                  <label>{{ $t('inputLabels.applicationNotifications') }}</label>
                  <v-radio-group
                      v-model="toEmailOption"
                      row
                  >
                    <v-radio
                        :label="$t('inputLabels.chooseFromList')"
                        value="select"
                    ></v-radio>
                    <v-radio
                        :label="$t('inputLabels.enterManually')"
                        value="input"
                    ></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col
                    cols="12"
                    class="py-0 pb-md-4"
                >
                  <div v-if="toEmailOption == 'select'">
                    <label> {{ $t('inputLabels.choose') + ' ' + $t('inputLabels.email') }}</label>
                    <MultiSelect
                        :items="employerContacts"
                        :error="formErrors.to_email"
                        :itemText="'email'"
                        :itemValue="'email'"
                        :values="preselected.to_email"
                        :multiple="false"
                        @selectChange="formInput($event, 'to_email', 4)"
                    />
                  </div>

                  <div v-if="toEmailOption == 'input'">
                    <label>{{ $t('inputLabels.enter') + ' ' + $t('inputLabels.email') }}</label>
                    <v-text-field
                        @input="formInput($event, 'to_email', 4)"
                        required
                        outlined
                        :error="formErrors.to_email"
                    ></v-text-field>
                  </div>
                </v-col>

                <v-col
                    v-if="!isShortAd"
                    cols="12"
                    class="py-0 pb-md-4"
                >
                  <client-only>
                    <NewJobUploadFile/>
                  </client-only>
                </v-col>

              </v-row>
            </v-col>
            <v-col
                cols="12"
                class="text-center"
            >
              <StepperButtons @stepperBtnClick="goToNextStep($event, 2)"/>
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content
            step="3"
            class="pa-2 pa-md-5"
        >
          <v-row
              justify="center"
              align="center"
              class="stepperContent"
          >
            <v-col
                cols="12"
                lg="7"
                class="mb-10 mt-3 pa-5"
            >
              <p class="hidden-sm-and-down">{{ $t('inputLabels.enter') }} {{ $t('general.adText') }}</p>
              <small v-if="isShortAd"> ({{ $t('max180Char') }}) </small>
              <textarea
                  class="smallTextMsg"
                  v-if="isShortAd"
                  @input="smallTextInput"
              >{{message}}</textarea>
              <br>
              <br>
              <span
                  v-if="isShortAd"
                  class="counter grey lighten-2 pa-3"
              >{{ counter }}</span>
              <client-only>
                <Editor
                    :value="message"
                    v-if="!isShortAd"
                    @input="formInput($event, 'message', 3)"
                />
              </client-only>
            </v-col>
            <v-col
                cols="12"
                class="text-center"
            >
              <StepperButtons @stepperBtnClick="goToNextStep($event, 3)"/>
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content
            step="4"
            class="pa-2 pa-md-5">
          <v-row
              justify="center"
              align="center"
              class="stepperContent"
          >
            <v-col
                cols="12"
                lg="7"
                class="mb-10"
            >
              <div v-if="!isShortAd">
                <ChosenQuestions/>
                <ChoseQuestionsDialog @choseQuestionsDialogClosed="scrollPageTo(0)"/>
              </div>

              <div v-if="isShortAd">
                <v-card
                    class="pa-5"
                >
                  {{ $t('adNoSupportQuestionnaire') }}.
                </v-card>
              </div>

            </v-col>
            <v-col
                cols="12"
                class="text-center"
            >
              <StepperButtons @stepperBtnClick="goToNextStep($event, 4)"/>
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content step="5" class="pa-2 pa-md-5">
          <v-row
              justify="center"
              align="center"
              class="stepperContent"
          >
            <v-col
                md="7"
                class="mb-10"
            >
              <JobPublisherForm :formErrors="formErrors.jobPublisher"/>
            </v-col>
            <v-col
                cols="12"
                class="text-center"
            >
              <StepperButtons @stepperBtnClick="goToNextStep($event, 5)"/>
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content step="6" class="pa-2 pa-md-5">
          <v-row
              justify="center"
              align="start"
              class="stepperContent"
          >
            <v-col
                cols="12"
                lg="8"
                class="mb-10"
            >
              <NewJobOverview
                  :isShortAd="isShortAd"
                  @enableStep="enableStep($event)"
                  :newJobData="newJobData"
              />
            </v-col>
            <v-col
                cols="12"
                lg="4"
            >
              <AddPreview  v-if="!isShortAd" class="hidden-md-and-down"/>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                cols="12"
                class="text-center"
            >
              <StepperButtons
                  :enablePublishJob="true"
                  @publishJobPost="publishJobPost"
                  :allow-next="false"
                  @stepperBtnClick="goToNextStep($event, 5)"
              />
            </v-col>
          </v-row>
          <PreviewFloatingActionButton  v-if="!isShortAd" class="hidden-md-and-up"/>

        </v-stepper-content>

      </v-stepper-items>
    </v-stepper>
  </DefaultPageWrapper>
</template>
<script>
import {defineComponent, ref, computed, watch} from '@vue/composition-api'
import MultiSelect from "../../../components/MultiSelect";
import StepperButtons from "../../../components/employer/buttons/StepperButtons";
import Questionnaire from "../../../components/employer/questionnaire/QuestionnaireList";
import ChosenQuestions from "../../../components/employer/questionnaire/ChosenQuestions";
import ChoseQuestionsDialog from "../../../components/employer/dialogs/ChoseQuestionsDialog";
import NewJobOverview from "../../../components/employer/NewJobOverview";
import JobPublisherForm from "../../../components/employer/forms/JobPublisher";
import Editor from "../../../components/employer/Editor";
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";
import NewJobUploadFile from "../../../components/employer/NewJobUploadFile";
import JobPriceList from "../../../components/employer/newJob/JobPriceList";
import AddPreview from "../../../components/employer/newJob/AddPreview";
import PreviewFloatingActionButton from "../../../components/employer/newJob/PreviewFloatingActionButton";

export default defineComponent({
  middleware: 'employer_auth',
  components: {
    PreviewFloatingActionButton,
    AddPreview,
    JobPriceList,
    NewJobUploadFile,
    DefaultPageWrapper,
    Editor,
    MultiSelect,
    StepperButtons,
    Questionnaire,
    ChosenQuestions,
    ChoseQuestionsDialog,
    NewJobOverview,
    JobPublisherForm
  },
  setup(props, ctx) {
    const generalData = computed(() => ctx.root.$store.state.common.generalData);
    const jobLanguages = ref([
      {
        name: ctx.root.$t('languages.serbian'),
        id: 1
      },
      {
        name: ctx.root.$t('languages.english'),
        id: 2
      },
      {
        name: ctx.root.$t('languages.other'),
        id: 3
      }
    ]);

    //handle form errors
    const formErrors = ref({
      product_code: false,
      job_categories: false,
      regions: false,
      language_id: false,
      contract_type_id: false,
      career_levels: false,
      min_education: false,
      max_education: false,
      expires: false,
      to_email: false,
      message: false,
      jobPublisher: {
        name: false,
        email: false,
        phone: false,
        director_name: false,
        director_email: false,
        director_phone: false,
      }
    });

    const formInput = async (evt, name, part) => {
      if (name == 'product_code' && evt.indexOf('besplatan') > -1) {
        ctx.root.$store.dispatch('employer/newJob/resetMessage')
        ctx.root.$store.dispatch('employer/questionnaire/setDefault')
        message.value = '';
      }
      formErrors.value[name] = false;
      ctx.root.$store.dispatch('employer/newJob/set', {fieldName: name, value: evt})

      // set promo images for new add
      if (name == 'job_categories') {
        let categories = ctx.root.$store.state.employer.newJob.job_categories
        await ctx.root.$store.dispatch('employer/jobPromoImage/setPromoImages', categories)
        ctx.root.$store.dispatch('employer/newJob/setPromoImage', ctx.root.$store.getters['employer/jobPromoImage/getFirstPromoImage'])
      }
    };

    let showStep2Err = ref(false);

    const checkForm = (step) => {
      if (step == 1) {
        formErrors.value.product_code = !ctx.root.$store.state.employer.newJob.product_code.length;
        return !formErrors.value.product_code;
      }
      if (step == 2) {
        formErrors.value.title = !ctx.root.$store.state.employer.newJob.title.length
        formErrors.value.job_categories = !ctx.root.$store.state.employer.newJob.job_categories.length
        formErrors.value.regions = !ctx.root.$store.state.employer.newJob.regions.length
        formErrors.value.contract_type_id = !ctx.root.$store.state.employer.newJob.contract_type_id
        formErrors.value.language_id = !ctx.root.$store.state.employer.newJob.language_id
        formErrors.value.career_levels = !ctx.root.$store.state.employer.newJob.career_levels.length
        formErrors.value.expires = !ctx.root.$store.state.employer.newJob.expires
        formErrors.value.to_email = !ctx.root.$store.state.employer.newJob.to_email.length || !ctx.root.$helper.validateEmail(ctx.root.$store.state.employer.newJob.to_email)
        let result = (!formErrors.value.title &&
            !formErrors.value.job_categories &&
            !formErrors.value.regions &&
            !formErrors.value.contract_type_id &&
            !formErrors.value.language_id &&
            !formErrors.value.career_levels &&
            !formErrors.value.expires &&
            !formErrors.value.to_email)
        showStep2Err.value = !result;
        return result;
      }
      if (step == 3) {
        formErrors.value.message = !ctx.root.$store.state.employer.newJob.message
        return !formErrors.value.message;
      }

      if (step == 4) {
        return true;
      }
      if (step == 5) {
        formErrors.value.jobPublisher.name = !ctx.root.$store.state.employer.jobPublisher.name.length
        formErrors.value.jobPublisher.email = !ctx.root.$store.state.employer.jobPublisher.email.length || !ctx.root.$helper.validateEmail(ctx.root.$store.state.employer.jobPublisher.email)

        if (!ctx.root.$store.state.employer.jobPublisher.is_director) {
          formErrors.value.jobPublisher.director_name = !ctx.root.$store.state.employer.jobPublisher.director_name.length
          formErrors.value.jobPublisher.director_email = !ctx.root.$store.state.employer.jobPublisher.director_email.length || !ctx.root.$helper.validateEmail(ctx.root.$store.state.employer.jobPublisher.director_email)

          return (
              !formErrors.value.jobPublisher.name &&
              !formErrors.value.jobPublisher.email &&
              !formErrors.value.jobPublisher.director_name &&
              !formErrors.value.jobPublisher.director_email
          );
        } else {
          return (
              !formErrors.value.jobPublisher.name &&
              !formErrors.value.jobPublisher.email
          );
        }
      }
    };

    // EDU lvl min-max
    const minEduLevel = ref(Number(ctx.root.$store.state.employer.newJob.min_education));
    const maxEduLevel = ref(Number(ctx.root.$store.state.employer.newJob.max_education));

    const eduLvlMin = computed(() => {
      return generalData.value['education_levels'].map(lvl => {
        return {
          value: lvl.degree_code,
          text: lvl.degree,
          disabled: lvl.degree_code > maxEduLevel.value && maxEduLevel.value > 0,
        }
      })
    });
    const eduLvlMax = computed(() => {
      return generalData.value['education_levels'].map(lvl => {
        return {
          value: lvl.degree_code,
          text: lvl.degree,
          disabled: lvl.degree_code < minEduLevel.value,
        }
      })
    });


    // date picker logic
    const picker = ref('');
    const datepickerMenu = ref(false);
    watch(picker, () => {
      formInput(new Date(picker.value).getTime() / 1000, 'expires')
    })


    let chosenJobDuration = ref(0);
    const setExpireDateRange = (chosen) => {
      generalData.value.posting_prices.map(price => {
        if (price.code == chosen) {
          chosenJobDuration.value = Number(price.days_valid);
        }
      });
    }

    if (ctx.root.$store.state.employer.newJob.product_code) {
      setExpireDateRange(ctx.root.$store.state.employer.newJob.product_code);
    }

    const getYmd = (date) => {
      let m = date.getMonth() + 1;
      m = m < 10 ? '0' + m : m;
      let d = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      return date.getFullYear() + '-' + m + '-' + d;
    }
    const getDmY = (date) => {
      let m = date.getMonth() + 1;
      m = m < 10 ? '0' + m : m;
      let d = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      return d + '-' + m + '-' + date.getFullYear();
    }
    const minExpDate = computed(() => {
      let now = new Date();
      let from = now.setDate(now.getDate() + 4);
      from = new Date(from);
      return getYmd(from)
    });

    const maxExpDate = computed(() => {
      let now = new Date();
      let to = now.setDate(now.getDate() + chosenJobDuration.value);
      to = new Date(to);
      return getYmd(to)
    });

    const currentDateValue = computed(() => {
      if (!ctx.root.$store.state.employer.newJob.expires) {
        return null
      } else {
        let d = new Date(ctx.root.$store.state.employer.newJob.expires * 1000);
        return getDmY(d);
      }
    });

    //To email /prijave stizu na
    const employerContacts = computed(() => {
      let contacts = [];
      contacts.push({email: ctx.root.$store.state.employer.profile.data.username})
      if (ctx.root.$store.state.employer.profile.data.contacts) {
        contacts.push(...ctx.root.$store.state.employer.profile.data.contacts);
      }

      return contacts;
    });

    const getToEmail = computed(() => {
      let obj = ctx.root._.find(employerContacts.value, function (contact) {
        return contact.email === ctx.root.$store.state.employer.newJob.to_email;
      });
      return obj ? 'select' : 'input';
    })

    const toEmailOption = ref(getToEmail.value);


    // steps logic
    //handle segments

    let currentStep = ref(1);

    const enableStep = (step) => {
      scrollPageTo(0);
      switch (String(step)) {
        case '1':
          currentStep.value = 1;
          break;
        case '2':
          if (checkForm(1)) {
            currentStep.value = 2;
          }
          break;
        case '3':
          if (checkForm(1) && checkForm(2)) {
            currentStep.value = 3;
            scrollPageTo(0)
          }
          break;
        case '4':
          if (checkForm(1) && checkForm(2) && checkForm(3)) {
            currentStep.value = 4;
          }
          break;
        case '5':
          if (checkForm(1) && checkForm(2) && checkForm(3)) {
            currentStep.value = 5;
          }
          break;
        case '6':
          if (checkForm(1) && checkForm(2) && checkForm(3) && checkForm(5)) {
            currentStep.value = 6;
          }
          break;
      }
    }

    const scrollPageTo = (topPosition, killTimout = false) => {
      let timeout = killTimout ? 0 : 500;
      setTimeout(() => {
        window.scrollTo({top: topPosition, behavior: 'smooth'});
      }, timeout)
    }


    const goToNextStep = (evt, step) => {
      if (evt == 'next') {
        if (checkForm(step)) {
          currentStep.value += 1;
          scrollPageTo(0);
        } else {
          scrollPageTo(0)
        }
      }

      if (evt == 'prev') {
        currentStep.value -= 1;
        scrollPageTo(0)
      }
    }

    const isShortAd = computed(() => {
      return ctx.root.$store.state.employer.newJob.product_code.indexOf('besplatan') > -1
    })
    const counter = computed(() => {
      return 180 - ctx.root.$store.state.employer.newJob.message.length;
    })


    //questionnaire
    const choseQuestions = ref(false);
    const enableQuestionnaire = computed(() => {
      return true;
    })


    const newJobData = computed(() => {
      return ctx.root.$store.state.employer.newJob;
    });


    const message = ref(newJobData.value.message);

    //if he wants to recreate old job and sets the cheep one

    if (isShortAd.value) {
      message.value = message.value.substring(0, 180)
    }

    const smallTextInput = (evt) => {

      let value = evt.target.value;
      if (evt.target.value.length > 180) {
        value = evt.target.value.substring(0, 180)
      }

      let textarea = document.getElementsByClassName('smallTextMsg');
      textarea[0].value = value;
      formInput(value, 'message', 3)
    }

    const publishJobPost = () => {
      let dataToPost = {...ctx.root.$store.state.employer.newJob};
      dataToPost.authorization = ctx.root.$store.state.employer.jobPublisher;
      dataToPost.questionnaire = [];

      ctx.root.$store.state.employer.questionnaire.questions.map(question => {
        if (question.checked === true) {
          if (question.type == 'text') {
            dataToPost.questionnaire.push({title: question.title, type: question.type});
          } else {
            dataToPost.questionnaire.push({title: question.title, type: question.type, answers: question.answers});
          }
        }
      });

      ctx.root.$store.dispatch('employer/newJob/publishJob', dataToPost);
    }

    const preselected = ref({
      product_code: [ctx.root.$store.state.employer.newJob.product_code],
      title: ctx.root.$store.state.employer.newJob.title,
      job_categories: ctx.root.$store.state.employer.newJob.job_categories,
      regions: ctx.root.$store.state.employer.newJob.regions.map(region => Number(region)),
      message: ctx.root.$store.state.employer.newJob.message,
      language_id: [ctx.root.$store.state.employer.newJob.language_id],
      contract_type_id: [ctx.root.$store.state.employer.newJob.contract_type_id],
      career_levels: ctx.root.$store.state.employer.newJob.career_levels,
      expires: '',
      to_email: [ctx.root.$store.state.employer.newJob.to_email],
    })

    const file = ref({
      upload_document: null,
      open_pdf_directly: null,
      posting_id: null,
    });

    return {
      file,
      message,
      smallTextInput,
      currentStep,
      generalData,
      formErrors,
      datepickerMenu,
      setExpireDateRange,
      currentDateValue,
      jobLanguages,
      eduLvlMin,
      eduLvlMax,
      minEduLevel,
      maxEduLevel,
      picker,
      minExpDate,
      maxExpDate,
      employerContacts,
      toEmailOption,
      isShortAd,
      counter,
      choseQuestions,
      enableQuestionnaire,
      newJobData,
      formInput,
      checkForm,
      enableStep,
      goToNextStep,
      scrollPageTo,
      publishJobPost,
      preselected,
      showStep2Err

    }
  },

  beforeDestroy(ev) {
    this.$store.dispatch('employer/newJob/setDefault');
    this.$store.dispatch('employer/questionnaire/setDefault');
  },
  beforeRouteLeave(to, from, next) {

    if (this.$store.state.common.jobJustCreated) {
      this.$store.dispatch('common/setJobJustCreated', false);
      this.$store.dispatch('employer/newJob/setOpenPdfDirectly', false)
      this.$store.dispatch('employer/newJob/setFile', null)
      next();
    } else {
      const answer = window.confirm(this.$t('doYouWannaLeaveForm') + "\n" + this.$t('dataWillBeLost'))
      if (answer) {
        next()
      } else {
        next(false)
      }
    }
  },

  created() {

  },
  async asyncData(context) {
    await context.store.dispatch('employer/jobs/setJobs');
    await context.store.dispatch('employer/profile/setProfile');
    await context.store.dispatch('common/setGeneralData');
  },
})
</script>

<style>
.firstPart {
}

.secondPart {
}

.thirdPart {
}

.forthPart {
}

.fifthPart {
}

@media (max-width: 500px) {
  .v-stepper--alt-labels .v-stepper__header {
    width: 128% !important;
    margin-left: -54px !important;
  }
}

.enabledStep .v-stepper__label {
  color: black !important;
  cursor: pointer;
}

.v-stepper__label {
  text-align: center !important;
}

.v-input--radio-group__input {
  padding: 10px;
  background: #fbfbfb !important;
}

.v-stepper {
  background: transparent !important;
  box-shadow: none !important;
}

.v-stepper__header {
  box-shadow: none !important;
  background: #fff !important;
  border-radius: 8px;
}

.v-stepper__content {
  background: #fff !important;
  border-radius: 8px;
  margin-top: 15px;
}

.stepperContent {
  min-height: 65vh;
}

.smallTextMsg {
  width: 100%;
  height: 160px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}
</style>
