<template>
    <div class="mb-3">
        <!-- desktop view -->
      <v-btn
          style=""
          depressed
          color="#3e5b98"
          @click="login"
          dark
          width="100%"
          class="rounded-sm font16 px-2"
      >
        <img
            width="40"
            src="/facebook.png"
            style="position:absolute; left: -10px"
        />
        Facebook
      </v-btn>

        <!-- mobile view -->
<!--        <v-btn-->
<!--                color="blue darken-1"-->
<!--                outlined-->
<!--                @click="login"-->
<!--                width="100%"-->
<!--                class="hidden-md-and-up"-->
<!--        >-->
<!--            Facebook-->
<!--            <v-icon right dark>-->
<!--                mdi-facebook-->
<!--            </v-icon>-->
<!--        </v-btn>-->
    </div>
</template>
<script>

    import { defineComponent } from '@vue/composition-api'

    export default defineComponent({
        name: 'FacebookLogin',

      methods:{
        getUserData:function (user) {
          // The User variable contains id_token, id, name, image, email as objects.
          // Send The id_token to the Backend for the verication.
        },
        onLogout:function (errorData) {
          // The errorData variable contains failure details
        }
      },

        setup(props, ctx) {
            const login = () => {
                window.FB.login(
                    success => {
                        window.FB.api(
                            "/me/",
                            'GET', {
                                fields: 'name,email,first_name,last_name,picture.width(320).height(320)'
                            },
                            graphResponse => {
                                if (graphResponse && !graphResponse.error) {
                                    let fbUser = { ...graphResponse, provider:'facebook', image_url:graphResponse.picture.data.url,  }
                                    ctx.root.$store.dispatch('candidate/auth/socialLogin', fbUser);
                                } else {
                                    alert("ERROR! Something went wrong!");
                                }
                            }
                        )
                    },
                    err=> {
                        alert("ERROR! Something went wrong!");
                    })
            }

            return {
                login
            }
        }
    })
</script>

