<template>
  <div>
      <!-- desktop view -->

      <v-btn
          style="border: 1px solid #818EA4!important"
          outlined
          @click="login"
          width="100%"
          class="rounded-sm font16 px-2"
      >
        <img
            width="25"
            src="/google.png"
            style="position:absolute; left: 0px"
        />
          Google nalog
      </v-btn>

      <!-- mobile view -->
<!--      <v-btn-->
<!--              color="red darken-1"-->
<!--              outlined dark-->
<!--              @click="login"-->
<!--              width="100%"-->
<!--              class="hidden-md-and-up"-->
<!--      >-->
<!--          Google-->
<!--          <v-icon right dark>-->
<!--              mdi-google-plus-->
<!--          </v-icon>-->
<!--      </v-btn>-->
      <div style="display: none" class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>
</template>
<script>
    import { defineComponent } from '@vue/composition-api'

    export default defineComponent({
        name: 'GoogleLogin',
        components: {

        },
        setup(props, ctx) {
            // const login = () => {
            //     let auth2 = gapi.auth2.getAuthInstance();
            //     auth2.signIn()
            //         .then(user => {
            //           return;
            //             let googleUser = {
            //                 provider: "google",
            //                 email: user.yu.nv,
            //                 id: user.yu.DW,
            //                 first_name: user.yu.SX,
            //                 last_name: user.yu.gW,
            //                 image_url: user.yu.mN,
            //             }
            //             ctx.root.$store.dispatch('candidate/auth/socialLogin', googleUser);
            //         }).catch(err => {
            //             console.log(err)
            //         })
            // }
            return {
                // login
            }
        },
      methods:{
          parseJwt (token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
          },

          async login() {
            google.accounts.id.initialize({
              client_id: '605872476434-vol6r59gu21pp4s0e18m0inaparvkhat.apps.googleusercontent.com',
              callback: (CredentialResponse) => {
                let user = this.parseJwt(CredentialResponse.credential)
                let googleUser = {
                  provider: "google",
                  email: user.email,
                  id: user.sub,
                  first_name: user.given_name,
                  last_name: user.family_name,
                  image_url: user.picture,
                }
                this.$store.dispatch('candidate/auth/socialLogin', googleUser);
              }
            });
            google.accounts.id.prompt();
          },

        getSuccessData:function (user) {
          // The User variable contains id_token, id, name, image, email as objects.
          // Send The id_token to the Backend for the verication.
        },
        getFailureData:function (errorData) {
          // The errorData variable contains failure details
        }
      }
    })
</script>

