<template>
  <EmployerPageLayout >
    <template v-slot:menu>
      <div>
        <p>{{profile.username}}</p>
        <v-divider class="mb-3"></v-divider>
        <h3 class="mb-4">{{ $t('general.myCompany') | ucfirst}}</h3>
        <div class="pa-2 mb-2 pointer selectedMenuItem">
          <img
              width="25"
              class="mr-1"
              v-if="profile.logo"
              :src="profile.logo"
              alt="Logo"
          > {{profile.company}}
        </div>
<!--        <div class="pa-2 mb-2 pointer">-->
<!--          <v-icon class="mt-n1 mr-1">mdi-account-check-outline</v-icon>-->
<!--          Pratioci-->
<!--        </div>-->
<!--        <div class="pa-2 mb-2 pointer">-->
<!--          <v-icon class="mt-n1 mr-1">mdi-bell-badge-outline</v-icon>-->
<!--          Notifikacije-->
<!--        </div>-->
      </div>
    </template>

    <template v-slot:content>
      <div class="pb-5">
        <div style="display: flex;  align-items: center;" class="mb-5">
          <h1 class="" style="width: 100%">{{ $t('general.generalData') | ucfirst}}</h1>
          <v-btn
            v-if="profileFields[0].disabled"
            depressed
            @click="enableEdit"
            class="buttonBlue rounded-lg"
            dark
          >{{$t('buttons.edit')}}</v-btn>
          <v-btn
              v-if="!profileFields[0].disabled"
              depressed
              @click="enableEdit(), save()"
              class="green rounded-lg"
              dark
          >{{$t('general.save') | ucfirst}}</v-btn>
        </div>


        <div
          v-for="(field, index) in profileFields"
          v-show="field.name != 'fax'"
        >

          <v-row align="center" class="mb-n5">
            <v-col>
              <label v-if="field.name == 'username'">{{$t(`inputLabels.email`)}}</label>
              <label v-if="field.name == 'company_description'">{{$t(`inputLabels.companyDescription`)}} <small >(html)</small></label>
              <label v-if="['username','company_description'].indexOf(field.name) === -1">{{$t(`inputLabels.${field.name}`)}}</label>
            </v-col>
          </v-row>
          <v-text-field
              v-if="field.name !== 'company_description'"
              v-model="profile[field.name]"
              @input="formInput($event, field.name)"
              :disabled="field.disabled || (field.name === 'company' || field.name === 'username')"
          >
          </v-text-field>
          <v-textarea
              v-if="field.name == 'company_description' && !profileFields[index].disabled"
              class=""
              v-model="profile[field.name]"
              :value="profile[field.name]"
              @input="formInput($event, field)"
              :disabled="field.disabled"
          >
          </v-textarea>
          <div
              v-if="field.name == 'company_description' && profileFields[index].disabled"
              v-model="profile[field.name]"
              class="my-2 pa-2 grey--text"
              style="max-height: 150px; overflow-y:scroll; border-bottom: 1px solid"
              v-html="profile[field.name]"
          ></div>
        </div>


        <h1 class="mb-3">{{ $t('general.companyLogo') | ucfirst}}</h1>
        <p class="mb-6">{{ $t('uploadLogoMsg')}}</p>
        <v-flex class="mb-4 text-center text-md-left">
          <div class="avatar" :style="`background-image: url(${profileImage})`">
            <v-row align="center">
              <v-col id="uploadImage" class="text-center pointer"><v-icon class="linkColor2">mdi-plus-circle</v-icon></v-col>
            </v-row>
          </div>

          <input
              @change="changeProfileImage"
              type="file"
              accept="image/*"
              name="avatar"
              id="imageUploadInput"
              hidden
          >

          <h1 class="mb-1 mt-6">{{ $t('contactPersons')}}</h1>
          <AddContactPersons />
                                                <!--          <v-btn-->
<!--              :loading="uploadImageLoader"-->
<!--              color="primary"-->
<!--              class="ma-2 white&#45;&#45;text"-->
<!--              id="uploadImage"-->
<!--              @click="uploadImageLoader = true"-->
<!--          >-->
<!--            <span v-if="profile.logo_path">Izmeni profilnu sliku</span>-->
<!--            <span v-if="!profile.logo_path">Dodaj profilnu sliku</span>-->
<!--            <v-icon-->
<!--                right-->
<!--                dark-->
<!--            >-->
<!--              mdi-cloud-upload-->
<!--            </v-icon>-->
<!--          </v-btn>-->
        </v-flex>

<!--        <v-card-actions>-->
<!--          <v-btn color="primary" @click="save">-->
<!--            {{ $t('general.save') | ucfirst}}-->
<!--          </v-btn>-->
<!--        </v-card-actions>-->

<!--        <h1>ovde ubaciti inpute za 'O poslodavcu' ili ti 'Premijum poslodavac'</h1>-->

      </div>
      <ConfirmationDialog />
    </template>
  </EmployerPageLayout>
</template>
<script>
import {defineComponent, computed, ref, watchEffect} from '@vue/composition-api'
import MultiSelect from "@/components/MultiSelect";
import ConfirmationDialog from "@/components/common/dialgos/ConfirmationDialog";
import EmployerPageLayout from "@/components/EmployerPageLayout";
import AddContactPersons from "../../../components/employer/AddContactPersons";

export default defineComponent({
  middleware: 'employer_auth',
  components: {
    AddContactPersons,
    EmployerPageLayout,
    MultiSelect,
    ConfirmationDialog
  },
  setup(props, ctx) {
    const generalData = computed(() => ctx.root.$store.state.common.generalData);
    const profileData = computed(() => ctx.root.$store.state.employer.profile.data)

    const profileImage = computed(() => ctx.root.$store.state.employer.profile.data.logo)
    const profile = ref({});
    profile.value = {...profileData.value}


    let fields = Object.keys(profile.value)
    fields = fields.filter(field => {
      return ['id', 'active', 'logo', 'hot_logo', 'contacts'].indexOf(field) == -1;
    })
    let profileFields = ref([]);
    fields.map(field => {
      profileFields.value.push({name: field, disabled: true})
    })

    let enableEdit = () => {
      profileFields.value.map(field => {
        field.disabled = !field.disabled
      })

    }


    //hande input
    const dataToUpdate = {};
    const formInput = (event, name) => {
      profile.value[name] = event
    };
    //handle save
    const save = async () => {
      let confirmationPayload = {
        confirmAction: 'employer/profile/update',
        confirmPayload: profile.value
      };
      await ctx.root.$store.dispatch('confirmationDialog/saveProfileData', confirmationPayload);
    }


    const uploadImageLoader = ref(false);

    watchEffect(() => {
      if (uploadImageLoader.value === true) {
        setTimeout(() => uploadImageLoader.value = false, 4000);
      }
    })

    const changeProfileImage = async (event) => {
      let file = event.target.files[0];
      await ctx.root.$store.dispatch('confirmationDialog/changeProfileImageConfirmation', {
        confirmAction:'employer/profile/setProfileImage',
        confirmPayload: file
      });
      uploadImageLoader.value = false;
    }

    return {
      profile,
      profileFields,
      profileImage,
      generalData,
      uploadImageLoader,
      enableEdit,
      formInput,
      save,
      changeProfileImage
    }
  },
  async asyncData(context) {
    let data = await context.store.dispatch('common/setGeneralData');
    await context.store.dispatch('employer/profile/setProfile');
  },
  mounted() {
    let upldImgBtn = document.getElementById('uploadImage');
    upldImgBtn.addEventListener('click', function(e){
      let input = document.getElementById('imageUploadInput');
      input.click();
    });

  }
})
</script>
<style>
.selectedMenuItem {
  background: #E2E9F4;
  border-radius: 5px;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
</style>