<template>
  <div
      class="detailsFeaturedImage"
      :style="`background-image: url('${promo_image ? promo_image : promoImage}')`">
    <div class="featuredTitleWrapper">
      <div v-if="!promo_image">
        <h2>{{title}}</h2>
      </div>
    </div>
    <div class="logooo" :class="!logo_path ? 'white elevation-1': ''">
      <img v-if="logo_path" :src="'https://lakodoposla.com'+logo_path" >
      <h2 v-if="!logo_path" class="font-weight-medium noLogoText text-center">{{company}}</h2>
    </div>
<!--    <img v-if="logo_path" class="addDetailsLogo elevation-1 rounded-lg" :src="'https://lakodoposla.com'+logo_path">-->
  </div>
</template>

<script>

import {defineComponent, ref, computed} from '@vue/composition-api'

export default defineComponent({
  props: {
    logo_path: {
      type: String,
      default: '',
    },
    promo_image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    company: {
      type: String,
      default: '',
    },
    isShortAd : {
      type: Boolean,
      default: false
    }
  },
  name: "JobDetailsFeaturedImage",
  setup(props, ctx) {
    const mb = ref(0);
    const promoImage = computed(() => ctx.root.$store.getters['employer/jobPromoImage/getCurrentPromoImage'])
    return {
      promoImage,
      mb
    }
  },
  created() {


  }
})
</script>

<style>
.logooo {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  transform: translate(25px, 50%);
}
.logooo img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.noLogoText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/*.jobDetailsTitle {*/
/*  color: #fff;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

.featuredTitleWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featuredTitleWrapper div {
  width: 50%;
  margin: 0px auto;
  padding: 10px;
}

</style>