<template>
  <DefaultPageWrapper >

    <p class="mb-0 text-center text-h5">{{$t('general.choose') +' '+ $t('general.document') | ucfirst}}/{{$t('general.plural1')}}</p>
    <client-only>
      <Documents :docs="data" :application="true" />
    </client-only>

    <Questionnaire />

    <v-dialog
        v-model="confirmApply"
        width="800"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            v-if=""
            :disabled="!enableStepTwo"
            large
            depressed
            class="buttonBlue rounded-lg float-end white--text"
            v-bind="attrs"
            v-on="on"
        >
          {{$t('general.continue').toUpperCase()}}<v-icon class=" float-end">mdi-chevron-right</v-icon>
        </v-btn>
      </template>
      <template v-slot:default="dialog">
        <v-card>
          <v-card-title>
            {{$t('checkTheData')}}
          </v-card-title>
          <v-card-subtitle>

          </v-card-subtitle>
          <div class="px-5" style="min-height: 70vh">
            <v-row class="pa-4">
              <v-col cols="12">
                <p class="font16 mb-2 font-weight-medium"> {{$t('general.chosenDocuments') | ucfirst}}</p>
                <p v-if="$store.getters['candidate/jobApplication/ldpCvChecked']" class="">
                  <v-icon class="font14">mdi-account</v-icon>
                  Lako do posla CV
                </p>
                <p v-if="$store.getters['candidate/jobApplication/profileDataChecked']" class="">
                  <v-icon class="font14">mdi-account</v-icon>
                  {{$t('profileData')}}
                </p>

                <p class="" v-for="doc in userDocs.documents" v-if="doc.selected" :key="doc.file_id">
                  <v-icon class="font14">mdi-paperclip</v-icon>
                  {{doc.file_name}}
                </p>

                <p v-if="questions.length" class="font16 mb-2 mt-4 font-weight-medium">{{$t('questionsAndAnswers')}}</p>
                <div class="mb-3" v-for="answer in answers">

                 <p class="mb-1 font-weight-regular"> {{_.find(questions, {id: answer.id}).question}}</p>
                  <div v-if="!answer.text" class="" v-for="selectedOption in answer.selected_options">
                    <v-icon>mdi-circle-small</v-icon> {{ _.find(_.find(questions, {id: answer.id}).options, {id: selectedOption}).option }}
                  </div>
                  <div v-if="answer.text">
                    <v-icon>mdi-circle-small</v-icon><span>{{answer.text}}</span>
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
          <v-card-actions class="">
            <v-spacer></v-spacer>
            <v-btn
                @click="confirmApply = false"
                text
                color="grey"
                large
            >
              {{$t('general.leave').toUpperCase()}}<v-icon class="">mdi-close</v-icon>
            </v-btn>
            <v-btn
                @click="apply"
                dark
                depressed
                class="buttonBlue pointer rounded-lg px-4"
            >
              {{$t('general.applyOnJob').toUpperCase()}}<v-icon >mdi-chevron-right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

      </template>
    </v-dialog>
  </DefaultPageWrapper>
</template>
<script>
import {computed, defineComponent, ref} from '@vue/composition-api'
import Documents from "../../../components/candidate/Documents";
import NavigationButtons from "../../../components/candidate/application/NavigationButtons";
import Questionnaire from "../../../components/candidate/application/Questionnaire";
import Confirmation from "../../../components/candidate/application/Confirmation";
import StepperButtons from "../../../components/candidate/buttons/StepperButtons";
import JobGeneralData from "../../../components/common/JobGeneralData";
import ApplyJobButton from "../../../components/common/ApplyJobButton";
import DefaultPageWrapper from "../../../components/DefaultPageWrapper";
export default defineComponent({
  middleware: 'candidate_auth',
  components: {
    DefaultPageWrapper,
    ApplyJobButton,
    JobGeneralData,
    Documents,
    NavigationButtons,
    Questionnaire,
    Confirmation,
    StepperButtons
  },
  setup(props, ctx) {
    let oldApps = computed(() => ctx.root.$store.getters['candidate/jobApplication/getApplications']);
    oldApps.value.map(app => {
      if (app.posting_id == ctx.root.$route.params.id) {
        ctx.root.$router.push( ctx.root.localePath({name: 'job-details-id', params:{id:  ctx.root.$route.params.id}}))
      }
    })

    const self = ctx.root;

    const currentStep = ref(1);
    const changeTab = (tab) => {
      currentStep.value = tab
    };


    const enableStepTwo = computed(() => {
      return ctx.root.$store.getters['candidate/jobApplication/profileDataChecked'] && ctx.root.$store.getters['candidate/documents/getSelectedDocumentIds'].length
    })

    const allowNextStep = computed(() => {
      if (currentStep.value == 1) {
        return enableStepTwo.value;
      }

      if (currentStep.value == 2) {
        return true;
      }

      if (currentStep.value == 3) {
        return false;
      }
    })

    const disablePrev = computed(() => {
      if (currentStep.value == 1) {
        return true;
      }

      if (currentStep.value == 2) {
        return false;
      }

      if (currentStep.value == 3) {
        return false;
      }
    })

    const userDocs = computed(() => {
      return self.$store.state.candidate.documents;
    })

    //set questionnaire
    // self.$store.dispatch('candidate/jobApplication/setQuestionnaire', self.$route.params.id);
    self.$store.dispatch('candidate/jobApplication/setQuestionnaire', self.$route.params.id);
    self.$store.dispatch('candidate/profile/get', {});

    const apply = () => {
      confirmApply.value = false
      self.$store.dispatch('candidate/jobApplication/apply', self.$route.params.id)
    };

    const confirmApply = ref(false);

    const answers = computed(() => ctx.root.$store.getters['candidate/jobApplication/allAnswers']);
    const questions = computed(() => ctx.root.$store.getters['candidate/jobApplication/allQuestions']);
    return {
      allowNextStep,
      disablePrev,
      enableStepTwo,
      currentStep,
      changeTab,
      apply,
      confirmApply,
      userDocs,
      answers,
      questions
    }
  },
  async asyncData(context) {
      context.store.dispatch('candidate/jobApplication/setOldApplications');
      let data = await context.store.dispatch('candidate/documents/get');
      let jobDetails = await context.$axios.$get('/api/public/posts/'+context.params.id);
      await context.store.dispatch('common/setGeneralData');

      let locations = context.store.state.common.generalData.regions.filter(region => {
          return jobDetails.regions.indexOf(region.id.toString()) > -1;
      })
      return {
          data,
          jobDetails,
          locations
      }
  }
})
</script>

<style>
.stepperContent {
  min-height: 400px;
  overflow-y: scroll
}

.customJobApplyBanner .v-banner__text{
  line-height: normal;
}
.customJobApplyBanner .v-banner__wrapper{
  border-bottom: none!important;
}
.customJobApplyBanner {
  /*top: 72px!important;*/
  border-bottom: 1px dashed #ccc!important;
}
.customJobApplyBanner i{
  font-size: 20px!important;
  margin-top: -5px;
  margin-right: 10px;
}

.mainApplyBtnWrapper {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}
</style>
