<template>
  <div>
    <p>By using any part of the www.lakodoposla.com portal and all its parts (hereinafter only www.lakodoposla.com), you automatically accept all current rules of use. </p><br>

    <p>Users are obliged to regularly read the rules of use, and it is considered that users by continuous use of the www.lakodoposla.com portal, or any part of it, are familiar with the current rules of use at all times, and that they have understood them in their entirety. </p><br>

    <p>No part of the www.lakodoposla.com portal may be used for illegal purposes, nor for promoting them.</p><br>

    <p>All visitors have the right to use the contents of the www.lakodoposla.com portal for free, as long as they do not violate the rules of use.</p><br>

    <p>www.lakodoposla.com portal consists of own content, content of partners and advertisers, free content, content created by visitors and links to external pages. </p><br>

    <p>www.lakodoposla.com publishes its contents in good faith. You use all the contents of the www.lakodoposla.com portal at your own risk and www.lakodoposla.com cannot be held responsible for any damage caused by use.</p><br>

    <p>Access to the www.lakodoposla.com portal and all its contents is allowed to persons of any age.</p><br>

    <p>www.lakodoposla.com claims copyright on all its own content (textual, visual and audio materials, databases and programming code). Unauthorized use of any part of the portal is considered a violation of the copyright of the www.lakodoposla.com portal and is subject to legal action.</p><br>

    <p>Unauthorized use of any part of the portal without the permission of the copyright owner (www.lakodoposla.com, partners, users...) is considered a violation of copyright and is subject to legal action.</p><br>

    <p>If you believe that www.lakodoposla.com has violated your copyright, the case will be immediately reviewed, and the disputed content will be removed immediately after the truth of the content of the complaint has been established.</p><br>

    <p>www.lakodoposla.com contains links to websites outside its own portal.
       www.lakodoposla.com publishes links in good faith and cannot be held responsible for content outside the portal.</p><br>

    <p>www.lakodoposla.com protects user privacy to the greatest extent possible.
       www.lakodoposla.com undertakes to use data obtained from users during the use of the portal in good faith, and not to distribute or sell private data to third parties, except with the user's permission.</p><br>

    <p>www.lakodoposla.com may, in accordance with the law, collect certain user data obtained during the use of the portal (exclusively computer data and Internet provider data) or data entered during the registration process. This data is used by www.lakodoposla.com in order to have information about the users who use it, thus improving the portal and additionally targeting and adapting its contents to the audience that visits it. Based on this data, we find out which contents are the most popular among which audience.</p><br>

    <p>www.lakodoposla.com undertakes not to sell or distribute collected private data, such as e-mail addresses, first and last names, without the permission of each individual user, except for demographic data for a group of users without disclosing private data. </p><br>

    <p>www.lakodoposla.com undertakes to protect the privacy of the users of the portal, except in case of serious violation of the rules of the www.lakodoposla.com portal or illegal activities of the users.</p><br>

    <p>www.lakodoposla.com reserves the right to change or modify the rules from time to time without notice. www.lakodoposla.com can inform users about important changes and additions via e-mail or by publishing them on the portal.</p><br>

  </div>
</template>

<script>
export default {
  name: "TosEn"
}
</script>

<style scoped>

</style>