<template>
  <div>
    <p>Korišćenjem bilo kog dela www.lakodoposla.com portala i svih njegovih delova (u nastavku samo www.lakodoposla.com), automatski prihvatate sva aktuelna pravila korišćenja. </p><br>

    <p>Korisnici su dužni da redovno čitaju pravila korišćenja, te se smatra da su korisnici kontinuiranim korišćenjem www.lakodoposla.com portala, ili bilo kojeg njegovog dela, u svakom trenutku upoznati s aktuelnim pravilima korišćenja, te da su ih razumeli u celosti.</p><br>

    <p>Ni jedan deo www.lakodoposla.com portala ne sme se koristiti u nezakonite svrhe, ni za promovisanje istih.</p><br>

    <p>Svi posetioci imaju pravo da besplatno koriste sadržaje www.lakodoposla.com portala, ukoliko ne krše pravila korišćenja.</p><br>

    <p>www.lakodoposla.com portal sastoji se od vlastitih sadržaja, sadržaja partnera i oglašivača, besplatnih sadržaja, sadržaja kreiranih od strane posetilaca i linkova na spoljne stranice. </p><br>

    <p>www.lakodoposla.com sadržaje objavljuje u dobroj nameri. Sve sadržaje www.lakodoposla.com portala koristite na vlastitu odgovornost i www.lakodoposla.com se ne može smatrati odgovornim za bilo kakvu štetu nastalu korišćenjem.</p><br>

    <p>Pristup www.lakodoposla.com portalu i svim njegovim sadržajima dozvoljen je osobama bilo kog uzrasta.</p><br>

    <p>www.lakodoposla.com polaže autorska prava na sve vlastite sadržaje (tekstualne, vizuelne i audio materijale, baze podataka i programerski kod). Neovlašćeno korišćenje bilo kog dela portala smatra se kršenjem autorskih prava www.lakodoposla.com portala i podložno je tužbi.</p><br>

    <p>Neovlašćeno korišćenje bilo kog dela portala bez dozvole vlasnika autorskih prava (www.lakodoposla.com, partneri, korisnici...) smatra se kršenjem autorskih prava i podložno je tužbi.</p><br>

    <p>Ukoliko smatrate da je www.lakodoposla.com povredio Vaša autorska prava, slučaj će biti odmah razmotren, a sporni sadržaji biće uklonjeni odmah po eventualnom ustanovljavanju istinitosti sadržaja žalbe.</p><br>

    <p>www.lakodoposla.com sadrži linkove na web stranice izvan vlastitog portala.
       www.lakodoposla.com linkove objavljuje u dobroj nameri i ne može se smatrati odgovornim za sadržaje izvan portala.</p><br>

    <p>www.lakodoposla.com štiti privatnost korisnika u najvećoj mogućoj meri.
       www.lakodoposla.com se obavezuje da će u dobroj nameri koristiti podatke dobijene od korisnika tokom korišćenja portala, te da privatne podatke neće distribuirati, niti prodavati trećoj strani, osim uz dozvolu korisnika.</p><br>

    <p>www.lakodoposla.com može u skladu sa zakonom prikupljati određene podatke o korisnicima dobijene tokom korišćenja portala (isključivo podaci o računaru i podaci o Internet provajderu) ili podatke unešene u postupku registracije. Ove podatke www.lakodoposla.com koristi kako bi imao informacije o korisnicima koji ga koriste, te na taj način poboljšao portal i njegove sadržaje dodatno usmerio i prilagodio publici koja ga posećuje. Na osnovu tih podataka saznajemo koji su sadržaji najpopularniji među kojom publikom.</p><br>

    <p>www.lakodoposla.com obavezuje se da prikupljene privatne podatke, poput e-mail adrese, imena i prezimena, neće bez dozvole svakog pojedinačnog korisnika prodavati, niti distribuirati, osim demografskih podataka za grupu korisnika bez odavanja privatnih podataka. </p><br>

    <p>www.lakodoposla.com se obavezuje da će čuvati privatnost korisnika portala, osim u slučaju teškog kršenja pravila www.lakodoposla.com portala ili nezakonitih aktivnosti korisnika.</p><br>

    <p>www.lakodoposla.com zadržava pravo da bez najave povremeno promeni ili modifikuje pravila. O važnim promenama i dopunama www.lakodoposla.com može obavestiti korisnike putem e-maila ili objavljivanjem na portalu.</p><br>

  </div>
</template>

<script>
export default {
  name: "TosSr"
}
</script>

<style scoped>

</style>